@{
    ViewBag.Title = "ViewCustomEventData";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
<div class="container position-relative">
    <section class="sheet">
        <div class="pageheader">
            <div class="contentHead">
                <h6 class="pagetitle">Event Name : </h6>
                <small class="totalCountTitle">Total Contacts: <span id="totalcountspan">0</span></small>
            </div>
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Advanced</a></li>
                <li class="breadcrumb-item"><a href="#">Custom Events</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Data</li>
            </ol>
        </div>
        <div class="backwrp">
            <a href="javascript:void(0);" id="ui_GoBack"><i class="icon ion-ios-arrow-left pr-2"></i>Back</a>
        </div>
        <div class="topTabWrap brd-TRL">
            <div class="showDateWrap brd-bttm-none mb-0">
                @{
                    Html.RenderPartial("_PageHeadingWithDate");
                }
            </div>

            @{
                Html.RenderPartial("_Export");
            }

        </div>
        <div class="subdivFiltWrap">
            <div class="filtSearchBox">
                <div class="searchBoxWrap">
                    <div class="subfrmwrp mr-2">
                        <input type="text" id="txtsearch" name="" class="form-control form-control-sm" placeholder="Search Low Event Attribute">
                    </div>
                    <button class="btn btn-primary btn-sm" id="btnsearch" type="button">Go</button>
                </div>

            </div>
        </div>
        <div class="subdivWrap">
            <div class="selectedItemWrap">
                <div class="checkBxCount">
                    <span class="checkedCount">0</span> Contacts selected
                </div>
                <div class="addDropdownWrap">
                    <select class="form-control form-control-sm addgroupselect w-100" id="addgroupdropdown"
                            data-placeholder="Add to Group">
                        <option label="Add to Group">Add to Group</option>
                    </select>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white">
                    <div class="tableWrapper">
                        <div class="table-responsive">
                            <table class="table tbl-td-ta-lft">
                                <thead id="ui_trheadReportData">
                                    <tr>
                                        <th class="td-wid-5 m-p-w-40" scope="col">UCP</th>
                                        <th class="helpIcon td-wid-20 m-p-w-190" scope="col">
                                            <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                            <div class="spacBet">
                                                <div>Event Date</div>
                                                <div class="th-iconWrp">
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">
                                                        Aenean vulputate eleifend
                                                        tellus. Aenean leo ligula, porttitor.
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="helpIcon td-wid-15  m-p-w-120" scope="col">
                                            <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                            <div class="spacBet">
                                                <div>Product Id</div>
                                                <div class="th-iconWrp">
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">
                                                        Aenean vulputate eleifend
                                                        tellus. Aenean leo ligula, porttitor.
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="helpIcon td-wid-15 m-p-w-150" scope="col">
                                            <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                            <div class="spacBet">
                                                <div>Price</div>
                                                <div class="th-iconWrp">
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="helpIcon td-wid-20 m-p-w-190" scope="col">
                                            <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Product
                                            <i class="icon ion-ios-help-outline"></i>
                                            <div class="toottipWrap">
                                            </div>
                                        </th>
                                        <th class="helpIcon td-wid-20 m-p-w-190" scope="col">
                                            <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Item
                                            Name <i class="icon ion-ios-help-outline"></i>
                                            <div class="toottipWrap">
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ui_trbodyReportData">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @{
                        Html.RenderPartial("_Paging");
                    }
                </div>
            </div>
        </div>
    </section>

</div>
<!--Modal confirm-->
<div class="modal fade bd-example-modal-sm" id="confirmDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add to Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span class="visitorsCount"></span> Selected Visitors will be added to the following Group</p>
                <p class="font-bold"><span>Group Name:</span> <span class="addgroupname"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="addtoGroupdis" class="btn btn-primary" data-dismiss="modal">
                    Add to
                    Group
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal confirm-->
@{
    Html.RenderPartial("_CustomEventFields");
}
@{
    Html.RenderPartial("_ContactUCP");
}

<script src="~/js/Revenue/RevenueCustomEventviewDetails.js"></script> 