@{
    ViewBag.Title = "ManageLiveChat";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<link rel="stylesheet" href="~/Content/ionicons/css/ionicons.css">

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Manage Live Chat</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Live Chat</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Chat</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link active DesignPermission" href="javascript:void(0)">Chat Rooms</a>
            </div>
        </div>
        <div class="iconsWrap">
            <div class="searchCampWrap position-relative mr-3">
                <input class="form-control contsearchfocus" type="text" name="" id="ui_txtSearchBy" placeholder="Search Chats">
                <i class="icon ion-android-search serchicon" id="SearchByIdentifierName"></i>
            </div>
            @{Html.RenderPartial("_Export"); }
        </div>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="showingWrap">

        </div>
        <div class="createBtnWrap mr-3">
            <a class="btn btn-primary btn-sm DesignPermission" href="/Chat/NewChat">
                Create
                Chat Room
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblReportData" class="table tbl-td-ta-lft sorted_table">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-50 m-p-w-250" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Chat Room</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Aenean vulputate eleifend
                                                    tellus. Aenean leo ligula, porttitor.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="td-wid-20 m-p-w-250" scope="col">Status</th>
                                    <th class="helpIcon td-wid-25 m-p-w-170" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Created On</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Aenean vulputate eleifend
                                                    tellus. Aenean leo ligula, porttitor.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
            </div>
        </div>
    </div>
</section>

@{Html.RenderPartial("_FormChatWebHookResponse"); }

<!--Delete Confirm Modal-->
<!--Delete Confirm Modal For Chat Details-->
<div class="modal fade bd-example-modal-sm" id="deletechat" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<!--Chat Preview Popup-->
<div id="effectsTabCont" class="chatprevbgtrans hideDiv">
    <div id="chatprevpopup" class="chatprevpopwrp">
        <div class="chatprevtopban">
            <h6>Chat Preview</h6>
            <div class="chatresdevicwrp">
                <div class="chatdevcItem">
                    <i id="desktoppreview" class="fa fa-desktop font-20 mr-2 chatdevicprevicn active"></i>
                    <i id="mobilepreview" class="fa fa-mobile font-24 chatdevicprevicn"></i>
                </div>
                <i class="fa fa-times clsechatprev" id="ui_closechatpreview"></i>
            </div>
        </div>

        <div id="chat-desktoppreview" class="chatdevdeskwrp p-0">
            <div class="chatdeskprev">
                <div class="chatprevwrp">
                    <div class="chatmesscontainer hideDiv">
                        <div class="chatclsewrp">
                            <i class="icon ion-android-close"></i>
                        </div>
                        <p>
                            Want to chat about plumb5? I'm here to help you find your way.
                        </p>
                    </div>
                    <div class="chatcontainer">
                        <div class="chatboxwrp border-radius-10">
                            <div class="chatboxtpbar bg-reef chatboxbar-radius">
                                <div class="chattitlwrp">
                                    <i class="icon ion-chatboxes font-22"></i>
                                    <h6>Chat with us</h6>
                                </div>
                                <div class="chatoptionwrp">
                                    <div class="attachbtn mr-1 position-relative">
                                        <button type="button" class="btn btn-trans">
                                            <i class="icon ion-android-attach font-18"></i>
                                        </button>
                                        <input type="file" name="" class="inputfilebtn" id="">
                                    </div>
                                    <div class="tdcreatedraft">
                                        <div class="dropdown">
                                            @*<i class="icon ion-android-more-vertical" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"></i>*@
                                            <button type="button" class="verticnwrp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon ion-android-more-vertical mr-0"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right keepopen"
                                                 aria-labelledby="filterbycontacts">
                                                <a class="dropdown-item font-14 muteevent"
                                                   href="javascript:void(0)">
                                                    <i class="ion-android-volume-up font-18 pr-1"></i>
                                                    <span>Unmute</span>
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)">
                                                    <i class="fa fa-pencil-square-o font-16 pr-1"></i>Edit
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chatboxcontainer">
                                <div class="chatmediawrp p-3">
                                    <div class="media mb-4">
                                        <div class="agentimgwrp"></div>
                                        <div class="media-body">
                                            <div class="msgagent">
                                                <p>Hi there?</p>
                                            </div>
                                            <div class="msgagent">
                                                <p>Interested? What do we start with?</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media mb-4">
                                        <div class="media-body reverse">
                                            <div class="msgagent">
                                                <p>
                                                    connect chatters to the right people on
                                                    your team
                                                </p>
                                            </div>
                                            <div class="msgagent">
                                                <p>Interested? What do we start with?</p>
                                            </div>
                                        </div>
                                        <div class="chatuserimgwrp"></div>
                                    </div>
                                    <div class="media">
                                        <div class="agentimgwrp"></div>
                                        <div class="media-body">
                                            <div class="msgagent">
                                                <p>
                                                    Got it. I’ll see if there is someone
                                                    available to help you.
                                                </p>
                                            </div>
                                            <div class="msgagent">
                                                <p>
                                                    I'd love to collect some quick details
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chatfrmwrp hideDiv">
                                    <div class="chatusericn bg-reef">
                                        <i class="fa fa-user-o"></i>
                                    </div>
                                    <div class="chatfrmitemwrp p-2">
                                        <div class="form-group mt-4">
                                            <input type="text" class="form-control form-control-sm" id=""
                                                   placeholder="Your Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" id=""
                                                   placeholder="Email Id">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" id=""
                                                   placeholder="Phone">
                                        </div>
                                        <div class="custom-control custom-checkbox ml-1">
                                            <input type="checkbox" class="custom-control-input" id="cont_1"
                                                   name="example1">
                                            <label class="custom-control-label frmlbltxt" for="cont_1">
                                                I agree to
                                                have my personal
                                                data processed by plumb5.com for chat
                                                support
                                            </label>
                                        </div>
                                        <div class="btnwrp mt-3 mb-3">
                                            <button type="button"
                                                    class="btn btn-purple btn-block border-0 chatbtnfrmbgcol bg-reef">
                                                Start
                                                Chat
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chatboxtypewrp">
                                <div class="chattypebox pr-2">
                                    <input type="text" name="" placeholder="Write a Message"
                                           class="form-control bg-textbx" id="">
                                </div>
                                <div class="chatsendicn">
                                    <i class="icon ion-paper-airplane font-20 cursor-pointer"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="chateventbtn" class="chatbubwrp bg-reef">
                        <i class="icon ion-android-close font-28"></i>
                    </div>
                </div>
            </div>
        </div>

        <div id="chat-mobilepreview" class="chatmobileprevwrp hideDiv">
            <div class="chatmobdevwrp">
                <div class="chatmobdevtopband"></div>
                <div class="chatmobdevbody">
                    <div class="chatmobdevcont">
                        <div id="chatdeskprevcont" class="chatdevdeskwrp p-0">
                            <div class="chatdeskprev">
                                <div class="chatprevwrp">
                                    <div class="chatmesscontainer hideDiv">
                                        <div class="chatclsewrp">
                                            <i class="icon ion-android-close"></i>
                                        </div>
                                        <p>
                                            Want to chat about plumb5? I'm here to help you find your way.
                                        </p>
                                    </div>
                                    <div class="chatcontainer">
                                        <div class="chatboxwrp border-radius-10">
                                            <div class="chatboxtpbar bg-reef chatboxbar-radius">
                                                <div class="chattitlwrp">
                                                    <i class="icon ion-chatboxes font-22"></i>
                                                    <h6>Chat with us</h6>
                                                </div>
                                                <div class="chatoptionwrp">
                                                    <div class="attachbtn mr-1 position-relative">
                                                        <button type="button" class="btn btn-trans">
                                                            <i class="icon ion-android-attach font-18"></i>
                                                        </button>
                                                        <input type="file" name="" class="inputfilebtn" id="">
                                                    </div>
                                                    <div class="tdcreatedraft">
                                                        <div class="dropdown">
                                                            @*<i class="icon ion-android-more-vertical"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false"></i>*@
                                                            <button type="button" class="verticnwrp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="icon ion-android-more-vertical mr-0"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right keepopen"
                                                                 aria-labelledby="filterbycontacts">
                                                                <a class="dropdown-item font-14 muteevent"
                                                                   href="javascript:void(0)">
                                                                    <i class="ion-android-volume-up font-18 pr-1"></i>
                                                                    <span>Unmute</span>
                                                                </a>
                                                                <a class="dropdown-item"
                                                                   href="javascript:void(0)">
                                                                    <i class="fa fa-pencil-square-o font-16 pr-1"></i>Edit
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chatboxcontainer">
                                                <div class="chatmediawrp p-3">
                                                    <div class="media mb-4">
                                                        <div class="agentimgwrp"></div>
                                                        <div class="media-body">
                                                            <div class="msgagent">
                                                                <p>Hi there?</p>
                                                            </div>
                                                            <div class="msgagent">
                                                                <p>Interested? What do we start with?</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="media mb-4">
                                                        <div class="media-body reverse">
                                                            <div class="msgagent">
                                                                <p>
                                                                    connect chatters to the right people on
                                                                    your team
                                                                </p>
                                                            </div>
                                                            <div class="msgagent">
                                                                <p>Interested? What do we start with?</p>
                                                            </div>
                                                        </div>
                                                        <div class="chatuserimgwrp"></div>
                                                    </div>
                                                    <div class="media">
                                                        <div class="agentimgwrp"></div>
                                                        <div class="media-body">
                                                            <div class="msgagent">
                                                                <p>
                                                                    Got it. I’ll see if there is someone
                                                                    available to help you.
                                                                </p>
                                                            </div>
                                                            <div class="msgagent">
                                                                <p>
                                                                    I'd love to collect some quick details
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chatfrmwrp hideDiv">
                                                    <div class="chatusericn bg-reef">
                                                        <i class="fa fa-user-o"></i>
                                                    </div>
                                                    <div class="chatfrmitemwrp p-2">
                                                        <div class="form-group mt-4">
                                                            <input type="text" class="form-control form-control-sm"
                                                                   id="" placeholder="Your Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control form-control-sm"
                                                                   id="" placeholder="Email Id">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control form-control-sm"
                                                                   id="" placeholder="Phone">
                                                        </div>
                                                        <div class="custom-control custom-checkbox ml-1">
                                                            <input type="checkbox" class="custom-control-input"
                                                                   id="cont_1" name="example1">
                                                            <label class="custom-control-label frmlbltxt"
                                                                   for="cont_1">
                                                                I
                                                                agree to
                                                                have my personal
                                                                data processed by plumb5.com for chat
                                                                support
                                                            </label>
                                                        </div>
                                                        <div class="btnwrp mt-3 mb-3">
                                                            <button type="button"
                                                                    class="btn btn-purple btn-block border-0 chatbtnfrmbgcol bg-reef">
                                                                Start
                                                                Chat
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chatboxtypewrp">
                                                <div class="chattypebox pr-2">
                                                    <input type="text" name="" placeholder="Write a Message"
                                                           class="form-control bg-textbx" id="">
                                                </div>
                                                <div class="chatsendicn">
                                                    <i class="icon ion-paper-airplane font-20 cursor-pointer"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="chateventbtn" class="chatbubwrp bg-reef">
                                        <i class="icon ion-android-close font-28"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="chatmobdevfooter"></div>
            </div>
        </div>


    </div>
</div>

<script src="~/js/jquery-sortable-min.js"></script>
<script src="~/js/Chat/AllChats.js"></script>
