@{
    ViewBag.Title = "Plumb5 :: Create Scheduled Campaign Browser Notification";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link rel="stylesheet" href="~/Content/dist/devices.css" />
<link rel="stylesheet" href="~/Content/select2/css/select2.min.css" />
<link rel="stylesheet" href="~/Content/css/ion.rangeSlider.css" />
<link rel="stylesheet" href="~/Content/css/ion.rangeSlider.skinFlat.css" />
<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js'></script>
<script src="~/js/ion.rangeSlider.min.js"></script>

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Create Scheduled Campaigns</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item"><a href="#">Manage Notification</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Scheduled Campaign</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15" id="ui_divCampaignStep1">
        <div class="campaingmaincontainer">
            <div class="container-page-head h-45 pl-0 pr-0">
                <div class="campTabWrap">
                    <ul class="campaign-nav">
                        <li class="campnav-item"><a class="campnav-link active  border-left-0"><span>Campaign &nbsp;</span> Information</a></li>
                        <li class="campnav-item"><a class="campnav-link">Schedule</a></li>
                        <li class="campnav-item"><a class="campnav-link prevtest">Test Notification</a></li>

                    </ul>
                </div>
            </div>
            <div class="container-page-body df-ac-jcenter">
                <div class="campaignContainer">
                    <div class="formColwrap mb-3">
                        <div class="form-group row w-100 mb-0">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Campaign Identifier</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                <input type="text" class="form-control" id="ui_txtCampaignIdentifier">
                            </div>
                        </div>
                    </div>
                    <div class="formColwrap mb-2">
                        <div class="form-group row w-100 mb-0">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Campaign Name</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                <select class="form-control addCampName" data-placeholder="Select Campaign" id="ui_ddlCampaign"></select>
                            </div>
                        </div>
                    </div>
                    <div class="formColwrap">
                        <div class="form-group row w-100 mb-0">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Select Template</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                <select class="form-control addCampName" data-placeholder="Select Template" id="ui_ddlTemplate"></select>
                            </div>
                        </div>
                    </div>
                    <div class="formColwrap">
                        <div class="form-group row mt-2 w-100">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right-lbl">
                                <label class="frmlbltxt" for="">Send To</label>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <select class="form-control" multiple data-placeholder="Select Group(s)" id="ui_ddlGroups"></select>
                            </div>
                        </div>
                    </div>
                    <div class="formColwrap mt-4">
                        <div class="checkeebx-group row w-100">
                            <div class="lblwrap col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="recipwrap mr-5">
                                            <h6 class="totalremain">Total Unique Recipients</h6>
                                            <h1 class="remcred" id="ui_h1TotalUniqueRecipients">0</h1>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="recipwrap mr-5">
                                            <h6 class="totalremain">Group Selected with</h6>
                                            <h1 class="remcred"><span class="grouplncount" id="ui_spanTotalSelectedGroup">0</span>/<span>3</span></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                    </div>
                </div>
            </div>

            <div class="container-page-footer">
                <div class="backbtnWrap">
                </div>
                <button type="button" class="btn btn-primary nextbtnpopsms" id="ui_btnStep1Next">
                    <a href="javascript:void(0);">
                        Next
                        <i class="icon ion-chevron-right pl-2"></i>
                    </a>
                </button>
            </div>
        </div>
    </div>

    <div class="box-white mr-tp-15" id="ui_divCampaignStep2">
        <div class="campaingmaincontainer">
            <div class="container-page-head h-45 pl-0 pr-0">
                <div class="campTabWrap">
                    <ul class="campaign-nav">
                        <li class="campnav-item"><a class="campnav-link  border-left-0"><span>Campaign &nbsp;</span> Information</a></li>
                        <li class="campnav-item"><a class="campnav-link active">Schedule</a></li>
                        <li class="campnav-item"><a class="campnav-link prevtest">Test Notification</a></li>

                    </ul>
                </div>
            </div>
            <div class="container-page-body position-relative">
                <div class="w-100 mt-5">
                    <div class="campaignContainer m-auto">
                        <div class="formWrapper">
                            <div class="formColwrap">
                                <div class="form-group row w-100 mb-4">
                                    <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Delivery Date</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                        <input type="text" class="form-control" id="ui_txtSingleSchedule" readonly />
                                    </div>
                                </div>
                                <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                            </div>
                            <div class="formColwrap">
                                <div class="form-group row w-100">
                                    <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Delivery Time</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                        <div class="d-flex align-items-center">
                                            <div class="hourwrap mr-3">
                                                <label class="frmlbltxt" for="">Hours</label>
                                                <select class="form-control" name="" id="ui_ddlSingleBatchScheduleHour">
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10" selected>10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                            <div class="minwrap mr-3">
                                                <label class="frmlbltxt" for="ui_ddlSingleBatchScheduleMinute">Minutes</label>
                                                <select class="form-control" id="ui_ddlSingleBatchScheduleMinute">
                                                    <option value="00">00</option>
                                                    <option value="05">05</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                    <option value="55">55</option>
                                                    <option value="60">60</option>
                                                </select>
                                            </div>
                                            <div class="secondwrap">
                                                <label class="frmlbltxt" for="ui_ddlSingleBatchScheduleAMPM">AM/PM</label>
                                                <select class="form-control" id="ui_ddlSingleBatchScheduleAMPM">
                                                    <option value="AM">AM</option>
                                                    <option value="PM">PM</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                            </div>
                        </div>

                    </div>
                    <div class="notewrap mt-5">
                        <p class="d-flex align-items-center"><i class="icon ion-android-alert mr-3"></i> <span class="notetxt"> We strongly recommend that you schedule your campaign to be sent 24 hours from now at the minimum, if you don't do so, then there is a chance that some users in the audience might not receive your campaign. This can happen when the local time in those regions has already passed the scheduled delivery time.</span></p>
                    </div>
                </div>

            </div>
            <div class="container-page-footer">
                <div class="backbtnWrap">
                    <button type="button" class="btn btn-second" id="ui_btnStep2Back">
                        <a href="javascript:void(0);">
                            <i class="icon ion-chevron-left pr-2"></i>Back
                        </a>
                    </button>
                </div>
                <div class="nextbtnWrap">
                    <button type="button" class="btn btn-primary" id="ui_btnStep2Next">
                        <a href="javascript:void(0);">
                            Next
                            <i class="icon ion-chevron-right pl-2"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="box-white mr-tp-15" id="ui_divCampaignStep3">
        <div class="campaingmaincontainer">
            <div class="container-page-head h-45 pl-0 pr-0">
                <div class="campTabWrap">
                    <ul class="campaign-nav">
                        <li class="campnav-item"><a class="campnav-link  border-left-0"><span>Campaign &nbsp;</span> Information</a></li>
                        <li class="campnav-item"><a class="campnav-link">Schedule</a></li>
                        <li class="campnav-item"><a class="campnav-link active prevtest">Test Notification</a></li>

                    </ul>
                </div>
            </div>
            <div class="container-page-body df-ac-jcenter">
                <div class="campaignContainer w-75 m-w-100">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 order-sm-12 order-md-12">
                            <div class="rsstestcont mt-3">
                                <h6 class="box-title text-center p-0">Test Campaign</h6>
                                <div class="checkeebx-group mt-4 d-flex justify-content-center">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="0" id="ui_rdbtnIndividualTestCampaign" name="TestCampaignType" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="ui_rdbtnIndividualTestCampaign">Individual</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="1" id="ui_rdbtnGroupTestCampaign" name="TestCampaignType" class="custom-control-input">
                                        <label class="custom-control-label" for="ui_rdbtnGroupTestCampaign">Group</label>
                                    </div>
                                </div>
                                <div id="ui_divIndividualTestCampaign" class="textcampWrap mt-3">
                                    <div class="form-group d-flex justify-content-center">
                                        <input type="text" class="form-control w-90" placeholder="MachineId" id="ui_txtCampaignTestMachineId" />
                                    </div>
                                </div>
                                <div id="ui_divGroupTestCampaign" class="textcampWrap mt-3 d-flex justify-content-center hideDiv">
                                    <div class="testcampgroup w-90">
                                        <select id="ui_ddlCampaignTestGroup" class="form-control" data-placeholder="Select Group"></select>
                                    </div>
                                </div>
                                <div class="campbtmwrap justify-content-center mt-3">
                                    <div class="btnwrp w-150 position-relative pl-3">
                                        <button class="btn btn-third btn-block testcampbtn" type="button" onclick="" id="ui_btnTestCampaign">Test Campaign</button>
                                        <div class="sk-three-bounce hideDiv">
                                            <div class="sk-child sk-bounce1 bg-gray-800"></div>
                                            <div class="sk-child sk-bounce2 bg-gray-800"></div>
                                            <div class="sk-child sk-bounce3 bg-gray-800"></div>
                                        </div>
                                    </div>
                                    <div class="campresultwrap">
                                        <button class="btn bg-trans testrestpop" type="button" onclick="getWebPushCampaignResponses();">Test Results</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 order-sm-1 order-md-1">
                            <div class="bwnotifprevtemp">
                                <div class="notifprevmain">
                                    <div class="notifbanwrp"></div>
                                    <div class="notiprevcontent">
                                        <div class="notiprevcontwrp">
                                            <div class="notifbelcont">
                                                <div class="notificonwrp"></div>
                                                <div class="notifititcontwrp">
                                                    <h3 class="notiftitle">Title</h3>
                                                    <p class="notifdescript">Description</p>
                                                </div>
                                            </div>
                                            <div class="notifbtnwrp mt-2">
                                                <button id="notifsubbtn" type="button" class="btn btn-notifprimary w-49 mr-1"><a class="bnotbtn1" href="#">Button1</a></button>
                                                <button id="notifcanbtn" type="button" class="btn btn-notisecondary w-49"><a class="bnotbtn2" href="#">Button2</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="container-page-footer">
                <div class="backbtnWrap">
                    <button type="button" class="btn btn-second" id="ui_btnStep3Back">
                        <a href="javascript:void(0);">
                            <i class="icon ion-chevron-left pr-2"></i>Back
                        </a>
                    </button>
                </div>
                <div class="nextbtnWrap">
                    <button type="button" class="btn btn-primary" id="ui_btnStep3Submit">
                        <a href="javascript:void(0);">Save</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="popupcontainer hideDiv" id="ui_divGroupAnalysisPopUp">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6 id="ui_h6AnalysisHeading">Create a merged group</h6>
            <i id="ui_iconCloseAnalysisPopUp" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div id="groupedit" class="groupaccordWrap">
                    <div id="groupeditaccordion" class="accordion-one" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="groupeditheadingone">
                                <a data-toggle="collapse" data-parent="#groupeditaccordion" href="#groupeditcollapseone" aria-expanded="true" aria-controls="groupeditcollapseone" class="tx-gray-800 transition collapsed">
                                    Basic Information
                                </a>
                            </div>
                            <div id="groupeditcollapseone" class="collapse show" role="tabpanel" aria-labelledby="groupeditheadingone" data-parent="#groupeditaccordion">
                                <div class="card-body">
                                    <div class="form-group" id="ui_divAnalysisName">
                                        <label class="frmlbltxt" for="">Name</label>
                                        <input type="text" class="form-control" id="ui_txtGroupName" maxlength="150" />
                                    </div>
                                    <div class="form-group" id="ui_divAnalysisDescription">
                                        <label class="frmlbltxt" for="">Description</label>
                                        <textarea class="form-control" id="ui_txtGroupDescription" cols="30" rows="2" maxlength="500"></textarea>
                                    </div>
                                </div>
                            </div>
                            @*<p class="text-right"><a href="javascript:void(0);" id="ui_aAnalyze">Analyze Segment(s)</a></p>*@
                            <div class="segmentwrap hideDiv" id="ui_divAnalysisDetails">
                                <h6 class="box-title p-0 mt-5 mb-1 text-center">Aggregate Segment Analysis</h6>
                                <small class="font-11 text-center d-block">Note: Analysis based on past 90 Day activity.</small>
                                <div class="segmentgauwrap mt-3">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div id="chartgauge1" class="chart-gauge"></div>
                                            <small class="font-12 text-center d-block" id="ui_SmallDeliveryRate">Delivery Rate: 0%</small>
                                        </div>
                                        <div class="col-sm-6">
                                            <div id="chartgauge2" class="chart-gauge"></div>
                                            <p class="font-12 text-center d-block" id="ui_SmallClickedRate">Click Rate: 0%</p>
                                        </div>
                                    </div>
                                    <div class="prefdevice">
                                        <h6 class="box-title p-0 mb-1 text-center">Preferred Device</h6>
                                        <div class="charteeWrap position-relative">
                                            <canvas id="ui_canvasDeviceChart"></canvas>
                                        </div>
                                        <div class="legendWrap d-flex justify-content-center w-200 m-auto">
                                            <div class="blucolWrap">Android</div>
                                            <div class="greencolWrap legendpop">iOS</div>
                                            <div class="redcolWrap legendpop">Others</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="ui_btnGroupAnalysisNext">Next</button>
                <button class="btn btn-secondary clsepopup" type="button" id="ui_btnCloseAnalysisPopUp">Cancel</button>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_WebPushTestCampaignResponses");
}
<script src="~/js/WebPush/ScheduleCampaign.js"></script>
