@{
    ViewBag.Title = "EmailVerificationStatus";

}

<h2>EmailVerificationStatus</h2>
<div data-bind="text: firstName"></div>
<ul id="Emailverifiedstatus">
</ul>
<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/js/EmailVerificationFile.js"></script>