@{
    ViewBag.Title = "Plumb5 :: Site Search : Overview";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}



<section class="sheet" id="ui_sectionSiteSearchOverView">
    <div class="pageheader">
        <h6 class="pagetitle">Site Search</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Web</a></li>
            <li class="breadcrumb-item active" aria-current="page">Site Search</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem"><a class="tap-nav-link active" href="javascript:void(0);">Overview</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/Analytics/SiteSearchTerms">Search Terms</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/Analytics/SiteSearchPages">Search Pages</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/Analytics/SiteSearchConfiguration">Configuration</a></div>
        </div>
        @{ Html.RenderPartial("_Export"); }
    </div>
    <div class="topTabWrap brd-TRL">
        @{ Html.RenderPartial("_PageHeadingWithDate"); }
    </div>
    <div id="ui_divReportSummary" class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="charteeWrap position-relative h-350">
                    <canvas id="sitesearch"></canvas>
                </div>
            </div>
            <div class="row row-eq-height mt-4">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 m-mb-3">
                    <div class="box-white">
                        <h6 class="box-title">Search Term Word Cloud</h6>
                        <div id="wordcloud" class="wordcloudwrap pr-3 pl-3 h-350 position-relative overflow-hidden">

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="box-white">
                        <h6 class="box-title">Top 5 Searched Pages</h6>
                        <div class="charteeWrap position-relative h-350">
                            <canvas id="topfivesearch"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="~/js/wrdcloud.js"></script>
<script src="~/js/Analytics/SiteSearchOverView.js"></script>