@{
    ViewBag.Title = "Plumb5 :: Manage Duplicate Contacts";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Manage Duplicates</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Contacts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Duplicates</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="contimportrepwrap">
            <div class="showDateIconWrap pt-2 pb-2 border-bottom">
                @{ Html.RenderPartial("_PageHeadingWithDate"); }
                <div class="btngroupwrap d-flex align-items-center pr-2">
                    <div class="downloadsampwrap hidemob-p">
                        <button type="button" class="btn btn-second btn-sm ContributePermission" title="Download Sample file" id="ui_btnContactDeDuplicateSampleDownLoad">
                            <i class="icon ion-android-download m-auto"></i>
                            <span>Download Sample file</span>
                        </button>
                    </div>
                    <div class="startbtnwrap ml-2">
                        <button type="button" class="btn btn-primary uplddupconts ContributePermission">
                            <a href="javascript:void(0)">Upload File</a>
                        </button>
                    </div>&ensp;
                    @{Html.RenderPartial("_Export"); }
                </div>

            </div>
            <div class="importTableWrap">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="box-white border-0 position-relative">
                            <div class="tableWrapper">
                                <div class="table-responsive contimportrep">
                                    <table id="ui_tblReportData" class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-220 td-wid-24">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>
                                                    </div>File Name <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">

                                                    </div>
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-10" scope="col">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>
                                                    </div>Total <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">

                                                    </div>
                                                </th>

                                                <th class="helpIcon m-p-w-200 td-wid-14" scope="col">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>
                                                    </div>New Contacts <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">

                                                    </div>
                                                </th>
                                                <th class="helpIcon m-p-w-200 td-wid-14" scope="col">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>
                                                    </div>Existing Contacts <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">

                                                    </div>
                                                </th>
                                                <th class="helpIcon m-p-w-200 td-wid-14" scope="col">
                                                    Duplicate Contacts <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">

                                                    </div>
                                                </th>
                                                <th class="helpIcon m-p-w-170 td-wid-13" scope="col">
                                                    Updated Date
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap"></div>
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-20" scope="col">
                                                    Progress <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">

                                                    </div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyReportData"></tbody>
                                    </table>
                                </div>
                            </div>
                            @{ Html.RenderPartial("_Paging"); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-white h-400 mt-3 hideDiv" id="dvNorecord">
        <div class="h-100 d-flex align-items-center justify-content-center text-center">
            <p class="mb-0 text-color-queued ml-3 mr-3">
                <span class="uplddupconts upldtxt">Upload</span>
                your contact list
                to check for Duplicates
            </p>
        </div>
    </div>

    <!--Popup window right-->
    <div class="popupcontainer hideDiv">
        <div class="popupItem w-450 m-p-wid-300 position-relative">
            <div class="popuptitle">
                <h6>Upload Contact List</h6>
                <i id="close-popup" class="icon ion-close"></i>
            </div>
            <div class="popupbody">
                <div class="popupbodycont pad-10">
                    <div class="popcontWrap">
                        <div class="fileuploadwrap mt-4">
                            <div class="form-group border">
                                <input class="btn bg-trans" type="file" multiple="" name=""
                                       id="ui_btnChooseFile">
                            </div>
                        </div>
                        <div class="uptempnotewrap mt-5">
                            <p class="text-color-error mb-0">Note:</p>
                            <p class="font-12 mt-0">
                                The input file must have EmailId & PhoneNumber
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="popupfooter">
                <div class="btnwrp">
                    <button class="btn btn-primary mr-2" type="button" id="ui_btnUpload">Upload</button>
                    <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
                </div>
            </div>

        </div>

    </div>
    <!--Popup window right-->

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1757076111107965', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.Event.subscribe('auth.authResponseChange', function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token
                    // and signed request each expire
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;
                    var form = document.createElement("form");
                    form.setAttribute("method", 'post');
                    form.setAttribute("action", 'dashboard.aspx');

                    var field = document.createElement("input");
                    field.setAttribute("type", "hidden");
                    field.setAttribute("name", 'accessToken');
                    field.setAttribute("value", accessToken);
                    form.appendChild(field);

                    document.body.appendChild(form);
                    //uncomment form submit during implementation..this is commented for UI HTML
                    //form.submit();

                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook,
                    // but has not authenticated your app
                } else {
                    // the user isn't logged in to Facebook.
                }
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
</section>
<!--Modal Download Sample File-->
<div class="modal fade bd-example-modal-sm" id="ui_divContactDeDuplicateSampleFileType" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Sample File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">File Format</label>
                        <select class="form-control" id="ui_ddl_DeDuplicateSampleExportFileType">
                            <option value="csv">.CSV &nbsp;(Text Tab-separated '|' values)</option>
                            <option value="xls">.XLS &nbsp;&nbsp;(Microsoft Excel 97-2003)</option>
                            @*<option value="xlsx">.XLSX (Microsoft Excel 2007-2013)</option>*@
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="ui_btnDeDuplicateSampleDataExport">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Download Sample File-->
<!--Modal Download FileContents-->
<div class="modal fade bd-example-modal-sm" id="ui_divContactsFileType" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Unique Contacts File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">File Format</label>
                        <select class="form-control" id="ui_ddl_ContactsExportFileType">
                            <option value="csv">.CSV</option>
                            <option value="xls">.XLS &nbsp;&nbsp;(Microsoft Excel 97-2003)</option>
                            @*<option value="xlsx">.XLSX (Microsoft Excel 2007-2013)</option>*@
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ui_btnContactDataExport">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Download Unique Contacts File-->
<script src="~/js/ManageContact/ContactDeDuplicateOverview.js"></script>