@{
    ViewBag.Title = "Plumb5 :: Inactive Notification";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}


<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Settings</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Lead Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
    </div>
    <div class="setttabwrap mr-tp-15">
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/Settings">Stages</a></div>
        <div class="setttabitem active" data-setttype="javascript:void(0);"><a href="javascript:void(0);">In-Activity Notification</a></div>
        @*<div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/NotificationRules">Notification Rules</a></div>*@
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/AgentNotification">Lead Notification</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/Settings/AlertNotification">Alert Notification</a></div>
        @*<div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/LeadAssignNotificationSetting">Lead Assignment Agent Notification</a></div>*@
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/CallSettings">Call Settings</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/LeadProperties">Lead Properties</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/AdvancedSettings/">Advanced Settings</a></div>
    </div>
    <div class="settcontainer">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white">
                    <div id="inactivitynotif" class="setttabcontainer">
                        <div class="lmsinactivnotifwrp p-3">
                            <div class="lmsassignuserchkbxwrp mt-3">
                                <label for="" class="frmlbltxt w-100">
                                    Notification to Sales Person
                                </label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="ui_radNotInteractedNotificationYes" name="SalesPersonNotification" value="1">
                                    <label class="custom-control-label" for="ui_radNotInteractedNotificationYes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" checked="" class="custom-control-input" id="ui_radNotInteractedNotificationNo" name="SalesPersonNotification" value="0">
                                    <label class="custom-control-label" for="ui_radNotInteractedNotificationNo">No</label>
                                </div>
                            </div>
                            <div class="lmsinactvnotifwrp" id="dvSales">
                                <div class="form-group mt-3">
                                    <label class="frmlbltxt">Hours</label>
                                    <select id="ui_ddlNotInteractedTimeOfSalesPerson" class="form-control">
                                        <option value="1">1 HR</option>
                                        <option value="5">5 HRS</option>
                                        <option value="10">10 HRS</option>
                                        <option value="15">15 HRS</option>
                                        <option value="20">20 HRS</option>
                                        <option value="25">25 HRS</option>
                                        <option value="30">30 HRS</option>
                                        <option value="35">35 HRS</option>
                                        <option value="40">40 HRS</option>
                                        <option value="45">45 HRS</option>
                                        <option value="50">50 HRS</option>
                                        <option value="55">55 HRS</option>
                                        <option value="60">60 HRS</option>
                                        <option value="65">65 HRS</option>
                                        <option value="70">70 HRS</option>
                                        <option value="75">75 HRS</option>
                                        <option value="80">80 HRS</option>
                                        <option value="85">85 HRS</option>
                                        <option value="90">90 HRS</option>
                                        <option value="95">95 HRS</option>
                                        <option value="100">100 HRS</option>
                                        <option value="120">120 HRS</option>
                                        <option value="140">140 HRS</option>
                                        <option value="160">160 HRS</option>
                                        <option value="180">180 HRS</option>
                                        <option value="200">200 HRS</option>
                                        <option value="220">220 HRS</option>
                                        <option value="240">240 HRS</option>
                                    </select>
                                </div>
                                <div class="lmssendemlsmswrp ml-3">
                                    <div class="lmsassignuserchkbxwrp">
                                        <label for="" class="frmlbltxt w-100">Send Option</label>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="ui_radNotInteractedSendMail" name="lmsinactivnotisendtype">
                                            <label class="custom-control-label" for="ui_radNotInteractedSendMail">Email</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="ui_radNotInteractedSendSMS" name="lmsinactivnotisendtype">
                                            <label class="custom-control-label" for="ui_radNotInteractedSendSMS">SMS</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="ui_radNotInteractedSendWhatsapp" name="lmsinactivnotisendtype">
                                            <label class="custom-control-label" for="ui_radNotInteractedSendWhatsapp">Whatsapp</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lmsinactivnotifrepuser mt-4">
                                <div class="lmsassignuserchkbxwrp mt-3">
                                    <label class="frmlbltxt">Notification to Reporting Users</label>
                                    <div class="lmsnotifrepuswrp mt-2 mb-3">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="ui_radNotInteractedNotificationYesOfReporting" name="ReportingPersonNotification" value="1">
                                            <label class="custom-control-label" for="ui_radNotInteractedNotificationYesOfReporting">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" checked="" class="custom-control-input" id="ui_radNotInteractedNotificationNoOfReporting" name="ReportingPersonNotification" value="0">
                                            <label class="custom-control-label" for="ui_radNotInteractedNotificationNoOfReporting">No</label>
                                        </div>
                                    </div>


                                </div>
                                <div class="lmsinactvnotifwrps" id="dvReport">
                                    <div class="form-group">
                                        <label class="frmlbltxt">Hours</label>
                                        <select id="ui_ddlNotInteractedTimeOfReportingPerson" class="form-control">
                                            <option value="1">1 HR</option>
                                            <option value="5">5 HRS</option>
                                            <option value="10">10 HRS</option>
                                            <option value="15">15 HRS</option>
                                            <option value="20">20 HRS</option>
                                            <option value="25">25 HRS</option>
                                            <option value="30">30 HRS</option>
                                            <option value="35">35 HRS</option>
                                            <option value="40">40 HRS</option>
                                            <option value="45">45 HRS</option>
                                            <option value="50">50 HRS</option>
                                            <option value="55">55 HRS</option>
                                            <option value="60">60 HRS</option>
                                            <option value="65">65 HRS</option>
                                            <option value="70">70 HRS</option>
                                            <option value="75">75 HRS</option>
                                            <option value="80">80 HRS</option>
                                            <option value="85">85 HRS</option>
                                            <option value="90">90 HRS</option>
                                            <option value="95">95 HRS</option>
                                            <option value="100">100 HRS</option>
                                            <option value="120">120 HRS</option>
                                            <option value="140">140 HRS</option>
                                            <option value="160">160 HRS</option>
                                            <option value="180">180 HRS</option>
                                            <option value="200">200 HRS</option>
                                            <option value="220">220 HRS</option>
                                            <option value="240">240 HRS</option>
                                        </select>
                                    </div>
                                    <div class="lmssendemlsmswrps ml-4">
                                        <div class="lmsassignuserchkbxwrp">
                                            <label for="" class="frmlbltxt w-100">Reporting Option</label>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="ui_schsenior" name="lmsinactivnotirepsendtype">
                                                <label class="custom-control-label" for="ui_schsenior">Senior</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="ui_IsGroup" name="lmsinactivnotirepsendtype">
                                                <label class="custom-control-label" for="ui_IsGroup">Is Group</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <select title="Groups" class="dropdown" style="width: 200px;display:none;" id="ui_dllgrpsch">
                                                    <option value="0">For All Users</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lmssendemlsmswrps ml-4">
                                        <div class="lmsassignuserchkbxwrp">
                                            <label for="" class="frmlbltxt w-100">Send Option</label>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="ui_radNotInteractedSendMailOfReportingPerson" name="lmsinactivnotirepsendtype">
                                                <label class="custom-control-label" for="ui_radNotInteractedSendMailOfReportingPerson">Email</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="ui_radNotInteractedSendSMSOfReportingPerson" name="lmsinactivnotirepsendtype">
                                                <label class="custom-control-label" for="ui_radNotInteractedSendSMSOfReportingPerson">SMS</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="ui_radNotInteractedSendWhatsappOfReportingPerson" name="lmsinactivnotirepsendtype">
                                                <label class="custom-control-label" for="ui_radNotInteractedSendWhatsappOfReportingPerson">Whatsapp</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="lmssavebtnwrp mt-4">
                                <button id="ui_btnSaveNotification" type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</section>


<script src="~/js/Prospect/InactiveNotification.js"></script>