@{
    ViewBag.Title = "Subscribers";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Subscribers</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item"><a href="#">Browser Notification</a></li>
            <li class="breadcrumb-item active" aria-current="page">Subscribers</li>
        </ol>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="showingWrap">
            @{
                Html.RenderPartial("_PageHeadingWithDate");
            }
        </div>
        <div class="iconsWrap-docu">
            <div class="dropdown">
                <button id="filterTags" class="btn-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span id="ui_spanFilter">Filter By</span> <i class="icon ion-android-funnel"></i></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterTags">
                    <div class="visitfiltWrap">
                        <a class="dropdown-item" href="javascript:void(0)">All</a>
                        <a class="dropdown-item" href="javascript:void(0)">Visitor Ip</a>
                        <a class="dropdown-item" href="javascript:void(0)">Machine Id</a>
                        <a class="dropdown-item" href="javascript:void(0)">Subscribed URL</a>
                        <a class="dropdown-item" href="javascript:void(0)">Email-Id</a>
                        <a class="dropdown-item" href="javascript:void(0)">Phone</a>
                    </div>
                </div>
            </div>
            @{
                Html.RenderPartial("_Export");
            }
        </div>
    </div>
    <div class="subdivFiltWrap">
        <div class="filtSearchBox">
            <div class="searchBoxWrap">
                <div class="dropdownSelectItem">
                    <input class="form-control form-control-sm" placeholder="All" type="text" name="" id="searchFilterBox">
                </div>
                <button onclick="subscribersUtil.GetSubscribersByFilter()" class="btn btn-primary btn-sm" type="button">Go</button>
            </div>

        </div>
    </div>
    <div class="subdivWrap">
        <div class="selectedItemWrap">
            <div class="checkBxCount">
                <span class="checkedCount">0</span> Contacts selected
            </div>
            <div class="addDropdownWrap">
                <div class="dropdown">
                    <button class="btn-action dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu mcontactsaction" aria-labelledby="dropdownMenuButton">
                        <a id="addremovegroupslist" class="dropdown-item ContributePermission" href="javascript:void(0)" data-toggle="modal">Add remove group</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table class="table" id="ui_tableSubscribers">
                            <thead>
                                <tr>
                                    <th class="td-wid-5 h-20p pl-0 m-p-w-40" scope="col">
                                        <div class="chbxWrap">
                                            <label class="ckbox">
                                                <input id="chkAll" class="selchbxall" value="1" type="checkbox"><span></span>
                                            </label>
                                        </div>
                                    </th>
                                    <th class="td-wid-5 m-p-w-40" scope="col">UCP</th>
                                    <th class="helpIcon td-wid-25 m-p-w-190" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        <div class="spacBet">
                                            <div>Subscribers</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-15  m-p-w-120" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        <div class="spacBet">
                                            <div>Subscribed Status</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-25 m-p-w-150" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        <div class="spacBet">
                                            <div>Subscribed Date</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-30 m-p-w-190" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Subscribed URL <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_trbodySubscribersData">
                            </tbody>
                        </table>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Paging");
                }
            </div>
        </div>
    </div>
</section>
<!--Modal confirm-->
<div class="modal fade bd-example-modal-sm" id="confirmDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add to Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span class="visitorsCount"></span> Selected Visitors will be added to the following Group</p>
                <p class="font-bold"><span>Group Name:</span> <span class="addgroupname"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="addtoGroupdis" class="btn btn-primary" data-dismiss="modal" onclick="subscribersUtil.AddToGroup();">Add to Group</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="addremovegroup" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add and Remove Group</h5>
                <button type="button" class="close" aria-label="Close" id="btnCloseAddRemovegrp">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="groupoperat">
                    <select id="addgroupoperation" class="form-control select2" data-placeholder="Choose Group" multiple=""></select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="addtogroup" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" id="btnCancelAddRemovegrp">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Modal confirm-->
@{
    Html.RenderPartial("_ContactUCP");
}

<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src="~/js/WebPush/Subscribers.js"></script>