@{
    ViewBag.Title = "ManageEmbeddedForms";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Manage Web Forms</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item"><a href="#">Forms & Banners</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Web Forms</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem"><a class="tap-nav-link active" href="/CaptureForm/ManageEmbeddedForms">Embedded Forms</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/CaptureForm/ManagePopUpForms">Pop-Up Forms</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/CaptureForm/ManageTaggedForms">Tagged Forms</a></div>
        </div>
        <div class="iconsWrap">
            <div class="searchCampWrap position-relative mr-3">
                <input class="form-control contsearchfocus" type="text" name="" id="ui_txtSearchBy" placeholder="Search Forms">
                <i class="icon ion-android-search serchicon" id="SearchByIdentifierName"></i>
            </div>
            @{Html.RenderPartial("_Export"); }
        </div>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="createBtnWrap mr-3">
            <button type="button" class="btn btn-primary btn-sm DesignPermission">
                <a id="ui_aCreateEmbeddedForm" href="javascript:void();" class="DesignPermission">Create Forms</a>
            </button>
        </div>
        <div class="mr-2 iconsWrap">
            <select name="" class="form-control mr-2 w-160pc" id="ui_ddlFormType">
                <option value="0">Filter by FormType</option>
                <option value="1">Lead Generation</option>
                <option value="2">Custom HTML</option>
                <option value="3">Custom IFRAMES</option>
                <option value="4">Custom Banner</option>
                <option value="5">Video</option>
            </select>
            <select name="" class="form-control" id="ui_ddlFormStatus">
                <option value="-1">Filter by Status</option>
                <option value="true">Active</option>
                <option value="false">In-Active</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="subdivWrap border-top">
                <div class="selectedItemWrap">
                    <div class="checkBxCount">
                        Used <span class="checkedCount">0</span> out of 4 forms
                    </div>
                    <div class="addgrupcampresp ml-3">
                        <button class="btn btn-third btn-sm addmultivariatefrm DesignPermission" type="button">
                            <span>
                                Create Multi Conditional
                                Form
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-white">
                <div class="subdivWrap-one border-0">
                    <div class="mgefrmfiltwrp d-flex">
                        <div class="badgewrpfrmtype mr-2 hideDiv">
                            <div class="badge badge-success">
                                Filter by <span class="frmfilstype mr-1"></span>
                                <i id="ui_formtypeclose" class="icon ion-android-close cursor-pointer" data-filtoption="formtype"></i>
                            </div>
                        </div>
                        <div class="badgewrpfrmstatus hideDiv">
                            <div class="badge badge-primary">
                                Filter by <span class="frmfilstatus mr-1"></span>
                                <i id="ui_formstatusclose" class="icon ion-android-close cursor-pointer" data-filtoption="formstatus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table class="table tbl-td-ta-lft sorted_table" id="ui_tblReportData">
                            <thead>
                                <tr>
                                    <th class="td-wid-5"></th>
                                    <th class="helpIcon td-wid-40 m-p-w-250" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Form Identifier</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-250" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Form Type</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Form Type.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="td-wid-20 m-p-w-250" scope="col">Status</th>
                                    <th class="helpIcon td-wid-20 m-p-w-170" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Updated On</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
            </div>
        </div>
    </div>
</section>

<!--Popup window right-->

@{Html.RenderPartial("_FormChatWebHookResponse"); }

<div class="popupcontainer hideDiv" id="dvMultiConditionalForm">
    <div class="popupItem w-450 m-p-wid-300 position-relative popup-tbl-trans">
        <div class="popuptitle">
            <h6>Create Multi-Conditional Form</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div id="multivariatefrm" class="popupbodycont">
                <div class="popcontWrap">
                    <div class="campinfowrp mt-2 bg-white">
                        <div class="popheadtitlewrp">
                            <h6>Campaign Information</h6>
                        </div>
                        <div class="mulitvariatfrmwrp">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Client Campaign Identifier</label>
                                <input type="text" class="form-control" id="txtMultiConditionalClientCampaignIdentifier" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Campaign Identifier</label>
                                <div class="textbxautocom mr-2 w-100 inputtextboxAutoCompletediv">
                                    <span id="ui_txtMultiConditionalCampaignIdentifier_values"></span>
                                    <input type="text" name="" class="inputtextboxAutoComplete" id="txtMultiConditionalCampaignIdentifier" placeholder="Tag identifier" style="z-index:102 !important">
                                </div>
                            </div>
                           
                            <div class="setmobotpwrp mt-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="frmlbltxt" for="">
                                                Mobile Form <a href="javascript:void()">
                                                    <i class="icon ion-ios-help-outline"></i>
                                                </a>
                                            </label>
                                            <div class="chbxwrp">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="ui_MultiConditionalmobileyes" name="IsMobileFormMultiConditional" value="1" class="custom-control-input">
                                                    <label class="custom-control-label" for="ui_MultiConditionalmobileyes">Yes</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="ui_MultiConditionalmobileno" name="IsMobileFormMultiConditional" value="0" checked="checked" class="custom-control-input">
                                                    <label class="custom-control-label" for="ui_MultiConditionalmobileno">No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="frmlbltxt" for="">
                                                Click To Call Form<a href="javascript:void();">
                                                    <i class="icon ion-ios-help-outline"></i>
                                                </a>
                                            </label>
                                            <div class="chbxwrp">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="ui_ctcyesMultiConditional" name="IsCTCFormMultiConditional" value="1" class="custom-control-input">
                                                    <label class="custom-control-label" for="ui_ctcyesMultiConditional">Yes</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="ui_ctcnoMultiConditional" name="IsCTCFormMultiConditional" value="0" checked="checked" class="custom-control-input">
                                                    <label class="custom-control-label" for="ui_ctcnoMultiConditional">No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="campinfowrp mt-3 bg-white">
                        <div class="popheadtitlewrp">
                            <h6>Form Information</h6>
                        </div>
                        <div class="mulitvariatfrmwrp">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Form Identifier Name</label>
                                <input type="text" class="form-control" id="ui_txtFormIdentifier" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Form Title</label>
                                <input type="text" class="form-control" id="ui_txtFormTitle" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Form Description</label>
                                <input type="text" class="form-control" id="ui_txtFormDescription" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="campinfowrp mt-3 bg-white">
                        <div class="popheadtitlewrp">
                            <h6>Selected Forms</h6>
                        </div>
                        <div class="mulitvariatfrmwrp">
                            <div class="table-responsive min-h-0">
                                <table class="table tbl-td-ta-lft border" id="tblMultiConditionalForms">
                                    <thead>
                                        <tr>
                                            <th class="helpIcon td-wid-80 m-p-w-220" scope="col">Form Name</th>
                                            <th class="helpIcon td-wid-20 m-p-w-100" scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyMultiConditionalForms">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="btnSaveMultiConditionalForm">Save Form</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="popupcontainer hideDiv" id="dvCampaignSettings">
    <div class="popupItem w-450 m-p-wid-300 position-relative popup-tbl-trans">
        <div class="popuptitle">
            <h6>Settings</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div id="embdfrmssettings" class="popupbodycont">
                <div class="frmdetailswrp">
                    <div class="campdetailswrp">
                        <h6 class="campdethead">Form Identifier</h6>
                        <p class="embedcampname"></p>
                    </div>
                    <div class="embdsettwrp">
                        <div class="form-group">
                            <label class="frmlbltxt" for="">Client Campaign Identifier</label>
                            <input type="text" class="form-control" id="txtClientCampaignIdentifier" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label class="frmlbltxt" for="">Campaign Identifier</label>
                            <div class="textbxautocom mr-2 w-100 inputtextboxAutoCompletediv">
                                <span id="ui_txtCampaignIdentifier_values"></span>
                                <input type="text" name="" class="inputtextboxAutoComplete" id="txtCampaignIdentifier" placeholder="Tag identifier" style="z-index:102 !important">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="frmlbltxt" for="">Restrict Email Domain</label>
                            <input type="text" class="form-control" id="ui_txtblockemailids" placeholder="Rediff.com, Yahoo.com" />
                            <small class="form-text text-muted">Add Multiple Domain with comma</small>
                        </div>
                        <div class="setmobotpwrp mt-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="frmlbltxt" for="">
                                            Mobile Form <a href="javascript:void()">
                                                @*<i class="icon ion-ios-help-outline"></i>*@
                                                <i class="icon ion-ios-help-outline" data-toggle="popover" data-trigger="hover" title="" data-content="Select option for the visibility of this form on Mobile Devices"></i>
                                            </a>
                                        </label>
                                        <div class="chbxwrp">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="ui_mobileyes" name="IsMobileForm" value="1" class="custom-control-input">
                                                <label class="custom-control-label" for="ui_mobileyes">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="ui_mobileno" name="IsMobileForm" value="0" checked="checked" class="custom-control-input">
                                                <label class="custom-control-label" for="ui_mobileno">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="frmlbltxt" for="">
                                            Click To Call Form<a href="javascript:void();">
                                                <i class="icon ion-ios-help-outline" data-toggle="popover" data-trigger="hover" title="" data-content="Select option for the visibility of click to call form"></i>
                                            </a>
                                        </label>
                                        <div class="chbxwrp">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="ui_ctcyes" name="IsCTCForm" value="1" class="custom-control-input">
                                                <label class="custom-control-label" for="ui_ctcyes">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="ui_ctcno" name="IsCTCForm" value="0" checked="checked" class="custom-control-input">
                                                <label class="custom-control-label" for="ui_ctcno">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="frmlbltxt" for="">
                                            Verified Email<a href="javascript:void();">
                                                <i class="icon ion-ios-help-outline" data-toggle="popover" data-trigger="hover" title="" data-content="Select option for the Verified the Email"></i>
                                            </a>
                                        </label>
                                        <div class="chbxwrp">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="ui_isemail_yes" name="isemail" value="1" class="custom-control-input">
                                                <label class="custom-control-label" for="ui_isemail_yes">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="ui_isemail_No" name="isemail" value="0" checked="checked" class="custom-control-input">
                                                <label class="custom-control-label" for="ui_isemail_No">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="frmlbltxt" for="">
                                            IsAuto Whatsapp<a href="javascript:void();">
                                                <i class="icon ion-ios-help-outline" data-toggle="popover" data-trigger="hover" title="" data-content="Select option for the visibility of click to call form"></i>
                                            </a>
                                        </label>
                                        <div class="chbxwrp">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="ui_isautowhatsappyes" name="IsAutoWhatsApp" value="1" class="custom-control-input">
                                                <label class="custom-control-label" for="ui_isautowhatsappyes">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="ui_isautowhatsappno" name="IsAutoWhatsApp" value="0" checked="checked" class="custom-control-input">
                                                <label class="custom-control-label" for="ui_isautowhatsappno">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-sm-6">
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Block Email Domain</label>
                        <textarea name="" class="form-control" id="ui_txtblockemailids" cols="3" rows="3"></textarea>
                    </div>
                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="btnSaveCampaignDetails">Save Form</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="popupcontainer hideDiv" id="dvPreview">
    <div class="popupItem m-p-wid-300 position-relative w-650">
        <div class="popuptitle">
            <h6>PREVIEW</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div id="embdfrmspreview" class="popupbodycont h-100">
                <div class="df-ac-jcenter h-100">
                    <div class="formpreviewgrid">
                        <iframe class="addpreviewhtml" frameborder="0" id="Plumb5FromCampaign">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popupcontainer hideDiv" id="dvFormScriptDetails">
    <div class="popupItem w-450 m-p-wid-300 position-relative popup-tbl-trans">
        <div class="popuptitle">
            <h6>Form Script</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div id="embdfrmInpagetagwrp" class="popupbodycont pad-20">
                <div class="position-relative">
                    <textarea name="" id="copydivtag" class="form-control" cols="10" rows="5">
                    </textarea>
                    <div class="divtagcopybtn" title="Copy above Div Tag">
                        <i class="icon ion-ios-copy-outline"></i>
                    </div>
                </div>
                <div class="copiedtxtwrp"></div>
            </div>

            @*<div id="embdfrmssettings" class="popupbodycont">
                    <div class="frmdetailswrp">
                        <div class="campdetailswrp">
                            <h6 class="campdethead">Div Script :</h6>
                            <p class="embedcampname" id="dvAppendScript"></p>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>

<!--Popup window right-->
<!--Modal-->
<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<!--Delete Confirm Modal For Mutli Conditional Forms-->

<div class="modal fade bd-example-modal-sm" id="duplicateconfirmation" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Duplicate this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to duplicate this Form?</p>
            </div>
            <div class="modal-footer">
                <button id="confirmduplicate" type="button" class="btn btn-danger" data-dismiss="modal">Confirm</button>
                <button id="cancelconfirmduplicate" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade bd-example-modal-sm" id="deleteMutiConditonalforms" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirmForMultiCondForm" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<script src="~/js/RulesToolTip.js"></script>
<script src="~/js/jquery-sortable-min.js"></script>
<script src="~/js/CaptureForm/ManageEmbeddedForms.js"></script>
