@{
    ViewBag.Title = "Plumb5 :: Manage Leads";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.css" rel="stylesheet" />
<section class="sheet">
    <div class="pageheader">
        <div class="contentHead">
            <h6 class="pagetitle">Manage Leads</h6>
            <small id="ui_small_LmsGroupName" class="totalCountTitle hideDiv"></small>
        </div>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Lead Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Leads</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link active" href="javascript:void(0);">Leads</a>
            </div>
            <div class="tabItem"><a class="tap-nav-link" href="/Prospect/LeadSource">Sources</a></div>
        </div>
        <div class="iconsWrap">
            <div class="searchCampWrap position-relative mr-3 w-200">
                <input class="form-control form-control-sm contsearchfocus" type="text" name="" id="txt_searchemailphone" placeholder="Search by EmailId" propertyname="EmailId" displayname="Email Id">
                <i class="icon ion-android-search serchicon" id="SearchByEmailOrPhone"></i>
            </div>
            <div class="filterWrap dropdown">
                <i class="icon ion-android-funnel" id="filterbycontacts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Filter By"></i>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterbycontacts" id="customDropdownMenu">
                    <a class="dropdown-item searchColumn" propertyname="EmailId" displayname="Email Id">Email Id</a>
                    <a class="dropdown-item searchColumn" propertyname="PhoneNumber" displayname="Phone Number">Phone Number</a>
                    @*<a class="dropdown-item" href="javascript:filterBy('Email')">Email Id</a>
                    <a class="dropdown-item" href="javascript:filterBy('Phone')">Phone Number</a>
                    <a class="dropdown-item" href="javascript:filterBy('Name')">Name</a>
                    <a class="dropdown-item" href="javascript: ShowMasterFilterPopUp();">Master Filter</a>*@
                </div>
            </div>
            @{
                Html.RenderPartial("_Export");
            }
            <i class="icon ion-ios-refresh-empty iconBrd-lft" title="Refresh" id="btnClearValues"></i>
        </div>
    </div>
    <div class="subcustdatewrp mr-tp-15">
        @{
            Html.RenderPartial("_PageHeadingWithDate");
        }
    </div>
    <div class="boxactionWrap border-top">
        <div class="actionWrap">
            <div class="actionBtnWrap">
                <div class="dropdown">
                    <button class="btn-action dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                        <a id="addremovegroupslist" class="dropdown-item ContributePermission GroupManage" href="javascript:void(0)" data-toggle="modal" onclick="LeadsUtil.ShowAddOrRemoveGroupPopUp();">
                            Add remove group
                        </a>
                        <a data-lmspopuswind="Add Follow-up" data-lmspopupswindcont="lmsaddfollowup" class="dropdown-item ContributePermission" href="javascript:void(0)" onclick="LeadsUtil.ShowMultipleAddFollowPopUp();">
                            Add Follow-up
                        </a>
                        <a data-lmspopuswind="Assign Lead" data-lmspopupswindcont="lmsassignlead" class="dropdown-item ContributePermission" href="javascript:void(0)" onclick="LeadsUtil.ShowAssignMultipleLeadPopUp();">
                            Assign Lead
                        </a>
                        <a data-lmspopuswind="Assign Stage" data-lmspopupswindcont="lmsassignstage" class="dropdown-item ContributePermission" href="javascript:void(0)" onclick="LeadsUtil.ShowAssignMultipleStagePopUp();">
                            Assign Stage
                        </a>
                        <a data-lmspopuswind="Assign Label" data-lmspopupswindcont="Assign Label" class="dropdown-item" href="javascript:void(0)" onclick="LeadsUtil.ShowAssignMultipleLabelPopup();">
                            Assign Label
                        </a>
                        <a data-lmspopuswind="Manage Custom Fields" data-lmspopupswindcont="Manage Custom Fields" class="dropdown-item ContributePermission AddCustomeFields" href="javascript:void(0)" onclick="ShowManageCustomFields();">
                            Manage Custom Fields
                        </a>

                        @*<a data-lmspopuswind="Assign Source" data-lmspopupswindcont="lmsassignsources" class="dropdown-item ContributePermission" href="javascript:void(0)" onclick="ShowLmsSourcesPopUp();">
                        Assign Source
                        </a>*@
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item lmsuserdelbulkpopus FullControlPermission" href="javascript:void(0)">Delete</a>
                    </div>
                </div>
            </div>
            <div class="createBtnWrap">
                <button id="ui_btnShowCreateLead" type="button" class="btn btn-primary btn-sm ContributePermission AddLead">Create Lead</button>
            </div>
        </div>
        <div class="lmsstagewrpdrpdwn">
            <div class="lmsallsource mr-2">
                <select name="" class="form-control form-control-sm" id="lmsallsources">
                    <option value="select">Quick Filter By</option>
                    <option value="Sources">Sources</option>
                    <option value="Stages">Stages</option>
                    <option value="Handled">Handled By</option>
                    <option value="Label">Label</option>
                </select>
            </div>
            <div class="mastfiltwrp mr-2">
                <div class="masterfiltwrp d-flex btn btn-second btn-sm">
                    <div class="lmspopuslftwind" data-lmspopuswind="Master Filter" data-lmspopupswindcont="lmsmastfilter" id="btnMasterFilter">Master Filter</div>
                    <div class="position-relative"><i id="ui_i_filterOpen" class="fa fa-filter ml-2"></i><i id="ui_i_filterClose" class="icon ion-ios-close clsabste hideDiv"></i></div>
                </div>
            </div>
            <div class="ordbydropdown">
                <button class="btn btn-sm" id="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Order By <i class="fa fa-list-ol"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(133px, 150px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a id="a_createddate" class="dropdown-item lmsorderbymenu" data-ordername="Created Date" href="javascript:void(0);">Created Date</a>
                    <a id="a_updateddate" class="dropdown-item lmsorderbymenu" data-ordername="Updated Date" href="javascript:void(0);">Updated Date</a>
                    <a id="a_scoreupdateddate" class="dropdown-item lmsorderbymenu" data-ordername="Stage Updated Date" href="javascript:void(0);">Stage Updated Date</a>
                    <a id="a_reminderdate" class="dropdown-item lmsorderbymenu" data-ordername="Reminder Date" href="javascript:void(0);">Reminder Date</a>
                    <a id="a_inbox" class="dropdown-item lmsorderbymenu" data-ordername="Inbox" href="javascript:void(0);">Inbox</a>
                    <a id="a_plannedfollowupdate" class="dropdown-item lmsorderbymenu" data-ordername="Planned Follow-Up Date" href="javascript:void(0);">Planned Follow-Up Date</a>
                    <a id="a_missedfollowupdate" class="dropdown-item lmsorderbymenu" data-ordername="Missed Follow-Up Date" href="javascript:void(0);">Missed Follow-Up Date</a>
                    <a id="a_completedfollowupdate" class="dropdown-item lmsorderbymenu" data-ordername="Completed Follow-Up Date" href="javascript:void(0);">Completed Follow-Up Date</a>
                    <a id="a_nonfollowupdate" class="dropdown-item lmsorderbymenu" data-ordername="Non Follow-Up Date" href="javascript:void(0);">Non Follow-Up Date</a>
                    <a id="a_nonreminderdate" class="dropdown-item lmsorderbymenu" data-ordername="Non Reminder Date" href="javascript:void(0);">Non Reminder Date</a>
                    <a id="a_closuredate" class="dropdown-item lmsorderbymenu" data-ordername="Closure Date" href="javascript:void(0);">Closure Date</a>
                </div>
            </div>
        </div>
    </div>
    <div class="subdivWrap lmsfilthite border-top-0 position-relative">
        <div class="selectedItemWrap justify-content-between">
            <div class="checkBxCount">
                <span class="checkedCount">0</span> Contacts selected
            </div>
            <div class="lmsquickfilterwrp">
                <div class="lmssourcefilterwrp hideDiv">
                    <label for="ui_ddlSourceSort" class="frmlbltxt w-100 mb-0">Source By</label>
                    <div class="lmsdrpdwnsel">
                        <select class="form-control selectpicker" data-live-search="true" multiple id="ui_ddlSourceSort"></select>
                        <i class="fa fa-close ml-2 clselmsfilt" id="btnCloseSourceSort"></i>
                    </div>
                </div>
                <div class="lmsstagefilterwrp mr-30 hideDiv">
                    <label for="ui_dllStageSort" class="frmlbltxt w-100 mb-0">Stage</label>
                    <div class="lmsdrpdwnsel">
                        <select class="form-control select2drpdwnbrd" id="ui_dllStageSort">
                            <option value="-1">Select Stage</option>
                        </select>
                        <i class="fa fa-close ml-2 clselmsfilt" id="btnCloseStageSort"></i>
                    </div>
                </div>
                <div class="lmshandledfilterwrp mr-30 hideDiv">
                    <label for="ui_dllHandledByUser" class="frmlbltxt w-100 mb-0">Handled By</label>
                    <div class="lmsdrpdwnsel">
                        <select class="form-control select2drpdwnbrd" id="ui_dllHandledByUser">
                            <option value="0">Select Handled By</option>
                        </select>
                        <i class="fa fa-close ml-2 clselmsfilt" id="btnCloseHandledByUser"></i>
                    </div>
                </div>
                <div class="lmslabelfilterwrp hideDiv">
                    <label for="ui_dllLeadLabel" class="frmlbltxt w-100 mb-0">Label</label>
                    <div class="lmsdrpdwnsel">
                        <select class="form-control select2drpdwnbrd" id="ui_dllLeadLabel">
                            <option value="select">Select Label</option>
                            <option value="Hot">Hot</option>
                            <option value="Warm">Warm</option>
                            <option value="Cold">Cold</option>
                            <option value="NULL">Not Assigned</option>
                        </select>
                        <i class="fa fa-close ml-2 clselmsfilt" id="btnCloseFilterLabel"></i>
                    </div>
                </div>
                <div class="filtwrpbar mr-2 hideDiv">
                    <div class="filtbywrp"><span class="filttypetext"></span></div>
                    <i class="icon ion-android-close"></i>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("_AddCustomField");
    }
    @{
        Html.RenderPartial("_LeadsReportDetails");
    }
</section>

<div class="modal fade bd-example-modal-sm" id="deletebulklmsleads" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteBulkLeads" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button id="cancelBulkLeads" type="button" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="addremovegroup" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add and Remove Group</h5>
                <button type="button" class="close" aria-label="Close" id="btnCloseAddRemovegrp">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="groupoperat">
                    <select id="addgroupoperation" class="form-control select2" data-placeholder="Choose Group" multiple>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="addtogroup" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" id="btnCancelAddRemovegrp">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Prospect/Leads.js"></script>
<script src="~/js/bootstrap-select.min.js"></script>
