@{
    ViewBag.Title = "SmsAlertNotifications";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Alerts & Notifications</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">SMS</a></li>
            <li class="breadcrumb-item"><a href="#">Reports</a></li>
            <li class="breadcrumb-item active" aria-current="page">Alerts & Notifications</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap">
            <div class="showDateWrap brd-bttm-none mb-0">
                @{
                    Html.RenderPartial("_PageHeadingWithDate");
                }
            </div>
            <div class="searchWrap">
                <div class="searchInput w-250">
                    <input class="form-control form-control-sm contsearchfocus" type="text" placeholder="Search by to phonenumber" id="ui_txt_Search">
                    <div id="ui_div_SearchIcon" class="searchIcon">
                        <i class="icon ion-android-search"></i>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Export");
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white border-top-0">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table class="table" id="ui_tableReport">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">Preview</th>
                                    <th scope="col" class="helpIcon m-p-w-190 td-wid-40">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Template Name<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-160 td-wid-20" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Sent Date<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-190 td-wid-20" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Phone Number<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-190 td-wid-20" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Content Type<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Paging");
                }
            </div>
        </div>
    </div>
</section>
<script src="~/js/Sms/SmsIndividualResponse.js"></script>