@{
    ViewBag.Title = "DesignTemplateWithP5Editor";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<link href="~/Content/grapesjs@0.21.1/dist/css/grapes.min.css" rel="stylesheet" />
<script src="~/Content/grapesjs@0.21.1/dist/grapes.min.js"></script>
<script src="~/Content/grapesjs-plugin-export@1.0.11/dist/index.js"></script>
<link href="~/Content/css/p5emaileditor.css" rel="stylesheet" />


<script type="text/javascript">
    var BeeEditorAuthUrl = '@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["BEEEDITORAUTHURL"])';
    var BeeEditorClientId = '@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["BEEEDITORCLIENTID"])';
    var BeeEditorClientSecret = '@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["BEEEDITORCLIENTSECRET"])';
    var ClientServerName = '@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["CLIENTSERVERNAME"])';
</script>
<div class="pageheader">
    <div class="contentHead">
        <h6 class="pagetitle">Template Editor</h6>
        <small class="totalCountTitle">Template Name: <span id="ui_span_TemplateName"></span></small>
    </div>
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a href="javasctipt:void(0);">Mail</a></li>
        <li class="breadcrumb-item"><a href="javasctipt:void(0);">Templates</a></li>
        <li class="breadcrumb-item active" aria-current="page">Template Editor</li>
    </ol>
</div>
<div class="backwrp">
    <a href="/Mail/MailTemplate"><i class="icon ion-ios-arrow-left pr-2"></i>Back</a>
</div>

<div class="panel__top">
    <div class="panel__basic-actions" style="padding-left: 12px; padding-top: 8px;"></div>
    <div class="panel__devices"></div>
</div>

<div class="editor-row" style="background-color: #fff; padding: 10px 10px 10px 0px;">
    <div class="editor-canvas">
        <div id="gjs"></div>
    </div>

    <div class="panel__right">
        <div class="panel__switcher"></div>
        <!--<div class="layers-container"></div>-->
        <!--<div class="traits-container"></div>-->
        <div class="blocks-container"></div>
        <div class="styles-container" style="display:none;"></div>
        <div class="rows-container" style="display:none;"></div>
        <div class="gjs-sm-property gjs-sm-color gjs-sm-property__border-color" id="dvImgTitle" style="display:none;">
            <div class="gjs-sm-label" data-sm-label="">
                <span class="gjs-sm-icon " style="font-size:14px;">
                    Image Title
                </span>
            </div>
            <div class="gjs-fields" data-sm-fields="">
                <div class="gjs-field gjs-field-color">
                    <div class="gjs-input-holder"><input type="text" id="txtImageName" placeholder="Get your offer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dvTemplate" style="display:none;"></div>
<script src="~/js/P5TemplateEditorConfig.js"></script>
<script src="~/js/UserCustomEventsAttributes.js"></script>
<script src="~/js/Mail/DesignTemplateWithP5Editor.js"></script>