@{
    ViewBag.Title = "Plumb5 :: Custom Data";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Custom Data</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Advanced</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Custom Events</a></li>
            <li class="breadcrumb-item active" aria-current="page">Custom Data</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link" href="/CustomEvents/CustomEventsOverview">
                    <i class="fa fa-id-badge font-16 pr-2"></i>Custom Events
                </a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link active" href="javascript:void(0);">
                    <i class="fa fa-upload font-16 pr-2"></i>Upload Custom Data
                </a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="/CustomEvents/TrackCustomData">
                    <i class="fa fa-database font-16 pr-2"></i>Track Custom Data
                </a>
            </div>
        </div>
        <div class="iconsWrap">
            <div class="searchCampWrap position-relative mr-3">
                <input class="form-control contsearchfocus" type="text" name="" id="ui_txt_DataSearch" placeholder="Search">
                <i class="icon ion-android-search serchicon"></i>
            </div>
            @{ Html.RenderPartial("_Export"); }
        </div>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="showingWrap">
        </div>
        <div class="createBtnWrap mr-3">
            <a href="/CustomEvents/EventImport" class="btn btn-primary btn-sm">Upload Events Data</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblReportData" class="table tbl-td-ta-lft">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-30 m-p-w-250" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>File Name
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon td-wid-15 m-p-w-150" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>Status
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon td-wid-10 m-p-w-170" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>Total
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon td-wid-10 m-p-w-170" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>Success
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon td-wid-15 m-p-w-150" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>Rejected
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-170" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>Updated Date
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData"></tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
            </div>
        </div>
    </div>
</section>

<script src="~/js/CustomEvents/CustomData.js"></script>

<div class="modal fade bd-example-modal-sm" id="downloadRejectfile" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Rejected File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">File Format</label>
                        <select class="form-control" id="ui_ddl_RejectExportFileType">
                            <option value="csv">.CSV &nbsp;(Text Tab-separated '|' values)</option>
                            <option value="xls">.XLS &nbsp;&nbsp;(Microsoft Excel 97-2003)</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ui_btnRejectDataExport">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>