@{
    ViewBag.Title = "Plumb5 :: My Reports";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.css" rel="stylesheet" />
<section class="sheet">
    <div class="pageheader">
        <div class="contentHead">
            <h6 class="pagetitle">My Reports</h6>
            <small class="totalCountTitle">Saved Reports: <span id="ui_span_SavedReports"></span></small>
        </div>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Lead Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reports</li>
        </ol>
    </div>
    <div class="tabItemWrap">
        <div class="tabItem">
            <a class="tap-nav-link active" href="/Prospect/Reports/MyReports">All Reports</a>
        </div>
        <div class="tabItem">
            <a class="tap-nav-link" href="/Prospect/SourceReports">Source Reports</a>
        </div>
        <div class="tabItem">
            <a class="tap-nav-link" href="/Prospect/StageReports">Stage Reports</a>
        </div>
        <div class="tabItem">
            <a class="tap-nav-link" href="/Prospect/LmsFollowUp">Follow Up Reports</a>
        </div>
        <div class="tabItem">
            <a class="tap-nav-link" href="/Prospect/LmsCampaignReport">Campaign Reports</a>
        </div>
        <div class="tabItem">
            <a class="tap-nav-link" href="/Prospect/PublisherReport">Publisher Reports</a>
        </div>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="createBtnWrap">
            <button data-lmsnwsvetb="Saved Reports" type="button"
                    class="btn btn-action mr-2 lmsnwsavrepts" id="btnSavedReport">
                <i class="fa fa-floppy-o font-14 mr-1"></i>Saved Reports
            </button>
            <button data-lmsnwsvetb="Add New Report" type="button"
                    class="btn btn-primary btn-sm lmsnwsavrepts ContributePermission" id="btnAddnewReport">
                <i class="icon ion-plus-round font-12 mr-1"></i>Add New Report
            </button>
        </div>
        @{Html.RenderPartial("_Export"); }
    </div>
    @{ Html.RenderPartial("_LeadsReportDetails"); }
</section>

<!--Delete Confirm Modal-->
<div class="modal fade" id="deletelmsuser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirmreport" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Delete
                </button>
                <button id="cancelRowConfirmreport" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->

<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src="~/js/Prospect/MyReports.js"></script>
