@{
    ViewBag.Title = "Plumb5 :: Dashboard Browser Notifications";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Dashboard</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Web</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Browser Notifications</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap">
            <div class="showDateWrap brd-bttm-none mb-0">
                @{ Html.RenderPartial("_PageHeadingWithDate"); }
            </div>
        </div>
    </div>
    <div class="dashbnotiwrp mt-3">
        <div class="row dashwebpush">
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="row">
                    <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 m-mb-3">
                        <div class="box-white h-49">
                            <div class="totalsubswrp h-100">
                                <div class="totaltxticonwrp">
                                    <div class="totalnumb">
                                        <h1 class="mb-0" id="ui_h1TotalSubscribers">0</h1>
                                        <p>Total Subscribers</p>
                                    </div>
                                    <div class="peopleicon">
                                        <i class="icon ion-ios-people-outline"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-white h-49 mr-t-7 m-mb-3">
                            <div class="websubcribwrp border-bottom h-50">
                                <div class="subcribItem">
                                    <h4 id="ui_h1TotalWebPushSubscribers">0</h4>
                                    <p>Web-Push Subscribes</p>
                                </div>
                                <div class="subcrib">
                                    <i class="icon ion-ios-personadd-outline"></i>
                                </div>
                            </div>
                            <div class="websubcribwrp h-50">
                                <div class="subcribItem">
                                    <h4 id="ui_h1TotalWebPushUnSubscribers">0</h4>
                                    <p>Web-Push Un-Subscribes</p>
                                </div>
                                <div class="unsubicon">
                                    <i class="icon ion-ios-person-outline"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 m-mb-3">
                        <div class="box-white m-mb-3">
                            <div class="engageWrap">
                                <div class="card card-sales border-0">
                                    <h6 class="slim-card-title tx-primary">Engagement</h6>
                                    <div class="row">
                                        <div class="col">
                                            <label class="tx-12">Viewed</label>
                                            <div class="bnoticountsWrap">
                                                <div class="countNumb" id="ui_divEngagementViewed">0</div>
                                                <div class="countper" id="ui_IconarrowViewed"><i class="icon ion-android-arrow-dropdown"></i> <span>0%</span></div>
                                            </div>
                                        </div><!-- col -->
                                        <div class="col">
                                            <label class="tx-12">Clicked</label>
                                            <div class="bnoticountsWrap">
                                                <div class="countNumb" id="ui_divEngagementClicked">0</div>
                                                <div class="countper" id="ui_IconarrowClicked"><i class="icon ion-android-arrow-dropdown"></i> <span>0%</span></div>
                                            </div>
                                        </div><!-- col -->
                                    </div><!-- row -->

                                    <div class="progress mg-b-5" id="ui_divProgressBarClickedRate">
                                    </div>
                                    <p class="tx-12 mg-b-0 mb-0">Click Rate</p>
                                </div>
                            </div>
                        </div>
                        <div class="box-white mt-2 ">
                            <div class="engageWrap">
                                <div class="card card-sales border-0">
                                    <h6 class="slim-card-title tx-success mb-10">Delivery</h6>
                                    <div class="row">
                                        <div class="col">
                                            <label class="tx-12">Sent</label>
                                            <div class="bnoticountsWrap">
                                                <div class="countNumb" id="ui_divEngagementSent">0</div>
                                                <div class="countper" id="ui_IconarrowSent"><i class="icon ion-android-arrow-dropdown"></i> <span>0%</span></div>
                                            </div>
                                        </div><!-- col -->
                                        <div class="col">
                                            <label class="tx-12">Closed</label>
                                            <div class="bnoticountsWrap">
                                                <div class="countNumb" id="ui_divEngagementClosed">0</div>
                                                <div class="countper" id="ui_IconarrowClosed"><i class="icon ion-android-arrow-dropdown"></i> <span>0%</span></div>
                                            </div>
                                        </div><!-- col -->
                                    </div><!-- row -->

                                    <div class="progress mg-b-5" id="ui_divProgressBarClosedRate">
                                    </div>
                                    <p class="tx-12 mg-b-0 mb-0">Click Rate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 m-mb-3">
                <div class="box-white h-100">
                    <h6 class="box-title">Platform Distribution for Web-Push</h6>
                    <div class="charteeWrap position-relative h-250">
                        <canvas id="platdistrib"></canvas>
                        <div class="no-data hideDiv" id="ui_divPlatformDistributionNoData">There is no data to view</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mchrtwrap mt-4">
            <div class="box-white">
                <h6 class="box-title">Notifications</h6>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="charteeWrap position-relative h-400">
                            <canvas id="notifdetails"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/WebPush/DashBoard.js"></script>