
@{
    ViewBag.Title = "Plumb5 :: Mobile Visitor";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}


<section class="sheet">
    <div class="pageheader">
        <h6 class="title">Mobile Visitors</h6>
        @*<ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Web</a></li>
                <li class="breadcrumb-item"><a href="#">Analytics Overview</a></li>
                <li class="breadcrumb-item active" aria-current="page">Visitors</li>
            </ol>*@
    </div>
    <div class="backwrp">
        <a href="javascript:void(0);" id="ui_GoBack"><i class="icon ion-ios-arrow-left pr-2"></i>Back</a>
    </div>
    <div class="topTabWrap brd-TRL">
        @{ Html.RenderPartial("_PageHeadingWithDate"); }
        <div class="iconsWrap-docu">

            @*<i class="icon ion-ios-download-outline" data-toggle="modal" data-target=".bd-example-modal-sm"></i><i class="icon ion-ios-printer-outline"></i><i class="icon ion-ios-refresh-empty iconBrd-lft"></i>*@
            @{Html.RenderPartial("_Export"); }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table class="table" id="ui_tblReportData">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-150">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Visitor <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-160" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>City <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-140" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Sessions <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-140" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Recency  <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-140" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Average Time <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
            </div>
        </div>
    </div>

</section>
@{ Html.RenderPartial("_ContactUCP"); }
<script src="~/js/MobileAnalytics/Mobile_UniqueVisits.js"></script>
