@{
    ViewBag.Title = "Plumb5 :: Mobile Sessions";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Mobile Session</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Mobile</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Analytics Overview</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Mobile Sessions</li>
        </ol>
    </div>
    <div class="topTabWrap brd-TRL">
        @{ Html.RenderPartial("_PageHeadingWithDate"); }
        @{ Html.RenderPartial("_Export"); }
    </div>
    <div class="box-white">
        <div class="charteeWrap position-relative h-350">
            <canvas id="ui_canvas_SessionsData"></canvas>
        </div>
    </div>
</section>
<section class="sheet">
    <div id="ui_divReportSummary" class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white mt-4">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblReportData" class="table first-row">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-100">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Day
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Mobile_Session_Day">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-120" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Sessions
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Mobile_Session_Sessions">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-150" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Unique Visitors
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Mobile_Session_UniqueVisitors">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-120" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Page Views
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Mobile_Session_PageViews">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-140" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        New Visitors
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Mobile_Session_NewVisitors">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-120" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Avg Time
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Mobile_Session_AvgTime">&nbsp;</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/MobileAnalytics/Mobile_Session.js"></script>