@{
    ViewBag.Title = "Plumb5 :: Create Email Template";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet" id="ui_sectionTemplateDesign">
    <div class="pageheader">
        <h6 class="pagetitle">Create Email Template</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Mail</a></li>
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Templates</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Template</li>
        </ol>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="showingWrap">
            <h6 class="grid-title">Select Template</h6>
        </div>
        <div class="upbtnwrap mr-3">
            <button type="button" class="btn btn-primary uploadtemppopup" id="ui_btnUploadTemplate">
                <i class="icon ion-ios-cloud-upload-outline pr-2"></i>Upload Template
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="emailtempwrap mt-4 pl-3 pr-3 mb-3" id="ui_divTempBasic">
                </div>
                @*<div class="prememailtempWrap mt-5 pl-3 pr-3 mb-3">
                <h6 class="box-title text-center">Premium email templates</h6>
                <p class="text-center head-descrp">Create professional marketing emails to send to your contacts without the need for a designer.</p>
                <div class="premtempitem mt-5" id="ui_divTempPremium">
                <div class="gallrow mt-3">
                <div class="card-group">
                </div>
                </div>
                </div>
                </div>*@
            </div>
        </div>
    </div>
</section>

<section class="sheet hideDiv" id="ui_sectionTemplatePreview">
    <div class="pageheader">
        <h6 class="pagetitle">Demo Template <span id="ui_SampleTemplate"></span></h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Mail</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Templates</a></li>
            <li class="breadcrumb-item active" aria-current="page">Demo Template</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="campaingmaincontainer">
            <div class="container-page-head h-45 pl-0 pr-0">
                <div class="df-ac-sbet pl-3 pr-3 h-100">
                    <div class="backwrap">
                        <button type="button" class="btn bg-trans" id="ui_btnPreviewBack">
                            <i class="icon ion-ios-arrow-back mr-1"></i>Back
                        </button>
                    </div>
                    <div class="usebtnwrp">
                        <button type="button" class="btn btn-primary btn-sm usetemppopup" id="ui_btnPreviewUseThisTemplate" DataTemplateOrder="" DataJsonPath="">
                            Use this template
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-page-body">
                <div class="campaignPrevContainer mt-2">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-md-9 col-lg-9 col-xl-9 order-sm-1 order-md-1">
                            <div class="prevtabcontent">
                                <div class="prevtabcontitem">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 m-p-h m-wid-100">
                                            <div class="mailDeskWrap">
                                                <div class="windowbar"></div>
                                                <div class="mailaddressWrap">
                                                    <p>To: <Span></Span></p>
                                                    <p>From: <Span>Blore Production (bloreproduction@gmai.com)</Span></p>
                                                    <p>Subject: <Span>Blore Production Introduce</Span></p>
                                                </div>
                                                <div class="mailbodyWrap">
                                                    <iframe id="ui_iframeWebTemplate" src="" frameborder="0"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 m-p-h-tab">
                                            <div class="smartphone">
                                                <div class="content">
                                                    <iframe id="ui_iframeMobileTemplate" src="" style="width:100%;border:none;height:100%"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="ui_divUploadTemplate" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Upload Template</h6>
            <i id="ui_iconCloseUploadTemplatePopup" class="icon ion-close"></i>
        </div>
        <div class="progressbarwrap hideDiv">
            <div class="progress" style="height: 2px;">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div class="popcontWrap">
                    <div class="form-group">
                        <label class="frmlbltxt">Campaign Name</label>
                        <div class="emailtempdropdown">
                            <select class="form-control addCampName" data-placeholder="Select Campaign" id="ui_ddlUploadTemplateCampaign">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt">Template Name</label>
                        <input type="text" class="form-control" id="ui_txtUploadTemplateName" maxlength="100" />
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt">Template Description</label>
                        <textarea id="ui_txtareaUploadTemplateDesc" class="form-control" cols="30" rows="2" maxlength="500"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt">Subject Line</label>
                        <input name="" id="ui_txtUploadTSubjectLine" class="form-control" cols="30" rows="2" maxlength="250" />
                    </div>
                    <div class="fileuploadwrap mt-1">
                        <div class="form-group border">
                            <input class="btn bg-trans pr-4" type="file" multiple="" name="files[]" id="ui_files" accept=".jpeg,.jpg,.gif,.png,.bmp,.html,.htm,.JPEG,.JPG,.GIF,.PNG,.BMP,.HTML,.HTM" />
                        </div>
                    </div>
                    <div class="uptempnotewrap mt-4">
                        <p class="text-color-error mb-0">Note:</p>
                        <p class="font-12 mt-0 mb-1">Please select your HTML file &amp; all the related images in a single upload.</p>
                        <p class="font-12 mt-0">Please make sure all the images have either an absolute path to the image <span class="text-color-blue">(for e.g. http://www.example.com/image.jpg)</span> or relative path to an attached image folder <span class="text-color-blue">(for e.g. images/Filename.jpg)</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2 uploadtempbtn" type="button" id="ui_btnCreateTemplate">Upload</button>
                <button class="btn btn-secondary clsepopup" type="button" id="ui_btnCloseUploadTemplatePopup">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="ui_divDesignTemplate" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Enter Template Details</h6>
            <i id="ui_iconCloseDesignTemplatePopup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div class="popcontWrap">
                    <div class="form-group">
                        <label class="frmlbltxt">Campaign Name</label>
                        <div class="emailtempdropdown">
                            <select class="form-control addCampName" data-placeholder="Select Campaign" id="ui_ddlDesignTemplateCampaign">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt">Template Name</label>
                        <input type="email" class="form-control" id="ui_txtDesignTemplateName" maxlength="100" />
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt">Template Description</label>
                        <textarea name="" id="ui_txtareaDesignTemplateDesc" class="form-control" cols="30" rows="2" maxlength="500"></textarea>
                    </div>
                    <div class="form-group position-relative">
                        <label class="frmlbltxt">Subject Line</label>
                        <input name="" id="ui_txtSubjectLine" class="form-control" cols="30" rows="2" maxlength="250" />
                        <div class="bwseruserartribwrp dropdown" style="top: 32px; right: 10px;">
                            <div class="drpicon" data-toggle="dropdown" title="User Attributes" aria-haspopup="true" aria-expanded="false">
                                <i class="icon ion-android-person"></i>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <div class="dropdwntabwrap">
                                    <div class="dropdwntabitem">
                                        <div id="mailtemplatesubuserattr" dataclass="#mailtemplatesubuserattr,#mailtemplatesubcsteventattr" data-tabcontid="userattrmailtemplatesub" class="dropdwntabs active">User Attribute</div>
                                        <div id="mailtemplatesubcsteventattr" dataclass="#mailtemplatesubuserattr,#mailtemplatesubcsteventattr" data-tabcontid="csteventmailtemplatesub" class="dropdwntabs">Custom Events</div>
                                    </div>
                                    <div class="dropdwntabcontwrap">
                                        <div id="userattrmailtemplatesub" class="userattribwrap">
                                            <h6 class="dropdown-title">User Attribute</h6>

                                            <select id="draganddropcutomre" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                <option label="Select">Select</option>
                                            </select>
                                        </div>

                                        <div id="csteventmailtemplatesub" class="userattribwrap hideDiv">
                                            <h6 class="dropdown-title">Custom Events</h6>
                                            <select id="eventnamemessage" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                <option label="Events Items">Select</option>
                                            </select>
                                            <div class="mt-3">
                                                <select id="eventitemsmessage" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                    <option label="Events Items">Select Event Items</option>

                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="ui_btnDesignTemplateNext" DataTemplateOrder="" DataJsonPath="">Next</button>
                <button class="btn btn-secondary clsepopup" type="button" id="ui_btnCloseDesignTemplatePopup">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm show" id="tempexistmod" tabindex="-1" role="dialog" wfd-invisible="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Template already exists</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A template with the same name already exists in the archive. Do you want to restore it ?</p>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" id="archiverestore" type="button" class="btn btn-primary">Yes</a>
                <a href="javascript:void(0)" id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/Content/select2/css/select2.min.css" />
<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src="~/js/UserCustomEventsAttributes.js"></script>
<script src="~/js/Mail/TemplateDesign.js"></script>