<div class="popupcontainer hideDiv" id="dv_LmsNotesNew" style="margin-top: 90px; background: transparent;">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popupbody">
            <div class="popupbodycont">
                <div id="lmsaddnotes" class="lmspopupswindwrp pad-20">
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Add Note</label>
                        <textarea name="" class="form-control" id="txtRemarksLms" cols="30" rows="5"></textarea>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="ui_NotesAttachmentfilesLms" aria-describedby="inputGroupFileAddon01">
                        <label id="ui_lbl_NotesAttachmentLms" class="custom-file-label" for="ui_NotesAttachmentfilesLms">Choose file</label>
                    </div>
                    <p class="pt-2 text-color-queued font-12">Accepted Files: *.jpeg, *.jpg, *.gif, *.png, *.pdf, *.xls. *.xlsx, *.ppt, *.pptx,</p>
                    <div class="lmsviewnoteswrp mt-4" id="ui_dvLastNotes">
                        <div class="tableWrapper bg-white">
                            <div class="table-responsive min-h-300">
                                <table class="table mb-0 border" id="ui_tblReportDataLms">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="helpIcon m-p-w-190 td-wid-70">
                                                Last Notes
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody id="ui_tbodyNotesLms">
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2 btnSaveNotesDetails" type="button" id="btnSaveNotesDetailsLms">Submit</button>
                <button class="btn btn-secondary clsepopup" type="button" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>