<div class="popupcontainer hideDiv" id="dv_addcustfield">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>Manage Custom Fields</h6>
                <small class="popupsubtitle"></small>
            </div>
            <i id="close-custfieldpopup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div class="lmspopupswindwrp">
                    <div>
                        <div class="lmsaddcustfildcont">
                            <div class="addcustomfieldWrap">
                                @*<div class="customTopband">
                                        <h6>Add Custom Fields</h6>
                                        <i class="icon ion-close addcustomclose"></i>
                                    </div>*@
                                <div class="custFormWrap">
                                    <form action="">
                                        <div class="form-group">
                                            <label class="frmlbltxt" for="">Field Name</label>
                                            <input type="text" class="form-control" id="ui_txtFieldName"
                                                   placeholder="Field Name">
                                        </div>
                                        <div class="form-group">
                                            <label class="frmlbltxt" for="">Field Type</label>
                                            <select class="form-control" name="" id="ui_ddlFieldType">
                                                <option value="1">Text Box</option>
                                                <option value="2">Multiline</option>
                                                <option value="3">DropDown</option>
                                                <option value="4">Radio Button</option>
                                                <option value="5">Checkbox</option>
                                                <option value="6">Date</option>
                                            </select>
                                        </div>
                                        <div class="form-group hideDiv optionField">
                                            <label class="frmlbltxt" for="">Field Options</label>
                                            <textarea class="form-control" id="ui_txtFieldOptions" placeholder="Separated by comma"></textarea>
                                        </div>
                                        <div class="form-check-custom">
                                            <div class="checkboxtitle">Mandatory</div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="ui_radMandatory"
                                                       name="mandatory" >
                                                <label class="custom-control-label" for="ui_radMandatory">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" class="custom-control-input" id="ui_radNotMandatory"
                                                       name="mandatory"  checked>
                                                <label class="custom-control-label" for="ui_radNotMandatory">No</label>
                                            </div>
                                        </div>
                                        <div class="btnwrap">
                                            <button type="button" class="btn btn-primary" id="ui_btnAddField">Add Field</button>
                                            <button id="clearCustomFields" type="button" class="btn btn-secondary">
                                                Clear
                                            </button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="lmscustfieldtbl">
                            <table class="table border" id="ui_tblCustomFieldReportData">
                                <thead>
                                    <tr>
                                        <th class="td-wid-5 m-p-w-170" scope="col">SL.</th>
                                        <th class="td-wid-35 m-p-w-170" scope="col">Field Name</th>
                                        <th class="td-wid-25 m-p-w-140" scope="col">Field Type</th>
                                        <th class="td-wid-20 m-p-w-140" scope="col">Mandatory</th>
                                        <th class="td-wid-10 m-p-w-150" scope="col">Edit</th>
                                        <th class="td-wid-10 m-p-w-150" scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="ui_tbodyCustomFieldReportData">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>   
    </div>
</div>
<!--Delete Confirm Modal-->
<div class="modal" id="deleteCustomfield" tabindex="-1" role="dialog" style="display:none;">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="customfieldclose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteCustomfieldRowConfirm" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Delete
                </button>
                <button id="cancelCustomfieldRowConfirm" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!--Delete Confirm Modal-->
<script src="~/js/ManageContact/AddCustomField.js"></script>
