<div id="tabcontthree" class="setttabcontainer hideDiv">
    <h6 class="box-title text-center m-pt-20">P5APIKEY</h6>
    <div class="profipasswrp">
        <div class="taggextfrmitem hideDiv" id="dvGenerate" style="text-align: center;">
            <button id="ui_btn_GenerateApiKey" type="button" class="btn btn-primary">Generate API Key</button>
        </div>
        <div class="taggextfrmitem hideDiv" id="dvReset">
            <input type="text" name="" placeholder="API Key" class="form-control h-50px font-16" id="ui_txt_ApiKey">
            <button id="ui_btn_ResetApiKey" type="button" class="btn btn-primary taggobtn">Reset</button>
        </div>
        <div class="accountswrp mt-4">
            <div class="accuntshead">Accounts</div>
            <div id="ui_div_AllAccounts" class="accuntsItem"></div>
        </div>
        <p class="font-13 text-color mt-3">
            <b>API URL:</b>
            <span><a href="@Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["P5APIURL"].ToString()" target="_blank">@Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["P5APIURL"].ToString()</a></span>
        </p>
    </div>
</div>
<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="ResetApikey" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Reset this API Key?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Reset this API Key? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button id="ResetApikeyConfirm" type="button" class="btn btn-danger" data-id=0 data-dismiss="modal">Reset</button>
                <button id="CancelResetApikeyConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<script src="~/js/MyProfile/ApiKey.js"></script>