<div class="popupcontainer hideDiv" id="dv_AssignSalesPerson">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>ASSIGN LEAD</h6>
                <small class="popupsubtitle"></small>
            </div>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div id="lmsassignlead" class="lmspopupswindwrp pad-20">
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Sales Person</label>
                        <select class="form-control" name="" id="ui_ddlUserList">
                            <option value="0">Select Option</option>
                        </select>
                        <p class="pt-2 text-color-queued font-12">
                            * For Bulk Assignment (More than 5 Leads at time)
                            Mail
                            OR SMS alert will not be sent.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="btn_AssignSalesPerson">Submit</button>
                <button class="btn btn-secondary clsepopup" type="button" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>