<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" id="dvChatPreview">
    <div class="chatprevwrp">
        <div class="chatmesscontainer hideDiv">
            <div class="chatclsewrp">
                <i class="icon ion-android-close"></i>
            </div>
            <p id="lblBoxText">
                Please leave your detailst to connect with us.
            </p>
        </div>
        <div class="chatcontainer min-h-500" id="chatcontainer">
            <div class="chatboxwrp border-radius-10">
                <div class="chatboxtpbar bg-reef chatboxbar-radius" id="ui_chatboxtpbar">
                    <div class="chattitlwrp">
                        <i class="icon ion-chatboxes font-22"></i>
                        <h6 id="ui_ChatHeader">Chat with us</h6>
                    </div>
                    <div class="chatoptionwrp">
                        @*<div class="attachbtn mr-1 position-relative">
                        <button type="button" class="btn btn-trans">
                        <i class="icon ion-android-attach font-18"></i>
                        </button>
                        <input type="file" class="inputfilebtn">
                        </div>*@
                        <div class="tdcreatedraft">
                            <div class="dropdown">
                                @*<i class="icon ion-android-more-vertical"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"></i>*@
                                <button type="button" class="verticnwrp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon ion-android-more-vertical mr-0"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right keepopen"
                                     aria-labelledby="filterbycontacts">
                                    <a class="dropdown-item  muteevent" href="javascript:void(0)">
                                        <i class="ion-android-volume-up font-14 pr-1"></i>
                                        <span>Unmute</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="openForm()">
                                        <i class="fa fa-pencil-square-o font-14 pr-1"></i>Edit
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        <i class="fa fa-download font-14 pr-1"></i>Download Transcript
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chatboxcontainer h-400" id="dvcontentId">
                    <div class="chatAgentNmwrp">
                        <div class="agentimgwrp mr-3"></div>
                        <div class="agentnametit">
                            <small>Your are chatting with</small>
                            <h6>Admin</h6>
                        </div>
                    </div>
                    <div class="chatmediawrp p-3" id="ulMesg" style="background-color:#F1F3F5">
                        <div class="media mb-4">
                            <div class="agentimgwrp"></div>
                            <div class="media-body">
                                <div class="msgagent">
                                    <p>Hi there?</p>
                                </div>
                                <div class="msgagent">
                                    <p>Interested? What do we start with?</p>
                                </div>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <div class="media-body reverse">
                                <div class="msgagentvistor">
                                    <p style="color: #868ba1; background-color: #dee2e6;">
                                        connect chatters to the right people on
                                        your team
                                    </p>
                                </div>
                                <div class="msgagentvistor">
                                    <p style="color: #868ba1; background-color: #dee2e6;">Interested? What do we start with?</p>
                                </div>
                            </div>
                            <div class="chatuserimgwrp"></div>
                        </div>

                        <div class="media mb-4">
                            <div class="agentimgwrp"></div>
                            <div class="media-body">
                                <div class="msgagent">
                                    <p>
                                        Got it. I’ll see if there is someone
                                        available to help you.
                                    </p>
                                </div>
                                <div class="msgagent">
                                    <p>
                                        I'd love to collect some quick details
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <div class="media-body reverse">
                                <div class="msgagentvistor">
                                    <p style="color:#868ba1; background-color: #dee2e6;">
                                        connect chatters to the right people on
                                        your team
                                    </p>
                                </div>
                                <div class="msgagentvistor">
                                    <p style="color: #868ba1; background-color: #dee2e6;">Interested? What do we start with?</p>
                                </div>
                            </div>
                            <div class="chatuserimgwrp"></div>
                        </div>
                        <div class="media mb-4">
                            <div class="agentimgwrp"></div>
                            <div class="media-body">
                                <div class="msgagent">
                                    <div class="chatimgban">
                                        <a href="/Content/images/offer-banner-chat.png" target="_blank">
                                            <img src="/Content/images/offer-banner-chat.png" alt="offer-banner-chat" />
                                        </a>
                                    </div>
                                    <p class="chatPicdescrp">In the new normal of digital connectivity, privacy and security have never been more important.</p>
                                </div>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <div class="agentimgwrp"></div>
                            <div class="media-body">
                                <div class="msgagent">
                                    <div class="chatpdfimgban border">
                                        <a href="/Content/images/skyline-ranch.pdf" target="_blank">
                                            <img src="/Content/images/pdf-img.jpg" alt="pdf-img" />
                                        </a>
                                    </div>
                                    <p class="chatPicdescrp">In the new normal of digital connectivity, privacy and security have never been more important.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chatfrmwrp hideDiv">
                        <div class="chatusericn bg-reef">
                            <i class="fa fa-user-o"></i>
                        </div>
                        <div class="chatfrmitemwrp p-2">
                            <div class="form-group mt-2 frmlbltxt" id="lblFormTitle">
                                We are online
                            </div>
                            <div class="form-group mt-2">
                                <input type="text"
                                       class="form-control form-control-sm" id="prechatnamefield"
                                       placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-control-sm" id="prechatemailfield"
                                       placeholder="Email Id">
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-control-sm" id="prechatphonefield"
                                       placeholder="Phone">
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-control-sm" id="prechatmessagefield"
                                       placeholder="Message">
                            </div>
                            <div class="custom-control custom-checkbox ml-1">
                                <input type="checkbox"
                                       class="custom-control-input" id="prechatprivacyfield"
                                       name="example1">
                                <label id="prechatprivacytext" class="custom-control-label frmlbltxt"
                                       for="prechatprivacyfield">
                                    I agree to have my personal
                                    data processed by plumb5.com for chat
                                    support
                                </label>
                            </div>
                            <div class="btnwrp mt-3 mb-3">
                                <button id="startchatbtn" type="button"
                                        class="btn btn-purple btn-block border-0 chatbtnfrmbgcol bg-reef">
                                    Start
                                    Chat
                                </button>
                                <p class="prechatErrorMess" style="color:#dc3545">
                                    Happy Chatting
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chatboxtypewrp">
                    <div class="chattypebox pr-2">
                        <input type="text" placeholder="Write a Message"
                               class="form-control bg-textbx" id="txtP5ChatMessage">
                    </div>
                    <div class="chatsendicn">
                        <i class="icon ion-paper-airplane font-20 cursor-pointer"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="chateventbtn" class="chatbubwrp bg-reef">
            <i class="icon ion-android-close font-28"></i>
        </div>
    </div>
</div>