
<script>
    var IsOverrideAssignmentPermission = '@ViewBag.IsOverrideAssignmentPermission';
    var IsOverrideSourcePermission = '@ViewBag.IsOverrideSourcePermission';
</script>

<section class="sheet hideDiv" id="ui_sectionContactImport_Start">
    <div class="pageheader">
        <h6 class="pagetitle" id="ui_h6ImportPagetitle">Start Imports</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Contacts</a></li>
            <li class="breadcrumb-item"><a href="./ContactImportOverViews">Contacts Imports</a></li>
            <li class="breadcrumb-item active" aria-current="page">Start Imports</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="contimportWrap">
            <div class="container-page-body df-ac-jcenter">
                <div class="contactImportItem">
                    <div class="form-group">
                        <label class="frmlbltxt" for="ui_ddlContactImportGroup">Group Name</label>
                        <select class="form-control addgroupNamedrop" id="ui_ddlContactImportGroup" data-placeholder="Select Group"></select>
                    </div>
                    <div class="choosfileWrap">
                        <div class="dradprogressbar">
                            <div class="progress progress-striped active">
                                <div class="progress-bar h-2" style="width:0%"></div>
                            </div>
                        </div>
                        <div id="ui_divFileImportDrop" class="dropWrapper position-relative">
                            <div id="ui_divImportFileSelection" class="droparea">
                                <div class="dropareainner">
                                    <div class="row">
                                        <div class="col-md-12 d-flex align-items-center">
                                            <i class="icon ion-android-person fa-3x mr-3"></i>
                                            <div class="dragdropwrap">
                                                <p class="dragtext">
                                                    Drag and drop or
                                                    <input id="ui_btnFileImportChoose" class="uploadbtn" type="button" value="Choose a file" /> to upload your contacts.
                                                </p>
                                                <p class="dragtext">All .csv, xlsx, and .xls file types are supported.</p>
                                                <p class="dragtext"><input id="ui_btnContactSampleDownLoad" class="uploadbtn" type="button" value="Download Sample File" /></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input id="ui_fileContactImport" type="file" accept=".csv,.xls,.xlsx" class="upload" />
                            </div>
                            <div class="filesNameWrap hideDiv" id="ui_divImportFileDetails">
                                <div class="fildetWrap">
                                    <div class="filclsewrap" id="ui_divCloseImportFileDetails">
                                        <i class="icon ion-android-close"></i>
                                    </div>
                                    <div class="fildets">
                                        <div class="filicn">
                                            <i class="icon ion-document"></i>
                                        </div>
                                        <div class="fildetItem">
                                            <p class="fileNameTxt" id="ui_pImportFileName"></p>
                                            <p class="filesizNum mb-3" id="ui_pImportFileSize"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="form-table" id="customFields">
                        <tbody class="files"></tbody>
                    </table>
                    <div class="startcheckbx mt-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="ui_chkIgnoreUpdateContact" />
                            <label class="custom-control-label font-12" for="ui_chkIgnoreUpdateContact">
                                Do not update existing contacts
                                <i class="icon ion-help-circled strtimpinfo" data-toggle="popover" data-content="If the contact is in the system and Contacts present in the import file will not update one more time with any data."></i>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-2">
                            <input type="checkbox" class="custom-control-input" id="ui_chkNoExistingContact" />
                            <label class="custom-control-label font-12" for="ui_chkNoExistingContact">
                                Do not add existing contacts to this group
                                <i class="icon ion-help-circled strtimpinfo" data-toggle="popover" data-content="If the contact is part of the any other group(s) in the system. Contacts present in the import file will not be added to this group."></i>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-2">
                            <input type="checkbox" class="custom-control-input" id="ui_chkRemoveFromGroup" />
                            <label class="custom-control-label font-12" for="ui_chkRemoveFromGroup">
                                Empty selected group before importing
                                <i class="icon ion-help-circled strtimpinfo" data-toggle="popover" data-content="Clear all existing contacts present in this group prior to importing."></i>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-2 hideDiv" id="ui_divLMSImportOverrideAssignments">
                            <input type="checkbox" class="custom-control-input" id="ui_chkOverrideAssignments" />
                            <label class="custom-control-label font-12" for="ui_chkOverrideAssignments">
                                Override Assignments
                                <i class="icon ion-help-circled strtimpinfo" data-toggle="popover" data-content="All existing Leads that are present in the system will be assigned to a new agent if present in the import file, else it will remain unchanged."></i>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-2 hideDiv" id="ui_divLMSImportAssignUser">
                            <input type="checkbox" class="custom-control-input" id="ui_chkAssignUser" />
                            <label class="custom-control-label font-12" for="ui_chkAssignUser">
                                Assign Individually
                                <i class="icon ion-help-circled strtimpinfo" data-toggle="popover" data-content="Selects Agents to be assigned in a round-Robin manner for the imported Leads."></i>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-2">
                            <input type="checkbox" class="custom-control-input" id="ui_chkNotoptedEmailValidation" />
                            <label class="custom-control-label font-12" for="ui_chkNotoptedEmailValidation">
                                Not opted for Email Validation
                                <i class="icon ion-help-circled strtimpinfo" data-toggle="popover" data-content="We take complete domain reputation responsibility for not opting the email Validation tool rule for all our email campaigns. Plumb5 not to be held responsible."></i>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-2 hideDiv" id="ui_divLMSImportOverrideSources" style="padding-left: 0px;width:500px">

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="0" class="custom-control-input" id="lmsStaySource" name="lmsSourceType" checked>
                                <label class="custom-control-label" for="lmsStaySource">Create and Stay Source</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="1" class="custom-control-input" id="lmsOverrideSource" name="lmsSourceType">
                                <label class="custom-control-label" for="lmsOverrideSource">Override Source</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="2" class="custom-control-input" id="lmsNewSource" name="lmsSourceType">
                                <label class="custom-control-label" for="lmsNewSource">Create New Source</label>
                            </div>

                            @*<input type="checkbox" class="custom-control-input" id="ui_chkOverrideSources" />
                                <label class="custom-control-label font-12" for="ui_chkOverrideSources">
                                    Override Sources
                                    <i class="icon ion-help-circled strtimpinfo" data-toggle="popover" data-content="All existing Leads that are present in the system will be assigned to a new Source if present in the import file, else it will remain unchanged."></i>
                                </label>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-page-footer">
                <div class="backbtnWrap">&nbsp;</div>
                <div class="nextbtnWrap">
                    <button type="button" class="btn btn-primary disableDiv" id="ui_btnContactImport_Start_Next">
                        Next
                        <i class="icon ion-chevron-right pl-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sheet hideDiv" id="ui_sectionContactImport_Mapping">
    <div class="pageheader">
        <h6 class="pagetitle">Map Columns</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Contacts</a></li>
            <li class="breadcrumb-item"><a href="/ManageContact/ContactImportOverViews">Contacts Imports</a></li>
            <li class="breadcrumb-item active" aria-current="page">Map Columns</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="contimportWrap">
            <div class="container-page-body">
                <div class="mapcolWrap">
                    <h6 class="map-col-head">Map columns in your file to contact properties</h6>
                    <p class="col-para">Each column header below should be mapped to a contact property in Plumb5. Some of these have already been mapped based on their names. Anything that hasn't been mapped yet can be manually mapped to a contact property with the dropdown menu. You can always create a new property or choose Don't import column.</p>
                    <div class="tableWrapper">
                        <div class="table-responsive">
                            <table class="table border">
                                <thead>
                                    <tr>
                                        <th class="helpIcon m-p-w-100 td-wid-10" scope="col">Matched</th>
                                        <th class="helpIcon m-p-w-190 td-wid-25" scope="col">Column header from file</th>
                                        <th class="helpIcon m-p-w-190 td-wid-25" scope="col">Preview Information</th>
                                        <th class="helpIcon m-p-w-220 td-wid-30" scope="col">Plumb5 Field</th>
                                        <th class="helpIcon m-p-w-100 td-wid-10" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="ui_tbodyReportData"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-page-footer">
                <div class="backbtnWrap">
                    <button type="button" class="btn btn-second" id="ui_btnBackToContactImport_Start">
                        <i class="icon ion-chevron-left pr-2"></i> Back
                    </button>
                </div>
                <div class="nextbtnWrap d-flex align-items-center">
                    <div class="checkboxWrap mr-3 m-p-h">
                        <label for="" class="checkbxlbltxt" id="ui_labelPendingMatch"></label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input selChk" id="ui_chkIgnoreUnMatched">
                            <label class="custom-control-label lblfontstyle" for="ui_chkIgnoreUnMatched">Don't Import data in unmatched columns</label>
                        </div>
                    </div>
                    <div class="nextbtnItem">
                        <button type="button" class="btn btn-primary disableDiv" id="ui_btnContactImport_Mapping_Next">
                            Next
                            <i class="icon ion-chevron-right pl-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sheet hideDiv" id="ui_sectionContactImport_Submit">
    <div class="pageheader">
        <h6 class="pagetitle">Contact Imports</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Contacts</a></li>
            <li class="breadcrumb-item"><a href="/ManageContact/ContactImportOverViews">Contacts Imports</a></li>
            <li class="breadcrumb-item active" aria-current="page">Submit Imports</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="contimportWrap">
            <div class="container-page-body df-ac-jcenter">
                <div class="contactImportItem">
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Import File Name</label>
                        <input type="text" value="" class="form-control" disabled id="ui_txtImportFileName" autocomplete="off" />
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked id="ui_chkIAgreeImport">
                        <label class="custom-control-label font-12" for="ui_chkIAgreeImport">I agree that all contacts in this import are expecting to hear from my organization. I have a prior relationship with these contacts and have emailed them at least once in the past year.</label>
                    </div>
                </div>
            </div>
            <div class="container-page-footer">
                <div class="backbtnWrap">
                    <button type="button" class="btn btn-second" id="ui_btnBackToContactImport_Mapping">
                        <i class="icon ion-chevron-left pr-2"></i> Back
                    </button>
                </div>
                <div class="nextbtnWrap">
                    <button type="button" class="btn btn-primary" id="ui_btnContactImport_Submit">
                        Finish Import
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Modal user operation-->
<div class="modal fade bd-example-modal-sm" id="ui_divUserPopUp" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select User</h5>
                <button type="button" id="ui_btnTopCloseUserPopUp" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="groupoperat">
                    <select id="ui_ddlUserList" class="form-control select2" data-placeholder="Select User(s)" multiple>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="ui_btnSaveUserData" class="btn btn-primary">Save Changes</button>
                <button type="button" id="ui_btnCloseUserPopUp" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal user operation-->
<!--CustomField PopUp-->
@*<div class="popupcontainer hideDiv" id="ui_divImportCustomField">
        <div class="popupItem w-450 m-p-wid-300 position-relative">
            <div class="popuptitle">
                <div class="popuptitlwrp">
                    <h6>Add Custom Field</h6>
                    <small class="popupsubtitle"></small>
                </div>
                <i id="ui_iconCloseImportCustomField" class="icon ion-close"></i>
            </div>
            <div class="popupbody">
                <div class="popupbodycont">
                    <div class="lmspopupswindwrp">
                        @{ Html.RenderPartial("_AddCustomField"); }
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@{ Html.RenderPartial("_AddCustomField"); }
<!--CustomField PopUp-->
<link rel="stylesheet" href="~/Content/select2/css/select2.min.css" />
<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src="~/js/ManageContact/ContactProperties.js"></script>
<script src="~/js/ManageContact/ContactImport.js"></script>