<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Source wise Contact Import</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0)">Contacts</a></li>
            <li class="breadcrumb-item"><a href="./ContactImportOverViews">Contact Import</a></li>
            <li class="breadcrumb-item active" aria-current="page">Source Wise Contact Import</li>
        </ol>
    </div>
    <div class="backwrp">
        <a href="./ContactImportOverViews"><i class="icon ion-ios-arrow-left pr-2"></i>Back</a>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table class="table tbl-td-ta-lft">
                            <thead>
                                <tr>
                                    <th class="m-p-w-190 td-wid-20" scope="col">
                                        Source Name
                                    </th>
                                    <th class="m-p-w-190 td-wid-20" scope="col">
                                        Success
                                    </th>
                                    <th class="m-p-w-190 td-wid-20" scope="col">
                                        Source level Rejected
                                    </th>

                                    <th class="m-p-w-190 td-wid-20" scope="col">
                                        Contact level Rejected
                                    </th>
                                    <th class="m-p-w-190 td-wid-20" scope="col">
                                        Created Date
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tbl-spacer"></div>
            </div>
        </div>
    </div>

</section>

<!--Modal-->
<div class="modal fade bd-example-modal-sm" id="ui_divContactLevelRejectFileType" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Contact level Rejected File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">File Format</label>
                        <select class="form-control" id="ui_ddl_ContactLevelRejectExportFileType">
                            <option value="csv">.CSV &nbsp;(Text Tab-separated '|' values)</option>
                            <option value="xls">.XLS &nbsp;&nbsp;(Microsoft Excel 97-2003)</option>
                            @*<option value="xlsx">.XLSX (Microsoft Excel 2007-2013)</option>*@
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ui_btnContactLevelRejectDataExport">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<!--Modal-->
<div class="modal fade bd-example-modal-sm" id="ui_divSourceLevelRejectFileType" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Source level Rejected File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">File Format</label>
                        <select class="form-control" id="ui_ddl_SourceLevelRejectExportFileType">
                            <option value="csv">.CSV &nbsp;(Text Tab-separated '|' values)</option>
                            <option value="xls">.XLS &nbsp;&nbsp;(Microsoft Excel 97-2003)</option>
                            @*<option value="xlsx">.XLSX (Microsoft Excel 2007-2013)</option>*@
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ui_btnSourceLevelRejectDataExport">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<script src="~/js/ManageContact/ContactImportSourceDistribution.js"></script>