
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Contact Imports</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Contacts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Imports</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="contimportrepwrap">
            <div class="showDateIconWrap pt-2 pb-2 border-bottom">
                @{
                    Html.RenderPartial("_PageHeadingWithDate");
                }
                <div class="btngroupwrap d-flex align-items-center pr-2">
                    <div class="downloadsampwrap">
                        <button type="button" class="btn btn-second btn-sm ContributePermission" title="Download Sample file" id="ui_btnContactSampleDownLoad">
                            <i class="icon ion-android-download m-auto"></i>
                            <span>Download Sample file</span>
                        </button>
                    </div>
                    <div class="startbtnwrap ml-2 hideDiv" id="ui_divStartImport">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary ContributePermission">
                                Start an Import
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a id="ui_aStartImport" class="dropdown-item" href="javascript:void(0);">via File</a>
                                <a id="ui_aviaftpbtn" class="dropdown-item" href="javascript:void(0);">via FTP</a>
                                <a id="ui_aviaapibtn" class="dropdown-item" href="javascript:void(0);">via API</a>
                                <a id="ui_aviagooglesheetbtn" class="dropdown-item" href="javascript:void(0);">via Google Sheet</a>
                                <a id="ui_aviagoogleadwordsbtn" class="dropdown-item" href="javascript:void(0);">via Google Adwords</a>
                            </div>
                        </div>
                    </div>&ensp;
                    @{
                        Html.RenderPartial("_Export");
                    }
                </div>
            </div>
            <div class="importTableWrap">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="box-white border-0 position-relative">
                            <div class="tableWrapper">
                                <div class="table-responsive contimportrep">
                                    <table id="ui_tblReportData" class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-190 td-wid-20">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>

                                                    </div>
                                                    File Name
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap"></div>
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-8" scope="col">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>

                                                    </div>
                                                    Total
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap"></div>
                                                </th>
                                                <th class="helpIcon m-p-w-160 td-wid-11" scope="col">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>

                                                    </div>
                                                    Completed
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap"></div>
                                                </th>
                                                <th class="helpIcon m-p-w-140  td-wid-10" scope="col">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>

                                                    </div>
                                                    Success
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap"></div>
                                                </th>
                                                <th class="helpIcon m-p-w-140 td-wid-9" scope="col">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>

                                                    </div>
                                                    Merge
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap"></div>
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-10" scope="col">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>
                                                    </div>
                                                    Rejected
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap"></div>
                                                </th>
                                                <th class="helpIcon m-p-w-170 td-wid-12" scope="col">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>
                                                    </div>
                                                    Updated Date
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap"></div>
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-10" scope="col">
                                                    Progress
                                                    <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap"></div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyReportData"></tbody>
                                    </table>
                                </div>
                            </div>
                            @{
                                Html.RenderPartial("_Paging");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Modal-->
<div class="modal fade bd-example-modal-sm" id="ui_divContactSampleFileType" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Sample File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">File Format</label>
                        <select class="form-control" id="ui_ddl_SampleExportFileType">
                            <option value="csv">.CSV &nbsp;(Text Tab-separated '|' values)</option>
                            <option value="xls">.XLS &nbsp;&nbsp;(Microsoft Excel 97-2003)</option>
                            @*<option value="xlsx">.XLSX (Microsoft Excel 2007-2013)</option>*@
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ui_btnSampleDataExport">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<!--Modal-->
<div class="modal fade bd-example-modal-sm" id="ui_divContactMergeFileType" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Merged File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">File Format</label>
                        <select class="form-control" id="ui_ddl_MergeExportFileType">
                            <option value="csv">.CSV &nbsp;(Text Tab-separated '|' values)</option>
                            <option value="xls">.XLS &nbsp;&nbsp;(Microsoft Excel 97-2003)</option>
                            @*<option value="xlsx">.XLSX (Microsoft Excel 2007-2013)</option>*@
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ui_btnMergeDataExport">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<!--Modal-->
<div class="modal fade bd-example-modal-sm" id="ui_divContactRejectFileType" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Rejected File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">File Format</label>
                        <select class="form-control" id="ui_ddl_RejectExportFileType">
                            <option value="csv">.CSV &nbsp;(Text Tab-separated '|' values)</option>
                            <option value="xls">.XLS &nbsp;&nbsp;(Microsoft Excel 97-2003)</option>
                            @*<option value="xlsx">.XLSX (Microsoft Excel 2007-2013)</option>*@
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ui_btnRejectDataExport">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<!--Popup window right-->
<div class="popupcontainer hideDiv" id="dvFTPcontact">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Add Stage</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody position-relative">
            <div class="popupbodycont pad-20">
                <div class="addftpconnect">
                    <div class="noftpcontwrp hideDiv">
                        <p class="font-13 text-color">
                            No FTP Connection available. Please Add an FTP connection in <a href="contacts-settings.html">
                                Contact
                                Settings
                            </a>
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Connection Name</label>
                        <select name="" class="form-control" id="ui_connectionnames">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="btnwrp df-ac-sbet">
                        <div class="ftprootwrp w-300">
                            <div class="inptftpwrp hideDiv">
                                <input type="text" class="form-control inptftp" title="" name=""
                                       value="" id="ftpeditfldinpt">
                                <i id="ftprooteditfld" class="fa fa-pencil editftproot"></i>
                                <i id="ftprootclsefld" class="fa fa-close clseftproot hideDiv"></i>
                            </div>
                        </div>
                        <button id="ftpconnectbtn" type="button" class="btn btn-primary">Connect</button>
                    </div>
                    <div id="ftpfilecontactlist" class="box-white mt-3 p-3 hideDiv">
                        <div class="form-group position-relative">
                            <input type="text" name="" class="form-control" placeholder="Search Files Here" id="protocolnum">
                            <i class="fa fa-search filesearchicn"></i>
                        </div>
                        <div class="ftptblwrp bg-white">
                            <div class="table-responsive min-h-100 border border-bottom-0">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th class="td-wid-10 m-p-w-40" scope="col">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input lmsleadpropAll" id="configfeatall"
                                                           name="example1">
                                                    <label class="custom-control-label" for="configfeatall"></label>
                                                </div>
                                            </th>
                                            <th class="td-wid-60 m-p-w-170" scope="col">File Name</th>
                                            <th class="td-wid-30 m-p-w-170 hideDiv" scope="col">No. of Rows</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ui_filesdata">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ftpdrpdwn mt-4">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Group Name</label>
                                <select class="form-control addgroupNamedrop" name="" id="ui_addgroupdetails" data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="startcheckbx mt-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="existContacts">
                                <label class="custom-control-label font-12" for="existContacts">
                                    Do not add existing contacts to
                                    this group <i class="icon ion-help-circled strtimpinfo" data-toggle="popover"
                                                  data-content="if the contact is part of the any other group(s)in the system. Contacts present in the import file will not be added to this group."></i>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mt-2">
                                <input type="checkbox" class="custom-control-input" id="removeContacts">
                                <label class="custom-control-label font-12" for="removeContacts">
                                    Empty selected group before
                                    importing. <i class="icon ion-help-circled strtimpinfo" data-toggle="popover"
                                                  data-content="Clear all existing contacts present in this group prior to importing."></i>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mt-2">
                                <input type="checkbox" class="custom-control-input" id="retainassignconts">
                                <label class="custom-control-label font-12" for="retainassignconts">
                                    Override Assignments <i class="icon ion-help-circled strtimpinfo" data-toggle="popover"
                                                            data-content="All existing Leads that are present in the system will be assigned to a new agent if present in the import file, else it will remain unchanged."></i>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mt-2">
                                <input type="checkbox" class="custom-control-input" id="ui_chkAssignUser">
                                <label class="custom-control-label font-12" for="ui_chkAssignUser">
                                    Assign Individually <i class="icon ion-help-circled strtimpinfo" data-toggle="popover"
                                                           data-content="Selects Agents to be assigned in a round-Robin manner for the imported Leads."></i>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mt-2">
                                <input type="checkbox" class="custom-control-input" id="overridesources" name="assingindivconts">
                                <label class="custom-control-label font-12" for="overridesources">
                                    Override Sources <i class="icon ion-help-circled strtimpinfo" data-toggle="popover"
                                                        data-content="All existing Leads that are present in the system will be assigned to a new Source if present in the import file, else it will remain unchanged."></i>
                                </label>
                            </div>
                        </div>
                        <div class="ftpterms mt-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" id="customCheck1">
                                <label class="custom-control-label font-12" for="customCheck1">
                                    I agree that all contacts in this
                                    import are expecting to hear from my organization. I have a prior relationship with these contacts
                                    and have emailed them at least once in the past year.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spinnerftpwrp hideDiv">
                <div class="sk-wave">
                    <div class="sk-rect sk-rect1"></div>
                    <div class="sk-rect sk-rect2"></div>
                    <div class="sk-rect sk-rect3"></div>
                    <div class="sk-rect sk-rect4"></div>
                    <div class="sk-rect sk-rect5"></div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button id="startImprtbtn" class="btn btn-primary mr-2" type="button">Start Import</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Popup window right-->
<!--Modal user operation-->
<div class="modal fade bd-example-modal-sm" id="ui_divUserPopUp" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select User</h5>
                <button type="button" id="ui_btnTopCloseUserPopUp" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="groupoperat">
                    <select id="ui_ddlUserList" class="form-control select2" data-placeholder="Select User(s)" multiple>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="ui_btnSaveUserData" class="btn btn-primary">Save Changes</button>
                <button type="button" id="ui_btnCloseUserPopUp" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Popup window right-->
<!--Modal user operation-->
<div class="popupcontainer hideDiv" id="dvAPIcontact">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>API Import</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody position-relative">
            <div class="popupbodycont pad-20">
                <div class="addAPIconnect">
                    <h6 class="box-title">Send user profile data for known users to Plumb5</h6>
                    <p class="box-sub-title">
                        To start identifying users
                        (on login page, checkout page etc) and send this data to Plumb5 in the format below.
                    </p>
                    <div class="ml-4 bg-track" style="background-color: #fff; padding: 20px;">

                        <code id="ui_code_AccountScriptDetails">
                            plumb5.user({ <br>
                            <span>"Name" : "john"</span>,<br>
                            <span>"EmailId" : "john@plumb5.com"</span>,<br>
                            <span>"PhoneNumber" : "9916198600"</span>,<br>
                            <span>"Gender" :  "Male"</span> <br>
                            <span>"APIResponseName" :  "UserEventResponses"</span> <br>
                            });
                        </code>

                        <div style="margin-top: 20px;">
                            <button id="ui_btn_CopyScript" class="btn btn-primary mr-2 m-mb-10" type="button">Copy</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>




<script src="~/js/ManageContact/ContactProperties.js"></script>
<script src="~/js/ManageContact/ContactImportOverViews.js"></script> 