<link href="~/Content/css/toggles-full.css" rel="stylesheet" />
<script src="~/js/jscolor.js"></script>
<div class="settcontainer">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="setttabcontainer p-0 position-relative">
                    <div class="topTabWrap m-0">
                        <div class="lmsaddrules mr-3 pl-3">
                            <p class="m-0 frmlbltxt font-weight-bold">Set the properties that users in your account see when creating contacts.</p>
                        </div>
                        <div class="iconsettingswrp">
                            <i class="icon ion-android-settings addleadprop" id="ui_iShowPropertyPopUp"></i>
                        </div>
                    </div>
                    <div class="setcolumnwrap hideDiv">
                        <p>Set column order shown as below column to Manage Leads Table</p>
                        <div class="subcribeWrap">
                            <div class="toggle-wrapper">
                                <div class="toggle toggle-light success bwsnotifsteptog"
                                     style="height: 26px; width: 60px">
                                    <div class="toggle-slide">
                                        <div class="toggle-inner"
                                             style="width: 94px; margin-left: 0px">
                                            <div class="toggle-on active"
                                                 style="
                                                            height: 26px;
                                                            width: 47px;
                                                            text-indent: -8.66667px;
                                                            line-height: 26px;
                                                          ">
                                                Yes
                                            </div>
                                            <div class="toggle-blob"
                                                 style="
                                                            height: 26px;
                                                            width: 26px;
                                                            margin-left: -13px;
                                                          "></div>
                                            <div class="toggle-off"
                                                 style="
                                                            height: 26px;
                                                            width: 47px;
                                                            margin-left: -13px;
                                                            text-indent: 8.66667px;
                                                            line-height: 26px;
                                                          ">
                                                NO
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <label class="unsubTxt pl-2" for="">Unsubcribe Option</label> -->
                        </div>
                        <div class="iconsettingswrp" style="position: absolute; float: right; right: 10px;">
                            <button type="button" id="Ui_LmsField" class="btn btn-primary btn-sm selprovid">Lms Fields</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="box-white border-0">
                                <div class="tableWrapper">
                                    <div class="table-responsive min-h-300">
                                        <table class="table tbl-td-ta-lft sorted_table border-0" id="ui_tableReport">
                                            <thead>
                                                <tr>
                                                    <th class="helpIcon td-wid-40 m-p-w-250" scope="col">
                                                        <div class="spacBet">
                                                            <div>Field Name</div>
                                                            <div class="th-iconWrp">
                                                                <i class="icon ion-ios-help-outline"></i>
                                                                <div class="toottipWrap"></div>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="td-wid-20 m-p-w-150" scope="col">
                                                        Field Type
                                                    </th>
                                                    <th class="helpIcon td-wid-20 m-p-w-190" scope="col">Make Search by Column</th>
                                                    <th class="helpIcon td-wid-20 m-p-w-190" scope="col">Make As Publisher Field</th>
                                                </tr>
                                            </thead>
                                            <tbody id="ui_tbodyReportData">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Popup window right-->
<div id="ui_divPropertyPopUp" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>CUSTOMIZE CONTACT PROPERTIES</h6>
            <i id="ui_iClosePropertyPopUp" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-20">
                <div class="lmsaddleadprowrp">
                    <p class="frmlbltxt font-weight-bold">
                        Choose the properties that will be displayed when a new contact is created.
                    </p>
                    <div class="tableWrapper bg-white">
                        <div class="table-responsive min-h-100 border border-bottom-0">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="td-wid-10 m-p-w-40" scope="col">
                                            <div class="custom-control custom-checkbox">
                                            </div>
                                        </th>
                                        <th class="td-wid-80 m-p-w-170" scope="col">Field Name</th>
                                    </tr>
                                </thead>
                                <tbody id="ui_tbodyLeadAllProperty"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp lmsaddstagebbtn">
                <button class="btn btn-primary mr-2" type="button" id="ui_btnSaveProperty">Save</button>
                <button class="btn btn-secondary" type="button" id="ui_btnClosePropertyPopUp">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Popup window right-->
<script src="~/js/toggles.min.js"></script>
<script src="~/js/jquery-sortable-min.js"></script>
<script src="~/js/Prospect/LeadProperties.js"></script>
