@{
    LoginInfo? CustomerInfo = null;
    if (!String.IsNullOrEmpty(Context.Session.GetString("UserInfo")))
        CustomerInfo = JsonConvert.DeserializeObject<LoginInfo?>(Context.Session.GetString("UserInfo"));
}
@{
    PermissionsLevels? PermissionDetails = null;
    if (!String.IsNullOrEmpty(Context.Session.GetString("MyPermission")))
        PermissionDetails = JsonConvert.DeserializeObject<PermissionsLevels>(Context.Session.GetString("MyPermission"));
}


<script src="~/js/d3.min.js"></script>
<script src="~/js/sankey.js"></script>
<div id="ui_divContactUCPScreen" class="contactUcpWrap hideDiv">
    <section class="sheet">
        <div class="pageheader">
            <h6 class="pagetitle">Contact UCP</h6>
            <div class="contactUcpbread">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Contacts</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Contacts UCP</li>
                </ol>
            </div>
        </div>
        <div class="container-UCP">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 order-sm-1 order-md-2 mb-4 h-100">
                    <div class="box-white p-3 position-relative">
                        <div class="closeUcp" id="ui_divCloseUCP">
                            <i class="icon ion-ios-close-outline"></i>
                        </div>
                        <div class="newWrap">
                            <div class="newitem">
                                <div class="newreturn" id="ui_visitorNeworRepeat">NA</div>
                                <div class="ucpnamewrp">
                                    <div class="d-flex align-items-center">
                                        <div id="ui_visitorNameOrMacOrDeviceId" class="newNameTxt">NA</div>
                                        <i class="icon ion-edit editucpname hideDiv"></i>
                                    </div>
                                    <div class="ucpeditorwrp hideDiv">
                                        <div class="d-flex align-items-center">
                                            <input type="text" name="" class="form-control w-80" id="ucpnameupt">
                                            <div class="clseucpupdtwrp">
                                                <i class="icon ion-ios-checkmark-outline ucpnameupdt"></i>
                                                <i class="icon ion-ios-close-outline ucpnameclse"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contactIcons">
                                    <div class="contactItemIcons contcompose hideDiv">
                                        <i class="icon ion-compose accpopvr noteaccpopvr" data-toggle="popover" title="Note"></i>
                                    </div>
                                    <div class="contactItemIcons contEmailId">
                                        <i class="icon ion-ios-email accpopvr" id="ui_visitorEmailId" data-toggle="popover" data-trigger="click" data-content="NA" data-html="true" contactemail=""></i>
                                    </div>
                                    <div class="contactItemIcons contPhoneNum">
                                        <i class="icon ion-ios-telephone accpopvr" id="ui_visitorPhoneNumber" data-toggle="popover" data-trigger="click" data-content="NA" data-html="true" contactcall=""></i>
                                    </div>
                                    <div class="contactItemIcons contcompose">
                                        <i class="icon ion-android-textsms accpopvr" id="ui_visitorSmsPhoneNumber" data-toggle="popover" data-trigger="click" data-content="NA" data-html="true" contactsms=""></i>
                                    </div>
                                    <div class="contactItemIcons contcompose">
                                        <i class="icon ion-social-whatsapp-outline accpopvr" id="ui_visitorWhatsappPhoneNumber" data-toggle="popover" data-trigger="click" data-content="NA" data-html="true" contactwhatsapp=""></i>
                                    </div>
                                    <div class="contactItemIcons contaddnote">
                                        <i class="icon ion-android-clipboard accpopvr" id="ui_visitorAddNotes" data-toggle="popover" data-trigger="click" data-content="NA" data-html="true" contactnote="NA"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-white brd-top-none p-3">
                        <div id="accordion" class="accordion-one" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="tx-gray-800 transition collapsed">
                                        About
                                    </a>
                                </div><!-- card-header -->

                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>First Name:</strong>
                                            </div>
                                            <div id="ui_visitorFirstName" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Last Name:</strong>
                                            </div>
                                            <div id="ui_visitorLastName" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Source of the lead:</strong>
                                            </div>
                                            <div id="ui_visitorLmsAssignedGroups" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Page Url:</strong>
                                            </div>
                                            <div id="ui_visitorPageUrl" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Visit Page:</strong>
                                            </div>
                                            <div id="ui_visitvisitorPageUrl" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Form Name:</strong>
                                            </div>
                                            <div id="ui_visitorFormName" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Created Date:</strong>
                                            </div>
                                            <div id="ui_visitorCreatedDate" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Updated Date:</strong>
                                            </div>
                                            <div id="ui_visitorUpdatedDate" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Last Web Visited on:</strong>
                                            </div>
                                            <div id="ui_visitorLastWebVisited" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Last Mobile Visited on:</strong>
                                            </div>
                                            <div id="ui_visitorLastMobileVisited" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Web Location:</strong>
                                            </div>
                                            <div id="ui_visitorWebLocation" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <strong>Mobile Location:</strong>
                                            </div>
                                            <div id="ui_visitorMobileLocation" class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                        </div>
                                        <div class="row pb-2">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-3">
                                                <strong>Associated Groups:</strong>
                                            </div>
                                            <div id="ui_visitorAssociatedGroups" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-3">NA</div>
                                        </div>
                                        <div class="aboutcontmoreWrap h-0" id="ui_VisitorContactDetails"></div>
                                        <p class="readmoreabt">Read More +</p>
                                    </div>
                                </div>
                            </div>

                            @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.Analytics || PermissionDetails.AnalyticsView || PermissionDetails.AnalyticsContribute || PermissionDetails.AnalyticsHasFullControl)))
                            {
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <a class="tx-gray-800 transition collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Web Summary
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="contactSummary">
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Total Page views</strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="ui_webTotalPageViews">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Total Purchases </strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="ui_webTotalPurchases">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Avg.Time Spent </strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-uppercase" id="ui_webAvgTimeSpent">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Bounce Rate</strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-uppercase" id="ui_webBounceRate">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Most Visited Location</strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="ui_webMostVisitedLocation">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Browser</strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="ui_webBrowser">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Network :</strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="ui_webNetwork">NA</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.Mobile || PermissionDetails.MobileView || PermissionDetails.MobileContribute || PermissionDetails.MobileHasFullControl)))
                            {
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <a class="tx-gray-800 transition collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Mobile Summary
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="contactSummary">
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Total Page views</strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="ui_mobileTotalPageViews">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Total Purchases </strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="ui_mobileTotalPurchases">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Avg.Time Spent </strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-uppercase" id="ui_mobileAvgTimeSpent">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Bounce Rate</strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-uppercase" id="ui_mobileBounceRate">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Most Visited Location</strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="ui_mobileVisitedLocation">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light border-bottom">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Devices</strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="ui_mobileDevice">NA</div>
                                                </div>
                                                <div class="row pb-2 pt-2 bg-light">
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <strong>Network :</strong>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="ui_mobileNetWork">NA</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="card hideDiv">
                                <div class="card-header" role="tab" id="headingThree">
                                    <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Scores
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="contactSummary">
                                            <div class="row pb-2 pt-2 bg-light border-bottom">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <strong>Source Score</strong>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">10</div>
                                            </div>
                                            <div class="row pb-2 pt-2 bg-light border-bottom">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <strong>Page Score </strong>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">1</div>
                                            </div>
                                            <div class="row pb-2 pt-2 bg-light border-bottom">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <strong>Time Score </strong>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-uppercase">na</div>
                                            </div>
                                            <div class="row pb-2 pt-2 bg-light border-bottom">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <strong>Depth Score</strong>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-uppercase">2</div>
                                            </div>
                                            <div class="row pb-2 pt-2 bg-light border-bottom">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <strong>Frequency Score</strong>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">NA</div>
                                            </div>
                                            <div class="row pb-2 pt-2 bg-light border-bottom">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <strong>Recency Score</strong>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">Samsung</div>
                                            </div>
                                            <div class="row pb-2 pt-2 bg-light border-bottom">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <strong>Group Score</strong>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">Bharti Airtel</div>
                                            </div>
                                            <div class="row pb-2 pt-2 bg-light border-bottom">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <strong>Event Score</strong>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">Bharti Airtel</div>
                                            </div>
                                            <div class="row pb-2 pt-2 bg-light border-bottom">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-color-blue">
                                                    <strong>Total Score</strong>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">0</div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- collapse -->
                            </div><!-- card -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 order-sm-2 order-md-1 mb-4 h-100">
                    <div class="ucptabwrp contactUCPtab">
                        <nav class="tabs">
                            <ul class="-primary">

                                @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.Analytics || PermissionDetails.AnalyticsView || PermissionDetails.AnalyticsContribute || PermissionDetails.AnalyticsHasFullControl)))
                                {
                                    <li>
                                        <a id="ui_UCPJourneyData" data-ucpconttab="UserJourney" href="javascript:void(0)"
                                           class="tab-ucp-links">User Journey</a>
                                    </li>
                                    <li>
                                        <a data-ucpconttab="Clickstream" href="javascript:void(0)"
                                           class="tab-ucp-links">
                                            Clickstream
                                        </a>
                                    </li>
                                }


                                @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.Forms || PermissionDetails.FormsView || PermissionDetails.FormsContribute || PermissionDetails.FormsHasFullControl)))
                                {
                                    <li>
                                        <a data-ucpconttab="Web" href="javascript:void(0)"
                                           class="tab-ucp-links">
                                            Web
                                        </a>
                                    </li>
                                }

                                @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.EmailMarketing || PermissionDetails.EmailMarketingView || PermissionDetails.EmailMarketingContribute || PermissionDetails.EmailMarketingHasFullControl)) || (PermissionDetails.LeadManagement || PermissionDetails.LeadManagementView || PermissionDetails.LeadManagementContribute || PermissionDetails.LeadManagementHasFullControl))
                                {
                                    <li>
                                        <a data-ucpconttab="Emails" href="javascript:void(0)"
                                           class="tab-ucp-links">
                                            Emails
                                        </a>
                                    </li>
                                }

                                @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.SMS || PermissionDetails.SMSView || PermissionDetails.SMSContribute || PermissionDetails.SMSHasFullControl)) || (PermissionDetails.LeadManagement || PermissionDetails.LeadManagementView || PermissionDetails.LeadManagementContribute || PermissionDetails.LeadManagementHasFullControl))
                                {
                                    <li>
                                        <a data-ucpconttab="SMS" href="javascript:void(0)"
                                           class="tab-ucp-links">
                                            SMS
                                        </a>
                                    </li>
                                }

                                @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.Whatsapp || PermissionDetails.WhatsappView || PermissionDetails.WhatsappContribute || PermissionDetails.WhatsappHasFullControl)) || (PermissionDetails.LeadManagement || PermissionDetails.LeadManagementView || PermissionDetails.LeadManagementContribute || PermissionDetails.LeadManagementHasFullControl))
                                {
                                    <li>
                                        <a data-ucpconttab="Whatsapp" href="javascript:void(0)"
                                           class="tab-ucp-links">
                                            Whatsapp
                                        </a>
                                    </li>
                                }

                                @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.WebPushNotification || PermissionDetails.WebPushNotificationView || PermissionDetails.WebPushNotificationContribute || PermissionDetails.WebPushNotificationHasFullControl)))
                                {
                                    <li>
                                        <a data-ucpconttab="WebPush" href="javascript:void(0)" class="tab-ucp-links">
                                            Web Push
                                        </a>
                                    </li>

                                }

                                @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.LeadManagement || PermissionDetails.LeadManagementView || PermissionDetails.LeadManagementContribute || PermissionDetails.LeadManagementHasFullControl)))
                                {
                                    <li>
                                        <a data-ucpconttab="Calls" href="javascript:void(0)"
                                           class="tab-ucp-links">
                                            Calls
                                        </a>
                                    </li>
                                }

                                @*<li>
                                <a data-ucpconttab="Transactions" href="javascript:void(0)"
                                class="tab-ucp-links">
                                Transactions
                                </a>
                                </li>*@
                                @*@if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.SiteChat || PermissionDetails.SiteChatView || PermissionDetails.SiteChatContribute || PermissionDetails.SiteChatHasFullControl)))
                                {
                                <li>
                                <a data-ucpconttab="chatHistory" href="javascript:void(0);" class="tab-ucp-links">
                                Custom events
                                </a>
                                </li>
                                }*@

                                @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.Mobile || PermissionDetails.MobileView || PermissionDetails.MobileContribute || PermissionDetails.MobileHasFullControl)))
                                {
                                    <li>
                                        <a data-ucpconttab="MobileApp" href="javascript:void(0)"
                                           class="tab-ucp-links">
                                            Mobile App
                                        </a>
                                    </li>

                                    <li>
                                        <a data-ucpconttab="MobilePush" href="javascript:void(0)"
                                           class="tab-ucp-links">
                                            Mobile Push
                                        </a>
                                    </li>

                                }

                                @*@if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.Social || PermissionDetails.SocialView || PermissionDetails.SocialContribute || PermissionDetails.SocialHasFullControl)))
                                {
                                <li>
                                <a data-ucpconttab="ReverseLookup" href="javascript:void(0)"
                                class="tab-ucp-links">
                                Reverse Look up
                                </a>
                                </li>
                                }*@
                                <li>
                                    <a id="ui_anchorcustomeventsUcpTab" data-ucpconttab="CustEvents" href="javascript:void(0);" class="tab-ucp-links">
                                        Custom events
                                    </a>
                                </li>

                                @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.LeadManagement || PermissionDetails.LeadManagementView || PermissionDetails.LeadManagementContribute || PermissionDetails.LeadManagementHasFullControl)))
                                {
                                    <li>
                                        <a id="ui_anchorNoteUcpTab" data-ucpconttab="Notes" href="javascript:void(0)"
                                           class="tab-ucp-links">
                                            Notes
                                        </a>
                                    </li>

                                    <li>
                                        <a data-ucpconttab="LeadHistory" href="javascript:void(0);" class="tab-ucp-links">
                                            Lead History
                                        </a>
                                    </li>
                                }

                                @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.SiteChat || PermissionDetails.SiteChatView || PermissionDetails.SiteChatContribute || PermissionDetails.SiteChatHasFullControl)))
                                {
                                    <li>
                                        <a data-ucpconttab="chatHistory" href="javascript:void(0);" class="tab-ucp-links">
                                            Chat History
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <div class="box-white">
                        <div class="ucptitlebox">
                            <div class="showingWrap pt-2 pb-2">
                                <div class="showingWrap">
                                    <div class="showTxt">Showing Data for :</div>
                                    <div class="dateWrap">
                                        <div class="datedropdown datedropdownUCP">
                                            <button class="btn dropdown-toggle selectdateDropdown selectdateDropdownUCP" id="selectdateDropdownUCP" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                This Month
                                            </button>
                                            <div class="dropdown-menu dropdown-menuUCP" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="javascript:void(0)">Today</a>
                                                <a class="dropdown-item" href="javascript:void(0)">This Week</a>
                                                <a class="dropdown-item" href="javascript:void(0)">This Month</a>
                                                <a class="dropdown-item m-p-h" href="javascript:void(0)">Custom Date Range</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dateBoxWrap dateBoxWrapUCP">
                                        <div class="dateStart">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="icon ion-calendar"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control form-control-sm" id="ui_txtStartDateUCP" placeholder="Start Date" />
                                            </div>
                                        </div>
                                        <i class="icon ion-android-arrow-forward"></i>
                                        <div class="dateStart">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="icon ion-calendar"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control form-control-sm" id="ui_txtEndDateUCP" placeholder="End Date" />
                                            </div>
                                        </div>
                                        <div class="btn-datessubWrap">
                                            <button class="btn btn-active" type="button" id="ui_btnCustomDateApplyUCP">Go</button>
                                        </div>
                                        <div class="dateclseWrap dateclseWrapUCP">
                                            <i class="icon ion-ios-close-outline"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tables-UserJourney">
                            <div class="clkstrmtit">
                                <h6 class="tab-title">User Journey</h6>
                                <div class="macidwrp">
                                    <label class="frmlbltxt mr-3 m-0" for="machine id">Machine Id</label>
                                    <select name="" class="form-control form-control-sm w-50" id="ui_machinIdjour">
                                    </select>
                                </div>
                            </div>
                            <div class="usermap position-relative p-4">
                                <div id="userjourneydata">
                                </div>
                            </div>
                        </div>
                        <div class="tables-Clickstream hideDiv">
                            <div class="clkstrmtit">
                                <h6 class="tab-title">Clickstream</h6>
                                <div class="macidwrp">
                                    <label class="frmlbltxt mr-3 m-0" for="machine id">Machine Id</label>
                                    <select name="" class="form-control form-control-sm w-50" id="ui_machinIdclick">
                                    </select>
                                </div>
                            </div>
                            <div class="tableWrapper">
                                <div class="table-responsive" id="ui_divtableSession">
                                    <div class="sessionheadUCP">
                                        <h6>Seesion 1</h6>
                                        <div class="sessioniconwrp">
                                        </div>
                                    </div>
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="helpIcon m-p-w-190 td-wid-20" scope="col">Last Session</th>
                                                <th class="helpIcon m-p-w-150 td-wid-15" scope="col">City</th>
                                                <th class="helpIcon m-p-w-190 td-wid-30" scope="col">Flow Analysis</th>
                                                <th class="helpIcon m-p-w-190 td-wid-20" scope="col">Tags</th>
                                                <th class="helpIcon m-p-w-190 td-wid-15" scope="col">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUCPclickstreamDetails">
                                            <tr>
                                                <td colspan="5" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tables-Web hideDiv">
                            <div class="clkstrmtit">
                                <h6 class="tab-title">Web</h6>
                                <div class="macidwrp">
                                    <label class="frmlbltxt mr-3 m-0" for="machine id">Machine Id</label>
                                    <select name="" class="form-control form-control-sm w-50" id="ui_machinIdwebform">
                                    </select>
                                </div>
                            </div>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="m-p-w-150 td-wid-25" scope="col">Form Name</th>
                                                <th class="m-p-w-150 td-wid-15" scope="col">Form Type</th>
                                                <th class="m-p-w-150 td-wid-15" scope="col">Viewed</th>
                                                <th class="m-p-w-150 td-wid-15" scope="col">Interacted</th>
                                                <th class="m-p-w-150 td-wid-15" scope="col">Closed</th>
                                                <th class="m-p-w-150 td-wid-15" scope="col">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUCPWebDetails">
                                            <tr>
                                                <td colspan="6" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="tables-Emails hideDiv">
                            <h6 class="tab-title">Email</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">Preview</th>
                                                <th class="m-p-w-150 td-wid-20" scope="col">Template</th>
                                                <th class="m-p-w-150 td-wid-15" scope="col">Subject</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Opened</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Clicked</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Sent Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUCPMailDetails">
                                            <tr>
                                                <td colspan="6" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="tables-SMS hideDiv">
                            <h6 class="tab-title">SMS</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">Preview</th>
                                                <th class="m-p-w-150 td-wid-25" scope="col">Template</th>
                                                <th class="m-p-w-150 td-wid-20" scope="col">Phone Number</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Delivered</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Clicked</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Sent Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUCPSmsDetails">
                                            <tr>
                                                <td colspan="6" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="tables-Whatsapp hideDiv">
                            <h6 class="tab-title">Whatsapp</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">Preview</th>
                                                <th class="m-p-w-150 td-wid-15" scope="col">Template</th>
                                                <th class="m-p-w-150 td-wid-20" scope="col">Phone Number</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Delivered</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Read</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Clicked</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Sent Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUCPWhatsappDetails">
                                            <tr>
                                                <td colspan="7" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="tables-WebPush hideDiv">
                            <div class="clkstrmtit">
                                <h6 class="tab-title">Web Push</h6>
                                <div class="macidwrp">
                                    <label class="frmlbltxt mr-3 m-0" for="machine id">Machine Id</label>
                                    <select name="" class="form-control form-control-sm w-50" id="ui_machinIdweb">
                                    </select>
                                </div>
                            </div>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">Preview</th>
                                                <th class="m-p-w-150 td-wid-22" scope="col">Template</th>
                                                <th class="m-p-w-150 td-wid-13" scope="col">Viewed</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Clicked</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Closed</th>
                                                <th class="m-p-w-130 td-wid-23" scope="col">Sent Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUCPWebPushDetails">
                                            <tr>
                                                <td colspan="5" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tables-MobilePush hideDiv">
                            <div class="clkstrmtit">
                                <h6 class="tab-title">Mobile Push</h6>
                                <div class="macidwrp">
                                    <label class="frmlbltxt mr-3 m-0" for="machine id">Device Id</label>
                                    <select name="" class="form-control form-control-sm w-50" id="ui_devicepushId">
                                    </select>
                                </div>
                            </div>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">Preview</th>
                                                <th class="m-p-w-150 td-wid-22" scope="col">Template</th>
                                                <th class="m-p-w-150 td-wid-13" scope="col">Viewed</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Clicked</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Closed</th>
                                                <th class="m-p-w-130 td-wid-23" scope="col">Sent Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUCPMoiblePushDetails">
                                            <tr>
                                                <td colspan="5" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tables-Calls hideDiv">
                            <h6 class="tab-title">Call</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-190 td-wid-15">
                                                    User Name
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-15" scope="col">
                                                    Status
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-15" scope="col">
                                                    Total Duration
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-15" scope="col">
                                                    Pick Duration
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-25" scope="col">
                                                    Recorded File
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-15" scope="col">
                                                    Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUCPCallDetails">
                                            <tr>
                                                <td colspan="6" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="tables-Transactions hideDiv">
                            <h6 class="tab-title">Transactions</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="m-p-w-150 td-wid-25" scope="col">Product Name</th>
                                                <th class="m-p-w-150 td-wid-20" scope="col">Total Quantity</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Total Price</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Order Id</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Purchased Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUCPTransactionDetails">
                                            <tr>
                                                <td colspan="5" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="tables-MobileApp hideDiv">
                            <div class="clkstrmtit">
                                <h6 class="tab-title">Mobile App</h6>
                                <div class="macidwrp">
                                    <label class="frmlbltxt mr-3 m-0" for="machine id">Device Id</label>
                                    <select name="" class="form-control form-control-sm w-50" id="ui_deviceappId">
                                    </select>
                                </div>
                            </div>
                            <div class="tableWrapper">
                                <div class="table-responsive" id="ui_divtableMobileSession">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="m-p-w-150 td-wid-25" scope="col">Last Session</th>
                                                <th class="m-p-w-150 td-wid-20" scope="col">Device Name</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUCPMobileAppDetails">
                                            <tr>
                                                <td colspan="3" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tables-ReverseLookup hideDiv">
                            <h6 class="tab-title">ReverseLookup</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        @*<thead>
                                        <tr>
                                        <th scope="col" class="helpIcon m-p-w-190 td-wid-20">Sessions 4</th>
                                        <th class="helpIcon m-p-w-150 td-wid-15" scope="col">City</th>
                                        <th class="helpIcon m-p-w-150 td-wid-30" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Flow Analysis <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">He said his government was preparing to roll out a new package of financial supports worth </div>
                                        </th>
                                        <th class="helpIcon m-p-w-160 td-wid-20" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Tags<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">We don’t know exactly how long this is going to take,” Trudeau said of the health crisis on Tuesday </div>
                                        </th>
                                        <th class="helpIcon m-p-w-190 td-wid-15" scope="col">Date</th>
                                        </tr>
                                        </thead>*@
                                        <tbody>
                                            <tr>
                                                <td colspan="5" class="border-bottom-0">
                                                    <div class="no-data">"You have not subscribed to this feature. Please contact your system administrator to enable Social look-up."</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="tables-Notes hideDiv">
                            <h6 class="tab-title">Notes</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="m-p-w-150 td-wid-20" scope="col">Note</th>
                                                <th class="m-p-w-130 td-wid-10" scope="col">Agent Name</th>
                                                <th class="m-p-w-130 td-wid-20" scope="col">Attachment</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyUPCNotes">
                                            <tr>
                                                <td colspan="3" class="border-bottom-0">
                                                    <div class="no-data">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tables-LeadHistory hideDiv">
                            <div class="leadhistucpwrp df-ac-sbet">
                                <h6 class="tab-title">Lead History</h6>
                                <div class="lmssourcefilterwrp">
                                    <div class="lmsdrpdwnsel">
                                        <select class="form-control selectpicker" data-live-search="true" multiple data-placeholder="Select Sources" id="ui_drpdwn_UCPSelectHistoryFilters">
                                            <option value="Source">Source</option>
                                            <option value="Stage">Stage</option>
                                            <option value="Handled By">Handled By</option>
                                            <option value="Repeat Lead">Repeat Lead</option>
                                            <option value="Contact">Contact</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-190 td-wid-20">
                                                    Column Name
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-25" scope="col">
                                                    Updated Value
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-25" scope="col">
                                                    Previous Value
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-30" scope="col">
                                                    Updated Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_UCPlmshistory"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tables-chatHistory hideDiv">
                            <h6 class="tab-title border-bottom">Chat History</h6>
                            <div class="ucpchathistory">
                                <div class="chatmediawrp p-3" id="ui_chattextdetails">
                                    <div class="no-data">There is no data for this view.</div>
                                </div>
                            </div>
                        </div>
                        <div class="tables-CustEvents">
                            <div class="clkstrmtit">
                                <h6 class="tab-title">Custom Events</h6>
                                <div class="macidwrp mr-2">
                                    <label class="frmlbltxt mr-3 m-0 w-50" for="eventname">Event Name</label>

                                    <select name="" class="form-control form-control-sm w-50 custeventdropdown" placeholder="Select" id="custeventdropdowns">
                                        <option value="select">select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0 border">
                                        <thead id="ui_trheadReportDatacstevents">
                                        </thead>

                                        <tbody id="tblbodycstevents">
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--Popover textarea-->
<section>
    <div class="contNoteWrap hideDiv">
        <div class="noteItem position-relative">
            <textarea class="form-control form-control-sm" id="ui_textareaUcpNote" cols="30" rows="4" name="notes"></textarea>
            <div class="sendNoteWrap">
                <span id="ui_saveNote">Save</span>
            </div>
        </div>
    </div>
</section>
<!--Popover textarea-->

<div class="bnotiftempwrp hideDiv" id="TemplatePreview">
    <div class="notifprevmain">
        <div class="notifbanwrp"></div>
        <div class="notiprevcontent">
            <div class="notiprevcontwrp">
                <div class="notifbelcont">
                    <div class="notificonwrp"></div>
                    <div class="notifititcontwrp">
                        <h3 class="notiftitle">Title</h3>
                        <p class="notifdescript">Message</p>
                    </div>
                </div>
                <div class="notifbtnwrp mt-2">
                    <button id="notifsubbtn" type="button" class="btn btn-notifprimary w-49 mr-1">
                        <a class="bnotbtn1" href="#">Take a Look</a>
                    </button>
                    <button id="notifcanbtn" type="button" class="btn btn-notisecondary w-49">
                        <a class="bnotbtn2"
                           href="#">Cancel</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="leadhistmore hideDiv">
    <div class="tableemvalid h-100">
        <div class="emlvalidflewrp">
            <h6>Handled By</h6>
            <small id="ui_small_HistoryHandledBy" class="text-muted"></small>
        </div>
        <div class="emlvalidflewrp">
            <h6>Stage</h6>
            <small id="ui_small_HistoryStage" class="text-muted"></small>
        </div>
        <div class="emlvalidflewrp">
            <h6>Source</h6>
            <small id="ui_small_HistorySource" class="text-muted"></small>
        </div>
        <div class="emlvalidflewrp">
            <h6>Notes</h6>
            <small id="ui_small_HistoryNotes" class="text-muted"></small>
        </div>
    </div>

</div>
<div id="clickstreampopupcontainerUCP" class="popupcontainerUCP hideDiv">
    <div class="popupItem m-p-wid-300 position-relative w-650">
        <div class="popuptitle">
            <h6>Email Campaign</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-20">

                <div id="clickstreamMailUCP" class="dropItemWrap">
                    <div class="tableWrapper">
                        <div class="table-responsive">
                            <table class="table popuppreveyeUCP-tbl mb-0 bg-white border">
                                <thead>
                                    <tr>
                                        <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">
                                            Preview
                                        </th>
                                        <th scope="col" class="helpIcon m-p-w-190 td-wid-25 addsorticn">
                                            Template Name
                                        </th>
                                        <th class="helpIcon m-p-w-150 td-wid-25" scope="col">
                                            Subject
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ui_tbodyMailReportData">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div id="clickstreamSMSUCP" class="dropItemWrap hideDiv">
                    <div class="tableWrapper">
                        <div class="table-responsive">
                            <table class="table sms-tbl mb-0 bg-white border">
                                <thead>
                                    <tr>
                                        <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">
                                            Preview
                                        </th>
                                        <th scope="col" class="helpIcon m-p-w-190 td-wid-25">
                                            Template Name
                                        </th>
                                        <th class="helpIcon m-p-w-150 td-wid-25" scope="col">
                                            Subject
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ui_smsclickstreamtbodyReportData">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div id="clickstreamwhatsappUCP" class="dropItemWrap position-relative hideDiv">
                    <div class="tableWrapper">
                        <div class="table-responsive min-h-200">
                            <table class="table mb-0 bg-white border">
                                <thead>
                                    <tr>
                                        <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">
                                            Preview
                                        </th>
                                        <th scope="col" class="helpIcon m-p-w-190 td-wid-25">
                                            Template Name
                                        </th>
                                        <th class="helpIcon m-p-w-150 td-wid-25" scope="col">
                                            Campaign Name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ui_whatsappstreamtbodyReportData">
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div id="clickstreamwhatsappprevUcp" class="clickstreamwhatsappprevUCP hideDiv">
                        <i class="icon ion-ios-close-outline"></i>
                        <div class="box-white pt-3 pb-3 h-100 border-0">
                            <div class="devicontabwrp">
                                <div data-devtabcont="clickstreamandroidprevUCP" title="Android" class="devwrphvrucp active mr-3">
                                    <i class="fa fa-android fa-2x"></i>
                                </div>
                                <div data-devtabcont="clickstreamiosUCP" title="ios" class="devwrphvrucp">
                                    <i class="fa fa-apple fa-2x"></i>
                                </div>
                            </div>
                            <div class="deviceprevwrap mt-4">
                                <div id="clickstreamandroidprevUCP" class="clickstreamdevsmsprev">
                                    <div class="device device-google-pixel-2-xl mr-auto">
                                        <div class="device-frame">
                                            <div class="device-content" style="background-image: url('~/Content/images/whatsapp-bg.jpg')">
                                                <div class="devicesreenwrap border-radius-5">
                                                    <div class="batthead">
                                                        <div class="baticnwrp">
                                                            <div class="fa fa-wifi"></div>
                                                            <div class="fa fa-signal"></div>
                                                            <div class="fa fa-battery-half"></div>
                                                            <div class="timewrp">19:28</div>
                                                        </div>
                                                        <div class="messheadwrp">
                                                            <div class="arrwrp">
                                                                <i class="icon ion-android-arrow-back"></i>
                                                            </div>
                                                            <div class="icnphone">
                                                                <i class="fa fa-video-camera mr-4"></i>
                                                                <i class="fa fa-phone mr-4"></i>
                                                                <i class="fa fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="devicemesscont">
                                                        <div class="whatsappprevwrp ">
                                                            <div class="whatsappbox-white">
                                                                <div class="whatsappimgwrp">
                                                                    <img class="whatsappban" id="addwhatsappimage" src="~/Content/images/analytics-whatsapp.jpg" alt="">
                                                                </div>
                                                                <p id="addwhatsapptext" class="mb-0">
                                                                    Understand user
                                                                    behaviour with your new features and
                                                                    products. Create a stickiness
                                                                    quotient for new releases, updates,
                                                                    and announcements.
                                                                </p>
                                                            </div>
                                                            <div class="btnwhatsappwrp">
                                                                <button id="whatsvisitwebsite" type="button" class="btn btnwhatsapp">
                                                                    <i class="fa fa-external-link"></i>
                                                                    Buy
                                                                    Now
                                                                </button>
                                                                <button id="whatscallphone" type="button" class="btn btnwhatsapp">
                                                                    <i class="fa fa-phone"></i>
                                                                    Call
                                                                    Support
                                                                </button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- <div class="devicemessfoot h-40">
                                                                 <div class="sendwrp position-relative">
                                                                   <input placeholder="Send an SMS" type="text" class="form-control" name="" id="">
                                                                   <div class="sendbtn">
                                                                     <i class="icon ion-android-send"></i>
                                                                   </div>
                                                                 </div>
                                                              </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="device-stripe"></div>
                                        <div class="device-header"></div>
                                        <div class="device-sensors"></div>
                                        <div class="device-btns"></div>
                                        <div class="device-power"></div>
                                    </div>
                                </div>
                                <div id="clickstreamiosUCP" class="clickstreamdevsmsprev hideDiv">
                                    <div class="device device-iphone-8 mr-auto">
                                        <div class="device-frame">
                                            <div class="device-content h-100" style="background-image: url('~/Content/images/whatsapp-bg.jpg')">
                                                <div class="devicescreenioswrp">
                                                    <div class="iosbathead">
                                                        <div class="iostopbtry pl-2 pr-2">
                                                            <div class="signwrp d-flex h-20p">
                                                                <i class="icon ion-android-more-horizontal mr-01"></i><i class="icon ion-android-more-horizontal"></i>
                                                                <i class="icon ion-wifi ml-2"></i>
                                                            </div>
                                                            <div class="timwrp">
                                                                9:41 AM
                                                            </div>
                                                            <div class="battp d-flex">
                                                                <div class="timwrp mr-1">50%</div>
                                                                <div class="fa fa-battery-half"></div>
                                                            </div>
                                                        </div>
                                                        <div class="iosmeshead h-35 border-bottom pl-2 pr-2">
                                                            <div class="messtit d-flex align-items-center">
                                                                <i class="icon ion-ios-arrow-left fa-2x"></i><span class="ml-2 iosmsstxt">Message</span>
                                                            </div>
                                                            <div class="iosmsstxt">Details</div>
                                                        </div>
                                                    </div>
                                                    <div class="devicemescontwrp">

                                                        <div class="whatsappprevwrp">
                                                            <div class="whatsappbox-white">
                                                                <div class="whatsappimgwrp">
                                                                    <img class="whatsappban" id="addwhatsappimage" src="~/Content/images/analytics-whatsapp.jpg" alt="">
                                                                </div>
                                                                <p id="addwhatsapptextios" class="mb-0">
                                                                    Understand user
                                                                    behaviour with your new features and
                                                                    products. Create a stickiness
                                                                    quotient for new releases, updates,
                                                                    and announcements.
                                                                </p>
                                                            </div>
                                                            <div class="btnwhatsappwrp">
                                                                <button id="whatsvisitwebsite" type="button" class="btn btnwhatsapp">
                                                                    <i class="fa fa-external-link"></i>
                                                                    Buy
                                                                    Now
                                                                </button>
                                                                <button id="whatscallphoneios" type="button" class="btn btnwhatsapp">
                                                                    <i class="fa fa-phone"></i>
                                                                    Call
                                                                    Support
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="iosfoot h-45 border-top">
                                                            <div class="iossendwrp">
                                                              <div class="ioscamera"><i class="icon ion-ios-camera fa-2x"></i></div>
                                                              <div class="inptwrp"><input class="form-control form-control-sm" type="text" name="" id=""></div>
                                                              <div class="iosmic"><i class="icon ion-ios-mic"></i></div>
                                                            </div>
                                                          </div> -->

                                                </div>
                                            </div>
                                            <div class="device-stripe"></div>
                                            <div class="device-header"></div>
                                            <div class="device-sensors"></div>
                                            <div class="device-btns"></div>
                                            <div class="device-power"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="clickstreamwebpushUCP" class="dropItemWrap hideDiv">
                    <div class="tableWrapper">
                        <div class="table-responsive">
                            <table class="table clickstreamwebpush-tbl mb-0 bg-white border">
                                <thead>
                                    <tr>
                                        <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">
                                            Preview
                                        </th>
                                        <th scope="col" class="helpIcon m-p-w-190 td-wid-35">
                                            Template Name
                                        </th>
                                        <th class="helpIcon m-p-w-150 td-wid-20" scope="col">
                                            Viewed
                                        </th>
                                        <th class="helpIcon m-p-w-150 td-wid-20" scope="col">
                                            Clicked
                                        </th>
                                        <th class="helpIcon m-p-w-150 td-wid-20" scope="col">
                                            closed
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ui_webpushclickstreamtbodyReportData">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div id="clickstreamcustevntUCP" class="dropItemWrap hideDiv">
                    <div class="tableWrapper">
                        <div class="table-responsive">
                            <table class="table mb-0 bg-white border">
                                <thead>
                                    <tr>
                                        <th scope="col" class="helpIcon m-p-w-190 td-wid-30">
                                            Event Name
                                        </th>
                                        <th class="helpIcon m-p-w-150 td-wid-20" scope="col">
                                            Event Date
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="ui_CsteventsclickstreamtbodyReportData">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div id="clickstreamcaptureform" class="dropItemWrap hideDiv">
                    <div class="tableWrapper">
                        <div class="table-responsive">
                            <table class="table clickstreamwebpush-tbl mb-0 bg-white border">
                                <thead>
                                    <tr>
                                        <th scope="col" class="helpIcon m-p-w-80 td-wid-50 text-center">
                                            Form Name
                                        </th>
                                        <th scope="col" class="helpIcon m-p-w-190 td-wid-20">
                                            Form Type
                                        </th>
                                        <th class="helpIcon m-p-w-150 td-wid-20" scope="col">
                                            Date
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="ui_captureformclickstreamtbodyReportData">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
@{
    Html.RenderPartial("_SendMailToContact");
}
@{
    Html.RenderPartial("_SendSMSToContact");
}
@{
    Html.RenderPartial("_SendWhatsappNowOrLater");
}
@{
    Html.RenderPartial("_SendCallToContact");
}
@{
    Html.RenderPartial("_EventTrackerData");
}
@{
    Html.RenderPartial("_WhatsAppPreview");
}
@{
    Html.RenderPartial("_SendWhatsappToContact");
}
@{
    Html.RenderPartial("_CustomEventFields");
}
 @{Html.RenderPartial("_AddNotes"); } 

<script src="~/js/ContactUCP.js"></script>

@{
    if (Context.Request.Path.ToString().IndexOf("/Prospect/Leads") == -1)
    {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <script src="~/js/Prospect/LmsDefaultInitialise.js"></script>
        <script src="~/js/Prospect/LeadsActionTab.js"></script>
    }
}