<div class="popupcontainer hideDiv" id="ui_div_CreateEditTemplate">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Enter Template Information</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-20">
                <form action="">
                    <div class="custFormWrap">

                        <div class="form-group">
                            <label class="frmlbltxt" for="">Campaign Name</label>
                            <div class="emailtempdropdown">
                                <select id="ui_dllCampaign" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                    <option label="Campaign Name" value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="frmlbltxt" for="">Template Name</label>
                            <input id="txtTemplatName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="frmlbltxt" for="">Template Description</label>
                            <textarea name="" id="txtTemplatDescription" class="form-control" cols="30" rows="2"></textarea>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button"><a onclick="CreateTemplateNext();">Next</a></button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/WebPush/CreateTemplate.js"></script>