<div class="popupcontainer hideDiv" id="ui_div_TestMailTemplatePopUp">
    <div class="popupItem w-900 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>Test Mail Template</h6>
                <small class="popupsubtitle"></small>
            </div>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div id="testMailTemp" class="dropItemWrap position-relative">
                    <div class="testmailtempwrp pl-3 pr-3">
                        <div class="mailtranspromowrp mb-3">
                            <div class="df-ac-sbet">
                                <div class="mailcontypewrp">
                                    <label class="frmlbltxt w-100">Content Type</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="ui_rad_MailPromotional" name="campaignType" class="custom-control-input">
                                        <label class="custom-control-label" for="ui_rad_MailPromotional">Promotional</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="ui_rad_MailTransactional" name="campaignType" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="ui_rad_MailTransactional">Transactional</label>
                                    </div>
                                </div>
                                <div class="prevwrp">
                                    <span class="lmstempprev previewthis">Preview</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label class="frmlbltxt w-100">Campaign Identifier</label>
                                    <input type="text" name="CampaignIdentifier" class="form-control" id="ui_txt_MailCampaignIdentifier">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label class="frmlbltxt w-100">Subject</label>
                                    <input type="text" name="Subject" class="form-control" id="ui_txt_MailSubject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label class="frmlbltxt w-100">From Name</label>
                                    <input type="text" name="FromName" class="form-control" id="ui_txt_MailFromName">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label class="frmlbltxt w-100">From Address</label>
                                    <select name="FromAddress" class="form-control" id="ui_drpdwn_MailFromAddress">
                                        <option value="NULL">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label class="frmlbltxt w-100">Reply To</label>
                                    <input type="text" name="ReplyTo" class="form-control" id="ui_txt_MailReplyTo">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
                        </div>
                        @*<div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ui_check_MailUnsubscribe" name="MailUnsubscribe" checked>
                                            <label class="custom-control-label" for="ui_check_MailUnsubscribe">Un-Subscribe Option</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ui_check_MailForward" name="MailForward">
                                            <label class="custom-control-label" for="ui_check_MailForward">Forward Option</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
                        </div>*@
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="checkeebx-group mt-2">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="indivCampaign" id="testcampaignindiv" name="testcampaignType" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="testcampaignindiv">Individual</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="groupcampaign" id="testcampaigngroup" name="testcampaignType" class="custom-control-input">
                                        <label class="custom-control-label" for="testcampaigngroup">Group</label>
                                    </div>
                                </div>
                                <div id="indivtxtbox" class="textcampWrap mt-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="ui_txt_MailIndividualId" placeholder="Email Address">
                                    </div>
                                </div>
                                <div id="groupdropdownbox" class="textcampWrap mt-3 hideDiv">
                                    <div class="form-group">
                                        <select id="ui_drpdwn_ContactGroups" class="form-control" data-placeholder="Select Group(s)">
                                            <option value="0">Select Group</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label class="frmlbltxt w-100" for="ui_ConfigurationName">ESP Configuration Name</label>
                                    <select name="" class="form-control" id="ui_ConfigurationName"></select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
                        </div>
                        <p class="text-danger font-13 mt-3 mb-0">Note:</p>
                        <p class="frmlbltxt">Selected test group should have maximum 30 contacts.</p>
                    </div>
                    <div class="previewtempsidewrp hideDiv">
                        <div class="mailDeskWrap">
                            <div class="windowbar"></div>
                            <div id="ui_div_MailTemplatePreview" class="mailbodyWrap"></div>
                        </div>
                        <div class="clseprevtemp">
                            <i class="icon ion-android-close fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <a href="javascript:void(0)" id="ui_a_TestMailTemplate" class="btn btn-primary mr-2 mailbtn-send">
                    Test Now <i class="icon ion-android-send pl-1"></i>
                </a>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Mail/CreateMailTestCampaign.js"></script>