<!--Popup window left-->
<div id="ui_divUploadLandingPage" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Create a new Field</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-20">
                <form action="">
                    <div class="custFormWrap">
                        <form action="">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Page Name</label>
                                <input id="editlpagename" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Page Description</label>
                                <textarea name="" id="editlpagedescrpt" class="form-control" cols="30"
                                          rows="2"></textarea>
                            </div>
                            <div id="ui_div_fileuploadwrap" class="fileuploadwrap mt-1 hideDiv">
                                <div class="form-group border">
                                    <input class="btn bg-trans pr-4" type="file" multiple="" name="files[]" id="ui_files" accept=".jpeg,.jpg,.gif,.png,.bmp,.html,.htm,.JPEG,.JPG,.GIF,.PNG,.BMP,.HTML,.HTM" />
                                </div>
                            </div>
                            <div id="ui_div_uptempnotewrap" class="uptempnotewrap mt-4 hideDiv">
                                <p class="text-color-error mb-0">Note:</p>
                                <p class="font-12 mt-0 mb-1">Please select your HTML file &amp; all the related images in a single upload.</p>
                                <p class="font-12 mt-0">Please make sure all the images have either an absolute path to the image <span class="text-color-blue">(for e.g. http://www.example.com/image.jpg)</span> or relative path to an attached image folder <span class="text-color-blue">(for e.g. images/Filename.jpg)</span></p>
                            </div>
                        </form>
                    </div>
                </form>
                <div id="accordionpage" class="accordion-one" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a class="tx-gray-800 transition collapsed" data-toggle="collapse"
                               data-parent="#accordionpage" href="#collapseFour" aria-expanded="false"
                               aria-controls="collapseFour">
                                Domain Settings
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                             data-parent="#accordionpage">
                            <div class="card-body p-0">
                                <div class="domainwrp">
                                    <h3 class="box-title pt-4 pb-3 mb-0 text-center">
                                        Connect your Domain with a
                                        CNAME
                                        record
                                    </h3>
                                    <div class="notewrp">
                                        <i class="icon ion-ios-information-outline"></i>
                                        <p>
                                            You must follow the correct setup with your provider for this step to
                                            work.
                                        </p>
                                    </div>
                                    <div class="logwrp">
                                        <ul>
                                            <li>
                                                Log in to your domain provider for <span id="ui_span_DName"></span> and
                                                navigate to anything related to DNS settings or something close
                                                to it.
                                            </li>
                                            <li>
                                                Add a CNAME record for <span id="ui_span_LPName"></span> and paste the following so it
                                                points to:
                                                <span id="ui_span_CName"></span>
                                            </li>
                                            <button id="ui_button_CopyClpbrd" type="button" class="btn btn-primary mt-4">
                                                Copy to
                                                Clipboard
                                            </button>
                                        </ul>

                                    </div>
                                    <div class="btnwrp">
                                        <button type="button" class="btn btn-success btnverify">Verify</button>
                                        <p class="errermess hideDiv">Account not verified</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <a class="btn btn-primary mr-2" href="javascript:void(0);" id="ui_btn_LandingPageNext">Next</a>
                <a class="btn btn-secondary clsepopup" href="javascript:void(0);">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!--Popup window left-->