<div id="viewcustdatapop" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle bg-primary">
            <div class="popuptitlwrp">
                <h6>Event Name</h6>
                <small class="popupsubtitle"></small>
            </div>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div class="addtocartwrp bg-white">
                    <table class="table">
                        <tbody id="ui_tblReportDataPopUp">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


@*<script src="~/js/CustomEvents/CustomEventFields.js"></script>*@