<div class="popupcontainer hideDiv" id="ui_divTemplatePopUp">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>
                EDIT POP-UP PREFILLED
            </h6>
            <i id="ui_iconCloseTemplatePopup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div id="edittempl" class="dropItemWrap">
                    <div class="popcontWrap">
                        <div class="form-group">
                            <label class="frmlbltxt">Campaign Name</label>
                            <div class="emailtempdropdown">
                                <select class="form-control addCampName" data-placeholder="Select Campaign" id="ui_ddlTemplateCampaign">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="frmlbltxt">Template Name</label>
                            <input type="text" class="form-control" id="ui_txtTemplateName" maxlength="100" />
                        </div>
                        <div class="form-group">
                            <label class="frmlbltxt">Template Description</label>
                            <textarea id="ui_txtareaTemplateDesc" class="form-control" cols="30" rows="2" maxlength="500"></textarea>
                        </div>
                        <div class="form-group position-relative">
                            <label class="frmlbltxt">Subject Line</label>
                            <input name="" id="ui_txtSubjectLine" class="form-control" cols="30" rows="2" maxlength="250" />

                            <div class="bwseruserartribwrp dropdown" style="top: 32px; right: 10px;">
                                <div class="drpicon" data-toggle="dropdown" title="User Attributes" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon ion-android-person"></i>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <div class="dropdwntabwrap">
                                        <div class="dropdwntabitem">
                                            <div id="mailtemplatesubuserattr" dataclass="#mailtemplatesubuserattr,#mailtemplatesubcsteventattr" data-tabcontid="userattrmailtemplatesub" class="dropdwntabs active">User Attribute</div>
                                            <div id="mailtemplatesubcsteventattr" dataclass="#mailtemplatesubuserattr,#mailtemplatesubcsteventattr" data-tabcontid="csteventmailtemplatesub" class="dropdwntabs">Custom Events</div>
                                        </div>
                                        <div class="dropdwntabcontwrap">
                                            <div id="userattrmailtemplatesub" class="userattribwrap">
                                                <h6 class="dropdown-title">User Attribute</h6>
                                                <select id="draganddropcutomre" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                    <option label="Select">Select</option>
                                                </select>
                                            </div>

                                            <div id="csteventmailtemplatesub" class="userattribwrap hideDiv">
                                                <h6 class="dropdown-title">Custom Events</h6>
                                                <select id="eventnamemessage" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                    <option label="Events Items">Select</option>
                                                </select>
                                                <div class="mt-3">
                                                    <select id="eventitemsmessage" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                        <option label="Events Items">Select Event Items</option>

                                                    </select>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="ui_btnTemplateNext" actiontype="" templateid="" beetemplate="">Next</button>
                <button class="btn btn-secondary" type="button" id="ui_btnCloseTemplatePopup">Cancel</button>
            </div>
        </div>
    </div>
</div>