<div id="eventTrackingUCP" class="dropItemWrap hideDiv">

    <div id="popupeventTrackingUCP" class="popupcontainerUCP hideDiv">
        <div class="popupItem m-p-wid-300 position-relative popup-tbl w-650">
            <div class="popuptitle">
                <h6></h6>
                <i id="close-popup" class="icon ion-close"></i>
            </div>
            <div class="popupbody">
                <div class="popupbodycont pad-20">

                    <div class="lmsviewnoteswrp mt-4">
                        <div class="tableWrapper bg-white">
                            <div class="table-responsive min-h-300">
                                <table id="ui_tbleventtrackerdata" class="table mb-0 border">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="td-wid-24 m-p-w-170">
                                                <div class="sortWrap"></div>Event Name

                                            </th>
                                            <th class="td-wid-20 m-p-w-120 helpIcon" scope="col">
                                                <div class="sortWrap"></div>Event Values

                                            </th>
                                            <th class="td-wid-40 m-p-w-120" scope="col">
                                                <div class="sortWrap"></div>PageName
                                            </th>
                                            <th class="td-wid-16 m-p-w-120" scope="col">
                                                <div class="sortWrap"></div>Date
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbleventtracker"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>