@using Newtonsoft.Json
@using P5GenralML
@using Plumb5GenralFunction
@using Plumb5.Models
@{
    LoginInfo? UserInfo = null;
    if (!String.IsNullOrEmpty(Context.Session.GetString("UserInfo")))
        UserInfo = JsonConvert.DeserializeObject<LoginInfo?>(Context.Session.GetString("UserInfo"));

    PermissionsLevels? PermissionInfo = null;
    if (!String.IsNullOrEmpty(Context.Session.GetString("MyPermission")))
        PermissionInfo = JsonConvert.DeserializeObject<PermissionsLevels>(Context.Session.GetString("MyPermission"));
}

@if (UserInfo.IsSuperAdmin == 1 || PermissionInfo == null || PermissionInfo.Export)
{
    <div id="ui_divReportExport" class="iconsWrap hideDiv" style="display:flex !important">
        <i class="icon ion-ios-cloud-download-outline ContributePermission hideDiv" id="ui_exportOrDownloadAll" data-toggle="modal" data-target=".bd-example-modal-sm" title="Download All"></i>
        <i title="Export" class="icon ion-ios-download-outline ContributePermission" id="ui_exportOrDownload" data-toggle="modal" data-target=".bd-example-modal-sm"></i>
        <i title="Print" class="icon ion-ios-printer-outline ContributePermission" id="ui_printscreen"></i>
    </div>
}

<div class="modal fade bd-example-modal-sm" id="downloadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Export Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">File Format</label>
                        <select class="form-control" name="ExportFileType" id="ui_ddl_ExportFileType">
                            <option value="csv">.CSV &nbsp;(Text Tab-separated '|' values)</option>
                            <option value="xls">.XLS &nbsp;&nbsp;(Microsoft Excel 97-2003)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Export Data by</label>
                        <select class="form-control" id="ui_ddl_ExportDataRange">
                            <option value="1">Current Page</option>
                            <option value="2">All Records</option>
                            <option value="3">Input Range</option>
                        </select>
                    </div>
                    <div id="ui_divExportInput" class="form-group hideDiv">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="0" id="ui_txtFromRange">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="100" id="ui_txToRange">
                            </div>
                        </div>
                        <small class="form-text text-muted hideDiv" id="ui_smallSpecialRangeNote"><b>Note:</b> Maximum of 10 Groups</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ui_btnDataExport">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ExportData.js"></script>