<div id="ui_div_FormChatWebHookResponse" class="popupcontainer hideDiv">
    <div class="popupItem  m-p-wid-300 position-relative w-650">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>Webhook Response</h6>
                <small id="ui_subtitle_small" class="popupsubtitle"></small>
            </div>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <table id="ui_tbl_ResponseReportData" class="table no-data-records hideDiv">
                <thead>
                    <tr>
                        <th class="td-wid-30 m-p-w-170" scope="col">Response</th>
                    </tr>
                </thead>
                <tbody id="ui_tbody_ResponseReportData">
                    <tr><td colspan="1" class='border-bottom-none'><div class='no-data'>There is no data for this view</div></td></tr>
                </tbody>
            </table>
            <div id="ui_div_ResponseJson" class="hideDiv"></div>
        </div>
        <div class="popupfooter">
            @* Pagging pop up bottom *@
            <div class="pagiWrap p-0 w-100" id="ui_Paggingdiv">
                <div class="paginItem">
                    <div class="showrowWrap mr-3">
                        <label class="rowTxt">Show rows: </label>
                        <select class="rowdropdown" name="" id="ui_drpdwn_NumberOfRecords">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="pagiarrow">
                        <div class="pagicount">
                            <label class="rowTxt pl-2" id="ui_lbl_Paging"></label>
                        </div>
                        <div class="arrowWrap">
                            <div class="arrleft disableDiv" id="ui_div_BackPopPaging">
                                <i class="icon ion-chevron-left"></i>
                            </div>
                            <div class="arrleft" id="ui_div_NextPopPaging">
                                <i class="icon ion-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery.json-editor.min.js"></script>
<script src="~/js/FormChatWebHookResponse.js"></script>