<div class="settcontainer">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div id="inactivitynotif" class="setttabcontainer">
                    <div class="lmsinactivnotifwrp p-3">
                        <div class="lmsassignuserchkbxwrp mt-3">
                            <label for="" class="frmlbltxt w-100">
                                Allow Auto Alert Notifications
                            </label>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="ui_checkautoNotificationMail" name="AutoNotificationMail" value="1">
                                <label class="custom-control-label" for="ui_checkautoNotificationMail">Mail</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="ui_checkautoNotificationSms" name="AutoNotificationSms" value="0">
                                <label class="custom-control-label" for="ui_checkautoNotificationSms">SMS</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="ui_checkautoNotificationWA" name="AutoNotificationWA" value="2">
                                <label class="custom-control-label" for="ui_checkautoNotificationWA">WhatsApp</label>
                            </div>
                        </div>
                        <div class="lmssavebtnwrp mt-4">
                            <button id="ui_btnSaveAutoNotification" type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Prospect/LeadAssignmentAgentNotification.js"></script>