@{
    LoginInfo? CustomerInfo = null;
    if (!String.IsNullOrEmpty(Context.Session.GetString("UserInfo")))
        CustomerInfo = JsonConvert.DeserializeObject<LoginInfo?>(Context.Session.GetString("UserInfo"));
}

@{
    PermissionsLevels? PermissionDetails = null;
    if (!String.IsNullOrEmpty(Context.Session.GetString("MyPermission")))
        PermissionDetails = JsonConvert.DeserializeObject<PermissionsLevels>(Context.Session.GetString("MyPermission"));
}
<div class="popupcontainer hideDiv" id="ui_lmshistory">
    <div class="popupItem m-p-wid-300 position-relative w-75">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>History</h6>
                <small class="popupsubtitle" id="ui_LeadName">NA</small>
            </div>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div class="lmspopupswindwrp p-2">
                    <div class="lftpopuptab">
                        @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.LeadManagement || PermissionDetails.LeadManagementView || PermissionDetails.LeadManagementContribute || PermissionDetails.LeadManagementHasFullControl)))
                        {
                            <div data-popuptab="leadhistory" id="ui_ShowLead" class="lftpopuptabitem active">Lead</div>
                            <div data-popuptab="notes" class="lftpopuptabitem">Notes</div>
                            <div data-popuptab="calls" class="lftpopuptabitem">Calls</div>
                        }

                        @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.EmailMarketing || PermissionDetails.EmailMarketingView || PermissionDetails.EmailMarketingContribute || PermissionDetails.EmailMarketingHasFullControl)) || (PermissionDetails.LeadManagement || PermissionDetails.LeadManagementView || PermissionDetails.LeadManagementContribute || PermissionDetails.LeadManagementHasFullControl))
                        {
                            <div data-popuptab="emails" class="lftpopuptabitem">Email</div>
                        }
                        @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.SMS || PermissionDetails.SMSView || PermissionDetails.SMSContribute || PermissionDetails.SMSHasFullControl)) || (PermissionDetails.LeadManagement || PermissionDetails.LeadManagementView || PermissionDetails.LeadManagementContribute || PermissionDetails.LeadManagementHasFullControl))
                        {
                            <div data-popuptab="sms" class="lftpopuptabitem">SMS</div>
                        }
                        @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.Whatsapp || PermissionDetails.WhatsappView || PermissionDetails.WhatsappContribute || PermissionDetails.WhatsappHasFullControl)) || (PermissionDetails.LeadManagement || PermissionDetails.LeadManagementView || PermissionDetails.LeadManagementContribute || PermissionDetails.LeadManagementHasFullControl))
                        {
                            <div data-popuptab="whatsapp" class="lftpopuptabitem">Whatsapp</div>
                        }
                        @if (CustomerInfo.IsSuperAdmin == 1 || (PermissionDetails != null && (PermissionDetails.LeadScoring || PermissionDetails.LeadScoringView || PermissionDetails.LeadScoringContribute || PermissionDetails.LeadScoringHasFullControl)) || (PermissionDetails.LeadManagement || PermissionDetails.LeadManagementView || PermissionDetails.LeadManagementContribute || PermissionDetails.LeadManagementHasFullControl))
                        {
                            <div data-popuptab="scroing" class="lftpopuptabitem">Scroing</div>
                        }
                    </div>
                    <div class="lftpopupcont">
                        <div class="showDateIconWrap border-bottom">
                            <div class="showDateWrap brd-bttm-none mb-0">
                                <div class="showTxt">Showing Data for :</div>
                                <div class="dateWrap">
                                    <div class="datedropdown datedropdownHistory">
                                        <button class="btn dropdown-toggle" id="selectdateDropdownLeadHistory" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            This Week
                                        </button>
                                        <div id="ui_drpdwn_DateRange" class="dropdown-menu dropdown-menuHistory" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(134px, 146px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a class="dropdown-item" href="javascript:void(0)">Today</a>
                                            <a class="dropdown-item" href="javascript:void(0)">This Week</a>
                                            <a class="dropdown-item" href="javascript:void(0)">This Month</a>
                                            <a data-datereange="Custom Date Range" class="dropdown-item m-p-h custrangedate" href="javascript:void(0)">Custom Date Range</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="dateBoxWrap dateBoxWrapLeadHistory">
                                    <div class="dateStart">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="icon ion-calendar"></i></span>
                                            </div>
                                            <input type="text" class="form-control addcalend" placeholder="Start Date" id="ui_txtStartDateHistory">
                                        </div>
                                    </div>
                                    <i class="icon ion-android-arrow-forward"></i>
                                    <div class="dateStart">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="icon ion-calendar"></i></span>
                                            </div>
                                            <input type="text" class="form-control addcalend" placeholder="End Date" id="ui_txtEndDateHistory">
                                        </div>
                                    </div>
                                    <div class="btn-datessubWrap">
                                        <button class="btn btn-active" type="button" id="ui_btnCustomDateApplyHistory">Go</button>
                                    </div>
                                    <div class="dateclseWrap dateclseWrapHistory">
                                        <i class="icon ion-ios-close-outline"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="iconsWrap">
                                <div class="lmssourcefilterwrp">
                                    <div class="lmsdrpdwnsel">
                                        <select class="form-control selectpicker" data-live-search="true" multiple data-placeholder="Select Sources" id="ui_drpdwn_SelectHistoryFilters">
                                            <option value="Source">Source</option>
                                            <option value="Stage">Stage</option>
                                            <option value="Handled By">Handled By</option>
                                            <option value="Repeat Lead">Repeat Lead</option>
                                            <option value="Contact">Contact</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="emails" class="lftpopupcontitem hideDiv">
                            <h6 class="tab-title">Email History</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table popuppreveye-tbl mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">
                                                    Preview
                                                </th>
                                                <th scope="col" class="helpIcon m-p-w-190 td-wid-25">
                                                    Template Name
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-25" scope="col">
                                                    User Name
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-15" scope="col">
                                                    Subject
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-0" scope="col">
                                                    Opened
                                                </th>
                                                <th class="helpIcon m-p-w-160 td-wid-0" scope="col">
                                                    Clicked
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-0" scope="col">
                                                    Forwarded
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-20" scope="col">
                                                    Sent Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_historyEmails">
                                            <tr>
                                                <td colspan="7" class="border-bottom-0">
                                                    <div class="no-data ">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="sms" class="lftpopupcontitem hideDiv">
                            <h6 class="tab-title">SMS History</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table sms-tbl mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">
                                                    Preview
                                                </th>
                                                <th scope="col" class="helpIcon m-p-w-190 td-wid-30">
                                                    Template Name
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-20" scope="col">
                                                    User Name
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-15" scope="col">
                                                    Phone Number
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-0" scope="col">
                                                    Delivered
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-0" scope="col">
                                                    Clicked
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-20" scope="col">
                                                    SentDate
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_SmsHistory">
                                            <tr>
                                                <td colspan="7" class="border-bottom-0">
                                                    <div class="no-data ">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div id="whatsapp" class="lftpopupcontitem hideDiv">
                            <h6 class="tab-title">Whatsapp History</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table sms-tbl mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">Preview</th>
                                                <th class="m-p-w-150 td-wid-15" scope="col">Template</th>
                                                <th class="m-p-w-150 td-wid-15" scope="col">User Name</th>
                                                <th class="m-p-w-150 td-wid-15" scope="col">Phone Number</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Delivered</th>
                                                <th class="m-p-w-130 td-wid-11" scope="col">Read</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Clicked</th>
                                                <th class="m-p-w-130 td-wid-13" scope="col">Sent Date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_WhatsappHistory">
                                            <tr>
                                                <td colspan="7" class="border-bottom-0">
                                                    <div class="no-data ">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="calls" class="lftpopupcontitem hideDiv">
                            <h6 class="tab-title">Calls History</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-190 td-wid-10">
                                                    User Name
                                                </th>
                                                @*<th scope="col" class="helpIcon m-p-w-190 td-wid-10">
                                                Phone Number
                                                </th>*@
                                                <th class="helpIcon m-p-w-150 td-wid-10" scope="col">
                                                    Status
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-10" scope="col">
                                                    Total Duration
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-10" scope="col">
                                                    Pick Duration
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-10" scope="col">
                                                    Recorded File
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-10" scope="col">
                                                    Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_leadCallHistory">
                                            <tr>
                                                <td colspan="6" class="border-bottom-0">
                                                    <div class="no-data ">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div id="leadhistory" class="lftpopupcontitem">
                            <h6 class="tab-title">Lead History</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-190 td-wid-30">
                                                    Column Name
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-20" scope="col">
                                                    Updated Value
                                                </th>

                                                <th class="helpIcon m-p-w-190 td-wid-20" scope="col">
                                                    Previous Value
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-30" scope="col">
                                                    Updated Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_Leadhistorytbody">
                                            <tr>
                                                <td colspan="4" class="border-bottom-0">
                                                    <div class="no-data ">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="notes" class="lftpopupcontitem hideDiv">
                            <h6 class="tab-title">Notes History</h6>
                            <div class="tableWrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-190 td-wid-40">
                                                    Note
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-20" scope="col">
                                                    Agent Name
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-20" scope="col">
                                                    Attachmnent
                                                </th>
                                                <th class="helpIcon m-p-w-190 td-wid-20" scope="col">
                                                    Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_HistoryNotes">
                                            <tr>
                                                <td colspan="3" class="border-bottom-0">
                                                    <div class="no-data ">There is no data for this view.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="scroing" class="lftpopupcontitem hideDiv">
                            <h6 class="tab-title">Score History</h6>
                            <div class="actionitemwrp">
                                <div class="actionhistwrap border-top-bottom w-100" id="location-div">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_WhatsAppPreview");
}

<script src="~/js/Prospect/LeadHistory.js"></script>
