<div class="popupcontainer hideDiv" id="ui_divLmsFields">
    <div class="popupItem w-650 m-p-wid-300 position-relative">
        <div class="popuptitle LeadTab">
            <div class="popuptitlwrp">
                <h6 id="ui_h6ContactPopUpTitle">Lms Fields</h6>
                <small class="popupsubtitle" id="ui_smallContactPopUpSubTitle"></small>
            </div>
            <i id="ui_iCloseLeadField" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div class="lmspopupswindwrp">
                    <div class="lmscustfieldtbl">
                        <table class="table border" id="ui_tblCustomFieldReportData">
                            <thead>
                                <tr>
                                    <th class="td-wid-35 m-p-w-170" scope="col">DisplayName</th>
                                    <th class="td-wid-30 m-p-w-170" scope="col">Field Position</th>
                                    <th class="td-wid-20 m-p-w-170" scope="col">OverrideBy</th>
                                    <th class="td-wid-15 m-p-w-170" scope="col">SearchBy</th>
                                    <th class="td-wid-15 m-p-w-170" scope="col">Publisher Field</th>
                                    <th class="td-wid-15 m-p-w-170" scope="col">Publisher SearchBy</th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyCustomFieldReportData">
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtPublisher" placeholder="Publisher"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlPublisher">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad01" name="showall1"> <label class="custom-control-label" for="custrad01"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad02" name="showall2"> <label class="custom-control-label" for="custrad02"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad01" name="showall1"> <label class="custom-control-label" for="pubcustrad01"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox hideDiv">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad02" name="showall2"> <label class="custom-control-label" for="pubcustrad02"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtpriPublisher" placeholder="PrimaryPublisher" ></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlpriPublisher">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pricustrad1" name="showall1"> <label class="custom-control-label" for="pricustrad1"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pricustrad2" name="showall2"> <label class="custom-control-label" for="pricustrad2"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox hideDiv">
                                                <input type="checkbox" disabled class="custom-control-input" id="pripubcustrad1" name="showall1"> <label class="custom-control-label" for="pripubcustrad1"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox hideDiv">
                                                <input type="checkbox" disabled class="custom-control-input" id="pripubcustrad2" name="showall2"> <label class="custom-control-label" for="pripubcustrad2"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtallPublisher" placeholder="AllPublisher" ></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlallPublisher">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox hideDiv">
                                                <input disabled type="checkbox" class="custom-control-input" id="allcustrad1" name="showall1"> <label class="custom-control-label" for="allcustrad1"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox hideDiv">
                                                <input disabled type="checkbox" class="custom-control-input" id="allcustrad2" name="showall2"> <label class="custom-control-label" for="allcustrad2"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox hideDiv">
                                                <input disabled type="checkbox" class="custom-control-input" id="allpubcustrad1" name="showall1"> <label class="custom-control-label" for="allpubcustrad1"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox hideDiv">
                                                <input disabled type="checkbox" class="custom-control-input" id="allpubcustrad2" name="showall2"> <label class="custom-control-label" for="allpubcustrad2"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>



                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName1" placeholder="LmsCustomField1"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType1">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad1" name="showall1"> <label class="custom-control-label" for="custrad1"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad2" name="showall2"> <label class="custom-control-label" for="custrad2"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad1" name="showall1"> <label class="custom-control-label" for="pubcustrad1"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad2" name="showall2"> <label class="custom-control-label" for="pubcustrad2"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName2" placeholder="LmsCustomField2"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType2">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad3" name="showall3"> <label class="custom-control-label" for="custrad3"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad4" name="showall4"> <label class="custom-control-label" for="custrad4"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad3" name="showall1"> <label class="custom-control-label" for="pubcustrad3"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad4" name="showall2"> <label class="custom-control-label" for="pubcustrad4"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName3" placeholder="LmsCustomField3"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType3">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad5" name="showall5"> <label class="custom-control-label" for="custrad5"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad6" name="showall6"> <label class="custom-control-label" for="custrad6"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad5" name="showall5"> <label class="custom-control-label" for="pubcustrad5"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad6" name="showall6"> <label class="custom-control-label" for="pubcustrad6"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName4" placeholder="LmsCustomField4"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType4">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad7" name="showall7"> <label class="custom-control-label" for="custrad7"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad8" name="showall8"> <label class="custom-control-label" for="custrad8"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad7" name="showall7"> <label class="custom-control-label" for="pubcustrad7"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad8" name="showall8"> <label class="custom-control-label" for="pubcustrad8"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName5" placeholder="LmsCustomField5"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType5">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad9" name="showall9"> <label class="custom-control-label" for="custrad9"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad10" name="showall10"> <label class="custom-control-label" for="custrad10"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad9" name="pubshowall9"> <label class="custom-control-label" for="pubcustrad9"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad10" name="pubshowall10"> <label class="custom-control-label" for="pubcustrad10"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName6" placeholder="LmsCustomField6"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType6">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad11" name="showall11"> <label class="custom-control-label" for="custrad11"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad12" name="showall12"> <label class="custom-control-label" for="custrad12"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad11" name="showall11"> <label class="custom-control-label" for="pubcustrad11"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad12" name="showall12"> <label class="custom-control-label" for="pubcustrad12"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName7" placeholder="LmsCustomField7"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType7">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad13" name="showall13"> <label class="custom-control-label" for="custrad13"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad14" name="showall14"> <label class="custom-control-label" for="custrad14"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad13" name="showall13"> <label class="custom-control-label" for="pubcustrad13"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad14" name="showall14"> <label class="custom-control-label" for="pubcustrad14"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName8" placeholder="LmsCustomField8"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType8">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad15" name="showall15"> <label class="custom-control-label" for="custrad15"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad16" name="showall16"> <label class="custom-control-label" for="custrad16"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad15" name="showall15"> <label class="custom-control-label" for="pubcustrad15"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad16" name="showall16"> <label class="custom-control-label" for="pubcustrad16"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName9" placeholder="LmsCustomField9"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType9">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad17" name="showall7"> <label class="custom-control-label" for="custrad17"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad18" name="showall18"> <label class="custom-control-label" for="custrad18"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad17" name="showall7"> <label class="custom-control-label" for="pubcustrad17"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad18" name="showall18"> <label class="custom-control-label" for="pubcustrad18"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName10" placeholder="LmsCustomField10"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType10">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad19" name="showall19"> <label class="custom-control-label" for="custrad19"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad20" name="showall20"> <label class="custom-control-label" for="custrad20"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad19" name="showall19"> <label class="custom-control-label" for="pubcustrad19"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad20" name="showall20"> <label class="custom-control-label" for="pubcustrad20"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>





                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName11" placeholder="LmsCustomField11"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType11">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad21" name="showall21"> <label class="custom-control-label" for="custrad21"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad22" name="showall22"> <label class="custom-control-label" for="custrad22"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad21" name="showall21"> <label class="custom-control-label" for="pubcustrad21"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad22" name="showall22"> <label class="custom-control-label" for="pubcustrad22"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName12" placeholder="LmsCustomField12"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType12">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad23" name="showall23"> <label class="custom-control-label" for="custrad23"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad24" name="showall24"> <label class="custom-control-label" for="custrad24"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad23" name="showall23"> <label class="custom-control-label" for="pubcustrad23"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad24" name="showall24"> <label class="custom-control-label" for="pubcustrad24"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName13" placeholder="LmsCustomField13"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType13">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad25" name="showall25"> <label class="custom-control-label" for="custrad25"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad26" name="showall26"> <label class="custom-control-label" for="custrad26"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad25" name="showall25"> <label class="custom-control-label" for="pubcustrad25"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad26" name="showall26"> <label class="custom-control-label" for="pubcustrad26"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName14" placeholder="LmsCustomField14"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType14">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad27" name="showall27"> <label class="custom-control-label" for="custrad27"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad28" name="showall28"> <label class="custom-control-label" for="custrad28"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad27" name="showall27"> <label class="custom-control-label" for="pubcustrad27"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad28" name="showall28"> <label class="custom-control-label" for="pubcustrad28"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left td-icon"><input type="text" class="form-control" id="ui_txtCustomfieldName15" placeholder="LmsCustomField15"></td>
                                    <td>
                                        <select class="form-control ddlCotactFld" name="" id="ui_ddlFieldType15">
                                            <option value="0">Select</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad29" name="showall29"> <label class="custom-control-label" for="custrad29"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="custrad30" name="showall30"> <label class="custom-control-label" for="custrad30"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad29" name="showall29"> <label class="custom-control-label" for="pubcustrad29"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="df-ac-jcenter">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="pubcustrad30" name="showall30"> <label class="custom-control-label" for="pubcustrad30"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter df-ac-sbet" id="dv_btncreatefooter">
            <div class="btnwrp">
                <button id="ui_btn_Save" class="btn btn-primary mr-2" type="button" BindType="NEW">Save</button>
                <button class="btn btn-secondary" id="ui_btnCloseLeadField" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Prospect/LmsFields.js"></script>
