<div class="dropdown-menu dropdown-menu-right top-14 m-top-66" aria-labelledby="dropdownMenuButton" id="ui_dvNotification">
    <div class="dropdown-menu-header">
        <h6 class="dropdown-menu-title">Activity Logs</h6>
    </div>
    <div class="dropdown-activity-list" id="ui_dvNotificationReport">
    </div>
</div>

<script src="~/js/LogsNotification.js"></script>