@{
    var MailVendorList = Plumb5GenralFunction.MailGeneralBaseFactory.EmailVendorList;
}


<div class="card">
    <div class="card-header" role="tab" id="headingTwo">
        <a class="tx-gray-800 transition collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Email Service Provider (ESP)
        </a>

    </div>

    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <div class="addemailWrap m-mb-3">
                <div class="embtnwrap">
                    <button type="button" id="Ui_addvendors" class="btn btn-primary btn-sm selprovid">Add Provider</button>
                </div>
                <div class="tableWrapper tbl-settings">
                    <div class="table-responsive">
                        <table class="table tbl-td-ta-lft" id="ui_tblReportServiceProviderReportData">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-20 m-p-w-190" scope="col">
                                        <div class="spacBet">
                                            <div>Configuration Name</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap">Configuration Name</div></div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-190" scope="col">
                                        <div class="spacBet">
                                            <div>ESP</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-220" scope="col">
                                        <div class="spacBet">
                                            <div>Promotional API Key</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-220" scope="col">
                                        <div class="spacBet">
                                            <div>Transactional API Key</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-150" scope="col">
                                        <div class="spacBet">
                                            <div>Created Date/Updated Date</div>

                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-150" scope="col">
                                        <div class="spacBet">
                                            <div>Actions</div>

                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyServiceProviderReportData">
                            </tbody>
                        </table>
                        <div class="h-70"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Popup window right-->
<div class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative popup-tbl">
        <div class="popuptitle">
            <h6>Mail Settings</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div class="form-group">
                    <label for="exampleInputEmail1">Provider Name</label>
                    <div class="custselectwrap">
                        <input type="text" class="form-control drpdownselected text-int-30" name="" value="Select" id="ui_txtProviderName">
                        <div class="drpdwnarrw">
                            <i class="icon ion-android-arrow-dropdown"></i>
                        </div>
                        <div class="selproviderwrap">
                            @foreach (var item in MailVendorList)
                            {
                                <div class="selctproviderItem" data-providercampname="@item.Name" data-providercamplogo="@item.Logo">
                                    <div class="compdetails">
                                        <div class="@item.IconStyle"></div>
                                        <div class="provcompname ml-2">@item.Name</div>
                                    </div>
                                    <div class="providcount"></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="frmlbltxt">Configuration Name</label>
                    <input type="text" class="form-control" id="ui_ConfigurationName" autocomplete="off">
                </div>
                <div class="transtypwrap mt-4">
                    <div id="promoandtranskey" class="accordion-one" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#promoandtranskey" href="#promotionalaccrd" aria-expanded="true" aria-controls="promotionalaccrd" class="tx-gray-800 transition collapsed">
                                    Promotional Settings
                                </a>
                            </div><!-- card-header -->

                            <div id="promotionalaccrd" data-parent="#promoandtranskey" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="promowrp pt-2 pl-3 pr-3 pb-3">
                                        @*<div class="form-group popupradiobtn">
                                                <label for="" class="frmlbltxt d-block">Bulk Support</label>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="ui_IsPromoBulkSupportedYes" name="IsPromoBulkSupportedOrNot" class="custom-control-input" value="1" checked="checked">
                                                    <label class="custom-control-label" for="ui_IsPromoBulkSupportedYes">Yes</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="ui_IsPromoBulkSupportedNo" name="IsPromoBulkSupportedOrNot" class="custom-control-input" value="0">
                                                    <label class="custom-control-label" for="ui_IsPromoBulkSupportedNo">No</label>
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <label class="frmlbltxt">Account Name</label>
                                            <input type="text" class="form-control" id="ui_txtPromoAccountName" value="">
                                        </div>
                                        <div class="form-group">
                                            <label class="frmlbltxt">API Key</label>
                                            <input type="password" class="form-control" id="ui_txtPromoApikey" value="">
                                        </div>
                                        <div class="form-group hideDiv" id="ui_divPromoConfigurationSecret">
                                            <label class="frmlbltxt">API SecretKey</label>
                                            <input type="text" class="form-control" id="ui_txtPromoApiSecretKey" value="">
                                        </div>
                                        <div class="form-group">
                                            <label class="frmlbltxt">Configuration URL</label>
                                            <input type="text" class="form-control" id="ui_txtPromoConfigureUrl" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="trans">
                                <a class="tx-gray-800 transition collapsed" data-toggle="collapse" href="#transactionalaccrd" data-parent="#promoandtranskey" aria-expanded="false" aria-controls="transactionalaccrd">
                                    Transactional Settings
                                </a>
                            </div>
                            <div id="transactionalaccrd" class="collapse" role="tabpanel" data-parent="#promoandtranskey" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    <div class="transwrap pt-2 pl-3 pr-3 pb-3">
                                        @*<div class="form-group popupradiobtn">
                                                <label for="" class="frmlbltxt d-block">Bulk Support</label>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="ui_IsTransBulkSupportedYes" name="IsTransBulkSupportedOrNot" class="custom-control-input" value="0" checked="checked">
                                                    <label class="custom-control-label" for="ui_IsTransBulkSupportedYes">Yes</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="ui_IsTransBulkSupportedNo" name="IsTransBulkSupportedOrNot" class="custom-control-input" value="1">
                                                    <label class="custom-control-label" for="ui_IsTransBulkSupportedNo">No</label>
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <label class="frmlbltxt">Account Name</label>
                                            <input type="text" class="form-control" id="ui_txtTransAccountName" value="">
                                        </div>
                                        <div class="form-group">
                                            <label class="frmlbltxt">API Key</label>
                                            <input type="password" class="form-control" id="ui_txtTransApikey" value="">
                                        </div>
                                        <div class="form-group hideDiv" id="ui_divTransConfigurationSecret">
                                            <label class="frmlbltxt">API SecretKey</label>
                                            <input type="text" class="form-control" id="ui_txtTransApiSecretKey" value="">
                                        </div>
                                        <div class="form-group">
                                            <label class="frmlbltxt">Configuration URL</label>
                                            <input type="text" class="form-control" id="ui_txtTransConfigureUrl" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="trans">
                                <a class="tx-gray-800 transition collapsed" data-toggle="collapse" href="#apicallbackurl" data-parent="#promoandtranskey" aria-expanded="false" aria-controls="apicallbackurl">
                                    API Callback URL
                                </a>
                            </div>
                            <div id="apicallbackurl" class="collapse" role="tabpanel" data-parent="#promoandtranskey" aria-labelledby="headingThree" style="">
                                <div class="card-body">
                                    <div class="transwrap pt-2 pl-3 pr-3 pb-3">
                                        <div class="form-group">
                                            <label class="frmlbltxt" for="">Add the ESP Callback URL to receive delivery reports.</label>
                                            <p class="text-muted" id="ui_DeliveryAPI">No Url to bind</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card -->
                        <div class="custom-control custom-checkbox m-2">
                            <input type="checkbox" class="custom-control-input" id="ui_chkDefaultvendor" />
                            <label class="custom-control-label" for="ui_chkDefaultvendor">Set as default ESP</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="ui_btnSubmit" data-Action="Save">Submit</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>
    </div>

</div>
<!--Popup window right-->
<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deleteserviceprovider" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Service Provider?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteServiceProviderConfirm" type="button" class="btn btn-danger" data-dismiss="modal" data-provider="">Delete</button>
                <button id="cancelServiceProviderRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->

<script src="~/js/Mail/MailServiceProvider.js"></script>