
<div class="card hideDiv">
    <div class="card-header" role="tab" id="headingFour">
        <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Custom Unsubscribe
        </a>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            <div class="custwrap pl-4 pr-4 mt-3">
                <p>Custom Unsubscribe URL is used to redirect to an unsubscribe landing page, Only EmailId is allowed for optional parameter. Ex:http://subdomain.example.com/Unsubscribe?Emailid=[{*Emailid*}]</p>
            </div>

            <div class="chkbxinpwrap pl-4 pr-4 mt-3 mb-5">
                <div class="chbxwrap">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="ui_chkDescriptionMessage" title="" name="redirectemail">
                        <label class="custom-control-label" for="ui_chkDescriptionMessage" id="lbldesc" title=""></label>
                    </div>
                </div>
                <div class="inpturlwrap w-100">
                    <input type="text" name="" class="form-control form-control-sm w-100" id="ui_txtUnsubscribeUrl">
                </div>
                <div class="btnwrp ml-2 w-100pc">
                    <button type="button" class="btn btn-third btn-sm" id="ui_btnUpdateUnsubscribeUrl">Update</button>
                </div>
            </div>

        </div>
    </div><!-- collapse -->
</div>
<script src="~/js/Mail/MailUnsubscribe.js"></script>
