<div class="usebtnwrp">
    <div class="attachbtn mr-1 position-relative">
        <button type="button" class="btn btn-primary btn-sm">
            <i class="icon ion-android-attach font-16"></i>
        </button>
        <input type="file" class="inputfilebtn" multiple="" name="files[]" id="ui_fileUploadAttachment" accept=".jpg,.gif,.png,.bmp,.html,.htm,.JPG,.GIF,.PNG,.BMP,.HTML,.HTM,.pdf,.PDF,.xls,.XLS,.xlsx,.XLXS,.doc,.DOC,docx,.DOCX,.ppt,.PPT,.pptx,.PPTX,.txt,.TXT" />
    </div>
    <div class="dropdown attachfiledet">
        <button class="btn btn-primary dropdown-toggle" type="button" id="ui_btnAttachmentDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            See All Attachments
        </button>
        <div class="dropdown-menu w-200 dropdown-menu-right keepopen" aria-labelledby="ui_btnAttachmentDropdownMenu">
            <div class="attachitemwrp" id="ui_divAttachmentDetails"></div>
        </div>
    </div>
</div>

<!--Delete Confirm Modal-->
<div class="deldownmodalwrp" id="ui_divAttachmentDeletePopUp">
    <div class="deldownmodal">
        <div class="deldownheader">
            <h5 class="deldownmodal-title">Delete this file?</h5>
            <button type="button" class="close" id="ui_btnIconCloseDeleteAttach">X</button>
        </div>
        <div class="deldownmodalbody">
            <p>This action can't be undone. Are you sure that you want to permanently delete this file?</p>
        </div>
        <div class="deldownmodalfoot">
            <button type="button" class="btn btn-danger mr-2 font-12" id="ui_btnConfirmDeleteAttach" AttachmentId="" AttachmentName="">Delete</button>
            <button type="button" class="btn btn-secondary font-12" id="ui_btnCloseDeleteAttach">Cancel</button>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->

<script src="~/js/Mail/TemplateAttachment.js"></script>