<div id="spamscoresetts" class="setttabcontainer hideDiv">
    <div class="addemailWrap">
        <div class="addprovbtnwrap pl-0 pr-0">
            <h6 class="sett-title">Mail Spam Verify Setting </h6>
            <button id="btnProvider" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addSpamVerifySettings">Select Provider</button>
        </div>
        <div class="tableWrapper tbl-settings">
            <div class="table-responsive">
                <table id="ui_table_SpamVerifyReport" class="table tbl-td-ta-lft border">
                    <thead>
                        <tr>
                            <th class="helpIcon td-wid-40 m-p-w-170" scope="col">
                                <div class="spacBet">
                                    <div>Provider Name</div>
                                </div>
                            </th>
                            <th class="helpIcon td-wid-30 m-p-w-150" scope="col">
                                <div class="spacBet">
                                    <div>Status</div>
                                </div>
                            </th>
                            <th class="helpIcon td-wid-30 m-p-w-150" scope="col">
                                <div class="spacBet">
                                    <div>Created Date</div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="ui_tbody_SpamVerifyData"></tbody>
                </table>
                <div class="h-70"></div>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="addSpamVerifySettings" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Provider Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Provider Name</label>
                        <select name="" class="form-control" id="ui_drpdwn_AddSpamVerifySettings">
                            <option value="Select">Select</option>
                            <option value="Mail Tester">Mail Tester</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ui_btn_AddSpamVerifySettings" data-dismiss="modal"  data-Action="Save">Add Provider</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->

<script src="~/js/Mail/MailSpamVerifySettings.js"></script>