<div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="tx-gray-800 transition collapsed">
            Sender Email Ids
        </a>
    </div><!-- card-header -->

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="addemailWrap m-mb-3">
                <div class="embtnwrap">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addemailsett">Add Email</button>
                </div>
                <div class="tableWrapper tbl-settings">
                    <div class="table-responsive">
                        <table class="table tbl-td-ta-lft" id="ui_tblReportData">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-30 m-p-w-170" scope="col">
                                        <div class="spacBet">
                                            <div>From Email Id</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-150" scope="col">
                                        <div class="spacBet">
                                            <div>Status</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-150" scope="col">
                                        <div class="spacBet">
                                            <div>Show to All</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-150" scope="col">
                                        <div class="spacBet">
                                            <div>Delete</div>
                                            <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                        </div>
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Modal-->
<div class="modal fade" id="addemailsett" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Email Id</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email Address</label>
                        <input class="form-control" type="text" name="" id="ui_txtEmail">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="ui_btnAddEmail">Add Email</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this From Email Id?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger" data-id="0" data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<script src="~/js/Mail/MailSenderEmail.js"></script>