<div class="popupcontainer hideDiv" id="dvcampaignContacts">
    <div id="dv_campaignContacts" class="popupItem w-450 m-p-wid-300 position-relative popup-tbl">
        <div class="popuptitle">
            <h6 id="spnResponsesHead">Sent Details</h6>
            <div>
                <i title="Export" class="font-20 icon ion-close ion-ios-download-outline hideDiv" id="ui_exportMailClickDownload"></i>
                <i title="Export" class="font-20 icon ion-close ion-ios-download-outline hideDiv" id="ui_exportMailSentOpenOptOutBounceError"></i>
                <i title="Export" class="font-20 icon ion-close ion-ios-download-outline hideDiv" id="ui_exportMailUniqueclick"></i>
                <i title="Export" class="font-20 icon ion-close ion-ios-download-outline hideDiv" id="ui_exportMailUrls"></i>
                &nbsp;&nbsp;&nbsp;
                <i id="close-popup" class="icon ion-close"></i>
            </div>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div id="MailSent" class="camppopupwrppr">
                    <div class="popcontWrap p-0">
                        <div class="table-responsive">
                            <table class="table" id="ui_tblMailInnerReportData">
                                <thead>
                                    <tr id="thEmail">
                                        <th class="td-wid-43 m-p-w-170" scope="col">Email Id</th>
                                        <th class="td-wid-33 m-p-w-120 helpIcon" scope="col">Response ID <i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></th>
                                        <th class="td-wid-24 m-p-w-170" scope="col">Date</th>
                                    </tr>
                                    <tr id="thBounce">
                                        <th class="td-wid-24 m-p-w-170" scope="col">Email Id</th>
                                        <th class="td-wid-20 m-p-w-120 helpIcon" scope="col">Response ID <i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></th>
                                        <th class="td-wid-40 m-p-w-120" scope="col">Reason</th>
                                        <th class="td-wid-16 m-p-w-120" scope="col">Date</th>
                                    </tr>
                                    <tr id="thClick">
                                        <th class="td-wid-24 m-p-w-170" scope="col">Email Id</th>
                                        <th class="td-wid-20 m-p-w-120 helpIcon" scope="col">Response ID <i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></th>
                                        <th class="td-wid-40 m-p-w-120" scope="col">Url Link</th>
                                        <th class="td-wid-16 m-p-w-120" scope="col">Date</th>
                                    </tr>
                                    <tr id="thUrls">
                                        <th class="td-wid-30 m-p-w-170" scope="col">URL</th>
                                        <th class="td-wid-30 m-p-w-120" scope="col">Total Click</th>
                                        <th class="td-wid-40 m-p-w-120" scope="col">Total Unique-Click</th>
                                    </tr>
                                    <tr id="thUnique">
                                        <th class="td-wid-70 m-p-w-170" scope="col">Email Id</th>
                                    </tr>
                                </thead>
                                <tbody id="ui_tbodyMailInnerReportData"></tbody>

                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        @{ Html.RenderPartial("_InnerPaging"); }
    </div>

</div>

@{ Html.RenderPartial("_ExportInnerPageData"); }

<script src="~/js/Mail/MailCampaignResponsesContacts.js"></script>