<div class="dropdown-menu dropdown-menu-right top-14 m-top-66" aria-labelledby="dropdownMenuButton">
    <div class="dropdown-menu-header">
        <h6 class="dropdown-menu-title">Notifications</h6>
    </div>
    <a href="javascript:void(0);"></a>
    <div class="dropdown-activity-list" id="ui_dvNotifications"></div>
</div>

<script src="~/js/Notifications.js"></script>