
<div class="showDateIconWrap">
    <div class="showDateWrap brd-bttm-none mb-0">
        <div class="showTxt">Showing Data for :</div>
        <div class="dateWrap">
            <div class="datedropdown">
                <button class="btn dropdown-toggle selectdateDropdown" id="selectdateDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Last Week
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:void(0)">Last Week</a>
                    <a class="dropdown-item" href="javascript:void(0)">Last Month</a>
                    <a class="dropdown-item m-p-h" href="javascript:void(0)">Last 3 Months</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/PageHeadingWithDate.js"></script>