@model Plumb5.Areas.MyProfile.Models.PasswordReset
@using (Html.BeginForm("UpdatePassword", "Password", FormMethod.Post))
{
    <div id="tabconttwo" class="setttabcontainer hideDiv">
        <h6 class="box-title text-center profhead m-pt-20">Note: New Password should contain at least 3 UpperCase Letters, 3 LowerCase Letters, 3 Special Characters and 3 Numeric Characters.</h6>
        <div class="profipasswrp">
            <div class="form-group">
                <label class="frmlbltxt" for="">Old Password</label>
                @Html.TextBoxFor(m => m.OldPassword, null, new { @class = "form-control", id = "ui_txt_OldPassword", autocomplete = "off", type = "password", placeholder = "Old Password" })
            </div>
            <div class="form-group">
                <label class="frmlbltxt" for="">New Password</label>
                @Html.TextBoxFor(m => m.NewPassword, null, new { @class = "form-control", id = "ui_txt_NewPassword", autocomplete = "off", type = "password", placeholder = "New Password" })
            </div>
            <div class="form-group">
                <label class="frmlbltxt" for="">Confirm Password</label>
                @Html.TextBoxFor(m => m.ConfirmPassword, null, new { @class = "form-control", id = "ui_txt_ConfirmPassword", autocomplete = "off", type = "password", placeholder = "Confirm Password" })
            </div>
            <div class="btnwrp mt-3 mb-3">
                <button id="ui_btn_SubmitPassword" class="btn btn-primary mr-2" type="submit">Update</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>
    </div>
}

<script language="javascript" type="text/javascript">
    $(function () {
        $("form").submit(function (e) {
            $.post($(this).attr("action"),
                $(this).serialize(),
                function (data) {
                    if (data.Status)
                        ShowSuccessMessage(data.ErrorMessage);
                    else
                        ShowErrorMessage(data.ErrorMessage);
                });
            e.preventDefault();
        });
    });
</script>
