<script src="~/js/intlTelInput.js"></script>

<div id="ui_divSendCallPopUp" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>MAKE CALL</h6>
                <small class="popupsubtitle" id="ui_smallCallContactName"></small>
            </div>
            <i id="ui_iconCloseCallPopUp" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div class="lmspopupswindwrp pad-20">
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Phone Number</label>
                        <div class="d-flex align-items-center">
                            <input type="tel" class="form-control w-40px mr-2" id="intrnatphone">
                            <select id="ui_ddlContactCallPhoneNumbers" class="form-control addselect2drpdwn"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Agent Number</label>
                        <div class="d-flex align-items-center">
                            <input type="tel" class="form-control w-40px mr-2" id="intrnatphoneagent">
                            <select id="ui_ddlAgentCallPhoneNumbers" class="form-control addselect2drpdwn"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="ui_btnSendCall">Submit</button>
                <button class="btn btn-secondary clsepopup" type="button" id="ui_btnCancelCall">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/SendCallToContact.js"></script>