<div class="popupcontainer hideDiv" id="dvsmscampaignContacts">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Add Remove Group</h6>
            <div>
                <i title="Export" class="font-20 icon ion-close ion-ios-download-outline hideDiv" id="ui_exportDownloadsmsdetails"></i>
                &nbsp;&nbsp;&nbsp;
                <i id="close-popup" class="icon ion-close"></i>
            </div>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div id="remvgrupcont" class="camppopupwrppr hideDiv">
                    <div class="popcontWrap">
                        <div class="form-group row">
                            <label class="frmlbltxt col-sm-4" for="">Action</label>
                            <div class="spamscoreradi col-sm-8">
                                <div class="filetypewrap">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="ui_rad_Add" name="addremovetype" class="custom-control-input" checked="checked">
                                        <label class="custom-control-label" for="ui_rad_Add">Add</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="ui_rad_Remove" name="addremovetype" class="custom-control-input">
                                        <label class="custom-control-label" for="ui_rad_Remove">Remove</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="frmlbltxt" for="">Select Group</label>
                            <div class="emailtempdropdown">
                                <select class="form-control addCampName" data-placeholder="Select Group(s)" id="ui_ddlGroup">
                                    <option value="0">Select Group</option>
                                </select>
                            </div>
                        </div>
                        <div class="chbxcampreswrp mt-4">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="opencampres" name="Campaign" value="1">
                                <label class="custom-control-label" for="opencampres">Delivered</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="clickcampres" name="Campaign" value="2">
                                <label class="custom-control-label" for="clickcampres">Click</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="optoutcampres" name="Campaign" value="3">
                                <label class="custom-control-label" for="optoutcampres">Bounced</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="bouncecampres" name="Campaign" value="4">
                                <label class="custom-control-label" for="bouncecampres">Errors</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Sent" class="camppopupwrppr hideDiv">
                    <div class="popcontWrap p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="td-wid-30 m-p-w-170" scope="col">Phone Number</th>
                                        <th class="helpIcon td-wid-30 m-p-w-120" scope="col">Response ID &nbsp;<i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></th>
                                        <th class="td-wid-40 m-p-w-120" scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody id="ui_trSentdata"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="Error" class="camppopupwrppr hideDiv">
                    <div class="popcontWrap p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="td-wid-20 m-p-w-170" scope="col">Phone Number</th>
                                        <th class="helpIcon td-wid-20 m-p-w-120" scope="col">Response ID&nbsp;<i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></th>
                                        <th class="td-wid-30 m-p-w-120" scope="col">Reason</th>
                                        <th class="td-wid-30 m-p-w-120" scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody id="ui_trBounced"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="SmsEffectivenessURL" class="camppopupwrppr hideDiv">
                    <div class="popcontWrap p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="td-wid-40 m-p-w-170" scope="col">URL</th>
                                        <th class="td-wid-30 m-p-w-120" scope="col">Total Click</th>
                                        <th class="td-wid-30 m-p-w-120" scope="col">Total Unique-Click</th>
                                    </tr>
                                </thead>
                                <tbody id="ui_trSmsEffectivenessUrl"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="SmsUniqueClick" class="camppopupwrppr hideDiv">
                    <div class="popcontWrap p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="td-wid-30 m-p-w-170" scope="col">Phone Number</th>
                                    </tr>
                                </thead>
                                <tbody id="ui_trSmsEffectivenessContact"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="SmsTotalClick" class="camppopupwrppr hideDiv">
                    <div class="popcontWrap p-0">
                        <div class="table-responsive">
                            <table class="table" id="tblSmsTotalclick">
                                <thead>
                                    <tr>
                                        <th class="td-wid-20 m-p-w-170" scope="col">Phone Number</th>
                                        <th class="helpIcon td-wid-20 m-p-w-120" scope="col">Response ID&nbsp;<i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></th>
                                        <th class="td-wid-30 m-p-w-120" scope="col">Url Link</th>
                                        <th class="td-wid-30 m-p-w-120" scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody id="ui_trTotalclick">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            @* Pagging pop up bottom *@
            <div class="pagiWrap p-0 w-100" id="ui_Paggingdiv">
                <p class="text-color-error font-11 w-100 mb-2">Response details are delayed by 5 mins</p>
                <div class="paginItem">
                    <div class="showrowWrap mr-3">
                        <label class="rowTxt" for="">Show rows: </label>
                        <select class="rowdropdown" name="" id="">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div class="pagiarrow">
                        <div class="pagicount">
                            <label class="rowTxt pl-2" for="" id="ui_Paging"></label>
                        </div>
                        <div class="arrowWrap">
                            <div class="arrleft disableDiv" id="ui_BackpopPaging">
                                <i class="icon ion-chevron-left"></i>
                            </div>
                            <div class="arrleft" id="ui_NextPopPaging">
                                <i class="icon ion-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Add to group pop up bottom *@
            <div class="btnwrp hideDiv" id="ui_Groupsdiv">
                <button id="ui_btnAddOrRemove" class="btn btn-primary mr-2" type="button">Submit</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>
        @{ Html.RenderPartial("_InnerPaging"); }
    </div>
</div>

@*@{ Html.RenderPartial("_ExportInnerPageData"); }*@

<script src="~/js/Sms/SmsPopOverReport.js"></script>
