<div class="popupcontainer hideDiv" id="dvGScontact">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>GOOGLE LIVE SHEET CONNECTION</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody position-relative">
            <div id="googlesheetwrap">
                <div class="popupbodycont pad-20">
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Connection Name</label>
                        <input type="text" class="form-control" name="ui_txt_ConnectionName" id="ui_txt_ConnectionName">
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Spreadsheet Id</label>
                                <input type="text" class="form-control" name="ui_txt_SpreadsheetId" id="ui_txt_SpreadsheetId">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Range</label>
                                <input type="text" class="form-control" name="" id="ui_txt_Range" onfocusout="CallGoogleService()">
                            </div>
                        </div>
                    </div>
                    <div class="gsdatamapwrap bg-white p-3 hideDiv">
                        <p class="frmlbltxt w-100 font-weight-bold" for="">Data Mapping</p>
                        <div class="datamapappndwrap">
                        </div>
                        <button type="button" class="btn btn-action googlesheetmap">
                            <i class="fa fa-plus"></i>
                            Add Data Column
                        </button>

                    </div>
                    <div class="lmsgsdatamapwrap bg-white p-3 hideDiv">
                        <p class="frmlbltxt w-100 font-weight-bold" for="">Data Mapping</p>

                        <div class="lmsdatamapappndwrap">
                        </div>
                        <button type="button" class="btn btn-action lmsgooglesheetmap">
                            <i class="fa fa-plus"></i>
                            Add LMS Data Column
                        </button>
                    </div>
                    <div class="form-group mt-4 mb-4">
                        <label class="frmlbltxt" for="">Time Zone</label>
                        <select name="timezone_offset"
                                id="timezone_offset"
                                class="span5 form-control">
                            <option value="0">Select time zone name</option>
                            <option value="Dateline Standard Time">(GMT-12:00) International Date Line West</option>
                            <option value="Samoa Standard Time">(GMT-11:00) Midway Island, Samoa</option>
                            <option value="Hawaiian Standard Time">(GMT-10:00) Hawaii</option>
                            <option value="Alaskan Standard Time">(GMT-09:00) Alaska</option>
                            <option value="Pacific Standard Time">(GMT-08:00) Pacific Time (US and Canada); Tijuana</option>
                            <option value="Mountain Standard Time">(GMT-07:00) Mountain Time (US and Canada)</option>
                            <option value="Mexico Standard Time 2">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                            <option value="U.S. Mountain Standard Time">(GMT-07:00) Arizona</option>
                            <option value="Central Standard Time">(GMT-06:00) Central Time (US and Canada)</option>
                            <option value="Canada Central Standard Time">(GMT-06:00) Saskatchewan</option>
                            <option value="Mexico Standard Time">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                            <option value="Central America Standard Time">(GMT-06:00) Central America</option>
                            <option value="Eastern Standard Time">(GMT-05:00) Eastern Time (US and Canada)</option>
                            <option value="U.S. Eastern Standard Time">(GMT-05:00) Indiana (East)</option>
                            <option value="S.A. Pacific Standard Time">(GMT-05:00) Bogota, Lima, Quito</option>
                            <option value="Atlantic Standard Time">(GMT-04:00) Atlantic Time (Canada)</option>
                            <option value="S.A. Western Standard Time">(GMT-04:00) Caracas, La Paz</option>
                            <option value="Pacific S.A. Standard Time">(GMT-04:00) Santiago</option>
                            <option value="Newfoundland and Labrador Standard Time">(GMT-03:30) Newfoundland and Labrador</option>
                            <option value="E. South America Standard Time">(GMT-03:00) Brasilia</option>
                            <option value="S.A. Eastern Standard Time">(GMT-03:00) Buenos Aires, Georgetown</option>
                            <option value="Greenland Standard Time">(GMT-03:00) Greenland</option>
                            <option value="Mid-Atlantic Standard Time">(GMT-02:00) Mid-Atlantic</option>
                            <option value="Azores Standard Time">(GMT-01:00) Azores</option>
                            <option value="Cape Verde Standard Time">(GMT-01:00) Cape Verde Islands</option>
                            <option value="GMT Standard Time">(GMT) Greenwich Mean Time: Dublin, Edinburgh, Lisbon, London</option>
                            <option value="Greenwich Standard Time">(GMT) Casablanca, Monrovia</option>
                            <option value="Central Europe Standard Time">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                            <option value="Central European Standard Time">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                            <option value="Romance Standard Time">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                            <option value="W. Europe Standard Time">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                            <option value="W. Central Africa Standard Time">(GMT+01:00) West Central Africa</option>
                            <option value="E. Europe Standard Time">(GMT+02:00) Bucharest</option>
                            <option value="Egypt Standard Time">(GMT+02:00) Cairo</option>
                            <option value="FLE Standard Time">(GMT+02:00) Helsinki, Kiev, Riga, Sofia, Tallinn, Vilnius</option>
                            <option value="GTB Standard Time">(GMT+02:00) Athens, Istanbul, Minsk</option>
                            <option value="Israel Standard Time">(GMT+02:00) Jerusalem</option>
                            <option value="South Africa Standard Time">(GMT+02:00) Harare, Pretoria</option>
                            <option value="Russian Standard Time">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                            <option value="Arab Standard Time">(GMT+03:00) Kuwait, Riyadh</option>
                            <option value="E. Africa Standard Time">(GMT+03:00) Nairobi</option>
                            <option value="Arabic Standard Time">(GMT+03:00) Baghdad</option>
                            <option value="Iran Standard Time">(GMT+03:30) Tehran</option>
                            <option value="Arabian Standard Time">(GMT+04:00) Abu Dhabi, Muscat</option>
                            <option value="Caucasus Standard Time">(GMT+04:00) Baku, Tbilisi, Yerevan</option>
                            <option value="Transitional Islamic State of Afghanistan Standard Time">(GMT+04:30) Kabul</option>
                            <option value="Ekaterinburg Standard Time">(GMT+05:00) Ekaterinburg</option>
                            <option value="West Asia Standard Time">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                            <option value="India Standard Time">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                            <option value="Nepal Standard Time">(GMT+05:45) Kathmandu</option>
                            <option value="Central Asia Standard Time">(GMT+06:00) Astana, Dhaka</option>
                            <option value="Sri Lanka Standard Time">(GMT+06:00) Sri Jayawardenepura</option>
                            <option value="N. Central Asia Standard Time">(GMT+06:00) Almaty, Novosibirsk</option>
                            <option value="Myanmar Standard Time">(GMT+06:30) Yangon Rangoon</option>
                            <option value="S.E. Asia Standard Time">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                            <option value="North Asia Standard Time">(GMT+07:00) Krasnoyarsk</option>
                            <option value="China Standard Time">(GMT+08:00) Beijing, Chongqing, Hong Kong SAR, Urumqi</option>
                            <option value="Singapore Standard Time">(GMT+08:00) Kuala Lumpur, Singapore</option>
                            <option value="Taipei Standard Time">(GMT+08:00) Taipei</option>
                            <option value="W. Australia Standard Time">(GMT+08:00) Perth</option>
                            <option value="North Asia East Standard Time">(GMT+08:00) Irkutsk, Ulaanbaatar</option>
                            <option value="Korea Standard Time">(GMT+09:00) Seoul</option>
                            <option value="Tokyo Standard Time">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                            <option value="Yakutsk Standard Time">(GMT+09:00) Yakutsk</option>
                            <option value="A.U.S. Central Standard Time">(GMT+09:30) Darwin</option>
                            <option value="Cen. Australia Standard Time">(GMT+09:30) Adelaide</option>
                            <option value="A.U.S. Eastern Standard Time">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                            <option value="E. Australia Standard Time">(GMT+10:00) Brisbane</option>
                            <option value="Tasmania Standard Time">(GMT+10:00) Hobart</option>
                            <option value="Vladivostok Standard Time">(GMT+10:00) Vladivostok</option>
                            <option value="West Pacific Standard Time">(GMT+10:00) Guam, Port Moresby</option>
                            <option value="Central Pacific Standard Time">(GMT+11:00) Magadan, Solomon Islands, New Caledonia</option>
                            <option value="Fiji Islands Standard Time">(GMT+12:00) Fiji Islands, Kamchatka, Marshall Islands</option>
                            <option value="New Zealand Standard Time">(GMT+12:00) Auckland, Wellington</option>
                            <option value="Tonga Standard Time">(GMT+13:00) Nuku'alofa</option>
                        </select>
                    </div>
                    <div class="form-group mt-4 mb-4">
                        <label class="frmlbltxt" for="">Lead Source</label>
                        <select name="Leadsource"
                                id="Ui_leadsource"
                                class="span5 form-control">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="googimporttypewrap mt-3 bg-white p-3">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" checked id="bulkimport" value="bulkimport" name="dataimportType" class="custom-control-input" />
                            <label class="custom-control-label" for="bulkimport">One Time Bulk Import</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="realtimeimport" value="Real Time Import" name="dataimportType" class="custom-control-input" />
                            <label class="custom-control-label" for="realtimeimport">Real Time Import</label>
                        </div>
                        <div id="bulkimportsheet" class="startcheckbx mt-2">
                            <div class="form-group mt-3 mb-4">
                                <label class="frmlbltxt" for="">Group Name</label>
                                <select class="form-control addgroupNamedrop" name="ui_drpdwn_GroupName" id="ui_drpdwn_GroupName" data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="ui_check_existContacts" />
                                <label class="custom-control-label font-12"
                                       for="ui_check_existContacts">
                                    Do not add existing contacts to this group
                                    <i class="icon ion-help-circled strtimpinfo"
                                       data-toggle="popover"
                                       data-content="if the contact is part of the any other group(s)in the system. Contacts present in the import file will not be added to this group."></i>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mt-2">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="ui_check_removeContacts" />
                                <label class="custom-control-label font-12"
                                       for="ui_check_removeContacts">
                                    Empty selected group before importing.
                                    <i class="icon ion-help-circled strtimpinfo"
                                       data-toggle="popover"
                                       data-content="Clear all existing contacts present in this group prior to importing."></i>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mt-2">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="ui_check_retainassignconts" />
                                <label class="custom-control-label font-12"
                                       for="ui_check_retainassignconts">
                                    Override Assignments
                                    <i class="icon ion-help-circled strtimpinfo"
                                       data-toggle="popover"
                                       data-content="All existing Leads that are present in the system will be assigned to a new agent if present in the import file, else it will remain unchanged."></i>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mt-2">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="ui_check_assignindivconts"
                                       name="assingindivconts" />
                                <label class="custom-control-label font-12"
                                       for="ui_check_assignindivconts">
                                    Assign Individually
                                    <i class="icon ion-help-circled strtimpinfo"
                                       data-toggle="popover"
                                       data-content="Selects Agents to be assigned in a round-Robin manner for the imported Leads."></i>
                                </label>
                            </div>

                            @*<div class="custom-control custom-checkbox mt-2">
                            <input type="checkbox"
                            class="custom-control-input"
                            id="ui_check_overridesources"
                            name="assingindivconts" />
                            <label class="custom-control-label font-12"
                            for="ui_check_overridesources">
                            Override Sources
                            <i class="icon ion-help-circled strtimpinfo"
                            data-toggle="popover"
                            data-content="All existing Leads that are present in the system will be assigned to a new Source if present in the import file, else it will remain unchanged."></i>
                            </label>
                            </div>*@
                            @*<div class="custom-control custom-checkbox mt-3">
                            <input type="checkbox" class="custom-control-input" id="customCheckMandate">
                            <label class="custom-control-label font-12" for="customCheckMandate">
                            I agree that all contacts in this import are expecting
                            to hear from my organization. I have a prior
                            relationship with these contacts and have emailed them
                            at least once in the past year.
                            </label>
                            </div>*@
                        </div>
                        <div id="realtimeimportsheet" class="realtimeimportwrp hideDiv">
                            <div class="form-group mt-3 mb-4">
                                <label class="frmlbltxt" for="">API Import Responses Name</label>
                                <select class="form-control addgroupNamedrop" name="ui_drpdwn_APIIRN" id="ui_drpdwn_APIIRN" data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                            <div class="form-group mt-3 mb-4">
                                <label class="frmlbltxt" for="">Date Time Format</label>
                                <select class="form-control addgroupNamedrop" name="ui_drpdwn_datetimeformat" id="ui_drpdwn_datetimeformat" data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                            @*<div class="custom-control custom-checkbox mt-2">
                            <input type="checkbox"
                            class="custom-control-input"
                            id="ui_check_overridesourcesRealtime"
                            name="assingindivconts" />
                            <label class="custom-control-label font-12"
                            for="ui_check_overridesourcesRealtime">
                            Override Sources
                            <i class="icon ion-help-circled strtimpinfo"
                            data-toggle="popover"
                            data-content="All existing Leads that are present in the system will be assigned to a new Source if present in the import file, else it will remain unchanged."></i>
                            </label>
                            </div>*@

                        </div>
                        <div class="custom-control custom-checkbox mt-2" id="ui_divLMSImportOverrideSources" style="padding-left: 0px;width:400px">

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="0" class="custom-control-input" id="lmsStaySource" name="lmsSourceType" checked="">
                                <label class="custom-control-label" for="lmsStaySource">Create and Stay Source</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="1" class="custom-control-input" id="lmsOverrideSource" name="lmsSourceType">
                                <label class="custom-control-label" for="lmsOverrideSource">Override Source</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="2" class="custom-control-input" id="lmsNewSource" name="lmsSourceType">
                                <label class="custom-control-label" for="lmsNewSource">Create New Source</label>
                            </div>


                        </div>
                        <div class="custom-control custom-checkbox  mt-3">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="customCheckMandate2" />
                            <label class="custom-control-label font-12"
                                   for="customCheckMandate2">
                                I agree that all contacts in this import are expecting
                                to hear from my organization. I have a prior
                                relationship with these contacts and have emailed them
                                at least once in the past year.
                            </label>
                        </div>
                    </div>
                    <div class="gsheetimporttbl mt-3">
                        <table class="table tbl-td-ta-lft bg-white border">
                            <thead>
                                <tr>
                                    <th scope="col" class="td-wid-50">Name</th>
                                    <th scope="col" class="td-wid-25">Status</th>
                                    <th scope="col" class="td-wid-25">Date</th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbody_LiveSheetDetails"></tbody>
                        </table>
                    </div>
                    <div>
                        <p class="text-color-error font-11 w-100 mb-2">
                            Share the private Google sheet data via <b id="SpreadSheetEmial">*************@@382305.iam.gserviceaccount.com</b> email id.
                            <br /> In real-time import,date format should be <b>YYYY-MM-DD HH:mm: ss</b>(2023-04-26 13:30:00) and the new data's date should be greater than the old data's date
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button id="gstartImprtbtn" class="btn btn-primary mr-2" type="button" disabled="disabled">Start Import</button>
                <button id="btncancel" class="btn btn-secondary" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>
@{
    Html.RenderPartial("_SpreedSheetOverviewResponse");
}

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Group?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Delete
                </button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="savebulkimport" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Save this Mapping?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently save this bulk import mapping?</p>
            </div>
            <div class="modal-footer">
                <button id="bulksaveConfirm" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Save
                </button>
                <button id="cancelbulksaveConfirm" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<!--Modal user operation-->
<div class="modal fade bd-example-modal-sm" id="ui_divUserPopUp" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select User</h5>
                <button type="button" id="ui_btnTopCloseUserPopUp" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="groupoperat">
                    <select id="ui_ddlUserList" class="form-control select2" data-placeholder="Select User(s)" multiple>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="ui_btnSaveUserData" class="btn btn-primary">Save Changes</button>
                <button type="button" id="ui_btnCloseUserPopUp" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal user operation-->
<link rel="stylesheet" href="~/Content/select2/css/select2.min.css" />
<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src="~/js/ManageContact/SpreadsheetsImportData.js"></script>

<script>
    var getSpreadSheetEmial = '@Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["SPREADSHEET_EMIAL"].ToString()';
    $("#SpreadSheetEmial").html(getSpreadSheetEmial);
</script>