
<div class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <div class="popuptitlwrp w-350 text-truncate">
                <h6 id="dvTitle"></h6>
            </div>
            <i id="uniqueclose-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody bg-white">
            <div class="popupbodycont">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblUniqueVisitsReportData" class="table first-row">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-170">
                                        Day 
                                    </th>
                                    <th class="helpIcon m-p-w-150" scope="col">
                                        Unique Visitors
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyUniqueVisitsReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_InnerPaging"); }
            </div>
        </div>
    </div>
</div>
<script src="~/js/Analytics/UniqueVisitsCachedData.js"></script>