<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.3/css/dx.light.css" />
<link href="~/Content/treeview/treeview-styles.css" rel="stylesheet" />
<script src="~/Content/treeview/dx.all.js"></script>
<div id="userhierarchy"
     class="col-sm-12 col-md-3 col-lg-3 col-xl-3 p-gut m-mb-3">
    <div class="box-white h-100">
        <div class="heirarchymenuwrp">
            <h6>User Hierarchy</h6>
            <div class="hiericn">
                <i id="closehierchy"
                   class="icon ion-ios-close-outline"></i>
            </div>
        </div>
        <div id="simple-treeview" class="pl-3"></div>
    </div>
</div>
<script src="~/js/UserHierarchy.js"></script>