<div class="popupcontainer hideDiv" id="dv_ViewFollowUpDetails">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>VIEW FOLLOW-UP</h6>
                <small class="popupsubtitle"></small>
            </div>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div id="lmsveiwfollowdet" class="lmspopupswindwrp">
                    <div class="table-responsive">
                        <table class="table tbl-td-ta-lft bg-white">
                            <tbody>
                                <tr>
                                    <td class="text-left td-wid-40 font-weight-bold">Follow-Up Date</td>
                                    <td class="td-wid-60" id="lbl_FollowUpDate"></td>
                                </tr>
                                <tr>
                                    <td class="text-left font-weight-bold">
                                        Follow-Up User
                                    </td>
                                    <td id="lbl_FollowUpUserId"></td>
                                </tr>
                                <tr>
                                    <td class="text-left font-weight-bold">
                                        Follow-Up Status
                                    </td>
                                    <td id="lbl_FollowUpStatus"></td>
                                </tr>
                                <tr>
                                    <td class="text-left font-weight-bold">
                                        Handled By
                                    </td>
                                    <td id="lbl_LeadHandledByUserId"></td>
                                </tr>
                                <tr>
                                    <td class="text-left font-weight-bold">
                                        Follow-Up Comments
                                    </td>
                                    <td class="wordbreak" id="lbl_FollowUpContent">
                                    </td>
                                </tr>
                                @*<tr>
                                <td class="text-left td-wid-40 font-weight-bold">Follow-Up Updated Date</td>
                                <td class="td-wid-60" id="lbl_FollowUpUpdatedDate"></td>
                                </tr>*@
                                <tr>
                                    <td class="text-left td-wid-40 font-weight-bold">Follow-Up Created Date</td>
                                    <td class="td-wid-60" id="lbl_FollowUpCreatedDate"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>