<div class="popupcontainer hideDiv" id="dvcampaignUsers">
    <div id="dv_campaignContacts" class="popupItem w-450 m-p-wid-300 position-relative popup-tbl">

        <div class="popuptitle">
            <h6 id="spnWebResponsesHead">Sent Details</h6>
            <div>

                <i title="Export" class="font-20 icon ion-close ion-ios-download-outline hideDiv" id="ui_exportWebPushDownload"></i>
                &nbsp;&nbsp;&nbsp;
                <i id="close-popup" class="icon ion-close"></i>
            </div>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div id="WebSent" class="camppopupwrppr">
                    <div class="popcontWrap p-0">
                        <div class="table-responsive">
                            <table class="table" id="ui_tblWebPushInnerReportData">
                                <thead id="ui_divsentview" class="hideDiv">
                                    <tr>
                                        <th class="td-wid-30 m-p-w-170" scope="col">MachineId</th>
                                        <th class="td-wid-30 m-p-w-120" scope="col">UniqueId</th>
                                        <th class="td-wid-40 m-p-w-120" scope="col">Date</th>
                                    </tr>

                                </thead>
                                <thead id="ui_divsenterror" class="hideDiv">
                                    <tr>
                                        <th class="td-wid-30 m-p-w-170" scope="col">MachineId</th>
                                        <th class="td-wid-20 m-p-w-120" scope="col">UniqueId</th>
                                        <th class="td-wid-30 m-p-w-120" scope="col">Reason</th>
                                        <th class="td-wid-20 m-p-w-120" scope="col">Date</th>
                                    </tr>

                                </thead>
                                <tbody id="ui_tbodyWebPushInnerReportData"></tbody>

                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        @{ Html.RenderPartial("_InnerWebPushPaging"); }
    </div>

</div>

@{ Html.RenderPartial("_ExportInnerPageData"); }

<script src="~/js/WebPush/WebPushCampaignResponsesUsers.js"></script>