<div class="popupcontainer hideDiv" id="dvwebhookUsers">
    <div id="dv_campaignContacts" class="popupItem w-450 m-p-wid-300 position-relative popup-tbl">
        <div class="popuptitle">
            <h6 id="spnWebHookResponsesHead">Sent Details</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div id="MailSent" class="camppopupwrppr">
                    <div class="popcontWrap p-0">
                        <div class="table-responsive">
                            <table class="table" id="ui_tblWebhookInnerReportData">
                                <thead>
                                    <tr id="thSucess">
                                        <th class="td-wid-43 m-p-w-170" scope="col">Email Id</th>
                                        <th class="td-wid-33 m-p-w-120" scope="col">Mobile No</th>
                                        <th class="td-wid-24 m-p-w-170" scope="col">Date</th>
                                    </tr>
                                    <tr id="thError">
                                        <th class="td-wid-40 m-p-w-170" scope="col">Email Id</th>
                                        <th class="td-wid-22 m-p-w-120" scope="col">Mobile No</th>
                                        <th class="td-wid-10 m-p-w-120" scope="col">Reason</th>
                                        <th class="td-wid-36 m-p-w-120" scope="col">Date</th>
                                    </tr>

                                </thead>
                                <tbody id="ui_tbodyWeebhookInnerReportData"></tbody>

                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        @{ Html.RenderPartial("_InnerWebhookPaging"); }
    </div>

</div>
<script src="~/js/WebHook/WebhookResponses.js"></script>