<link href="/Content/dist/devices.css" rel="stylesheet" />
<style>
    .custom-z-index {
        /* Define your custom z-index value */
        z-index: 5550077;
    }
</style>
<div id="whatsappprevpopup" class="popupcontainer hideDiv custom-z-index">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>Preview Template</h6>
                <small class="popupsubtitle"></small>
            </div>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div class="pad-20">
                    <div class="box-white p-3 h-100 border-0">
                        <div class="devicontabwrp">
                            <div data-devtabcont="androidprev" title="Android" class="devwrphvr active mr-3">
                                <i class="fa fa-android fa-2x"></i>
                            </div>
                            <div data-devtabcont="ios" title="ios" class="devwrphvr">
                                <i class="fa fa-apple fa-2x"></i>
                            </div>
                        </div>
                        <div class="deviceprevwrap mt-4">
                            <div id="androidprev" class="devsmsprev">
                                <div class="device device-google-pixel-2-xl mr-auto">
                                    <div class="device-frame">
                                        <div class="device-content"
                                             style="background-image: url('../../Content/images/whatsapp-bg.jpg');">
                                            <div class="devicesreenwrap border-radius-5">
                                                <div class="batthead">
                                                    <div class="baticnwrp">
                                                        <div class="fa fa-wifi"></div>
                                                        <div class="fa fa-signal"></div>
                                                        <div class="fa fa-battery-half"></div>
                                                        <div class="timewrp">19:28</div>
                                                    </div>
                                                    <div class="messheadwrp">
                                                        <div class="arrwrp">
                                                            <i class="icon ion-android-arrow-back"></i>
                                                        </div>
                                                        <div class="icnphone">
                                                            <i class="fa fa-video-camera mr-4"></i>
                                                            <i class="fa fa-phone mr-4"></i>
                                                            <i class="fa fa-ellipsis-v"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="devicemesscont">
                                                    <div class="whatsappprevwrp">
                                                        <div class="whatsappbox-white">
                                                            <div class="whatsappimgwrp hideDiv">
                                                                <img id="addwhatsappimage"
                                                                     src="~/Content/images/white_image.png" alt="">
                                                            </div>
                                                            <p id="addwhatsapptext" class="mb-0"></p>
                                                        </div>
                                                        <div id="ui_div_AndrButtn" class="btnwhatsappwrp hideDiv">
                                                            <button id="whatsvisitwebsite" type="button"
                                                                    class="btn btnwhatsapp hideDiv">
                                                                <i id="imgBtn1" class="fa fa-external-link"></i>
                                                                <span id="spn_whatsvisitwebsite">Buy Now</span>
                                                            </button>
                                                            <button id="whatscallphone" type="button"
                                                                    class="btn btnwhatsapp hideDiv">
                                                                <i id="imgBtn2" class="fa fa-phone"></i>
                                                                <span id="spn_whatscallphone"> Call Support</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="device-stripe"></div>
                                    <div class="device-header"></div>
                                    <div class="device-sensors"></div>
                                    <div class="device-btns"></div>
                                    <div class="device-power"></div>
                                </div>
                            </div>
                            <div id="ios" class="devsmsprev hideDiv">
                                <div class="device device-iphone-8 mr-auto">
                                    <div class="device-frame">
                                        <div class="device-content h-100"
                                             style="background-image: url('../../Content/images/whatsapp-bg.jpg');">
                                            <div class="devicescreenioswrp">
                                                <div class="iosbathead">
                                                    <div class="iostopbtry pl-2 pr-2">
                                                        <div class="signwrp d-flex h-20p">
                                                            <i class="icon ion-android-more-horizontal mr-01"></i><i class="icon ion-android-more-horizontal"></i>
                                                            <i class="icon ion-wifi ml-2"></i>
                                                        </div>
                                                        <div class="timwrp">
                                                            9:41 AM
                                                        </div>
                                                        <div class="battp d-flex">
                                                            <div class="timwrp mr-1">50%</div>
                                                            <div class="fa fa-battery-half"></div>
                                                        </div>
                                                    </div>
                                                    <div class="iosmeshead h-35 border-bottom pl-2 pr-2">
                                                        <div class="messtit d-flex align-items-center">
                                                            <i class="icon ion-ios-arrow-left fa-2x"></i><span class="ml-2 iosmsstxt">Message</span>
                                                        </div>
                                                        <div class="iosmsstxt">Details</div>
                                                    </div>
                                                </div>
                                                <div class="devicemescontwrp">
                                                    <div class="whatsappprevwrp">
                                                        <div class="whatsappbox-white">
                                                            <div class="whatsappimgwrp hideDiv">
                                                                <img id="addwhatsappimageIos"
                                                                     src="~/Content/images/white_image.png" alt="">
                                                            </div>
                                                            <p id="addwhatsapptextios" class="mb-0"></p>
                                                        </div>
                                                        <div id="ui_div_IosButtn" class="btnwhatsappwrp hideDiv">
                                                            <button id="whatsvisitwebsiteios" type="button"
                                                                    class="btn btnwhatsapp hideDiv">
                                                                <i id="imgBtn1ios" class="fa fa-external-link"></i>
                                                                <span id="spn_whatsvisitwebsiteios">Buy Now</span>
                                                            </button>
                                                            <button id="whatscallphoneios" type="button"
                                                                    class="btn btnwhatsapp hideDiv">
                                                                <i id="imgBtn2ios" class="fa fa-phone"></i>
                                                                <span id="spn_whatscallphoneios">Call Support</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="device-stripe"></div>
                                        <div class="device-header"></div>
                                        <div class="device-sensors"></div>
                                        <div class="device-btns"></div>
                                        <div class="device-power"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
