@{
    ViewBag.Title = "RssFeed";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/css/toggles-full.css" rel="stylesheet" />
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Create Notifications</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Manage Notifications</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Rss Notifications</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="campaingmaincontainer">
            <div class="container-page-head h-45 pl-0 pr-0">
                <div class="campTabWrap">
                    <ul class="campaign-nav">
                        <li class="campnav-item"><a id="ui_listCampaignInformation" class="campnav-link active  border-left-0"><span>Campaign &nbsp;</span> Information</a></li>
                        <li class="campnav-item"><a id="ui_listOptions" class="campnav-link">Options</a></li>
                        <li class="campnav-item"><a id="ui_listTest" class="campnav-link prevtest">Test Notification</a></li>
                    </ul>
                </div>
            </div>
            @* Campaign Information *@
            <div class="container-page-body d-flex justify-content-center" id="ui_secCampaignInformation">
                <div class="campaignContainer">
                    <div class="formColwrap mb-3">
                        <div class="form-group row w-100 mb-0">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Campaign Identifier</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                <input type="text" class="form-control" id="ui_txtCampaignIdentifier">
                            </div>
                        </div>
                    </div>
                    <div class="formColwrap mb-3">
                        <div class="form-group row w-100 mb-0">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Campaign Name</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                <select id="ui_txtCampaignName" class="form-control" data-placeholder="Select Group">
                                    <option label="Choose one" value="0">Select Campaign</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="formColwrap mb-2">
                        <div class="form-group row w-100 mb-0">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Rss URL</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                <input type="text" class="form-control" placeholder="https://www.example.com" id="ui_txtRssUrl">
                                <small class="form-text">URL can be HTTP or HTTPS</small>
                            </div>
                        </div>
                    </div>
                    <div class="formColwrap mb-2">
                        <div class="form-group row w-100 mb-0">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Group</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                <select id="campgroupname" class="form-control" data-placeholder="Select Group" multiple>
                                    <option label="Choose one" value="0">Select Group</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="formColwrap mt-4">
                        <div class="form-group row w-100 mb-0">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Check Rss Feed Every</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                <div class="d-flex align-items-center">
                                    <div class="hourwrap mr-3">
                                        <label class="frmlbltxt" for="">Hours</label>
                                        <select class="form-control" name="" id="id_selectHour">
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="minwrap mr-3">
                                        <label class="frmlbltxt" for="">Minutes</label>
                                        <select class="form-control" name="" id="id_selectMinutes">
                                            <option value="00">00</option>
                                            <option value="05">05</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                            <option value="35">35</option>
                                            <option value="40">40</option>
                                            <option value="45">45</option>
                                            <option value="50">50</option>
                                            <option value="55">55</option>
                                            <option value="60">60</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formColwrap mt-4">
                        <div class="checkeebx-group row w-100">
                            <div class="lblwrap col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="recipwrap mr-5">
                                            <h6 class="totalremain">Total Unique Recipients</h6>
                                            <h1 class="remcred" id="ui_h1TotalUniqueRecipients">0</h1>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="recipwrap mr-5">
                                            <h6 class="totalremain">Group Selected with</h6>
                                            <h1 class="remcred"><span class="grouplncount" id="ui_spanTotalSelectedGroup">0</span>/<span>3</span></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                    </div>
                </div>
            </div>

            @* Option *@
            <div class="campaingmaincontainer hideDiv" id="ui_secOption">
                <div class="container-page-body">
                    <div class="campaignContainer w-100">
                        <div class="rsscontwrp">
                            <h6 class="box-title m-0 p-0 mr-3">Advanced Options</h6>
                            <div class="subcribeWrap">
                                <div class="toggle-wrapper">
                                    <div class="toggle toggle-light success bnotiadvanOptions" style="height: 26px; width: 60px;"><div class="toggle-slide"><div class="toggle-inner" style="width: 94px; margin-left: 0px;"><div class="toggle-on active" style="height: 26px; width: 47px; text-indent: -8.66667px; line-height: 26px;">ON</div><div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -13px;"></div><div class="toggle-off" style="height: 26px; width: 47px; margin-left: -13px; text-indent: 8.66667px; line-height: 26px;">OFF</div></div></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="rsscontItem">
                            <div class="checkeebx-group row mb-2">
                                <div class="lblwrap col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right-lbl m-text-left">
                                    <label class="frmlbltxt" for="">Auto Hide</label>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input checkrulqus" id="specificbtn" name="specificbtn">
                                        <label class="custom-control-label" for="specificbtn">Do not auto-hide notification. Continue to show until user clicks or dismisses the notificaion.</label>
                                    </div>
                                </div>

                            </div>
                            <div class="checkeebx-group row">
                                <div class="lblwrap col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right-lbl m-text-left">
                                    <label class="frmlbltxt" for="">Android Badge</label>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" checked id="advdefaultbadge" name="advbadgetype" value="advdefbadge" class="custom-control-input">
                                        <label class="custom-control-label" for="advdefaultbadge">Default  <span class="icon ion-social-chrome pl-1 text-muted"></span></label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="advcustbadge" name="advbadgetype" value="advcustbadge" class="custom-control-input">
                                        <label class="custom-control-label" for="advcustbadge">Custom</label>
                                    </div>
                                </div>

                            </div>
                            <div class="advbrowsewrap">
                                <div class="bwnotiimgwrp mb-4 position-relative">
                                    <button type="button" class="btn btn-second">Upload Icon</button>
                                    <input type="file" name="" class="chosefile" id="bwnotcustimg">
                                    <div class="upfilnamwrp">
                                        <p class="brwsnotfilename hideDiv"> <span class="appndfilename">aclmobile.png</span> <span class="brwsfileremoveicn"><i class="icon ion-ios-close-outline"></i></span></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="frmlbltxt" for="">Add Image URL</label>
                                    <input type="text" name="" placeholder="https://www.plumb5.com/images/bell.png" class="form-control" id="ui_ImgUrl">
                                    <small class="form-text text-muted">Badge replaces the default Chrome browser icon on Android(Android 6.0, Chrome53) with your custom icon. Monochrome images only. Recommended size: 72px X 72px PNG, GIF, WEBP, ICO, CUR, BMP formats only. Less than 1 MB in size URL must begin with HTTPS.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Test and Preview *@

            <div class="campaingmaincontainer hideDiv" id="ui_secTestCampaign">
                <div class="container-page-body df-ac-jcenter">
                    <div class="campaignContainer w-50">
                        <div class="rsstestcont">
                            <h6 class="box-title text-center p-0">Test Campaign</h6>
                            <div class="checkeebx-group mt-4 d-flex justify-content-center">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="Individaul" id="testcampaignindiv" name="testcampaignType" class="custom-control-input" checked>
                                    <label class="custom-control-label" for="testcampaignindiv">Individual</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="Group" id="testcampaigngroup" name="testcampaignType" class="custom-control-input">
                                    <label class="custom-control-label" for="testcampaigngroup">Group</label>
                                </div>
                            </div>
                            <div id="indivtxtbox" class="textcampWrap mt-3">
                                <div class="form-group d-flex justify-content-center">
                                    <input type="text" id="ui_MachineId" class="form-control w-90" placeholder="Machine Id">
                                </div>
                            </div>
                            <div id="groupdropdownbox" class="textcampWrap mt-3 d-flex justify-content-center hideDiv">
                                <div class="testcampgroup w-90">
                                    <select id="testcampgroupname" class="form-control" data-placeholder="Select Group">
                                        <option label="Choose one" value="0">Select Group</option>
                                    </select>
                                </div>
                            </div>
                            <div class="campbtmwrap justify-content-center mt-3">
                                <div class="btnwrp w-150 position-relative pl-3 mr-2">
                                    <button class="btn btn-third btn-block testcampbtn" type="button" onclick="rssFeedUtil.SendWebPushTest();">Test Campaign</button>
                                    <div class="sk-three-bounce hideDiv">
                                        <div class="sk-child sk-bounce1 bg-gray-800"></div>
                                        <div class="sk-child sk-bounce2 bg-gray-800"></div>
                                        <div class="sk-child sk-bounce3 bg-gray-800"></div>
                                    </div>
                                </div>
                                <div class="campresultwrap ml-2">
                                    <button class="btn bg-trans testrestpop" type="button">Test Results</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="container-page-footer">
                <div class="backbtnWrap">
                    <button type="button" class="btn btn-second hideDiv" id="ui_BackContent" onclick="rssFeedUtil.NavigateToBack();"><i class="icon ion-chevron-left pr-2"></i>Back</button>
                </div>
                <div class="nextbtnWrap">
                    <button type="button" class="btn btn-primary" onclick="rssFeedUtil.NavigateToNext();" id="ui_btnNext">Next <i class="icon ion-chevron-right pl-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Popup window left-->
<div class="popupcontainer hideDiv" id="dvCampaignResults">
    <div class="popupItem w-450 m-p-wid-300 position-relative popup-tbl">
        <div class="popuptitle">
            <h6>Campaign Test Results</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div class="table-responsive">
                    <table class="table" id="ui_tableTestResult">
                        <thead>
                            <tr>
                                <th class="td-wid-50 m-p-w-170" scope="col">Machine Id</th>
                                <th class="td-wid-50 m-p-w-120" scope="col">Sent Status</th>
                            </tr>
                        </thead>
                        <tbody id="ui_tdbodyResult">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Popup window left-->

<div class="popupcontainer hideDiv" id="ui_divGroupAnalysisPopUp">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6 id="ui_h6AnalysisHeading">Create a merged group</h6>
            <i id="ui_iconCloseAnalysisPopUp" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div id="groupedit" class="groupaccordWrap">
                    <div id="groupeditaccordion" class="accordion-one" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="groupeditheadingone">
                                <a data-toggle="collapse" data-parent="#groupeditaccordion" href="#groupeditcollapseone" aria-expanded="true" aria-controls="groupeditcollapseone" class="tx-gray-800 transition collapsed">
                                    Basic Information
                                </a>
                            </div>
                            <div id="groupeditcollapseone" class="collapse show" role="tabpanel" aria-labelledby="groupeditheadingone" data-parent="#groupeditaccordion">
                                <div class="card-body">
                                    <div class="form-group" id="ui_divAnalysisName">
                                        <label class="frmlbltxt" for="">Name</label>
                                        <input type="text" class="form-control" id="ui_txtGroupName" maxlength="150" />
                                    </div>
                                    <div class="form-group" id="ui_divAnalysisDescription">
                                        <label class="frmlbltxt" for="">Description</label>
                                        <textarea class="form-control" id="ui_txtGroupDescription" cols="30" rows="2" maxlength="500"></textarea>
                                    </div>
                                </div>
                            </div>
                            @*<p class="text-right"><a href="javascript:void(0);" id="ui_aAnalyze">Analyze Segment(s)</a></p>*@
                            <div class="segmentwrap hideDiv" id="ui_divAnalysisDetails">
                                <h6 class="box-title p-0 mt-5 mb-1 text-center">Aggregate Segment Analysis</h6>
                                <small class="font-11 text-center d-block">Note: Analysis based on past 90 Day activity.</small>
                                <div class="segmentgauwrap mt-3">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div id="chartgauge1" class="chart-gauge"></div>
                                            <small class="font-12 text-center d-block" id="ui_SmallDeliveryRate">Delivery Rate: 0%</small>
                                        </div>
                                        <div class="col-sm-6">
                                            <div id="chartgauge2" class="chart-gauge"></div>
                                            <p class="font-12 text-center d-block" id="ui_SmallClickedRate">Click Rate: 0%</p>
                                        </div>
                                    </div>
                                    <div class="prefdevice">
                                        <h6 class="box-title p-0 mb-1 text-center">Preferred Device</h6>
                                        <div class="charteeWrap position-relative">
                                            <canvas id="ui_canvasDeviceChart"></canvas>
                                        </div>
                                        <div class="legendWrap d-flex justify-content-center w-200 m-auto">
                                            <div class="blucolWrap">Android</div>
                                            <div class="greencolWrap legendpop">iOS</div>
                                            <div class="redcolWrap legendpop">Others</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="ui_btnGroupAnalysisNext">Next</button>
                <button class="btn btn-secondary clsepopup" type="button" id="ui_btnCloseAnalysisPopUp">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/toggles.min.js"></script>
<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src="~/js/WebPush/RssFeed.js"></script>