@{
    ViewBag.Title = "Plumb5 :: LMS Archive";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">LMS Archive</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Lead Management</a></li>
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Reports</a></li>
            <li class="breadcrumb-item active" aria-current="page">LMS Archive</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="contimportrepwrap">
            <div class="showDateIconWrap border-bottom">
                <div class="showingWrap pt-2 pb-2">
                    @{ Html.RenderPartial("_PageHeadingWithDate"); }
                </div>
                <div class="btngroupwrap d-flex align-items-center pr-2">
                    <div class="downloadsampwrap hidemob-p">
                        <button type="button" class="btn btn-second btn-sm ContributePermission" title="Download Sample file" id="ui_lnkSampleFileCSV">
                            <i class="icon ion-android-download m-auto"></i> <span>
                                Download Sample file
                            </span>
                        </button>
                    </div>
                    <div class="startbtnwrap ml-2">
                        <button type="button" class="btn btn-primary ContributePermission" id="BtnUpload">
                            Start
                            an
                            Import
                        </button>
                    </div>&ensp;
                    @{Html.RenderPartial("_Export"); }
                </div>          
            </div>
            <div class="importTableWrap">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="box-white border-0 position-relative">
                            <div class="tableWrapper">
                                <div class="table-responsive contimportrep">
                                    <table  id="ui_tableReport"  class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-190 td-wid-20">
                                                    <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                    File Name <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">                                                        
                                                    </div>
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-8" scope="col">
                                                    <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                    Total <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">
                                                    </div>
                                                </th>
                                                <th class="helpIcon m-p-w-160 td-wid-10" scope="col">
                                                    <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                    Completed
                                                </th>
                                                <th class="helpIcon m-p-w-140  td-wid-10" scope="col">
                                                    <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                    Success <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">
                                                       
                                                    </div>
                                                </th>
                                               
                                                <th class="helpIcon m-p-w-150 td-wid-10" scope="col">
                                                    <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                    Rejected <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">                                                       
                                                    </div>
                                                </th>
                                                <th class="helpIcon m-p-w-170 td-wid-12" scope="col">
                                                    Updated Date <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">                                                       
                                                    </div>
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-10" scope="col">
                                                    Progress <i class="icon ion-ios-help-outline"></i>
                                                    <div class="toottipWrap">                                                        
                                                    </div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody  id="ui_tbodyReportData">                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @{ Html.RenderPartial("_Paging"); }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div id="uploadtemplatefile" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Import File</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>

        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div class="popcontWrap">                    
                    <div class="fileuploadwrap mt-4">
                        <label class="frmlbltxt" for="">Remove leads by uploading the file</label>
                        <div class="form-group border">                            
                            <input class="btn bg-trans" type="file" multiple="" name="" id="fileContact">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2 uploadtempbtn cursor-disable" type="button" onclick="SaveFile()" >Import</button>
                <button class="btn btn-secondary clseuploadpopup" type="button">Cancel</button>
            </div>
        </div>

    </div>

</div>

<script src="~/js/Prospect/ContactArchive.js"></script>