@{
    ViewBag.Title = "Plumb5 :: Technology :: Browser";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}


<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Technology : Browser</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item"><a href="#">Analytics Overview</a></li>
            <li class="breadcrumb-item active" aria-current="page">Technology</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem"><a class="tap-nav-link active" href="javascript:void(0)">Browser</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/Analytics/Audience/Devices">Devices</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/Analytics/Audience/Network">Network</a></div>
        </div>
        @{ Html.RenderPartial("_Export"); }
    </div>
    <div class="topTabWrap brd-TRL">
        @{ Html.RenderPartial("_PageHeadingWithDate"); }

    </div>

    <div id="ui_divReportSummary" class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table  id="ui_tblReportData" class="table tbl-td-ta-lft">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-10 m-p-w-170" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Browser
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon td-wid-10 m-p-w-150" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Page Views
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    @*<th class="helpIcon td-wid-15 m-p-w-150" scope="col">
            <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Unique Visitors
            <i class="icon ion-ios-help-outline"></i>
            <div class="toottipWrap"></div>
        </th>*@
                                    <th class="helpIcon td-wid-15 m-p-w-150" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Average Time
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData"></tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
            </div>
        </div>
    </div>

</section>

<script src="~/js/Analytics/Web_Browser.js"></script>


