@{
    ViewBag.Title = "Plumb5 :: Cities";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Geography</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Web</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Analytics Overview</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cities</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem"><a class="tap-nav-link active" href="javascript:void(0);">Cities</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/Analytics/Dashboard/Countries">Countries</a></div>
        </div>
        @{ Html.RenderPartial("_Export"); }
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateWrap">
            @{ Html.RenderPartial("_PageHeadingWithDate"); }
        </div>
        <div class="mapWrap position-relative h-350">
            <div id="mapid"></div>
        </div>
    </div>
</section>
<section class="sheet">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white mt-4">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tableReport" class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon td-wid-25 m-p-w-250">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> City <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">City </div>
                                    </th>
                                    <th class="helpIcon td-wid-25 m-p-w-250" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> Sessions <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Sessions </div>
                                    </th>
                                    <th class="helpIcon td-wid-25 m-p-w-250" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> Unique Visitors <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Unique Visitors </div>
                                    </th>
                                    <th class="helpIcon td-wid-25 m-p-w-250" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> Page Views <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Page Views </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData"></tbody>
                        </table>

                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
                @{ Html.RenderPartial("_UniqueVisits"); }
            </div>
        </div>
    </div>
</section>

<link href="~/Content/css/flags.css" rel="stylesheet" />
<link href="~/Content/leaflet.css" rel="stylesheet" />
<script src="~/js/leaflet.js"></script>

<script src="~/js/Analytics/WebCities.js"></script>
