@{
    ViewData["Title"] = "Plumb5 :: AnalyticReports";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <div class="contentHead">
            <h6 class="pagetitle">My Reports</h6>
            <small class="totalCountTitle">Saved Reports: <span id="ui_span_SavedReports"></span></small>
        </div>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item">
                <a href="#">Analytics Overview</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                My Reports
            </li>
        </ol>
    </div>

    <div class="topTabWrap">

        <div class="createBtnWrap mr-2 position-relative">
            <button data-lmsnwsvetb="Saved Reports" id="btnSavedReport"
                    type="button"
                    class="btn btn-action mr-2 lmsnwsavrepts">
                <i class="fa fa-floppy-o font-14 mr-1"></i><span>Saved</span>
            </button>
            <button data-lmsnwsvetb="Add New Report" id="ui_btnSaveReport"
                    type="button"
                    class="btn btn-primary btn-sm lmsnwsavrepts">
                <i class="icon ion-plus-round font-12 mr-1"></i><span>Add New</span>
            </button>
        </div>
        @{
            Html.RenderPartial("_Export");
        }
    </div>

    <div class="topTabWrap brd-TRL">
        <div class="showDateIconWrap">
            @{
                Html.RenderPartial("_PageHeadingWithDate");
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblReportData" class="table tbl-td-ta-lft">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-30 m-p-w-140"
                                        scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Reported By</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Show report based on this data.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-15 m-p-w-150"
                                        scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Page Views</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    A pageview (or pageview hit, page tracking hit) is an instance of a page being loaded (or reloaded) in a browser.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-15 m-p-w-150"
                                        scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Unique Visitors</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Unique Visitors is the number of unduplicated (counted only once) visitors to your website over the course of a specified time period.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-150"
                                        scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Sessions</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    A session is a group of user interactions with your website that take place within a given time frame.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-20 m-p-w-150"
                                        scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Average Time</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Average time on site is the average duration of time spent viewing your site.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>

                @{
                    Html.RenderPartial("_Paging");
                }
            </div>
        </div>
    </div>
</section>
@{
    Html.RenderPartial("_AnalyticSavedCustomReport");
}
@{
    Html.RenderPartial("_AnalyticsReportFilter");
}

<script src="~/js/Analytics/AnalyticSaveReport.js"></script>
<div class="popupcontainer hideDiv" id="dvSavedReports" style="">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>Saved Reports</h6>
                <small class="text-color-error">Click on Checkbox to view saved reports</small>
            </div>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont colwhiteh-100">
                <div id="lmssavedreport" class="lmsnwsavedrepwrp">
                    <div class="tableWrapper">
                        <div class="table-responsive">
                            <table class="table" id="ui_tblSavedReportData">
                                <tbody id="ui_tbodySavedReportData">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<div class="modal fade" id="deletelmsuser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirmreport" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Delete
                </button>
                <button id="cancelRowConfirmreport" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
