$border-col: #ced4da;
$colwhite: #fff;
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .topnav-menu-right {
    margin-right: 0px;
  }
  .logo {
    margin-left: -205px;
  }
  .clientName {
    display: none;
  }
  .logged-user i {
    display: none;
  }

  .dropdown-a,
  .dropdown-b {
    margin-right: 0px;
  }
  .topnav-menu-right .dropdown-menu::before {
    display: none;
  }
  .topnav-menu-right .dropdown-menu::after {
    display: none;
  }
  .sidebar {
    margin-left: -230px;
    /* position: relative !important; */
  }

  .hide-logo {
    margin-left: 0px !important;
  }

  .showingWrap {
    padding-left: 0px;
    position: relative;
  }
  .iconsWrap {
    display: none;
  }

  .iconsWrap-docu .ion-ios-download-outline,
  .iconsWrap-docu .ion-ios-printer-outline,
  .iconsWrap-docu .ion-ios-refresh-empty {
    display: none;
  }
  .dateWrap {
    margin-left: 0px;
  }
  .m-p-h {
    display: none !important;
  }

  .m-p-hide {
    display: none !important;
  }

  .m-h-200 {
    height: 200px;
  }

  .actionWrap {
    padding: 0px 5px;
  }
  .searchWrap {
    width: 80px;
    justify-content: flex-end;
    padding-right: 10px;
  }
  .pagicount {
    display: none;
  }
  .pagiWrap {
    padding-top: 20px;
  }
  .searchInput {
    margin-right: 0px;
    display: none;
  }
  .pageheader {
    flex-direction: column;
    align-items: flex-start;
  }

  .p5new-frmwrappee {
    width: 90%;
  }
  .p5new-bgwhiteWrap {
    padding-bottom: 10px;
  }
  .p5new-frgtWrp p {
    padding-top: 50px;
  }
  .p5new-btnwrp .ion-ios-email-outline {
    display: none;
  }
  .btn-active {
    font-size: 14px;
  }
  .errMesWrapper {
    width: 90%;
  }
  .showDateWrap {
    width: 130px;
  }
  .dropdown-menu.mob-dropdown-rght {
    right: -80px !important;
    left: auto !important;
  }

  .iconsWrap-docu {
    .btn-dropdown {
      margin-right: 12px;
    }
  }

  .subdivWrap {
    padding: 0px 5px;
  }
  .selectedItemWrap {
    justify-content: space-between;
    .btn-dropdownGrp {
      padding: 5px 6px;
      margin-right: 6px;
      i {
        display: none;
      }
    }
  }
  .mob-mb-4 {
    margin-bottom: 1.5rem !important;
  }

  .mob-mb-2 {
    margin-bottom: 1rem !important;
  }

  .boxactionWrap {
    padding-left: 5px;
    padding-right: 5px;
  }
  .actionBtnWrap {
    margin-right: 10px;
  }
  .createBtnWrap {
    margin-left: 0;

    span{
      display: none;
    }
    i{
      margin-right: 0 !important;
    }
    .btn-action{
      padding: 4px 5px;
    }
  }
  .createBtnWrap .btn-primary {
    font-size: 12px;
  }
  .newNameTxt {
    font-size: 16px !important;
  }
  .addDropdownWrap {
    margin-left: 20px;
    width: 150px;
  }
  .dropdownSelectFilter {
    width: 100px;
  }
  .m-p-wid-300 {
    width: 98% !important;
  }
  .popupfooter {
    height: 100px;
    align-items: flex-start;
    padding-top: 10px;
  }
  .btn-primary,
  .btn-second,
  .btn-cancel {
    font-size: 12px;
  }
  .hidemob-p {
    display: none;
  }
  .mob-mt-10 {
    margin-top: 10px;
  }
  .contentHead {
    padding-bottom: 10px;
  }
  .downloadsampwrap button span {
    display: none;
  }
  .campaignContainer {
    width: 100%;
    margin-top: 140px;
  }
  .campnav-item span {
    display: none;
  }
  .text-right-lbl {
    text-align: left;
  }
  .m-p-text-hide {
    display: none;
  }
  .campaignContainer {
    width: 100%;
  }
  .notewrap {
    position: static;
  }
  .mb_sliderBar {
    width: 200px !important;
  }

  .trigrultabwrap {
    flex-wrap: wrap;
  }
  .trigrultabitem {
    width: 35px;
    justify-content: center;
    margin: 10px 5px 15px 0;
    padding: 0 !important;
  }
  .trigrultabitem span.tabtitle {
    display: none;
  }
  .trigrultab {
    width: auto;
    flex-direction: inherit;
    flex-wrap: wrap;
  }
  .trigrultabcont {
    overflow-y: auto;
    padding-bottom: 20px;
  }
  .rulecountaudi,
  .rulecountbeh,
  .rulecountinteract,
  .rulecountevnt,
  .rulecountprof {
    display: none;
  }
  .trigrultabitem i {
    padding-right: 0 !important;
  }
  .ruledetWrap {
    padding: 10px !important;
  }

  .ruledetItem {
    flex-wrap: wrap;
  }

  .rulemainchkbxWrap {
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .ruleansitem {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
  }
  .inputboxwrap {
    margin-top: 10px;
  }

  .m-mt-30 {
    margin-top: 30px;
  }
  .droplistwrap {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .ruleansitemcolum {
    width: 100%;
    margin-top: 20px;
  }
  .m-w-100px {
    width: 100px !important;
  }
  .m-w-150px {
    width: 150px !important;
  }

  .setttabwrap {
    flex-wrap: wrap;
    span {
      display: none;
    }
  }

  .setttabwrap .setttabitem {
    padding: 8px 10px;
    margin-right: 4px;
  }

  .device-iphone-8 {
    width: 280px !important;
  }
  .device-iphone-8 .device-frame {
    width: 280px !important;
  }

  .device-iphone-8 .device-content {
    width: 220px !important;
  }

  .device-google-pixel-2-xl {
    width: 280px !important;
  }
  .device-google-pixel-2-xl .device-frame {
    width: 280px !important;
  }
  .device-google-pixel-2-xl .device-content {
    width: 220px !important;
  }
  .device-google-pixel-2-xl .device-header {
    width: 310px !important;
  }

  .devicesreenwrap {
    height: 55vh;
  }
  .devicemescontwrp {
    height: 39vh;
  }
  .m-pl-2 {
    padding-left: 0.5rem !important;
  }
  .m-pl-3 {
    padding-left: 1rem !important;
  }

  .bnotisavewrp {
    padding: 15px;
  }
  .m-pl-30 {
    padding-left: 60px;
    padding-bottom: 20px;
  }

  .m-pr-0 {
    padding-right: 0 !important;
  }
  .bwnotioptwrp {
    height: auto;
    padding: 20px 15px;
  }
  .bwnotioptitem {
    flex-direction: column;
  }
  .m-df-flex-start {
    justify-content: flex-start;
  }
  .stepenblewrp {
    padding-left: 10px;
  }
  /* .box-title {
    padding: 0;
  } */

  .dashbformswrp {
    .box-title {
      padding-top: 15px;
      padding-left: 15px;
    }
  }

  .m-border-bottom {
    border-bottom: solid 1px $border-col !important;
  }
  .prefaccstatItem {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  .subcontainer {
    padding-left: 0;
    padding-right: 0;
  }
  .trackscrtwrp {
    width: 95%;
  }
  .m-mb-10 {
    margin-bottom: 10px;
  }

  .m-mb-15 {
    margin-bottom: 15px;
  }

  #world-map {
    height: 250px;
  }
  .m-mb-2 {
    margin-bottom: 0.5rem !important;
  }

  .m-mb-3 {
    margin-bottom: 1rem !important;
  }
  header.box-title {
    padding-top: 20px;
  }

  .fc .fc-toolbar {
    flex-wrap: wrap;
  }
  .fc-toolbar-title {
    padding: 15px 0px;
    width: 100% !important;
    font-size: 0.75em !important;
  }
  .chatprevwrp {
    justify-content: center;
    padding-right: 0;
  }
  .chatbarcolwrp {
    flex-wrap: wrap;
    .chatbgcol {
      margin-top: 10px;
    }
  }
  .chatcustcolwrp {
    .chatcustCol {
      margin-top: 10px;
    }
  }
  .chatrepsubmenu {
    padding: 7px 7px !important;
    span {
      display: none;
    }
  }

  .chatmesscontwrapp {
    height: auto;
  }
  .chatmesscontrabwrp {
    overflow-x: auto;
    height: 70px !important;
  }
  .chatsoundnottypitem {
    width: 100% !important;
  }
  .chatmesscontab {
    text-align: center;
    padding: 10px 6px;
  }
  #addDivScroll {
    position: absolute;
    top: 0;
    display: block !important;
  }
  .m-livmob-show {
    display: block !important;
  }
  .addDivId {
    display: none;
  }
  .chatactvistor {
    text-align: center;
  }
  .chatactvistor {
    text-align: center;
  }
  .m-p-hite-300 {
    height: 300px !important;
  }

  .m-p-hite-350 {
    height: 350px !important;
  }

  .m-p-hite-auto {
    height: auto !important;
  }
  .m-pd-10 {
    padding: 10px;
  }
  .m-pd-20 {
    padding: 20px;
  }

  .wrkflwpopupmain {
    width: 90% !important;
  }

  .wrkflwdetcontwrp {
    overflow-x: hidden;
  }

  .wrkflwdetconttabwrp {
    height: 400px;
    margin-top: 20px;
  }

  .wrkflwtoptitle {
    height: 70px !important;
    .wrkflwtitle {
      span {
        display: block !important;
      }
    }
  }
  .box-h-550 {
    height: auto;
  }
  .lmsstagewrpdrpdwn {
    .lmsalluserwrp {
      display: none;
    }
  }

  .lmsuserstagewrp {
    .lmsalluserwrp {
      width: 130px;
    }
  }

  .lmsuplicn {
    display: none;
  }
  .lmsallsource {
    display: none;
  }
  .mastfiltwrp {
    display: none;
  }
  .createBtnWrap {
    padding-left: 20px;
  }
  .lmscallsetmaimwrp {
    margin: 0;
    .lmscallsetenblwrp {
      height: auto;
      padding: 15px;
    }
  }
  .ordbydropdown {
    display: none;
  }
  .campprevtestcont {
    width: 100%;
  }
  .mobsetfrmwrp {
    width: 100%;
  }
  .inappviewtemp {
    position: static !important;
    margin-top: 10px;
  }
  .inappbguploadfile {
    flex-wrap: wrap !important;
  }

  .inapptabitemwrp {
    padding: 0 5px;
    font-size: 11px;
  }
  .inappmaineditcont {
    padding: 10px 10px 0 20px;
  }
  .inappaddfildbtn {
    padding-right: 5px;
    font-size: 12px;
  }
  .p5daslogowrp {
    justify-content: center;
  }
  .landmonthwrp {
    display: block;
    p {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  .m-h-80 {
    height: 80px;
  }
  .srchrulewrp {
    min-width: 98%;
    margin: auto;
  }
  .facebkdrpdwnwrp {
    margin-left: 20px;
  }
  .fbiconwrp {
    padding: 10px;
    i {
      font-size: 40px;
    }
  }
  .fbpagenamewrp {
    flex-wrap: wrap;
    height: auto;
    padding: 15px 20px;
    justify-content: center;
  }
  .fbpagenamelogo {
    margin-bottom: 15px;
  }
  .fbassigntypewrp {
    padding: 0 20px;
  }
  .med-hide {
    display: none;
  }
  .segconditappndwrp {
    flex-wrap: wrap;
  }
  .segandorwrp,
  .segconditdetwrp,
  .segconditnamwrp,
  .segconditiswrp,
  .segcondittxtbxwrp,
  .segcondfldclse {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .m-p-mb-0 {
    margin-bottom: 0;
  }
  .gall-col-pmob-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .subtabName {
    span {
      display: none;
    }
  }
  .lftpopuptab {
    .lftpopuptabitem {
      padding: 6px 8px;
      margin-right: 2px;
    }
  }
  .m-ml-0 {
    margin-left: 0 !important;
  }

  .clrchckbxwrp {
    margin-top: 10px;
  }

  .addgrupcampresp {
    button {
      span {
        display: none;
      }
    }
  }
  .custrange-slider{
    width: 270px;
 }
  .cust-slider-a-tit, .cust-slider-b-tit, .cust-slider-win-a-tit{
    text-align: center;
  }
  .wrkflwwebhookwrp{
    width:100%;
  }

  .sendcustwrap{
    width: 95%;
    height: 100%;
    padding: 20px;
    
    .bg-track{
    
      .copyicon{
        top: 10px;
      right: 10px;
      }
    }
  }

  .contactImportItem{
    width: 260px;
  }

  .customuplddatawrp{

    .custeventtblwrp{
      width: 260px;
    }
  }
 
  .segtoptabwrp{
    flex-direction: column;

    .segserchmicwrp{
      width: 100%;
      margin-top: 15px;
    }
  }
  .dsk-50-mob-100{
    width: 100%;
  }
  .mob-mr-btm-20px{
    margin-bottom: 20px;
  }
  .setfrmrulewrp{
    .setfrmrulecontwrp{
      height: 400px;
    }
  } 

  .currencywrp{
    width: 90%;
  }

    .currencymappwrap{
    width: 85%;
    

    .currencyitemwrp{
      flex-direction: column;
      align-items: start;
    }
  }

  .mob-mr-0{
    margin-right: 0;
  }

  .revsetttop{
    
    h2{
      width: 100%;
      text-align: center;
      padding-right: 20px;
    }
  } 

  .onetimedatabasewrap{
    .input-group-prepend{
      flex-wrap: wrap !important;
    }
  }

  .lmsreportwid{
    width: 100% !important;
  }

  .campoverallcountwrap{
    flex-wrap: wrap;

    .totalcampwrap{
      margin-bottom: 10px;
      padding: 8px 5px;
    }
  }

  .subdivWrap.h-80{
    height: auto !important;
    padding-top: 15px;
  }
  .header-sticky, .column-sticky{
    position: static !important;
  }

  .chatflowmainwrap{
    width: 360px;
  }

  .lmsphonecallwrap.lmsphonecallshow{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .topnav-menu-right {
    margin-right: 0px;
  }
  .logo {
    margin-left: -205px;
  }
  .clientName {
    display: none;
  }
  .logged-user i {
    display: none;
  }
  .topnav-menu-right .dropdown-a .dropdown-menu {
    width: 300px;
  }
  .topnav-menu-right .dropdown-b .dropdown-menu {
    width: 300px;
  }

  .dropdown-a,
  .dropdown-b {
    margin-right: 10px;
  }
  .topnav-menu-right .dropdown-menu::before {
    display: none;
  }
  .topnav-menu-right .dropdown-menu::after {
    display: none;
  }

  .hide-logo {
    margin-left: 0px !important;
  }
  .m-top-66 {
    top: 66px !important;
  }

  /* .pageheader{
        flex-direction: column;
        align-items: flex-start;
    } */

  .pagiWrap {
    padding-top: 20px;
  }

  .p5new-frmwrappee {
    width: 90%;
  }
  .p5new-bgwhiteWrap {
    padding-bottom: 10px;
  }
  .p5new-frgtWrp p {
    padding-top: 50px;
  }
  .iconsWrap-docu .ion-ios-download-outline,
  .iconsWrap-docu .ion-ios-printer-outline,
  .iconsWrap-docu .ion-ios-refresh-empty {
    display: none;
  }
  .errMesWrapper {
    width: 85%;
  }
  .showDateWrap {
    width: 130px;
  }
  .dateWrap {
    margin-left: 0px;
  }
  .m-p-h {
    display: none !important;
  }
  .mob-mb-4 {
    margin-bottom: 1.5rem !important;
  }
  .newNameTxt {
    font-size: 16px !important;
  }
  .addDropdownWrap {
    margin-left: 20px;
    width: 150px;
  }
  .popupfooter {
    height: 115px;
    align-items: flex-start;
    padding-top: 10px;
  }
  .campaignContainer {
    width: 100%;
    margin-top: 140px;
  }
  .campnav-item span {
    display: none;
  }
  .campaignContainer {
    width: 90%;
  }
  .notewrap {
    position: static;
  }

  .mb_sliderBar {
    width: 250px !important;
  }

  .trigrultabwrap {
    flex-wrap: wrap;
  }
  .trigrultabitem {
    justify-content: center;
    margin: 10px 5px 15px 0;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .trigrultabitem span.tabtitle {
    display: none;
  }
  .trigrultab {
    width: auto;
    flex-direction: inherit;
    flex-wrap: wrap;
  }
  .trigrultabcont {
    overflow-y: auto;
    padding-bottom: 20px;
  }
  .trigrultabitem i {
    padding-right: 0 !important;
  }
  .ruledetWrap {
    padding: 10px !important;
  }

  .ruledetItem {
    flex-wrap: wrap;
  }

  .rulemainchkbxWrap {
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .ruleansitem {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
  }
  .inputboxwrap {
    margin-top: 10px;
  }

  .m-mt-30 {
    margin-top: 30px;
  }
  .droplistwrap {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .ruleansitemcolum {
    width: 100%;
    margin-top: 20px;
  }

  .emailtempwrap,
  .premtempitem {
    .card-group {
      flex-flow: column;
      .card {
        margin-bottom: 15px;
      }
    }
  }
  .device-iphone-8 {
    width: 280px !important;
  }
  .device-iphone-8 .device-frame {
    width: 280px !important;
  }

  .device-iphone-8 .device-content {
    width: 220px !important;
  }

  .device-google-pixel-2-xl {
    width: 280px !important;
  }
  .device-google-pixel-2-xl .device-frame {
    width: 280px !important;
  }
  .device-google-pixel-2-xl .device-content {
    width: 220px !important;
  }
  .device-google-pixel-2-xl .device-header {
    width: 310px !important;
  }

  .devicesreenwrap {
    height: 89vh;
  }
  .devicemescontwrp {
    height: 67vh;
  }
  .bnotisavewrp {
    padding: 15px;
  }
  .m-pr-0 {
    padding-right: 0 !important;
  }

  .df-ac-jcenter {
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  .dashbformswrp {
    .box-title {
      padding-top: 15px;
      padding-left: 15px;
    }
  }

  .prefaccstatItem {
    width: 40%;
    margin: auto;
    margin-bottom: 30px;
  }
  .subcontainer {
    padding-left: 0;
    padding-right: 0;
  }
  .trackscrtwrp {
    width: 95%;
  }
  .m-mb-2 {
    margin-bottom: 0.5rem !important;
  }

  .m-mb-3 {
    margin-bottom: 1rem !important;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    padding: 10px !important;
    margin-bottom: 10px !important;
  }
  .fc-toolbar-title {
    padding: 15px 0px;
    font-size: 0.75em !important;
  }
  .chatprevwrp {
    justify-content: center;
    padding-right: 0;
    align-items: center;
  }
  .chatbubwrp {
    margin-top: 15px;
  }
  .chatcontainer {
    margin: auto;
  }
  .chatrepsubmenu {
    span {
      display: none;
    }
  }
  .chatmesscontwrapp {
    height: auto;
  }
  .chatmesscontrabwrp {
    overflow-x: auto;
    height: 70px !important;
  }
  .chatsoundnottypitem {
    width: 100% !important;
  }
  .chatmesscontab {
    text-align: center;
    padding: 10px 6px;
  }
  #addDivScroll {
    position: absolute;
    top: 0;
    display: block;
  }
  .m-livmob-show {
    display: block !important;
  }
  .addDivId {
    display: none;
  }
  .chatactvistor {
    text-align: center;
  }
  .m-p-hite-300 {
    height: 300px !important;
  }

  .m-p-hite-350 {
    height: 350px !important;
  }

  .m-p-hite-auto {
    height: auto !important;
  }
  .m-pd-10 {
    padding: 10px;
  }
  .m-pd-20 {
    padding: 20px;
  }

  .wrkflwhispopupbg {
    align-items: flex-start;
  }

  .wrkflwpopupmain {
    width: 90% !important;
  }

  .wrkflwdetcontwrp {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .wrkflwdetconttabwrp {
    height: 500px;
    margin-top: 20px;
  }

  .wrkflwtoptitle {
    height: 70px !important;
    .wrkflwtitle {
      span {
        display: block !important;
      }
    }
  }
  .box-h-550 {
    height: auto;
  }
  .lmsuplicn {
    display: none;
  }
  .lmssourcefilterwrp,
  .lmsstagefilterwrp,
  .lmshandledfilterwrp,
  .lmslabelfilterwrp {
    width: 140px !important;
  }
  .lmscallsetmaimwrp {
    margin: 0;
    .lmscallsetenblwrp {
      height: auto;
      padding: 15px;
    }
  }
  .campprevtestcont {
    width: 100%;
  }
  .mobsetfrmwrp {
    width: 100%;
  }
  .inappmaineditcont {
    min-height: 170px;
  }
  .m-h-80 {
    height: 80px;
  }
  .errcontwrp {
    .err-title {
      font-size: 46px;
    }
  }
  .srchrulewrp {
    min-width: 98%;
    margin: auto;
  }
  .facebkdrpdwnwrp {
    margin-left: 20px;
  }
  .m-mb-15 {
    margin-bottom: 15px;
  }
  .fbiconwrp {
    padding: 10px;
    i {
      font-size: 40px;
    }
  }

  .segconditappndwrp {
    flex-wrap: wrap;
  }

  .segandorwrp {
    width: 17% !important;
    margin-bottom: 10px !important;
  }

  .segconditdetwrp,
  .segconditnamwrp {
    width: 39% !important;
    margin-bottom: 10px;
  }
  .segconditiswrp,
  .segcondittxtbxwrp {
    width: 46% !important;
    margin-bottom: 10px;
    text-align: center;
  }
  .segconditiswrp {
    margin-left: 0 !important;
  }

  .segcondfldclse {
    width: 4% !important;
  }

  .m-p-mb-0 {
    margin-bottom: 0 !important;
  }
  .m-mb-10 {
    margin-bottom: 10px;
  }

  .setttabwrap {
    .setttabitem {
      padding: 8px 10px;
      margin-right: 4px;
    }
  }
  .mob-mb-2 {
    margin-bottom: 1rem !important;
  }
  .gall-col-lmob-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sendcustwrap{
    width: 95%;
    height: 100%;
    padding: 20px;
    
    .bg-track{
    
      .copyicon{
        top: 10px;
      right: 10px;
      }
    }
  }

  .dsk-50-mob-100{
    width: 100%;
  }
  .mob-mr-btm-20px{
    margin-bottom: 20px;
  }
  .setfrmrulewrp{
    .setfrmrulecontwrp{
      height: 400px;
    }
  }

  .m-w-100px{
    width: 100px;
  }

  .lmsreportwid{
    width: 100% !important;
  }

  .campoverallcountwrap{
    flex-wrap: wrap;

    .totalcampwrap{
      margin-bottom: 10px;
      padding: 8px 10px;
    }
  }

  .subdivWrap.h-80{
    height: auto !important;
    padding-top: 15px;
  }

  .header-sticky, .column-sticky{
    position: static !important;
  }

  .lmsphonecallwrap.lmsphonecallshow{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .pagiWrap {
    padding-top: 20px;
  }

  .popupfooter {
    height: 115px;
    align-items: flex-start;
    padding-top: 10px;
  }
  .mb_sliderBar {
    width: 280px !important;
  }

  .trigrultabwrap {
    flex-wrap: wrap;
  }
  .trigrultabitem {
    justify-content: center;
    margin: 10px 5px 15px 0;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .trigrultabitem span.tabtitle {
    display: none;
  }
  .trigrultab {
    width: auto;
    flex-direction: inherit;
    flex-wrap: wrap;
  }
  .trigrultabcont {
    overflow-y: auto;
    padding-bottom: 20px;
  }
  .m-p-h-tab {
    display: none;
  }
  .m-wid-100 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .campbtmwrap {
    flex-direction: column;
  }
  .devicesreenwrap {
    height: 54vh !important;
  }
  .prefaccstatItem {
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
  }
  .chatprevwrp {
    padding-right: 0;
  }
  .chatbarcolwrp {
    flex-wrap: wrap;
    .chatbgcol {
      margin-top: 10px;
    }
  }
  .chatcustcolwrp {
    .chatcustCol {
      margin-top: 10px;
    }
  }
  .chatactvistor {
    text-align: center;
  }

  .wrkflwhispopupbg {
    align-items: flex-start;
  }

  .wrkflwpopupmain {
    width: 95% !important;
  }

  .wrkflwdetcontwrp {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .wrkflwdetconttabwrp {
    height: 500px;
    margin-top: 20px;
  }

  .wrkflwtoptitle {
    height: 70px !important;
    .wrkflwtitle {
      span {
        display: block !important;
      }
    }
  }
  .wrkflwresnumwrp {
    flex-wrap: wrap;
  }
  .box-h-550 {
    height: 100%;
  }
  .lmssourcefilterwrp,
  .lmsstagefilterwrp,
  .lmshandledfilterwrp {
    width: 170px !important;
  }
  .campprevtestcont {
    width: 100%;
  }
  .m-h-80 {
    height: 80px;
  }
  .cust-slider-a-tit, .cust-slider-b-tit, .cust-slider-win-a-tit{
    text-align: center;
  }
  .sendcustwrap{
    width: 95%;
    height: 100%;
    padding: 20px;
    
    .bg-track{
    
      .copyicon{
        top: 10px;
      right: 10px;
      }
    }
  }
  .lmsreportwid{
    width: 100% !important;
  }

  .chatflowpageprevwrp{

    .chatflowpageagent{

      .chatflowagentlogo{
        width: 40px !important;
        height: 40px !important;
      }

      .chatflowagentcontent{
        width: 75% !important;
      }
    }

  }

  .lmsphonecallwrap.lmsphonecallshow{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

@media only screen and (min-width: 999px) and (max-width: 1280px) {
  .popupfooter {
    height: 115px;
    align-items: flex-start;
    padding-top: 10px;
  }
  .wrkflwpopupmain {
    width: 95% !important;
  }
  .lmssourcefilterwrp,
  .lmsstagefilterwrp,
  .lmshandledfilterwrp {
    width: 200px !important;
  }
  .cust-slider-a-tit, .cust-slider-b-tit, .cust-slider-win-a-tit{
    text-align: center;
  }
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .topTabWrap {
    position: relative;
  }
  .iconTopNav {
    display: block;
  }
  .tabItemWrap {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 40px;
    left: 9px;
    border: solid 1px $border-col;
    padding-left: 0px;
    border-bottom: none;
    z-index: 100;
  }
  .tap-nav-link {
    margin-right: 0px;
    border-bottom: solid 1px $border-col;
  }
  .showTxt {
    display: none;
  }
  .charteeWrap {
    padding: 0px;
  }
  /* .logo{margin-left: -205px;} */

  /* .hide-logo{
        margin-left: 0px !important;
    } */
  .copyriteWrp {
    flex-wrap: wrap !important;
    flex-direction: column;
    text-align: center;
    line-height: 24px;
  }
  .table td {
    word-break: normal;
  }

  .sidebar {
    position: absolute;
  }

  .td-m-wid-50 {
    width: 50px !important;
    max-width: 50px !important;
  }
  .chbxWrap {
    width: 30px;
  }

  .m-p-wid-40 {
    width: 40px !important;
  }
  .m-p-w-40 {
    min-width: 40px;
  }

  .m-p-w-60 {
    min-width: 60px;
  }

  .m-p-w-70 {
    min-width: 70px;
  }

  .m-p-w-80 {
    min-width: 80px;
  }

  .m-p-w-100 {
    min-width: 100px;
  }

  .m-p-w-120 {
    min-width: 120px;
  }

  .m-p-w-130 {
    min-width: 130px;
  }

  .m-p-w-140 {
    min-width: 140px;
  }

  .m-p-w-150 {
    min-width: 150px;
  }

  .m-p-w-160 {
    min-width: 160px;
  }

  .m-p-w-170 {
    min-width: 170px;
  }

  .m-p-w-190 {
    min-width: 190px;
  }

  .m-p-w-200 {
    min-width: 200px;
  }

  .m-p-w-220 {
    min-width: 220px;
  }

  .m-p-w-250 {
    min-width: 250px;
  }

  .m-p-w-300 {
    min-width: 300px;
  }

  .m-p-w-400 {
    min-width: 400px;
  }

  .m-ml-3 {
    margin-left: 1rem !important;
  }
  .m-mt-3 {
    margin-top: 1rem !important;
  }

  .m-mb-5px {
    margin-bottom: 5px;
  }

  .no-data {
    text-align: center;
    padding: 0px 10px;
    height: 200px;
  }
  .drop-form {
    width: 300px;
  }
  .errMesWrapper {
    width: 90%;
  }
  .batchtxtwrap {
    flex-wrap: wrap;
  }
  .spamsettwrp {
    width: 100%;
  }
  .spam-num {
    width: 30%;
  }
  .newslet-head {
    padding-right: 20px;
  }
  .accrdsub-one {
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .totaltxticonwrp {
    .ion-ios-people-outline {
      font-size: 60px;
    }
  }
  .m-text-left {
    text-align: left !important;
  }
  .browscontent {
    padding: 0px;
  }
  .bwsnoticontainer {
    height: inherit;
  }
  .brwsernotiwrp {
    height: inherit;
  }

  .m-w-100 {
    width: 100% !important;
  }

  .bwsnotifprevbody {
    height: 300px;
  }
  .dashformban {
    .box-title {
      padding: 10px;
    }
  }

  .crtefrmtypewrp,
  .taggextfrmwrp {
    width: 100%;
  }

  .profipasswrp {
    width: 95%;
    height: auto;
  }
  .profhead {
    width: 98%;
  }
  .m-pt-20 {
    padding-top: 20px;
  }

  .ucptblwrp {
    .box-white {
      border-right: none !important;
      table {
        tr {
          td {
            background-color: $colwhite;
            border-right: solid 1px $border-col;
          }
        }
      }
    }
  }
  .pageanalyUrlwrp {
    width: 80%;
  }

}

@media (min-width: 1200px) {
  .container-flex .logo {
    margin-left: -210px;
  }
  .sidebar {
    margin-left: 0px;
    position: relative;
  }

  .main-container {
    display: flex;
    min-height: calc(100vh - 75px);
  }

  .container-flex .sidebar {
    margin-left: -230px;
  }

  .col-xl-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (max-width: 1199.98px) {
  .logo {
    margin-left: -210px;
  }
  .show-sidebar .main-container {
    display: flex;
    transform: translateX(230px);
  }
  .show-sidebar .sidebar {
    position: relative !important;
  }
  .show-sidebar .logo {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  .bubb-hite {
    height: 450px;
  }
  .ioswrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .androidwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .col-lg-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 768px) {
  .col-md-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
