@media print{
    /** Paper sizes **/
    body{background-color: #fff;}
body.A3           .sheet { width: 297mm; height: 419mm }
body.A3.landscape .sheet { width: 420mm; height: 296mm }
body.A4           .sheet { width: 210mm; height: 296mm }
body.A4.landscape .sheet { width: 297mm; height: 180mm }
body.A5           .sheet { width: 148mm; height: 209mm }
body.A5.landscape .sheet { width: 210mm; height: 147mm }
	
body.A3.landscape { width: 420mm }
body.A3, body.A4.landscape { width: 297mm }
body.A4, body.A5.landscape { width: 210mm }
body.A5                    { width: 148mm }
	
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

.sidebar, .barMenu, .topnav-menu-right{display: none;}
.showDateIconWrap{display: none;}
.breadcrumb{display: none;}
.pagiWrap{display: none;}
.actionWrap{display: none;}
.logo{
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  right:0;
  margin-right: 0;
}
.top-header{
  border-bottom: none;
}
.topTabWrap{
  display: none;
}
.pagetitle{
  margin-bottom: 30px;
}
.showDateWrap{display: none;}
.section.sheet{
  margin-top: 30px !important;
}

table th i{
  display: none;
}

}