body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #868ba1;
    text-align: left;
    background-color: #f0f2f7;
}

.top-header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
}

.p5-body {
    transition: all 0.2s ease-in-out;
}

.sidebar {
    width: 230px;
    background-color: #fff;
    border-right: 1px solid #ced4da;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
    flex-shrink: 0;
    position: absolute;
    margin-left: -230px;
}

.p5-body .p5-mainpanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.p5-mainpanel {
    transition: all 0.2s ease-in-out;
    min-height: calc(100vh - 276px);
}

.p5-body .p5-mainpanel .container {
    max-width: none;
    padding: 15px;
}


@media (min-width: 1200px){
    .p5-body {
        display: flex;
        min-height: calc(100vh - 75px);
    }

    .sidebar {
        margin-left: 0;
        position: relative;
    }

    .hide-sidebar .sidebar {
        margin-left: -230px;
    }

    .sidebar {
        margin-left: 0;
        position: relative;
    }
    

}

@media (max-width: 1199.98px){
    .show-sidebar {
        overflow-x: hidden;
    }
    .show-sidebar .p5-body {
        display: flex;
        transform: translateX(230px);
    }

    .show-sidebar .p5-sidebar {
        position: relative !important;
    }
    
}




