@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("../css/font-awesome.min.css");

/*Global Variables*/
$top-band: #ffffff;
$text-color:#495057;
$bg-col-blue: #1b84e7;
$body-color: #f0f2f7;
$link-col-blue: #1b84e7;
$border-col: #ced4da;
$pageTitBrd: #4662D4;
$trbgCol:#e3e4e8;
$firstrowtd: #f5f6f8;
$footerBg: #e3e7eb;
$actionBtn-start: #f6f6f6;
$actionBtn-end: #dcdcdc;
$sidebarActBgStart:#1b84e7;
$sidebarActBgEnd:#1515af;
$submenuActive:#f2f4f6;
$btnActive: #1b84e7;
$btnActiveHover: #1570c7;
$btnBorderCol: #1b84e7;
$dropdownHoverBg: #e9ecef;
$dropdownHvrTextCol:#495057;
$titleHead: #343a40;
$colwhite:#fff;
$checkBoxBg:#e9ecef;
$checkBoxBrdCol:#afaeae;
$checkBoxBgAct:#1b84e7;
$checkBoxBrdcolAct:#1b84e7;
$deleteCol:#dc3545;
$editCol:#1b84e7;
$rowactive:#bbd9f5;
$nameAlpha:#6c757d;
$verifiedSuc:#23BF08;
$verifiedDang:#dc3545;
$verifiedUnk:#F49917;
$popbandbgcol:#ffffff;
$popuptitle:#1b84e7;
$secondbtnbgcol:#6f42c1;
$secondbtnbrdcol:#6f42c1;
$secondbtntxtcol:#6f42c1;
$cancelbtnbgcol:#dc3545;
$cancelbtnbrdcol:#dc3545;
$cancelbtntxtcol:#dc3545;
$addcusttopbandcol:#343a40;
$btn-secondaryBgCol:#6c757d;
$btn-secondaryBrdCol:#6c757d;
$btn-secondaryTxtCol:#fff;
$totalcounthead: #e83e8c;
$btnthirdbgcol:#4662D4;
$btnthirdtxtcol:#ffffff;
$btnthirdbrdcol:#4662D4;
$text-color-success:#23BF08;
$text-color-error:#dc3545;
$text-color-progress:#F49917;
$text-color-queued:#6c757d;
/*Global Variables*/


body{
    margin: 0; padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    background-color: $body-color;
}
*{padding: 0; margin: 0;}

@mixin df-ac-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin df-ac-sc {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin df-ac {
    display: flex;
    align-items: center;
}

@mixin df-ac-sfe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin df-fd-clmn {
    display: flex;
    flex-direction: column;
}


@mixin  popUpBgTrans {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.top-band{
    background-color: $top-band;
    height: 75px;
    @include df-ac;
    .logowrp{
        width: 125px;
        height: 35px;
        background-image: url(../images/plumb5_logo.png);
        background-repeat: no-repeat;
        margin-right: 20px;
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.pageconthead{
    @include df-ac-sb;
    margin-top: 20px;
    .pagetitle {
        margin-bottom: 10px;
        color: #343a40;
        padding-left: 10px;
        border-left: 4px solid #4662D4;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: .5px;
    }
    .breadcrumb {
        margin-bottom: 0;
        padding: 0;
        background-color: transparent;
        font-size: 12px;
    }
}

.btn-second{
    color: $secondbtntxtcol;
    font-size: 14px;
    border-color: $secondbtntxtcol;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: $secondbtnbgcol;
        color: #ffffff !important;
    }
    a{
        color:$secondbtntxtcol;
    }
}

.btn-second:hover a{
    color: #ffffff;
}
.tempNamewrpedit{
    h6{
        font-size: 13px;
        padding-left: 15px;
        color: $totalcounthead;
        margin-top: -5px;
    }
}
.tempeditactwrap{
    .box-band{
        height: 50px;
        background-color: $colwhite;
        border-top: solid 1px $border-col;
        border-right: solid 1px $border-col;
        border-left: solid 1px $border-col;
        @include df-ac-sb;
        padding: 0 15px;
        .usebtnwrp{
            @include df-ac;
        }
        .btn-primary {
            color: #fff;
            background-color: #1b84e7;
            border-color: #1b84e7;
            font-size: 13px;
            font-weight: 300;
            &:hover{
                color: #fff;
                background-color: #0062cc;
                border-color: #005cbf;
            }
        }
        .inputfilebtn {
            position: absolute;
            top: 0px;
            z-index: 1;
            width: 25px;
            height: 31px;
            left: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
        }
        .attachitemwrp{
            @include df-fd-clmn;
        }
        .attachItem {
            padding: 8px 10px;
            border-bottom: solid 1px #ced4da;
            @include df-ac-sb;
            cursor: pointer;
            .attchfilename {
                font-size: 12px;
                color: #495057;
                word-break: break-all;
                padding-right: 10px;
            }
        }
        .deldownld{
            .ion-android-arrow-down, .ion-android-delete {
                font-size: 14px;
                cursor: pointer;
                margin-right: 10px;
                color: #495057;
            }
        }
        .attachfiledet{
            .dropdown-menu {
                padding-bottom: 0px;
                padding-top: 0px;
                border-bottom: none;
            }
            .ion-android-document{
                display: none;
            }
        }
    }
}

.btn {
    border-radius: 0px;
}

.dropdown-menu {
    border-radius: 0px;
    color: #868ba1;
    border: solid 1px #ced4da;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
 
.btn-primary:hover {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
} 

.autosavewrp{
    width: 15px;
    height: 25px;
    display: flex;
    margin-top: 6px;
    .sk-double-bounce {
        width: 20px;
        height: 20px;
        position: relative;
        
        }
        .sk-double-bounce .sk-child {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: $totalcounthead;
          opacity: 0.6;
          position: absolute;
          top: 0;
          left: 0;
          -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
                  animation: sk-doubleBounce 2s infinite ease-in-out; }
        .sk-double-bounce .sk-double-bounce2 {
          -webkit-animation-delay: -1.0s;
                  animation-delay: -1.0s; }
      
      @-webkit-keyframes sk-doubleBounce {
        0%, 100% {
          -webkit-transform: scale(0);
                  transform: scale(0); }
        50% {
          -webkit-transform: scale(1);
                  transform: scale(1); } }
      
      @keyframes sk-doubleBounce {
        0%, 100% {
          -webkit-transform: scale(0);
                  transform: scale(0); }
        50% {
          -webkit-transform: scale(1);
                  transform: scale(1); } }
}

.font-11{
    font-size: 11px !important;
}
.w-110{
    width: 110px;
}
.w-95{
    width: 95px;
}
.autsav{
    font-size: 11px;
    color: $text-color;
    padding-left: 5px;
    padding-left: 2.5px;
}
.footer.editor {
    margin-top: 30px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .copyriteWrp {
        font-size: 11px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        color: #495057;
    }
}

.hideDiv{display: none !important;}
/*UPload editor*/
.dropdowneditor{
    background-color: #ffffff;
    padding: 10px;
    width: 180px;
    border: solid 1px $border-col;
}


/*UPload editor*/

select + .select2-container {
    width: 100% !important;
    font-family: 'Roboto', sans-serif !important;
    color: $text-color !important;
    font-weight: 400 !important;
  }

  [class^='select2'] {
    border-radius: 0px !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
  }


@media only screen and (min-width:300px) and (max-width:400px){
    .attachfiledet{
       .ion-android-document{
            display: block !important;
         }
        .seeattch{
            display: none;
        }
    
        }
        .pageconthead{
            .pagetitle{
                font-size: 16px;
            }
    }
    .tempNamewrpedit{
        h6{
            margin-top: 10px !important;
            margin-bottom: 10px;
        }
    }

}



.deldownmodalwrp{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}
.deldownmodal{
    width: 300px;
    max-width: 300px;
    border: solid 1px $border-col;
    display: flex;
    flex-direction: column;
    .deldownheader{
        height: 40px;
        background-color: #dc3545;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        .deldownmodal-title{
            font-size: 14px;
            color: #ffffff;
            text-transform: uppercase;
            margin: 0;
            font-weight: 700;
        }
        .close {
            color: #fff;
        }
    }
    .deldownmodalbody{
        height: 100%;
        padding: 1rem;
        background-color: #fff;
    }
    .deldownmodalfoot{
        height: 50px;
        background-color: #f8f9fa;
        border-top: solid 1px $border-col;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 10px;
        .font-12{
            font-size: 12px;
        }
    }
}
.deldownmodalwrp.show{
    display: flex;
}


/* Tagged an existing form*/

.tagfrmeditwrp{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border: solid 1px $border-col;
    min-height: 64vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taggextfrmwrp{
    width: 50%;
    margin: auto;
}
.taggextfrmitem{
    position: relative;
}

.taggobtn{
    position: absolute;
    right: 10px;
    top: 13px;
}

.form-control{
    border-radius: 0px;
    font-size: 13px;
    font-weight: 300;
}

.h-60px{
    height: 60px;
}

.bwsnote{
    font-size: 12px;
    color: $nameAlpha;
    margin-bottom: 0;
}

.text-color-blue{
    color: $bg-col-blue;
}


@media only screen and (min-width:300px) and (max-width:992px){
    .copyriteWrp {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        line-height: 24px;
    }

    .taggextfrmwrp{
        width: 100%;
    }
}