@{
    ViewBag.Title = "CampaignOverView";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Campaigns Overview</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Campaigns Overview</li>
        </ol>
    </div>

    <div class="box-white mr-tp-15">
        <div class="contimportrepwrap">
            <div class="showDateIconWrap border-bottom">
                @{
                    Html.RenderPartial("_PageHeadingWithDate");
                }
                <div class="iconsWrap-docu">
                    <div class="iconsWrap-docu">
                        <div class="emailtempdropdown w-150 mr-2 m-w-100px">
                            <select class="form-control addCampName" data-placeholder="" id="ui_dlltemplateCampaign">
                                <option value="0">Filter by Templates</option>
                            </select>
                        </div>
                        <div class="emailtempdropdown w-150 mr-2 m-w-100px">
                            <select class="form-control addCampName" data-placeholder="" id="ui_ddCampaignnames">
                                <option value="0">Filter by Campaigns</option>
                            </select>
                        </div>
                        <div class="filterWrap dropdown">
                            <i class="icon ion-android-funnel" title="Filter By Channel Type" id="filterbycontacts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterbycontacts" x-placement="bottom-end" style="position: absolute; transform: translate3d(15px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item contfiltby" href="javascript:void(0)">Email</a>
                                <a class="dropdown-item contfiltby" href="javascript:void(0)">SMS</a>
                                <a class="dropdown-item contfiltby" href="javascript:void(0)">WhatsApp</a>
                                <a class="dropdown-item contfiltby" href="javascript:void(0)">Web Push</a>
                            </div>
                        </div>
                        @{
                            Html.RenderPartial("_Export");
                        }
                    </div>

                </div>
            </div>
            <div class="subdivWrap border-top-0 h-80 pl-0">
                <div class="selectedItemWrap justify-content-between">
                    <div class="checkBxCount">
                        <div class="campoverallcountwrap" id="ui_totaldivoverveiw">
                        </div>
                    </div>
                    <div class="filtwrpbar hideDiv">
                        <div class="filtbywrp">Filter by: <span class="filttypetext"></span></div>
                        <i class="icon ion-android-close"></i>
                    </div>
                </div>
            </div>
            <div class="scheduledresponses">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="box-white border-0 position-relative">
                            <div class="tableWrapper">
                                <div class="table-responsive campaignresponse">
                                    <table id="tbl-contimport-rep" class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="helpIcon m-p-w-250 td-wid-22">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>
                                                    </div>Campaign
                                                    Identifier
                                                </th>
                                                <th class="helpIcon m-p-w-250 td-wid-25" scope="col">
                                                    <div class="sortWrap">
                                                        <i class="icon ion-arrow-down-c addColor"></i>
                                                    </div>Campaign
                                                    Name
                                                </th>
                                                <th class="helpIcon m-p-w-160 td-wid-15" scope="col">
                                                    Channel Type
                                                </th>
                                                <th class="helpIcon m-p-w-300  td-wid-25" scope="col">
                                                    Campaign Performance
                                                </th>
                                                <th class="helpIcon m-p-w-190  td-wid-13" scope="col">
                                                    Engagement
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_trbodyReportData">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @{
                                Html.RenderPartial("_Paging");
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="~/js/Dashboard/CampaignOverview.js"></script>
