@{
    ViewBag.Title = "Plumb5 :: Dashboard";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link href="~/Content/css/fullcalendar.css" rel="stylesheet" />
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Campaign Calendar</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Campaign Calendar</li>
        </ol>
    </div>

    <div class="row mr-tp-15">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white border-0">
                <div id="campcal">
                </div>
            </div>
        </div>
    </div>

</section>
<!--Popover html-->
<div class="caltooltip hideDiv">
    <p><strong>Campaign Name:</strong> <span id="pop_campid"></span></p>
    <p><strong>Campaign Description:</strong> <span id="pop_campdesc"></span></p>
    <p><strong>Template Name:</strong> <span id="pop_tempname"></span></p>
    <p><strong>Group Name</strong> <span id="pop_grpname"></span></p>
</div>
<!--Popover html-->

<script src="~/js/CampaignCalendar/fullcalendar.js"></script>
<script src="~/js/CampaignCalendar/Calendar.js"></script>

