@{
    ViewBag.Title = "Plumb5 :: AttributionModel";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Attribution Model</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web </a></li>
            <li class="breadcrumb-item"><a href="#">Conversions</a></li>
            <li class="breadcrumb-item active" aria-current="page">Attribution Model</li>
        </ol>
    </div>

    <div class="topTabWrap brd-TRL">
        @{
            Html.RenderPartial("_PageHeadingWithLastDateDetails");
        }
        <div class="showingWrap">
            <div class="createBtnWrap pr-2">
                <button type="button"
                        class="btn btn-primary btn-sm attribmodelpop m-ml-3 border-radius-0">
                    + New
                    Model
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white" id="dvAttrModelReport">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pr-0">
                        <div class="tableWrapper goalstble">
                            <div class="table-responsive">
                                <table class="table tbl-td-ta-lft border-right" id="ui_tableReport">
                                    <thead>
                                        <tr>
                                            <th class="helpIcon td-wid-65 m-p-w-220" scope="col">
                                                <div class="sortWrap">
                                                    <i class="fa fa-caret-up addColor"></i><i class="fa fa-caret-down addColor"></i>
                                                </div>
                                                <div class="spacBet">
                                                    <div>Goal Name</div>
                                                    <div class="th-iconWrp">
                                                        <i class="icon ion-ios-help-outline"></i>
                                                        <div class="toottipWrap">
                                                            Aenean vulputate
                                                            eleifend tellus. Aenean leo ligula,
                                                            porttitor.
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-35 m-p-w-190" scope="col">
                                                <div class="spacBet">
                                                    <div>Created on</div>
                                                    <div class="th-iconWrp">
                                                        <i class="icon ion-ios-help-outline"></i>
                                                        <div class="toottipWrap">
                                                            Aenean vulputate
                                                            eleifend tellus. Aenean leo ligula,
                                                            porttitor.
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="ui_tbodyReportData">
                                    </tbody>
                                </table>
                            </div>
                            @{
                                Html.RenderPartial("_Paging");
                            }
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pl-0">
                        <div class="df-ac-sbet border-bottom p-2">
                            <div class="attrmodwrp">
                                <div class="mr-2 w-150 font-weight-bold">Model Name:</div>
                                <div class="goadNametit w-100">Purchase Product</div>
                            </div>
                            <div class="attrmdwrp">
                                <select name="" class="form-control" id="attribmodbar">
                                    <option data-attribcanid="attrmodelfirst" data-attribmoddescpt="First Interaction(also called 'First-Click'
                                                        ) gives 100% of the credit to one single
                                                        click/interaction. It gives all of the credit for a conversion
                                                        to your business' first interaction with the customer."
                                            value="First Interaction Attribution" selected>
                                        First
                                        Interaction
                                    </option>
                                    <option data-attribcanid="attrmodellast" data-attribmoddescpt="Last Interaction Attribution is also referred to as 'last-click' or 'last-touch.' This model gives 100% of the credit to the last interaction your business had with a lead before they convert.
                                                    " value="Last Interaction Attribution">
                                        Last Interaction
                                    </option>
                                    <option data-attribcanid="attrmodellinear" data-attribmoddescpt="With a Linear attribution model, you split credit for a conversion equally between all the interactions the customer had with your business.
                                                    " value="Linear Attribution">
                                        Linear
                                    </option>
                                    <option data-attribcanid="attrmodelpost" data-attribmoddescpt="The Position-based attribution model (also called U-shaped attribution) splits the credit for a sale between a prospect's first interaction with your brand and the moment they convert to a lead.
                                                    " value="Position Based Attribution">
                                        Position Based
                                    </option>
                                    @*<option data-attribcanid="attrmodeltime" data-attribmoddescpt="Time Decay attribution is similar to Linear attribution—it spreads out the value across multiple events. Time Decay model also takes into consideration when each touchpoint occurred.
                                    " value="Time Decay Attribution">
                                    Time Decay
                                    </option>*@
                                </select>
                            </div>
                        </div>
                        <div class="atrrbargrpwrp">
                            <div class="box-white border-0 p-0 border-bottom">
                                <h6 class="attrhead">
                                    First
                                    Interaction Attribution
                                </h6>
                                <div class="charteeWrap position-relative h-250">
                                    <canvas id="attrmodelfirst" class="attrmodcanvas"></canvas>
                                    <canvas id="attrmodellast" class="attrmodcanvas hideDiv"></canvas>
                                    <canvas id="attrmodellinear" class="attrmodcanvas hideDiv"></canvas>
                                    <canvas id="attrmodelpost" class="attrmodcanvas hideDiv"></canvas>
                                    <canvas id="attrmodeltime" class="attrmodcanvas hideDiv"></canvas>
                                </div>
                            </div>
                            <div class="attrbardescp p-4">
                                <h6 class="attrbarhead">First Interaction Attribution</h6>
                                <p class="attrmoddecrpt">
                                    First Interaction(also called "First-Click")
                                    gives 100% of the credit
                                    to one single click/interaction. It gives all of the credit for a
                                    conversion to your business' first interaction with the customer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nodatadashwrp mt-4 hideDiv">
                <div class="box-white h-100 df-ac-cc">
                    <p>
                        Click on the <b>+ New Model </b>button to add Attribution Model
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Popup window right-->
    <div class="popupcontainer hideDiv">
        <div class="popupItem w-450 m-p-wid-300 position-relative">
            <div class="popuptitle">
                <div class="popuptitlwrp">
                    <h6>Create Attribution Model</h6>
                    <small class="popupsubtitle">Purchase Product</small>
                </div>
                <i id="close-popup" class="icon ion-close"></i>
            </div>
            <div class="popupbody">
                <div class="popupbodycont pad-10">
                    <div class="popcontWrap">
                        <div class="form-group">
                            <label class="frmlbltxt" for="">Model Name</label>
                            <input type="text" class="form-control" id="txt_ModelName">
                        </div>
                        <div class="appndstepitem">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Page URL</label>
                                <input type="text" class="form-control" id="txt_PageName">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popupfooter">
                <div class="btnwrp">
                    <button class="btn btn-primary mr-2" type="button" id="btnAddAttrModel">Save</button>
                    <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--Popup window right-->
</section>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deleterow" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Model?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    This action can't be undone. Are you sure that you want to permanently delete this attribution
                    model?
                </p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirmAttrModel" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Delete
                </button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->

<script src="~/js/Analytics/AttributionModelDetails.js"></script>