@{
    ViewBag.Title = "Plumb5 :: Goals";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Goals</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web </a></li>
            <li class="breadcrumb-item"><a href="#">Conversions</a></li>
            <li class="breadcrumb-item active" aria-current="page">Goals</li>
        </ol>
    </div>

    <div class="topTabWrap brd-TRL">
        @{
            Html.RenderPartial("_PageHeadingWithDate");
        }
        <div class="showingWrap">
            <div class="createBtnWrap pr-2">
                <button type="button" class="btn btn-primary btn-sm createbtn-pop m-ml-3 border-radius-0 ContributePermission">
                    + New
                    Goal
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white" id="dvGoalReport">
                <div class="row">
                    <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
                        <div class="tableWrapper goalstble">
                            <div class="table-responsive" style="min-height:600px">
                                <table class="table tbl-td-ta-lft border-right" id="ui_tableReport">
                                    <thead>
                                        <tr>
                                            <th class="helpIcon td-wid-50 m-p-w-220" scope="col">
                                                @*<div class="sortWrap">
                                                <i class="fa fa-caret-up addColor"></i><i class="fa fa-caret-down addColor"></i>
                                                </div>*@
                                                <div class="spacBet">
                                                    <div>Goal Name</div>
                                                    <div class="th-iconWrp">
                                                        <i class="icon ion-ios-help-outline"></i>
                                                        <div class="toottipWrap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-25 m-p-w-190" scope="col">
                                                <div class="spacBet">
                                                    <div>Created on</div>
                                                    <div class="th-iconWrp">
                                                        <i class="icon ion-ios-help-outline"></i>
                                                        <div class="toottipWrap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-25 m-p-w-190" scope="col">
                                                <div class="spacBet">
                                                    <div>Goal Completion</div>
                                                    <div class="th-iconWrp">
                                                        <i class="icon ion-ios-help-outline"></i>
                                                        <div class="toottipWrap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody id="ui_tbodyReportData">
                                    </tbody>
                                </table>
                            </div>
                            @{
                                Html.RenderPartial("_Paging");
                            }
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <h6 class="box-title m-0 d-flex align-items-center">
                            <div class="mr-2 w-150">Goal Name:</div>
                            <div class="goadNametit w-100"></div>
                        </h6>
                        <div class="pt-4 w-90 h-500" id="funnel"></div>
                    </div>
                </div>
            </div>
            <div class="nodatadashwrp mt-4 hideDiv">
                <div class="box-white h-100 df-ac-cc">
                    <p>
                        Click on the <b>+ New Goal </b>button to add Goals
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Popup window right-->
    <div class="popupcontainer hideDiv">
        <div class="popupItem w-450 m-p-wid-300 position-relative">
            <div class="popuptitle">
                <h6>Create a New Goal</h6>
                <i id="close-popup" class="icon ion-close"></i>
            </div>
            <div class="popupbody">
                <div class="popupbodycont pad-10">
                    <div class="popcontWrap">
                        <div class="form-group">
                            <label class="frmlbltxt" for="">Goal Name</label>
                            <input type="text" class="form-control" id="txtGoalName">
                        </div>
                        <div>
                            <div class="appndstepitem" id="dvGoalSteps">
                                <div class="form-group">
                                    <div class="stepwrap">
                                        <label class="frmlbltxt" for="">Step</label><span class="numbstep">1</span>
                                    </div>
                                    <input type="text" placeholder="URL" class="form-control inputtext" name="txtgoal" id="txtgoalurl_1">
                                </div>
                            </div>
                            <p id="addnew" class="text-right mt-2">
                                <a href="javascript:void(0)" class="addstep">+ Add another Step </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="popupfooter">
                <div class="btnwrp">
                    <button class="btn btn-primary mr-2" type="button" id="btnSubmit">Submit</button>
                    <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
                </div>
            </div>

        </div>

    </div>
    <!--Popup window right-->

</section>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deleterow" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirmGoal" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Delete
                </button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/d3.v4.js"></script>
<script src="~/js/Analytics/D3Funnel.js"></script>
<script src="~/js/Analytics/Goals.js"></script>
