@{
    ViewBag.Title = "Plumb5 :: Site Search : Terms";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Search Terms</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Web</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Site Search</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search Terms</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem"><a class="tap-nav-link" href="/Analytics/SiteSearchOverView">Overview</a></div>
            <div class="tabItem"><a class="tap-nav-link active" href="javascript:void(0);">Search Terms</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/Analytics/SiteSearchPages">Search Pages</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/Analytics/SiteSearchConfiguration">Configuration</a></div>
        </div>
        @{ Html.RenderPartial("_Export"); }
    </div>
    <div class="topTabWrap brd-TRL">
        @{ Html.RenderPartial("_PageHeadingWithDate"); }
    </div>
    <div id="ui_divReportSummary" class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table class="table tbl-td-ta-lft" id="ui_tableReport">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-40 m-p-w-220" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div>
                                        <div class="spacBet">
                                            <div>Search Terms</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap"></div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-30 m-p-w-220" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div>
                                        <div class="spacBet">
                                            <div>Total Unique Searches</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap"></div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-30 m-p-w-220" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div>
                                        <div class="spacBet">
                                            <div>Results Pageviews</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap"></div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tbl-spacer"></div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/Analytics/SiteSearchTerms.js"></script>