@{
    ViewBag.Title = "Plumb5 :: Settings";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link rel="stylesheet" href="~/Content/select2/css/select2.min.css" />

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Settings</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Social</a></li>
            <li class="breadcrumb-item"><a href="#">Facebook</a></li>
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
    </div>

    <div class="box-white">
        <div class="fbpagenamewrp">
            <div class="fbpagenamelogo">
                <div class="fbpagelogowrp">
                    <div class="fbpagelogo"></div>
                    <div class="fbiconpos">
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
                <div class="fbpagelogotxtwrp">
                    <h6 id="ui_pageName">Blore Productions</h6>
                    <small>Facebook Page</small>
                </div>

            </div>
            <div class="fbremovrefwrp">
                @*<button type="button" class="btn btn-primary">
                Reconnect <i class="fa fa-refresh ml-2"></i>
                </button>*@
                <button id="ui_btnRemoveToken" type="button" class="btn btn-danger FullControlPermission">
                    Remove <i class="icon ion-close ml-2"></i>
                </button>
            </div>
        </div>
        <div class="fbassigntypewrp">
            @*<div class="lmsautoassigngrp mt-4 mb-4">
            <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">*@
            <label class="frmlbltxt font-weight-bold"> Page Name</label>
            <div class="facebkdrpdwnwrp">
                <div class="dropdown">
                    <button class="btn btn-trans-brd dropdown-toggle d-flex align-items-center" type="button" id="ui_dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fbclntnametxt">Plumb5</span> <i class="fbclientlogo" style="background-image: url('https://www.plumb5.com/favicon.ico')"></i>
                    </button>
                    <div id="ddlPages" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
            </div>
            @*</div>
            </div>
            </div>*@
            <div class="lmsaddrulasgngrpcont mt-4">
                <label class="frmlbltxt w-100 font-weight-bold">Lead Assignment Type</label>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" checked class="custom-control-input" id="ui_radAssignIndividual"
                           value="1" name="leadassignmenttype">
                    <label class="custom-control-label" for="ui_radAssignIndividual">
                        Assign
                        Individually
                    </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="ui_radAssignRoundRobin"
                           value="0" name="leadassignmenttype">
                    <label class="custom-control-label" for="ui_radAssignRoundRobin">
                        Assign
                        Round Robin
                    </label>
                </div>
                <div class="lmsaddrulasgntypcont mt-3">
                    <div class="row lmsaddrulselusrs">
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="frmlbltxt">
                                    Select
                                    Users
                                </label>
                                <select class="form-control select2drpdwnbrd" name="" id="ui_ddlUserList"
                                        data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row lmsaddrulselgrp hideDiv">
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="frmlbltxt">Select Group</label>
                                <select class="form-control select2drpdwnbrd" name="" id="ui_ddlUserGroupList" data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lmsautoassigngrp mt-4 mb-4">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <label class="frmlbltxt font-weight-bold">Lead Auto Assign to Group</label>
                        <div class="form-group">
                            <label class="frmlbltxt">Group Name</label>
                            <select class="form-control select2drpdwnbrd" name="" id="ui_ddlGroupList" data-placeholder="Add Fields">
                                <option value="0">Select Group </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lmsautoassigngrp mt-4 mb-4">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <label class="frmlbltxt font-weight-bold">Lead Auto Assign To Lms Group</label>
                        <div class="form-group">
                            <label class="frmlbltxt">Lms Group Name</label>
                            <select class="form-control select2drpdwnbrd" name="" id="ui_ddlLmsGroupList" data-placeholder="Add Fields">
                                <option value="0">Select Lms Group </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btnwrap">
                <button type="button" class="btn btn-primary FullControlPermission" id="ui_btnSaveSettings">Save</button>
            </div>

        </div>
    </div>


    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1757076111107965', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.Event.subscribe('auth.authResponseChange', function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token
                    // and signed request each expire
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;
                    var form = document.createElement("form");
                    form.setAttribute("method", 'post');
                    form.setAttribute("action", 'dashboard.aspx');

                    var field = document.createElement("input");
                    field.setAttribute("type", "hidden");
                    field.setAttribute("name", 'accessToken');
                    field.setAttribute("value", accessToken);
                    form.appendChild(field);

                    document.body.appendChild(form);
                    //uncomment form submit during implementation..this is commented for UI HTML
                    //form.submit();

                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook,
                    // but has not authenticated your app
                } else {
                    // the user isn't logged in to Facebook.
                }
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
</section>
<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src="~/js/FacebookPage/Settings.js"></script>