@{
    ViewBag.Title = "Plumb5 :: Create SMS Template";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link href="/Content/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/dist/devices.css" rel="stylesheet" />
<script>
    var SMSCLICKURL = '@Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["SMSCLICKURL"].ToString()';
</script>
<section class="sheet">
    <div class="pageheader">
        <div class="contentHead">
            <h6 class="pagetitle">Create SMS Template</h6>
            <small class="totalCountTitle">Template Name: <span id="ui_span_TemplateName"></span></small>
        </div>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">SMS</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Templates</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Templates</li>
        </ol>
    </div>
    <div class="createsmstempwrap mt-4">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 m-mb-3">
                <div class="box-white pt-3 pl-3 pr-3 pb-0">
                    <h6 class="box-title p-0">Add Message</h6>
                    <div class="messeditwrap mt-3 position-relative">
                        <textarea name="" id="ui_txtMessageTemplate" class="form-control" cols="40" rows="10" maxlength="1500">@ViewBag.Message</textarea>
                        <div class="addsmsatrib dropdown">
                            <div class="smsdrpwrp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-user-o" title="User Attributes"></i>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <div class="dropdwntabwrap">
                                    <div class="dropdwntabitem">
                                        <div id="userattrsmsmsgtemp" dataclass="#userattrsmsmsgtemp,#cstattrsmsmsgtemp" data-tabcontid="userattrsmsttxttemp" class="dropdwntabs active">User Attribute</div>
                                        <div id="cstattrsmsmsgtemp" dataclass="#userattrsmsmsgtemp,#cstattrsmsmsgtemp" data-tabcontid="csteventsmsttxttemp" class="dropdwntabs">Custom Events</div>
                                    </div>

                                    <div class="dropdwntabcontwrap">
                                        <div id="userattrsmsttxttemp" class="userattribwrap">
                                            <h6 class="dropdown-title">User Attribute</h6>
                                            <div id="DltTag" class="mb-3 hideDiv">
                                                <div class="emailtempdropdown w-200p-2">
                                                    <select id="replacedraganddroptag_dlt" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select" tabindex="-1" aria-hidden="true">
                                                        <option label="Select">Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <select id="draganddropcutomre_dlt" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                <option label="Select">Select</option>
                                            </select>
                                        </div>

                                        <div id="csteventsmsttxttemp" class="userattribwrap hideDiv">
                                            <h6 class="dropdown-title">Custom Events</h6>
                                            <div id="DltTag1" class="mb-3 hideDiv">
                                                <div class="emailtempdropdown w-200p-2">
                                                    <select id="replacedraganddroptag_dltevent" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select" tabindex="-1" aria-hidden="true">
                                                        <option label="Select">Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <select id="eventnametitle" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select" tabindex="-1" aria-hidden="true">
                                                <option label="Select">Select</option>

                                            </select>
                                            <div class="mt-3">
                                                <select id="eventitemstitle" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select" tabindex="-1" aria-hidden="true">
                                                    <option label="Events Items">Select Event Items</option>

                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*<div class="dropdown-menu dropdown-menu-right keepopen" aria-labelledby="filterTags">
                            <h6 class="dropdown-title">User Attributesss</h6>


                            <div id="DltTag" class="hideDiv">
                            <div class="emailtempdropdown w-200 p-2">
                            <select id="draganddroptag_dlt" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                            <option label="Select">Select</option>
                            </select>
                            </div>
                            <div class="emailtempdropdown w-200 p-2">
                            <select id="draganddropcutomre_dlt" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                            <option label="Select">Select</option>
                            <option label="Name">Name</option>
                            <option label="LastName">LastName</option>
                            <option label="EmailId">EmailId</option>
                            <option label="PhoneNumber">PhoneNumber</option>
                            <option label="Location">Location</option>
                            <option label="Gender">Gender</option>
                            <option label="MaritalStatus">MaritalStatus</option>
                            <option label="Education">Education</option>
                            <option label="Occupation">Occupation</option>
                            <option label="Interests">Interests</option>
                            <option label="CustomerScore">CustomerScore</option>
                            <option label="AccountNumber">AccountNumber</option>
                            </select>
                            </div>
                            </div>

                            </div>*@
                        </div>
                    </div>
                    <p class="current-count"><span id="ui_character">0</span> Character(s), <span id="ui_MessageCount">0</span> SMS</p>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input frmrepresmain" id="ui_chkConvertLinkToShortenUrl" name="ConvertLinkToShortenUrl">
                        <label class="custom-control-label" for="ui_chkConvertLinkToShortenUrl">Convert Url To Shorten Link</label>
                    </div>

                    <div class="btnwrp mb-3 d-flex justify-content-end mt-0">
                        @*<button id="DltTest" type="button" class="btn btn-primary tesdltsmstbtn hideDiv" data-toggle="modal" data-target="#testdltsms">Test</button>*@
                        <button type="button" id="ui_btnCreateTemplate" class="btn btn-primary">Save</button>
                    </div>
                </div>
                @* Sms URL *@
                <div class="box-white mt-2 p-3">
                    <div class="landpagewrap mt-2">
                        <h6 class="box-title p-0">Landing Page URLs</h6>
                        <div class="addlandwrp mt-2">
                            <button id="addlandpage" type="button" class="btn textbtnblu"><i class="fa fa-plus mr-1"></i> Add Landing page</button>
                        </div>
                        <div class="addlandfieldwrp">
                            <div class="clsediv"><i class="fa fa-close"></i></div>
                            <h6 class="box-title p-0 text-center text-capitalize">Add Landing page URL</h6>

                            <div class="d-flex">
                                <div class="form-group w-100 mr-2 position-relative">
                                    <input type="text" placeholder="Page URL" class="form-control h-40p" id="txtShortenUrl" maxlength="1500" autocomplete="off">
                                    <div class="addsmsatrib drppost dropdown">
                                        <div class="smsdrpwrp" title="User Attributes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-user-o"></i>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <div class="dropdwntabwrap">
                                                <div class="dropdwntabitem">
                                                    <div data-tabcontid="userattr1" class="dropdwntabs1 active">User Attribute</div>
                                                    <div data-tabcontid="customeve1" class="dropdwntabs1">Custom Events</div>
                                                </div>
                                                <div class="dropdwntabcontwrap">
                                                    <div id="userattr1" class="userattribwrap">
                                                        <h6 class="dropdown-title">User Attribute</h6>
                                                        <select id="draganddropcutomrerUrl_dlt" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                            <option label="Select">Select</option>
                                                        </select>
                                                    </div>

                                                    <div id="customeve1" class="userattribwrap hideDiv">
                                                        <h6 class="dropdown-title">Custom Events</h6>
                                                        <select id="eventnamemessage" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                            <option label="Select">Select</option>

                                                        </select>
                                                        <div class="mt-3">
                                                            <select id="eventitemsmessage" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                <option label="Events Items">Select Event Items</option>

                                                            </select>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="dropdown-menu dropdown-menu-right keepopen" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(30px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <h6 class="dropdown-title">User Attributes</h6>
                                        <div class="emailtempdropdown w-200 p-2">
                                        <select id="draganddropcutomrerUrl_dlt" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                        <option label="Select">Select</option>
                                        <option label="Name">Name</option>
                                        <option label="LastName">LastName</option>
                                        <option label="EmailId">EmailId</option>
                                        <option label="PhoneNumber">PhoneNumber</option>
                                        <option label="Location">Location</option>
                                        <option label="Gender">Gender</option>
                                        <option label="MaritalStatus">MaritalStatus</option>
                                        <option label="Education">Education</option>
                                        <option label="Occupation">Occupation</option>
                                        <option label="Interests">Interests</option>
                                        <option label="CustomerScore">CustomerScore</option>
                                        <option label="AccountNumber">AccountNumber</option>
                                        </select>
                                        </div>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="btnwrp">
                                    <button type="button" class="btn btn-primary h-40p" id="ui_btnSaveUrl">Add</button>
                                </div>
                            </div>



                        </div>
                        <div class="landtablewrap mt-2">
                            <div class="tableWrapper">
                                <div class="table-responsive td-tr-bg-white">
                                    <table class="table tbl-td-ta-lft border" id="ui_tbSmsTemplateUrl">
                                        <thead>
                                            <tr>
                                                <th class="td-wid-12 m-p-w-150" scope="col">Add URL</th>
                                                <th class="td-wid-15 m-p-w-150" scope="col">Id</th>
                                                <th class="td-wid-60 m-p-w-400" scope="col">URL</th>
                                                <th class="td-wid-10 m-p-w-60" scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodySmsTemplateUrl">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-lg-4">
                <div class="box-white p-3 h-100">
                    <div class="devicontabwrp">
                        <div data-devtabcont="androidprev" class="devwrphvr active mr-3">
                            <i class="fa fa-android fa-2x" title="Android"></i>
                        </div>
                        <div data-devtabcont="ios" class="devwrphvr">
                            <i class="fa fa-apple fa-2x" title="iOS"></i>
                        </div>
                    </div>
                    <div class="deviceprevwrap mt-4">
                        <div id="androidprev" class="devsmsprev">
                            <div class="device device-google-pixel-2-xl mr-auto">
                                <div class="device-frame">
                                    <div class="device-content">
                                        <div class="devicesreenwrap border-radius-5">
                                            <div class="batthead">
                                                <div class="baticnwrp">
                                                    <div class="fa fa-wifi"></div>
                                                    <div class="fa fa-signal"></div>
                                                    <div class="fa fa-battery-half"></div>
                                                    <div class="timewrp">19:28</div>
                                                </div>
                                                <div class="messheadwrp">
                                                    <div class="arrwrp"><i class="icon ion-android-arrow-back"></i></div>
                                                    <div class="icnphone">
                                                        <i class="fa fa-video-camera mr-4"></i>
                                                        <i class="fa fa-phone mr-4"></i>
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="devicemesscont">
                                                <div class="messcont">
                                                    <p class="messdate">Monday, Jun 13, 8:02 AM</p>
                                                    <div class="messinboxwrp">
                                                        <div class="namwrp">Y</div>
                                                        <div class="mesinbxcont"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="devicemessfoot h-40">
                                               <div class="sendwrp position-relative">
                                                 <input placeholder="Send an SMS" type="text" class="form-control" name="" id="">
                                                 <div class="sendbtn">
                                                   <i class="icon ion-android-send"></i>
                                                 </div>
                                               </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="device-stripe"></div>
                                <div class="device-header"></div>
                                <div class="device-sensors"></div>
                                <div class="device-btns"></div>
                                <div class="device-power"></div>
                            </div>
                        </div>
                        <div id="ios" class="devsmsprev hideDiv">
                            <div class="device device-iphone-8 mr-auto">
                                <div class="device-frame">
                                    <div class="device-content h-100">
                                        <div class="devicescreenioswrp">
                                            <div class="iosbathead">
                                                <div class="iostopbtry pl-2 pr-2">
                                                    <div class="signwrp d-flex h-20p">
                                                        <i class="icon ion-android-more-horizontal mr-01"></i><i class="icon ion-android-more-horizontal"></i>
                                                        <i class="icon ion-wifi ml-2"></i>
                                                    </div>
                                                    <div class="timwrp">
                                                        9:41 AM
                                                    </div>
                                                    <div class="battp d-flex">
                                                        <div class="timwrp mr-1">50%</div>
                                                        <div class="fa fa-battery-half"></div>
                                                    </div>
                                                </div>
                                                <div class="iosmeshead h-35 border-bottom pl-2 pr-2">
                                                    <div class="messtit d-flex align-items-center">
                                                        <i class="icon ion-ios-arrow-left fa-2x"></i><span class="ml-2 iosmsstxt">Message</span>
                                                    </div>
                                                    <div class="iosmsstxt">Details</div>
                                                </div>
                                            </div>
                                            <div class="devicemescontwrp">
                                                <p class="iosmessdate">iMessage <span class="d-block">Today, 9:41 AM</span></p>
                                                <div class="iosmesscontItem">
                                                    <div class="chat">
                                                        <div class="yours messages">
                                                            <div class="message last mesinbxcont">
                                                                Enjoy Truly unlimited Local, STD &amp; Roaming calls on any network, 2GB Data and 300 SMS. Pack valid for 28 days. Also get FREE Channels Premium Subscription. To claim, click <a href="https://bit.ly/3f98kjhal" class="" target="_blank">https://bit.ly/3f98kjhal</a>. T&amp;C apply
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="iosfoot h-45 border-top">
                                              <div class="iossendwrp">
                                                <div class="ioscamera"><i class="icon ion-ios-camera fa-2x"></i></div>
                                                <div class="inptwrp"><input class="form-control form-control-sm" type="text" name="" id=""></div>
                                                <div class="iosmic"><i class="icon ion-ios-mic"></i></div>
                                              </div>
                                            </div> -->

                                        </div>
                                    </div>
                                    <div class="device-stripe"></div>
                                    <div class="device-header"></div>
                                    <div class="device-sensors"></div>
                                    <div class="device-btns"></div>
                                    <div class="device-power"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deleterow" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirmsms" type="button" class="btn btn-danger" data-dismiss="modal" onclick="smsUrlUtil.DeleteURL();">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="smsUrlUtil.ClearField();">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Test DLT SMS Modal-->
<div class="modal fade" id="testdltsms" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Mobile Number</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @*<div class="modal-body w-75 m-auto">
            <div class="form-group hideDiv">
            <label for="" class="frmlbltxt">Content Type</label>
            <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="ui_rad_SmsPromotional" name="campaignType" class="custom-control-input">
            <label class="custom-control-label" for="ui_rad_SmsPromotional">Promotional</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="ui_rad_SmsTransactional" name="campaignType" class="custom-control-input" checked="">
            <label class="custom-control-label" for="ui_rad_SmsTransactional">Transactional</label>
            </div>
            </div>
            </div>*@

            <div class="modal-body w-75 m-auto">
                <div class="form-group">
                    <label for="" class="frmlbltxt">Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Phone Number" id="ui_txt_SmsIndividualPhoneNumber" onkeypress="return onlyPhoneNumbersDetails(event);">
                </div>
            </div>
            <div class="modal-footer">
                <button id="testsmsbtn" type="button" class="btn btn-primary" onclick="SendIndividualTestSMS();">
                    Test
                    SMS
                </button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--Test DLT SMS Modal-->

<script src="/Content/select2/js/select2.full.min.js"></script>
<script src="~/js/UserCustomEventsAttributes.js"></script>
<script src="~/js/Sms/CreateTemplate.js"></script>
<script src="~/js/Sms/CreateSmsUrl.js"></script>