@{
    Layout = null;
}
@model Plumb5.Models.ForgotPasswordDetails
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | Reset Password</title>
    <link rel="stylesheet" href="~/Content/css/plumb5-style.css">
    <link rel="stylesheet" href="~/Content/ionicons/css/ionicons.css">
</head>
<body>
    <div class="p5new-frmWrapper">
        <div class="p5new-frmwrappee">
            <div class="p5new-bgwhiteWrap">
                <div class="p5new-logoWrp"><a href="http://www.plumb5.com"></a></div>
                <div class="p5new-contheadWrap">
                    <h2 class="p5new-contHeadTxt">Reset Password</h2>
                    <p class="p5new-contheadDesc">Enter your registered email address to reset your password.</p>
                </div>
                <div class="p5new-frmWrap">
                    @using (Html.BeginForm("CheckEmailAndSendMail", "ForgotPassword", FormMethod.Post))
                    {
                        <div class="p5new-frmFldWrp">
                            <div class="p5new-frmFld">
                                @Html.TextBoxFor(m => m.EmailId, null, new { @class = "p5new-frm-cont p5new-input-eff", autocomplete = "off", placeholder = "Email" }) @Html.ValidationMessageFor(model => model.EmailId)
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                            <div class="p5new-btnwrp">
                                <button class="btn-active btn-block font-bold" type="submit">
                                    <i class="icon ion-ios-email-outline"></i>
                                    <span>Send password reset instruction</span>
                                </button>
                            </div>
                            <div class="p5new-stayWrap">
                                <div class="p5new-resetfrgtWrp">
                                    <p>
                                        <a href="@(@Url.Action("Index", "Login"))">Return to login?</a>
                                    </p>
                                </div>
                            </div>
                            <span class="field-validation-error" style="padding-left: 0px;">@ViewBag.ErrorMessage</span>
                        </div>
                    }
                </div>
            </div>
            <p class="p5new-terms">
                &copy; 2014 onwards. All Rights Reserved. Plumb5 is brought to you by Decisive Analytical Systems PVT.Ltd.
                <a href="https://plumb5.com/privacy.html">Privacy Policy</a> and <a href="https://plumb5.com/terms.html">Terms of Service</a>.
            </p>
        </div>
    </div>
</body>
</html>
<script src="~/js/ForgotPassword.js"></script>