@{
    ViewBag.Title = "Plumb5 :: Create Browser Notification Template";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<script>
    //var DefaultIconfilePath = '@Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["MAINPATH"]/images/ClientImages/_11192020110843.png';
    var DefaultIconfilePath = '@Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["ONLINEURL"]Content/images/notification-bell.png';
</script>

<script src="~/js/toggles.min.js"></script>
<link href="/Content/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/dist/devices.css" rel="stylesheet" />
<link href="~/Content/css/toggles-full.css" rel="stylesheet" />
<section class="sheet">
    <div class="pageheader">
        <div class="contentHead">
            <h6 class="pagetitle">Create Browser Notification Templates</h6>
            <small class="totalCountTitle">Template Name: <span id="ui_span_TemplateName"></span></small>
        </div>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Web</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Browser Notificaion</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Browser Notification Templates</li>
        </ol>
    </div>
    <div class="bwsnoticontainer">
        <div class="bnoticretwrp h-100">
            <div class="bnotisavewrp">
                <button id="ui_btnCreateTemplate" type="button" class="btn btn-primary">Save</button>
            </div>
            <div class="bnoticreatebody mt-3">
                <div class="row m-0">
                    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 pl-0 m-mb-3 m-pr-0">
                        <div class="brwsernotiwrp">
                            <div class="box-whitebdr mb-3">
                                <div class="browstitlwrp">
                                    <h6 class="box-title p-0 m-0">Layout</h6>
                                </div>
                                <div class="browscontent pt-4">
                                    <div class="checkeebx-group row">
                                        <div class="lblwrap col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                                            <label class="frmlbltxt" for="">Notification Type</label>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 m-pl-30">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" checked="" id="defaulttext" name="notiftype" value="notiftext" class="custom-control-input">
                                                <label class="custom-control-label" for="defaulttext">Text</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="textbanner" name="notiftype" value="notiftextbann" class="custom-control-input">
                                                <label class="custom-control-label" for="textbanner">Text with Banner</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="box-whitebdr mb-3">
                                <div class="browstitlwrp">
                                    <h6 class="box-title p-0 m-0">General Information</h6>
                                </div>
                                <div class="browscontent pt-4">
                                    <div class="frmwrp p-4">
                                        <div class="form-group row overflow-x-vis">
                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                <label class="frmlbltxt">Title</label>
                                            </div>
                                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 position-relative">
                                                <input type="text" class="form-control" maxlength="" id="ui_txtTitleTemplate">
                                                <small class="form-text text-muted">Recommended maximum length 45 characters current count <span class="bnottitle">0</span></small>
                                                <div class="bwseruserartribwrp dropdown tp-bttm">
                                                    <div class="drpicon" data-toggle="dropdown" title="User Attributes" aria-haspopup="true" aria-expanded="false">
                                                        <i class="icon ion-android-person"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                        <div class="dropdwntabwrap">
                                                            <div class="dropdwntabitem">
                                                                <div id="webpushuserattrtitle" dataclass="#webpushuserattrtitle,#webpushcstattrtitle" data-tabcontid="userattrtitle" class="dropdwntabs active">User Attribute</div>
                                                                <div id="webpushcstattrtitle" dataclass="#webpushuserattrtitle,#webpushcstattrtitle" data-tabcontid="csteventtitle" class="dropdwntabs">Custom Events</div>
                                                            </div>
                                                            <div class="dropdwntabcontwrap">
                                                                <div id="userattrtitle" class="userattribwrap">
                                                                    <h6 class="dropdown-title">User Attribute</h6>
                                                                    <select id="draganddropcustomtitle" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                                        <option label="Select">Select</option>
                                                                    </select>
                                                                </div>

                                                                <div id="csteventtitle" class="userattribwrap hideDiv">
                                                                    <h6 class="dropdown-title">Custom Events</h6>
                                                                    <select id="eventnametitle" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                        <option label="Select">Select</option>

                                                                    </select>
                                                                    <div class="mt-3">
                                                                        <select id="eventitemstitle" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                            <option label="Events Items">Select Event Items</option>

                                                                        </select>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="form-group row overflow-x-vis">
                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                <label class="frmlbltxt">Message</label>
                                            </div>
                                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 position-relative">
                                                <textarea name="" id="ui_txtMessageTemplate" class="form-control" maxlength="135" cols="30" rows="3"></textarea>
                                                <small class="form-text text-muted">Recommended maximum length 135 characters current count <span class="bwnotmess">0</span></small>
                                                <div class="bwseruserartribwrp dropdown tp-bttm">
                                                    <div class="drpicon" data-toggle="dropdown" title="User Attributes" aria-haspopup="true" aria-expanded="false">
                                                        <i class="icon ion-android-person"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                        <div class="dropdwntabwrap">
                                                            <div class="dropdwntabitem">
                                                                <div data-tabcontid="userattr1" class="dropdwntabs1 active">User Attribute</div>
                                                                <div data-tabcontid="customeve1" class="dropdwntabs1">Custom Events</div>
                                                            </div>
                                                            <div class="dropdwntabcontwrap">
                                                                <div id="userattr1" class="userattribwrap">
                                                                    <h6 class="dropdown-title">User Attribute</h6>
                                                                    <select id="draganddropcustommessage" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                                        <option label="Select">Select</option>
                                                                    </select>
                                                                </div>

                                                                <div id="customeve1" class="userattribwrap hideDiv">
                                                                    <h6 class="dropdown-title">Custom Events</h6>
                                                                    <select id="eventnamemessage" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                        <option label="Select">Select</option>

                                                                    </select>
                                                                    <div class="mt-3">
                                                                        <select id="eventitemsmessage" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                            <option label="Events Items">Select Event Items</option>

                                                                        </select>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="uploadlogowrp">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Icon Image</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="uplbtnwrp">
                                                        <div class="chosebtnwrp">
                                                            <button type="button" class="btn btn-second upldbtn">Upload</button>
                                                            <input type="file" name="" id="fileUploadIcon" class="chosefile" onchange="SaveImage('fileUploadIcon');">
                                                        </div>
                                                        <div class="uplfilwrp">
                                                            <p class="brwsfilename hideDiv"> <span class="appndfile">filename_203847.jpg</span> <span class="brwsfileremove"><i class="icon ion-ios-close-outline"></i></span></p>
                                                        </div>
                                                    </div>
                                                    <small class="form-text">Recommended size 192px X 192px JPG, JPEG, PNG formats only. Less than 1MB in size URL must begin with HTTPS</small>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group row overflow-x-vis mt-3">
                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                <label class="frmlbltxt">On-Click Action</label>
                                            </div>
                                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 position-relative">
                                                <input type="text" class="form-control" placeholder="https://www.example.com" id="txtRedirectUrl">
                                                <div class="bwseruserartribwrp dropdown tp-bttm">
                                                    <div class="drpicon" data-toggle="dropdown" title="User Attributes" aria-haspopup="true" aria-expanded="false">
                                                        <i class="icon ion-android-person"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                        <div class="dropdwntabwrap">
                                                            <div class="dropdwntabitem">
                                                                <div id="webpushuserattrurl" dataclass="#webpushuserattrurl,#webpushcstattrurl" data-tabcontid="userattrurl" class="dropdwntabs active">User Attribute</div>
                                                                <div id="webpushcstattrurl" dataclass="#webpushuserattrurl,#webpushcstattrurl" data-tabcontid="csteventurl" class="dropdwntabs">Custom Events</div>
                                                            </div>
                                                            <div class="dropdwntabcontwrap">
                                                                <div id="userattrurl" class="userattribwrap">
                                                                    <h6 class="dropdown-title">User Attribute</h6>
                                                                    <select id="draganddropcustomtitleurl" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                                        <option label="Select">Select</option>
                                                                    </select>
                                                                </div>

                                                                <div id="csteventurl" class="userattribwrap hideDiv">
                                                                    <h6 class="dropdown-title">Custom Events</h6>
                                                                    <select id="eventnametitleurl" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                        <option label="Select">Select</option>

                                                                    </select>
                                                                    <div class="mt-3">
                                                                        <select id="eventitemstitleurl" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                            <option label="Events Items">Select Event Items</option>

                                                                        </select>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <small class="form-text text-muted">URL can be HTTP or HTTPS</small>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="box-whitebdr imgoptns mb-3 hideDiv">
                                <div class="browstitlwrp">
                                    <h6 class="box-title p-0 m-0">Image</h6>
                                </div>
                                <div class="browscontent pt-4">
                                    <div class="frmwrp p-4">
                                        <div class="uploadlogowrp">
                                            <div class="bwsnotifilselwrp">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" checked="" id="bwsnotifileupload" name="bwsnotifileuploadtype" value="bwsnotifilefild" class="custom-control-input">
                                                    <label class="custom-control-label" for="bwsnotifileupload">File Upload</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="bwsnotiaddimg" name="bwsnotifileuploadtype" value="bwsnotiaddimgfild" class="custom-control-input">
                                                    <label class="custom-control-label" for="bwsnotiaddimg">Add Image URL</label>
                                                </div>
                                            </div>

                                            <div class="brwsnotifilupl">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                        <label class="frmlbltxt">Icon Image</label>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                        <div class="uplbtnwrp">
                                                            <div class="chosebtnwrp">
                                                                <button type="button" class="btn btn-second upldbtn">Upload</button>
                                                                <input type="file" name="" id="fileUploadBanner" class="chosefile" onchange="SaveImage('fileUploadBanner');">
                                                            </div>
                                                            <div class="uplfilwrp">
                                                                <p class="brwsnotimgban hideDiv"> <span class="appndimgban">filename_203847.jpg</span> <span class="brwsbanremove"><i class="icon ion-ios-close-outline"></i></span></p>
                                                            </div>
                                                        </div>

                                                        <small class="form-text">Recommended size 720px X 360px. Minimum size 360px X 240px. Aspect ratio (width,height):3:2. Actual rendering depends on screen size.JPG,JPEG,PNG formats only. Less than 1 MB in size. URL must begin with HTTPS.</small>
                                                        <small class="form-text">To ensure that your notificaion image is rendered properly on all browser/OS combinations. please follow the instructions <a href="javascript:void(0)" target="_blank">here</a>.</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bwsnotiimgurl hideDiv">
                                                <div class="form-group row overflow-x-vis mt-3">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                        <label class="frmlbltxt">Image URL</label>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 position-relative">
                                                        <input type="text" class="form-control" placeholder="https://www.example.com/images/offer-banner.png" id="txtBannerImage">
                                                        <div class="bwseruserartribwrp dropdown tp-bttm">
                                                            <div class="drpicon" data-toggle="dropdown" title="User Attributes" aria-haspopup="true" aria-expanded="false">
                                                                <i class="icon ion-android-person"></i>
                                                            </div>
                                                            <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                <div class="dropdwntabwrap">
                                                                    <div class="dropdwntabitem">
                                                                        <div id="webpushuserattrbanner" dataclass="#webpushuserattrbanner,#webpushcstattrbanner" data-tabcontid="userattrbanner" class="dropdwntabs active">User Attribute</div>
                                                                        <div id="webpushcstattrbanner" dataclass="#webpushuserattrbanner,#webpushcstattrbanner" data-tabcontid="csteventbanner" class="dropdwntabs">Custom Events</div>
                                                                    </div>
                                                                    <div class="dropdwntabcontwrap">
                                                                        <div id="userattrbanner" class="userattribwrap">
                                                                            <h6 class="dropdown-title">User Attribute</h6>
                                                                            <select id="draganddropcustomtitlebanner" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                                                <option label="Select">Select</option>
                                                                            </select>
                                                                        </div>

                                                                        <div id="csteventbanner" class="userattribwrap hideDiv">
                                                                            <h6 class="dropdown-title">Custom Events</h6>
                                                                            <select id="eventnametitleurl" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                                <option label="Select">Select</option>

                                                                            </select>
                                                                            <div class="mt-3">
                                                                                <select id="eventitemstitlebanner" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                                    <option label="Events Items">Select Event Items</option>

                                                                                </select>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <small class="form-text text-muted">URL can be HTTP or HTTPS</small>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="box-whitebdr mb-3">
                                <div class="rsscontwrp">
                                    <h6 class="box-title m-0 p-0 mr-3">Buttons</h6>
                                    <div class="subcribeWrap">
                                        <div class="toggle-wrapper">
                                            <div class="toggle toggle-light success bnotibtnoption" style="height: 22px; width: 60px;"><div class="toggle-slide"><div class="toggle-inner" style="width: 98px; margin-left: -38px;"><div class="toggle-on" style="height: 22px; width: 49px; text-indent: -7.33333px; line-height: 22px;">ON</div><div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div><div class="toggle-off active" style="height: 22px; width: 49px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div></div></div></div>
                                        </div>
                                        <!-- <label class="unsubTxt pl-2" for="">Unsubcribe Option</label> -->
                                    </div>
                                </div>
                                <div class="rsscontItem p-0" id="dvButtons">
                                    <div class="bnotibtntabwrp">
                                        <div data-btntab="button1" class="bnotbtnwrp mr-1 active">Button-1</div>
                                        <div data-btntab="button2" class="bnotbtnwrp mr-1 hideDiv" id="btnTab2">Button-2</div>
                                        <div class="plusbtnwrp ml-1"><i class="icon ion-plus"></i></div>
                                        <div class="minusbtnwrp ml-1 hideDiv"><i class="icon ion-close"></i></div>
                                    </div>
                                    <div id="button1" class="bnotbtncontwrp">
                                        <h6 class="box-title">Button-1</h6>
                                        <div class="frmwrp p-4">
                                            <div class="form-group row overflow-x-vis mt-2">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Label</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <input type="text" class="form-control" maxlength="22" id="ui_txtButtonOne">
                                                    <small class="form-text text-muted">Recommended maximum length 22 characters current count <span class="bwnotilbl">0</span></small>
                                                </div>

                                            </div>
                                            <div class="form-group row overflow-x-vis mt-2">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">On-Click Action</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <input type="text" class="form-control" id="ui_txtButtonOneRedirect">
                                                    <div class="bwseruserartribwrp dropdown tp-bttm">
                                                        <div class="drpicon" data-toggle="dropdown" title="User Attributes" aria-haspopup="true" aria-expanded="false">
                                                            <i class="icon ion-android-person"></i>
                                                        </div>
                                                        <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <div class="dropdwntabwrap">
                                                                <div class="dropdwntabitem">
                                                                    <div id="webpushuserattrbtn1" dataclass="#webpushuserattrbtn1,#webpushcstattrbtn1" data-tabcontid="userattrbtn1" class="dropdwntabs active">User Attribute</div>
                                                                    <div id="webpushcstattrbtn1" dataclass="#webpushuserattrbtn1,#webpushcstattrbtn1" data-tabcontid="csteventbtn1" class="dropdwntabs">Custom Events</div>
                                                                </div>
                                                                <div class="dropdwntabcontwrap">
                                                                    <div id="userattrbtn1" class="userattribwrap">
                                                                        <h6 class="dropdown-title">User Attribute</h6>
                                                                        <select id="draganddropcustomtitlebtnurl" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                                            <option label="Select">Select</option>
                                                                        </select>
                                                                    </div>

                                                                    <div id="csteventbtn1" class="userattribwrap hideDiv">
                                                                        <h6 class="dropdown-title">Custom Events</h6>
                                                                        <select id="eventnametitlebtnurl" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                            <option label="Select">Select</option>

                                                                        </select>
                                                                        <div class="mt-3">
                                                                            <select id="eventitemstitlebtnurl" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                                <option label="Events Items">Select Event Items</option>

                                                                            </select>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <small class="form-text text-muted">URL can be HTTP or HTTPS</small>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div id="button2" class="bnotbtncontwrp hideDiv">
                                        <h6 class="box-title">Button-2</h6>
                                        <div class="frmwrp p-4">
                                            <div class="form-group row overflow-x-vis mt-2">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Label</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <input type="text" class="form-control" maxlength="22" id="ui_txtButtonTwo">
                                                    <small class="form-text text-muted">Recommended maximum length 22 characters current count <span class="bwnotilbl2">0</span></small>
                                                </div>

                                            </div>
                                            <div class="form-group row overflow-x-vis mt-2">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">On-Click Action</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <input type="text" class="form-control" id="ui_txtButtonTwoRedirect">
                                                    <div class="bwseruserartribwrp dropdown tp-bttm">
                                                        <div class="drpicon" data-toggle="dropdown" title="User Attributes" aria-haspopup="true" aria-expanded="false">
                                                            <i class="icon ion-android-person"></i>
                                                        </div>
                                                        <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <div class="dropdwntabwrap">
                                                                <div class="dropdwntabitem">
                                                                    <div id="webpushuserattrbtn2" dataclass="#webpushuserattrbtn2,#webpushcstattrbtn2" data-tabcontid="userattrbtn2" class="dropdwntabs active">User Attribute</div>
                                                                    <div id="webpushcstattrbtn2" dataclass="#webpushuserattrbtn2,#webpushcstattrbtn2" data-tabcontid="csteventbtn2" class="dropdwntabs">Custom Events</div>
                                                                </div>
                                                                <div class="dropdwntabcontwrap">
                                                                    <div id="userattrbtn2" class="userattribwrap">
                                                                        <h6 class="dropdown-title">User Attribute</h6>
                                                                        <select id="draganddropcustomtitlebtn2url" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                                            <option label="Select">Select</option>
                                                                        </select>
                                                                    </div>

                                                                    <div id="csteventbtn2" class="userattribwrap hideDiv">
                                                                        <h6 class="dropdown-title">Custom Events</h6>
                                                                        <select id="eventnametitlebtn2url" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                            <option label="Select">Select</option>

                                                                        </select>
                                                                        <div class="mt-3">
                                                                            <select id="eventitemstitlebtn2url" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                                <option label="Events Items">Select Event Items</option>

                                                                            </select>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <small class="form-text text-muted">URL can be HTTP or HTTPS</small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="box-whitebdr mb-3">
                                <div class="rsscontwrp">
                                    <h6 class="box-title m-0 p-0 mr-3">Advanced Options</h6>
                                    <div class="subcribeWrap">
                                        <div class="toggle-wrapper">
                                            <div class="toggle toggle-light success bnotiadvanOptions" style="height: 22px; width: 60px;"><div class="toggle-slide"><div class="toggle-inner" style="width: 98px; margin-left: -38px;"><div class="toggle-on" style="height: 22px; width: 49px; text-indent: -7.33333px; line-height: 22px;">ON</div><div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div><div class="toggle-off active" style="height: 22px; width: 49px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div></div></div></div>
                                        </div>
                                        <!-- <label class="unsubTxt pl-2" for="">Unsubcribe Option</label> -->
                                    </div>
                                </div>
                                <div class="rsscontItem" id="dvAdvanced">
                                    <div class="checkeebx-group row mb-2">
                                        <div class="lblwrap col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right-lbl m-text-left">
                                            <label class="frmlbltxt" for="">Auto Hide</label>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input checkrulqus" id="chkAutoHide" name="chkAutoHide">
                                                <label class="custom-control-label" for="chkAutoHide">Auto-hide notification. After some time notification will dismisses automatically. </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="checkeebx-group row">
                                        <div class="lblwrap col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right-lbl m-text-left">
                                            <label class="frmlbltxt" for="">Android Badge</label>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" checked="" id="advdefaultbadge" name="advbadgetype" value="advdefbadge" class="custom-control-input">
                                                <label class="custom-control-label" for="advdefaultbadge">Default <span class="icon ion-social-chrome pl-1 text-muted"></span></label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="advcustbadge" name="advbadgetype" value="advcustbadge" class="custom-control-input">
                                                <label class="custom-control-label" for="advcustbadge">Custom</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="advbrowsewrap">
                                        <div class="bwnotiimgwrp mb-4 position-relative">
                                            <button type="button" class="btn btn-second">Upload Icon</button>
                                            <input type="file" name="" class="chosefile" id="fileUploadBadgeImage" onchange="SaveImage('fileUploadBadgeImage');">
                                            <div class="upfilnamwrp">
                                                <p class="brwsnotfilename hideDiv"> <span class="appndfilename">aclmobile.png</span> <span class="brwsfileremoveicn"><i class="icon ion-ios-close-outline"></i></span></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="frmlbltxt" for="">Add Image URL</label>
                                            <input type="text" name="" placeholder="https://www.plumb5.com/images/bell.png" class="form-control" id="txtCustomeBadge">
                                            <small class="form-text text-muted">Badge replaces the default Chrome browser icon on Android(Android 6.0, Chrome53) with your custom icon. Monochrome images only. Recommended size: 72px X 72px PNG, GIF, WEBP, ICO, CUR, BMP formats only. Less than 1 MB in size URL must begin with HTTPS.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-white pb-3">
                        <div class="devicontabwrp mt-4">
                            <div data-devtabcont="brwsnotidesk" class="devwrphvr active mr-3">
                                <i class="fa fa-desktop font-20" title="Desktop"></i>
                            </div>
                            <div data-devtabcont="brwsnotifdevice" class="devwrphvr">
                                <i class="fa fa-mobile fa-2x" title="Mobile"></i>
                            </div>
                        </div>
                        <div id="brwsnotidesk" class="notifprevmain p-2 mt-4 border">
                            <div class="notifbanwrp hideDiv"></div>
                            <div class="notiprevcontent">
                                <div class="notiprevcontwrp">
                                    <div class="notifbelcont">
                                        <div class="notificonwrp"></div>
                                        <div class="notifititcontwrp">
                                            <h3 class="notiftitle">Title</h3>
                                            <p class="notifdescript">Description</p>
                                            <div class="notitexturlwrp">
                                                <p id="ui_accountdomain"></p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="notifbtnwrp mt-2 hideDiv">
                                        <button id="notifsubbtn" type="button" class="btn btn-notifprimary w-49 mr-1"><a class="bnotbtn1" href="javascript:void(0);">Button1</a></button>
                                        <button id="notifcanbtn" type="button" class="btn btn-notisecondary hideDiv w-49"><a class="bnotbtn2" href="javascript:void(0);">Button2</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="brwsnotifdevice" class="brwsnotifdevice mt-4 border hideDiv">
                            <div class="bwsnotichrmwrp p-2">
                                <div class="bwsnotichrmtxt">
                                    <div class="bwsnotichrmeicon"></div><div class="chrmetext">Chrome.yourwebsite.plumb5.com</div>
                                </div>
                                <h3 class="notiftitle pt-2">Title</h3>
                                <p class="notifdescript">Description</p>
                                <div class="notifbanwrp hideDiv"></div>
                            </div>
                            <div class="bwsnotibtnwrp hideDiv">
                                <button type="button" class="btn bwsnotibtntxt"><span class="bnotbtn1" href="javascript:void(0);">Button1</span></button>
                                <button type="button" class="btn bwsnotibtntxt nextbutton hideDiv"><span class="bnotbtn2" href="javascript:void(0);">Button2</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<script src="~/js/UserCustomEventsAttributes.js"></script>
<script src="/Content/select2/js/select2.full.min.js"></script>

<script src="~/js/WebPush/CreateTemplate.js"></script>

