.rating {
	cursor: pointer;
	margin: 0px;
	clear: both;
	display: block;
}
.rating:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden;
}
.cancel,
.star {
	float: left;
	width: 41px;
	height: 39px;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer;

}
.star-left,
.star-right {
  width: 8px
}
.cancel,
.cancel a {background: url(delete.gif) no-repeat 0 -16px;}

.star,
.star a {background: url(star.png); z-index:40;}
.star-left,
.star-left a {background: url(star-left.gif) no-repeat 0 0px;}
.star-right,
.star-right a {background: url(star-right.gif) no-repeat 0 0px;}
	
.cancel a,
.star a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(starclicked.png);
    z-index:1;
}

div.rating div.on a {
	background: url(starhover.png)
}
div.rating div.hover a,
div.rating div a:hover {
	background: url(starhover.png)
}


/*Plumb5 Rating Style*/

    .content
        {
            font-family: 'Allerta', sans-serif;
            width: 270px;
            padding-left: 15px;
            padding-bottom: 20px;
            color: #fff;
            border: 5px solid #fff;
            background: #d8eaad;
            box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }