@{
    ViewBag.Title = "Plumb5 :: Track Custom Data";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Track Custom Data</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Advanced</a></li>
            <li class="breadcrumb-item"><a href="#">Custom Events</a></li>
            <li class="breadcrumb-item active" aria-current="page">Track Custom Data</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link" href="/CustomEvents/CustomEventsOverview">
                    <i class="fa fa-id-badge font-16 pr-2"></i>Custom Events
                </a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="/CustomEvents/CustomData">
                    <i class="fa fa-upload font-16 pr-2"></i>Upload Custom Data
                </a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link active" href="javascript:void(0);">
                    <i class="fa fa-database font-16 pr-2"></i>Track Custom Data
                </a>
            </div>
        </div>

    </div>
    <div class="box-white mt-3 border-0 overflow-hidden">
        <div class="sendcustwrap">
            <h6 class="box-title">Send custom events data to Plumb5</h6>
            <p class="box-sub-title">
                Create a list of custom events and start sending
                this
                data to Plumb5 in the format below. More details here.
            </p>
            <div class="ml-4 bg-track">

                <code id="ui_code_AccountScriptDetails">
                    plumb5.event(<span>"Added To Cart"</span>, { <br>
                    <span>"Product" : "Iphone"</span>,<br>
                    <span>"Product ID" : "Axx1337"</span>,<br>
                    <span>"Price" :  90000</span>, <br>
                    <span>"ProductImage" :  "http://plumb5.com/ecom/images/iphone.jpg"</span>, <br>
                    });
                </code>

                <div class="copyicon">
                    <button id="ui_btn_CopyScript" class="btn btn-primary mr-2 m-mb-10" type="button">Copy</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/CustomEvents/TrackCustomData.js"></script>

