@{
    ViewBag.Title = "CustomEventsOverview";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/select2/js/select2.full.min.js"></script>
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Custom Events</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Advanced</a></li>
            <li class="breadcrumb-item active" aria-current="page">Custom Events</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link active" href="javascript:void(0)">
                    <i class="fa fa-id-badge font-16 pr-2"></i>Custom Events
                </a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="/CustomEvents/CustomData">
                    <i class="fa fa-upload font-16 pr-2"></i>Upload Custom Data
                </a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="/CustomEvents/TrackCustomData">
                    <i class="fa fa-database font-16 pr-2"></i>Track Custom Data
                </a>
            </div>
        </div>
        <div class="iconsWrap">
            <div class="searchCampWrap position-relative mr-3">
                <input class="form-control" type="text" name="" id="txt_SearchBy" placeholder="Search by event name">
                <i class="icon ion-android-search serchicon"></i>
            </div>
            @{ Html.RenderPartial("_Export"); }
        </div>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="showDateWrap brd-bttm-none mb-0">
            @{ Html.RenderPartial("_PageHeadingWithDate"); }
        </div>
        <div class="createBtnWrap mr-3">
            <a href="/CustomEvents/EventImport" class="btn btn-primary btn-sm">
                Upload
                Data
            </a>
            <a href="/CustomEvents/CustomEventsSegmentBuilder" class="btn btn-action btn-sm ml-1">
                Add Group <i class="icon ion-plus ml-1"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblReportData" class="table tbl-td-ta-lft">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-50 m-p-w-250" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Event Name</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap"></div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-15 m-p-w-250" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        <div class="spacBet">
                                            <div>Tracking Status</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap"></div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-15 m-p-w-250" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        <div class="spacBet">
                                            <div>Total Event Counts</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap"></div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-40 m-p-w-170" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Updated Date</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap"></div>
                                            </div>
                                        </div>
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="ui_trbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
            </div>
        </div>
    </div>
</section>

<div id="viewcustdatapop" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>Event Name</h6>
                <small class="popupsubtitle"></small>
            </div>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div class="popcontWrap">
                    <div class="treeviewwrap" id="divevent">


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="divcustomeventsettings" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <div class="popuptitlwrp">
                <h6>Event Name</h6>
                <small class="popupsubtitle"></small>
            </div>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div class="popcontWrap">

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="box-white border-0">
                                <div class="tableWrapper">
                                    <div class="table-responsive min-h-300">
                                        <table class="table tbl-td-ta-lft sorted_table border-0" id="ui_tableReports">
                                            <thead>
                                                <tr>
                                                    <th class="helpIcon td-wid-40 m-p-w-250" scope="col">
                                                        <div class="spacBet">
                                                            <div>Field Names</div>
                                                            <div class="th-iconWrp">
                                                                <i class="icon ion-ios-help-outline"></i>
                                                                <div class="toottipWrap"></div>
                                                            </div>
                                                        </div>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody id="ui_tbodyReportDatasettings">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Group?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Delete
                </button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<script src="~/js/toggles.min.js"></script>
<script src="~/js/jquery-sortable-min.js"></script> 
<script src="~/js/CustomEvents/CustomEventsOverview.js"></script>

