@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Lead Management Dashboard</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Lead Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Dashboard
            </li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap">
            @{
                Html.RenderPartial("_PageHeadingWithDate");
            }

            <div class="iconsWrap">
                <div class="ordbydropdown">
                    <button class="btn btn-sm mr-2 border-0" title="Order By" id="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-sort-amount-desc mr-0"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute;transform: translate3d(133px, 150px, 0px);top: 0px;left: 0px;will-change: transform;">
                        <a class="dropdown-item lmsorderbymenu" data-ordername="Created Date" href="javascript:void(0)">Created Date</a>
                        <a class="dropdown-item lmsorderbymenu" data-ordername="Updated Date" href="javascript:void(0)">Updated Date</a>
                    </div>
                </div>
                <div class="lmsiconwrp d-flex">
                    <i class="icon ion-ios-printer-outline"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="chtdashwrp mr-tp-15 overflow-hidden">
        <div class="row m-gut overflow-hidden">
            @{
                Html.RenderPartial("_UserHierarchy");
            }
            <div id="dasboardwrapper" class="col-sm-12 col-md-9 col-lg-9 col-xl-9 p-gut">
                <div class="usernamewrap">
                    <span id="sitemapicon" title="View User Hierarchy" class="sitemapwrp hideDiv">
                        <i class="fa fa-sitemap"></i>
                    </span>
                    <h6 class="pagetitle border-left-0 pl-0 pt-2 pb-2" id="ui_usernameid">
                    </h6>
                </div>

                <div class="container">
                    <div class="row m-gut">
                        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 p-gut m-mb-3">
                            <div class="box-white p-3">
                                <div class="small-box-title">Total Leads</div>
                                <div class="lmscountwrap">
                                    <h2 class="text-color-blue" id="ui_h2_LeadsIn">0</h2>
                                    <div class="lmsperwrap align-self-end">
                                        <p id="ui_p_leadspercent" class="leadwondasper"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 p-gut m-mb-3">
                            <div class="box-white p-3">
                                <div class="small-box-title">Revenue</div>
                                <div class="lmscountwrap">
                                    <h2 class="text-color-success" id="ui_revenueCount">0</h2>
                                    <div class="lmsperwrap align-self-end">
                                        <p id="ui_p_revenuepercent" class="leadwondasper"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 p-gut m-mb-3">
                            <div class="box-white p-3">
                                <div class="small-box-title">closed Won</div>
                                <div class="lmscountwrap">
                                    <h2 class="text-col-pur font-weight-bold" id="ui_h1_LeadWon">0</h2>
                                    <div class="lmsperwrap align-self-end">
                                        <p id="ui_p_LeadWon" class="leadwondasper"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 p-gut m-mb-3">
                            <div class="box-white p-3">
                                <div class="small-box-title">Closed Lost</div>
                                <div class="lmscountwrap">
                                    <h2 class="text-color-error font-weight-bold" id="ui_h1_LeadLost">0</h2>
                                    <div class="lmsperwrap align-self-end">
                                        <p id="ui_p_LeadLost" class="leadwondasper"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-gut mt-2">
                            <div class="box-white">
                                <h6 class="box-title">Top Sources Wise</h6>
                                <div class="charteeWrap position-relative h-250">
                                    <canvas id="top5sourcewiselms"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-gut mt-2">
                            <div class="box-white">
                                <h6 class="box-title">Top Stage Wise</h6>
                                <div class="charteeWrap position-relative h-300">
                                    <canvas id="ui_canvas_AllSourcesData"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 p-gut mt-2">
                            <div class="small-box-trans small-box-bg-col-pur">
                                <h6>Planned Follow Ups</h6>
                                <h2 class="m-0" id="ui_h2_plannedleads">0</h2>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 p-gut mt-2">
                            <div class="small-box-trans small-box-bg-col-pink">
                                <h6>Missed Follow Ups</h6>
                                <h2 class="m-0" id="ui_h2_missedleads">0</h2>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 p-gut mt-2 m-mb-2">
                            <div class="small-box-trans small-box-bg-col-yellow">
                                <h6>Completed Follow Ups</h6>
                                <h2 class="m-0" id="ui_h2_completedleads">0</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-12 col-xl-12 p-gut mt-2">
                            <div class="box-white">
                                <h6 class="box-title text-center">
                                    STAGE WISE VS SOURCE WISE REPORT
                                </h6>
                                <div class="tableWrapper mt-4">
                                    <div class="table-responsive min-h-100">
                                        <table class="table mb-0" id="ui_tblReportData">
                                            <thead id="tblheading">
                                            </thead>
                                            <tbody id="ui_tbodyReportData">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 p-gut mt-2">
                            <div class="box-white">
                                <h6 class="box-title">Label Wise Leads</h6>
                                <div class="charteeWrap position-relative h-350">
                                    <canvas id="labelwiseleads"></canvas>
                                    <div class="no-data hideDiv" id="ui_divLeadFormsNoData">There is no data to view</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 p-gut mt-2">
                            <div class="box-white">
                                <h6 class="box-title">Campaign Details</h6>
                                <div class="charteeWrap position-relative h-350">
                                    <canvas id="campaignwiselms"></canvas>
                                    <div class="no-data hideDiv" id="ui_divcampaignwiselms">There is no data to view</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 p-gut mt-2">
                            <div class="box-white h-100">
                                <h6 class="box-title">Stage Wise vs Label Wise</h6>
                                <div class="charteeWrap position-relative h-350">
                                    <canvas id="stagelabelwiselms"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 p-gut mt-2">
                            <div class="box-white h-100">
                                <h6 class="box-title">Source Wise vs Label Wise</h6>
                                <div class="charteeWrap position-relative h-350">
                                    <canvas id="sourcelabelwiselms"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/Prospect/HierarchyDashboard.js"></script>
