@{
    ViewBag.Title = "Popular Pages Content - Analytics | Plumb5";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Popular Pages</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item"><a href="#">Content Analysis</a></li>
            <li class="breadcrumb-item active" aria-current="page">Popular Pages</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap">
            <div class="showDateWrap brd-bttm-none mb-0">
                @{
                    Html.RenderPartial("_PageHeadingWithDate");
                }
            </div>
            @{
                Html.RenderPartial("_Export");
            }
        </div>
    </div>
    <div id="ui_divReportSummary" class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white border-top-0">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblReportData" class="table temppreveye-tbl">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">Preview</th>
                                    <th scope="col" class="helpIcon m-p-w-190 td-wid-20 IsSortable">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Page Name <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-150 td-wid-20 IsSortable" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Avg.Time on page <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-150 td-wid-15 IsSortable" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Page Views <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-160 td-wid-15 IsSortable" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Unique Visitors<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-190 td-wid-25 IsSortable" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>City <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData"></tbody>
                        </table>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Paging");
                }
            </div>
        </div>
    </div>

</section>
<script src="~/js/Analytics/Web_PopularPages.js"></script>

