@{
    ViewBag.Title = "Plumb5::Mail Template Archive";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<script>
    var TemplatePath = "@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["BUCKETPATH"])" + "/" + "@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["TEMPLATEBUCKETMAINFOLDER"])"+"/";
</script>

<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/select2/js/select2.full.min.js"></script>

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Mail Templates Archive</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Mail</a></li>
            <li class="breadcrumb-item active" aria-current="page">Arhive Templates</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link" href="/Mail/MailTemplate"><i class="fa fa-check-square-o font-16 pr-2"></i>Active</a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link active" href="javascript:void(0)"><i class="fa fa-archive font-16 pr-2"></i>Archive</a>
            </div>
        </div>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap pl-2 pr-2">
            <div class="actionWrap">
                <div class="createBtnWrap hideDiv">
                    <button type="button" class="btn btn-primary btn-sm">
                        <a class="DesignPermission" href="/Mail/TemplateDesign/">Create Template</a>
                    </button>
                </div>
            </div>
            <div class="searchWrap">
                <div class="searchInput">
                    <input class="form-control form-control-sm contsearchfocus" type="text" name="" placeholder="Search Templates" id="ui_txt_TemplateSearch">
                    <div id="ui_div_SearchIcon" class="searchIcon">
                        <i class="icon ion-android-search"></i>
                    </div>
                </div>
                @{ Html.RenderPartial("_Export"); }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white border-top-0">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tableReport" class="table temppreveye-tbl">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-80 td-wid-10 text-center">
                                        Preview<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-190 td-wid-25">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>

                                        </div>Template Name
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-190 td-wid-25">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>

                                        </div>Campaign Name
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-150 td-wid-20">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>

                                        </div>Spam Score
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-150 td-wid-20" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>

                                        </div>Updated Date
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData"></tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
            </div>
        </div>
    </div>
</section>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="ui_divDeleteDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Restore this template?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to restore this template?</p>
            </div>
            <div class="modal-footer">
                <button id="ui_btnDeleteConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Restore</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Mail/MailTemplateArchive.js"></script>