@{
    ViewBag.Title = "Plumb5 :: Create Forms";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<link href="~/Content/Ionicons/css/ionicons.css" rel="stylesheet" />
<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Create Forms</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Forms & Banners</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Forms</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="campaingmaincontainer">
            <div class="container-page-body">
                <div class="crtefrmtypewrp">
                    <div class="crtefrmtypehedwrp">
                        <h6 class="crtefrmtypehed">Choose your form Type</h6>
                        <p class="embedcampname text-center">What kind of form would you like to create?</p>
                    </div>
                    <div class="crtefrmtypeitemwrp">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 m-mb-3">
                                <div class="box-frmtype-wrp h-100" id="dvEmbeddedForm">
                                    <div class="frmtypchkwrp">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="embeddedfrm" name="crtefrmtype" value="embeddedform" class="custom-control-input">
                                            <label class="custom-control-label" for="embeddedfrm"></label>
                                        </div>
                                    </div>
                                    <div class="embeddicn"></div>
                                    <h6 class="crtefrmtypehed">Embedded Form</h6>
                                    <p class="crtfrmtypedes">Create a form that you can embed as part of your website.</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 m-mb-3">
                                <div class="box-frmtype-wrp h-100 selectedfrmtype" id="dvPopUpForm">
                                    <div class="frmtypchkwrp">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="popupbxfrm" name="crtefrmtype" value="popupboxform" class="custom-control-input">
                                            <label class="custom-control-label" for="popupbxfrm"></label>
                                        </div>
                                    </div>
                                    <div class="popupboxicn"></div>
                                    <h6 class="crtefrmtypehed">Pop-Up Box</h6>
                                    <p class="crtfrmtypedes">Add a form that pops up as a box on the page.</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 m-mb-3">
                                <div class="box-frmtype-wrp h-100" id="dvTaggedForm">
                                    <div class="frmtypchkwrp">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="taggedfrm" name="crtefrmtype" value="taggedform" class="custom-control-input">
                                            <label class="custom-control-label" for="taggedfrm"></label>
                                        </div>
                                    </div>
                                    <div class="tagfrmicn"></div>
                                    <h6 class="crtefrmtypehed">Tag an existing Form</h6>
                                    <p class="crtfrmtypedes">Tag an existing form using Google Chrome Extension.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="currtbrwsewrp">
                        <div class="brwsdetailwrp">
                            <div class="currtxt mr-2">Current Browser:</div>
                            <div class="bwsericn mr-2"><i id="brwsericon"></i></div>
                            <div class="bwsername"></div>
                        </div>
                        <p class="bwsnote">Note: <span>This editor requires <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> browser. Please <a href="https://chrome.google.com/webstore/detail/plumb5-form-editor/mkilmbkdaobkmpjhjjhmhcmibneacaib" target="_blank">install</a> the Chrome Extension when prompted.</span></p>
                    </div>
                </div>
            </div>
            <div class="container-page-footer">
                <div class="backbtnWrap">

                </div>
                <div class="nextbtnWrap">
                    <button  type="button" class="btn btn-primary"><a id="ui_btnNext" class="nxtbtnhref">Next <i class="icon ion-chevron-right pl-2"></i></a></button>
                </div>
            </div>
        </div>
    </div>



</section>
<script src="~/js/CaptureForm/CreateForm.js"></script>