@{
    ViewBag.Title = "Plumb5 :: Source Reports";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <div class="contentHead">
            <h6 class="pagetitle">My Reports</h6>
        </div>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Lead Management</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Reports
            </li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link" href="/Prospect/Reports/MyReports">All Reports</a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link active" href="javascript:void(0);">Source Reports</a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="/Prospect/StageReports">Stage Reports</a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="/Prospect/LmsFollowUp">Follow Up Reports</a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="/Prospect/LmsCampaignReport">Campaign Reports</a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="/Prospect/PublisherReport">Publisher Reports</a>
            </div>
        </div>
        <div class="iconsWraplmsrep">
            <div class="ordbydropdownlms">
                <button class="btn btn-sm mr-2 border-0" title="Order By" id="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-sort-amount-desc mr-0"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" x-placement="bottom-end" style="position: absolute; transform: translate3d(1041px, 101px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item lmsorderbymenulmsrep" data-ordername="Created Date" href="javascript:void(0)">Created Date</a>
                    <a class="dropdown-item lmsorderbymenulmsrep" data-ordername="Updated Date" href="javascript:void(0)">Updated Date</a>
                </div>
            </div>
            @{ Html.RenderPartial("_Export"); }
        </div>
    </div>
    <div class="orderbylmsrepfillwrap hideDiv">
        <div class="filtwrpbars mr-2">
            <div class="filtbywrp">Order by : <span class="filttypetextlmsrep">Created Date</span></div>
            <i id="clsefillmsrep" class="icon ion-android-close"></i>
        </div>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="showDateIconWrap">
            @{ Html.RenderPartial("_PageHeadingWithDate"); }
        </div>
        <div class="lmssearchbyname">
            <div class="emailtempdropdown w-200 mr-2 m-w-150px">
                <select class="form-control addCampName" data-placeholder="" tabindex="-1" aria-hidden="true" id="ui_dllUserLists">
                    <option label="select" value="0">Filter by User name</option>
                </select>
            </div>
        </div>
    </div>
    <div class="lmsreportwrapper">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white">
                    <div class="tableWrapper" style="margin-bottom: 15px;">
                        <div class="table-responsive">
                            <table class="table manageContacts" id="ui_tableReport">
                                <thead id="ui_trheadReportData">
                                </thead>
                                <tbody id="ui_trbodyReportData">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @{ Html.RenderPartial("_Paging"); }
                </div>
            </div>
        </div>
    </div>
</section>



<script src="~/js/Prospect/SourceReports.js"></script>
