@{
    ViewBag.Title = "MailSchedule";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/css/toggles-full.css" rel="stylesheet" />
<link href="~/Content/css/mb.slider.css" rel="stylesheet" />
<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src="~/js/toggles.min.js"></script>
<script src="~/js/jquery.mb.slider.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js'></script>
<script src="~/js/Chart.bundle.js"></script>
<script src="~/js/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>

<script>
    var TemplatePath = "@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["BUCKETPATH"])" + "/" + "@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["TEMPLATEBUCKETMAINFOLDER"])"+"/";
</script>

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Create Scheduled Campaigns</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Mail</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Campaigns</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Scheduled Campaign</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="campaingmaincontainer">
            <div class="container-page-head h-45 pl-0 pr-0">
                <div class="campTabWrap">
                    <ul class="campaign-nav">
                        <li class="campnav-item"><a id="ui_listCampaignInformation" class="campnav-link active  border-left-0"><span>Campaign &nbsp;</span> Information</a></li>
                        <li class="campnav-item"><a id="ui_listContent" class="campnav-link">Content</a></li>
                        <li class="campnav-item"><a id="ui_listSchedule" class="campnav-link">Schedule</a></li>
                        <li class="campnav-item"><a id="ui_listPreviewTest" class="campnav-link prevtest">Preview  &nbsp; <span> & Test</span></a></li>

                    </ul>
                </div>
            </div>
            @* Campaign information *@
            <div class="container-page-body df-ac-jcenter" id="ui_divCampaignInformation">
                <div class="campaignContainer">
                    <div class="formColwrap">
                        <div class="form-group row w-100">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Campaign Identifier</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <input type="text" class="form-control" id="ui_txtCampaignIdentifier" maxlength="100" autocomplete="off">
                            </div>
                        </div>
                        <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                    </div>
                    <div class="formColwrap">
                        <div class="form-group row w-100 mb-3">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Campaign Name</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                <select id="addCampName" class="form-control" data-placeholder="Select Campaing">
                                    <option label="Choose one" value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                    </div>

                    <div class="formColwrap">
                        <div class="checkeebx-group row w-100">
                            <div class="lblwrap col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right-lbl">
                                <label class="frmlbltxt" for="">Campaign Type</label>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="campaignType" class="custom-control-input" value="0">
                                    <label class="custom-control-label" for="customRadioInline1">Promotional</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="campaignType" class="custom-control-input" value="1" checked="checked">
                                    <label class="custom-control-label" for="customRadioInline2">Transactional</label>
                                </div>
                            </div>
                        </div>
                        <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                    </div>

                    <div class="formColwrap">
                        <div class="form-group row mt-2 w-100">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right-lbl">
                                <label class="frmlbltxt" for="">Send To</label>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <select id="addgroupname" class="form-control" multiple data-placeholder="Select Group(s)">
                                    <option label="Choose one" value="0">Select Group(s)</option>
                                </select>
                            </div>
                        </div>
                        <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                    </div>

                    <div class="formColwrap mt-4">
                        <div class="checkeebx-group row w-100">
                            <div class="lblwrap col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="recipwrap mr-5">
                                            <h6 class="totalremain">Total Unique Recipients</h6>
                                            <h1 class="remcred" id="ui_h1TotalUniqueRecipients">0</h1>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="recipwrap mr-5">
                                            <h6 class="totalremain">Group Selected with</h6>
                                            <h1 class="remcred"><span class="grouplncount" id="ui_spanTotalSelectedGroup">0</span>/<span>3</span></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                    </div>
                </div>
            </div>

            @* Content *@
            <div id="ui_divContent" class="container-page-body df-jcenter hideDiv">
                <div class="campaignContainer">
                    <div class="formColwrap">
                        <div class="form-group row w-100">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">From Name</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <input type="text" name="" class="form-control" id="ui_FromName" maxlength="100" autocomplete="off">
                            </div>
                        </div>
                        <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                    </div>
                    <div class="formColwrap">
                        <div class="form-group row w-100 mb-0">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">From Address</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <select name="" class="form-control" id="ui_FromEmailIdActive">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                    </div>
                    <div class="formColwrap">
                        <div class="form-group row w-100 mt-3">
                            <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Reply To</label>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <input type="text" name="" class="form-control" id="ui_ReplyTo" maxlength="500" autocomplete="off">
                            </div>
                        </div>
                        <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                    </div>

                    @*<div id="dv_subjectline" class="formColwrap">
                            <div class="form-group row w-100 mt-2">
                                <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="" id="ui_subjectlineA">Subject Line</label>
                                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                    <input type="text" name="" class="form-control" id="ui_SubjectLine" maxlength="1000" autocomplete="off">
                                </div>
                            </div>
                            <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                        </div>*@

                    <div class="formColwrap">
                        <div class="emailtempdropWrap w-100">
                            <div id="emailtempone" class="form-group row mb-0">
                                <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">
                                    Select
                                    Template
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                    <select name="" class="form-control" data-placeholder="Select Template" id="ui_MailTemplate">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="emailtemptestwrap">
                                <div id="dv_AMailTemplate" class="form-group row hideDiv">
                                    <label class="frmlbltxt text-color-blue text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4"
                                           for="">Variation A</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                        <select name="" class="form-control tempvariationATest" data-placeholder="Select Template" id="ui_AMailTemplate">
                                            <option value="0">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="dv_subjectline" class="form-group row overflow-x-vis mt-2">
                                    <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="" id="ui_subjectlineA">Subject Line</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                        <div class="postion-relative">
                                            <input type="text" name="" class="form-control" id="ui_SubjectLine" maxlength="1000" autocomplete="off">
                                            <div class="addsmsatrib dropdown whtsappdrpdwn">
                                                <div class="drpicon" data-toggle="dropdown" title="User Attributes" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon ion-android-person"></i>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <div class="dropdwntabwrap">
                                                        <div class="dropdwntabitem">
                                                            <div id="userattrDynamicValueBtn1" dataclass="#userattrDynamicValueBtn1,#cstattrDynamicValueBtn1" data-tabcontid="userattrDynamicbt1" class="dropdwntabs active">User Attribute</div>
                                                            <div id="cstattrDynamicValueBtn1" dataclass="#userattrDynamicValueBtn1,#cstattrDynamicValueBtn1" data-tabcontid="csteventDynamicbt1" class="dropdwntabs">Custom Events</div>
                                                        </div>
                                                        <div class="dropdwntabcontwrap">
                                                            <div id="userattrDynamicbt1" class="userattribwrap">
                                                                <h6 class="dropdown-title">User Attribute</h6>
                                                                <select id="draganddropcustomtitle" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                                    <option label="Select">Select</option>
                                                                </select>
                                                            </div>

                                                            <div id="csteventDynamicbt1" class="userattribwrap hideDiv">
                                                                <h6 class="dropdown-title">Custom Events</h6>
                                                                <select id="eventnametitle" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                    <option label="Select">Select</option>

                                                                </select>
                                                                <div class="mt-3">
                                                                    <select id="eventitemstitle" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                        <option label="Events Items">Select Event Items</option>

                                                                    </select>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dv_BMailTemplate" class="form-group row hideDiv">
                                    <label class="frmlbltxt tx-success text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4"
                                           for="">Variation B</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                        <select name="" class="form-control tempvariationBTest" data-placeholder="Select Template" id="ui_BMailTemplate">
                                            <option value="0">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="dv_Subjectlinetemplateb" class="form-group row overflow-x-vis mt-2 hideDiv">
                                    <label class="frmlbltxt tx-success text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4"
                                           for="">Subject Line B</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                        <input type="text" name="" class="form-control" id="ui_Subjectlinetemplateb" maxlength="1000" autocomplete="off">
                                        <div class="addsmsatrib dropdown whtsappdrpdwn">
                                            <div class="drpicon" data-toggle="dropdown" title="User Attributes" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon ion-android-person"></i>
                                            </div>
                                            <div class="dropdown-menu dropdown-menu-right keepopen p-0" aria-labelledby="filterTags" x-placement="bottom-end" style="position: absolute; transform: translate3d(12px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <div class="dropdwntabwrap">
                                                    <div class="dropdwntabitem">
                                                        <div id="userattrsublieb" dataclass="#userattrsublieb,#cstattrsublieb" data-tabcontid="userattrsubb" class="dropdwntabs active">User Attribute</div>
                                                        <div id="cstattrsublieb" dataclass="#userattrsublieb,#cstattrsublieb" data-tabcontid="csteventsubb" class="dropdwntabs">Custom Events</div>
                                                    </div>
                                                    <div class="dropdwntabcontwrap">
                                                        <div id="userattrsubb" class="userattribwrap">
                                                            <h6 class="dropdown-title">User Attribute</h6>
                                                            <select id="draganddropcustomsubb" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select User Attributes" tabindex="-1" aria-hidden="true">
                                                                <option label="Select">Select</option>
                                                            </select>
                                                        </div>

                                                        <div id="csteventsubb" class="userattribwrap hideDiv">
                                                            <h6 class="dropdown-title">Custom Events</h6>
                                                            <select id="eventnamesubb" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                <option label="Select">Select</option>

                                                            </select>
                                                            <div class="mt-3">
                                                                <select id="eventitemssubb" class="form-control addCampName select2-hidden-accessible" data-placeholder="Select Group(s)" tabindex="-1" aria-hidden="true">
                                                                    <option label="Events Items">Select Event Items</option>

                                                                </select>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dv_ABDistribution" class="w-100 mt-4 hideDiv">
                                    <div class="form-group row mb-0">
                                        <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">
                                            A/B
                                            Distribution
                                        </label>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <div class="custrange-slider">
                                                <div class="custrange-main">
                                                    <div class="custrange-slider-dragwrap">
                                                        <div class="cust-slider-a-wrap">
                                                            <h1 class="cust-slider-a-tit">A</h1>
                                                            <p class="cust-slider-a-percent">10%</p>
                                                        </div>
                                                        <div class="cust-slider-b-wrap">
                                                            <h1 class="cust-slider-b-tit">B</h1>
                                                            <p class="cust-slider-b-percent">10%</p>
                                                        </div>
                                                        <div class="custrange-slider-thumb">
                                                            <div class="custrange-slider-handle"></div>
                                                        </div>
                                                    </div>
                                                    <div class="cust-slider-winner">
                                                        <h1 class="cust-slider-win-a-tit">Winning version</h1>
                                                        <p id="resultdiv" class="cust-slider-win-percent result">80%</p>
                                                    </div>
                                                </div>
                                                <input id="cust-slider__input" class="custrange__input" type="range" min="10" max="90" step="2" value="10">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0 mt-4">
                                        <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">
                                            Winning
                                            Metric
                                        </label>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 emailtempdropdown">
                                            <select name="" class="form-control tempvariationBTest" data-placeholder="Select Template" id="ddl_ABWinningMetricRate">
                                                <option value="0">Select</option>
                                                <option value="Open Rate">Open Rate</option>
                                                <option value="Click Rate">Click Rate</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="dv_TestDistribution" class="w-100 mt-4 hideDiv">
                                    <div class="form-group row mb-0">
                                        <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">
                                            Test
                                            Duration <span id="testdura">(2 Hours)</span>
                                        </label>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 pt-3">
                                            <div class="d-flex align-items-center">
                                                <div class="divcls" id="slider"></div>
                                                <p class="frmlbltxt mb-0">100</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dv_DrawResult" class="form-group row mb-0 mt-2 mb-3 hideDiv">
                                    <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">
                                        If Test
                                        Result is draw
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                        <select name="" class="form-control" id="ddl_ABdraw">
                                            <option value="0">Select</option>
                                            <option value="A">Template A</option>
                                            <option value="B">Template B</option>
                                        </select>
                                        <small class="form-text text-muted">Select Template A/B as a winning template</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="addcol wid-100 m-p-wid-40 ml-3">
                            <label class="frmlbltxt mb-0" for="">A/B Testing</label>
                            <div class="toggle-wrapper">
                                <div class="toggle toggle-modern primary abtoggle" style="height: 22px; width: 60px;">
                                    <div class="toggle-slide">
                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;">
                                            <div class="toggle-on active"
                                                 style="height: 26px; width: 47px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                            <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -13px;"></div>
                                            <div class="toggle-off"
                                                 style="height: 26px; width: 47px; margin-left: -13px; text-indent: 8.66667px; line-height: 26px;">
                                                OFF
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Schedule *@
            <div id="ui_divSchedule" class="container-page-body position-relative hideDiv">
                <div class="w-100 mt-5">
                    <div class="campaignContainer m-auto">
                        <div class="formWrapper">
                            <div class="formColwrap">
                                <div class="form-group row w-100 mb-4">
                                    <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Schedule Date</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                        <input type="text" class="form-control" id="txtDateFrom" placeholder="Date (mm/dd/yyyy)" autocomplete="off">
                                    </div>
                                </div>
                                <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                            </div>
                            <div class="formColwrap">
                                <div class="form-group row w-100">
                                    <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="">Schedule Time</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                        <div class="d-flex align-items-center">
                                            <div class="hourwrap mr-3">
                                                <label class="frmlbltxt" for="">Hours</label>
                                                <select class="form-control" name="" id="ui_hours">
                                                    @*<option value="00">00</option>*@
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10" selected="selected">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                            <div class="minwrap mr-3">
                                                <label class="frmlbltxt" for="">Minutes</label>
                                                <select class="form-control" name="" id="ui_minutes">
                                                    <option value="00">00</option>
                                                    <option value="05">05</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                    <option value="55">55</option>
                                                    @*<option value="60">60</option>*@
                                                </select>
                                            </div>
                                            <div class="secondwrap">
                                                <label class="frmlbltxt" for="">AM/PM</label>
                                                <select class="form-control" name="" id="ui_TimeFormat">
                                                    <option value="PM">PM</option>
                                                    <option value="AM" id="ui_timehideAMOption">AM</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                            </div>
                        </div>
                        <div class="formWrapper">
                            <div class="formColwrap">
                                <div class="form-group row w-100">
                                    <label class="frmlbltxt text-right-lbl col-sm-4 col-md-4 col-lg-4 col-xl-4" for="ui_ConfigurationName">ESP Configuration Name</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                        <select name="" class="form-control" id="ui_ConfigurationName"></select>
                                    </div>
                                </div>
                                <div class="addcol wid-100 m-p-wid-40 ml-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="notewrap mt-5">
                        <p class="d-flex align-items-center"><i class="icon ion-android-alert mr-3"></i> <span class="notetxt"> We strongly recommend that you schedule your campaign to be sent 24 hours from now at the minimum, if you don't do so, then there is a chance that some users in the audience might not receive your campaign. This can happen when the local time in those regions has already passed the scheduled delivery time.</span></p>
                    </div>
                </div>
            </div>

            @*Priew and Test *@
            <div id="ui_divPreiwTest" class="container-page-body hideDiv">
                <div class="campaignPrevContainer mt-2">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 order-sm-12 order-md-12 m-mb-3">
                            <h6 class="box-title text-center p-0">Test Campaign</h6>
                            <div class="checkeebx-group mt-4 d-flex justify-content-center">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="Individual" id="testcampaignindiv" name="testcampaignType" class="custom-control-input" checked>
                                    <label class="custom-control-label" for="testcampaignindiv">Individual</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="Group" id="testcampaigngroup" name="testcampaignType" class="custom-control-input">
                                    <label class="custom-control-label" for="testcampaigngroup">Group</label>
                                </div>
                            </div>
                            <div id="indivtxtbox" class="textcampWrap mt-3">
                                <div class="form-group d-flex justify-content-center">
                                    <input id="ui_testToEmailId" type="text" class="form-control w-90" placeholder="Email Address">
                                </div>
                            </div>
                            <div id="groupdropdownbox" class="textcampWrap mt-3 d-flex justify-content-center hideDiv">
                                <div class="testcampgroup w-90">
                                    <select id="testcampgroupname" class="form-control" data-placeholder="Select Group">
                                        <option label="Choose one" value="0">Select Group</option>
                                    </select>
                                </div>
                            </div>
                            <div class="btnwrp d-flex justify-content-center">
                                <button id="ui_btntestCampaign" class="btn btn-third mt-3" type="button">Test Campaign</button>
                            </div>
                            <p class="text-danger font-13 mt-3 mb-0">Note:</p>
                            <p class="frmlbltxt">Selected test group should have maximum 30 contacts.</p>
                        </div>
                        <div class="col-sm-6 col-md-9 col-lg-9 col-xl-9 order-sm-1 order-md-1">
                            <div class="prevtabwrap hideDiv" id="ui_SplitTestTempVariation">
                                <div class="prevtabItemwrap">
                                    <div id="ui_variationA" class="temppreview active" data-prevtabcont="variationatemp">Variation A</div>
                                    <div id="ui_variationB" class="temppreview" data-prevtabcont="variationbtemp">Variation B</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 m-p-h">
                                    <div class="mailDeskWrap">
                                        <div class="windowbar"></div>
                                        <div class="mailaddressWrap">
                                            <p>To: <Span id="ui_SpanGroupsName"></Span></p>
                                            <p>From: <Span id="ui_SpanFromName"></Span></p>
                                            <p>Subject: <Span id="ui_SpanSubject"></Span></p>
                                        </div>
                                        <div class="mailbodyWrap" id="ui_OnlineTemplateUrl">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                    <div class="smartphone">
                                        <div class="content" id="ui_OnlineMobileTemplateUrl">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Next Footer *@
            <div class="container-page-footer">
                <div class="backbtnWrap">
                    <button id="ui_btnBackContent" type="button" class="btn btn-second hideDiv" onclick="mailUtil.NavigateToBack();"><i class="icon ion-chevron-left pr-2"></i>Back</button>
                </div>
                <div class="nextbtnWrap">
                    <button id="ui_btnNext" type="button" class="btn btn-primary" onclick="mailUtil.CheckCredits();">Next <i class="icon ion-chevron-right pl-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Popup window right-->
<div id="ui_divMerge" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Create a merged group</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div id="groupedit" class="groupaccordWrap">
                    <div id="groupeditaccordion" class="accordion-one" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="groupeditheadingone">
                                <a data-toggle="collapse" data-parent="#groupeditaccordion" href="#groupeditcollapseone" aria-expanded="true" aria-controls="groupeditcollapseone" class="tx-gray-800 transition collapsed">
                                    Basic Information
                                </a>
                            </div><!-- card-header -->

                            <div id="groupeditcollapseone" class="collapse show" role="tabpanel" aria-labelledby="groupeditheadingone" data-parent="#groupeditaccordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="frmlbltxt" for="">Name</label>
                                        <input type="text" class="form-control" id="editgroupname" maxlength="150" IsGroupAdd="0" NoOfGroup="0">
                                    </div>
                                    <div class="form-group">
                                        <label class="frmlbltxt" for="">Description</label>
                                        <textarea name="" class="form-control" id="editgroupDes" cols="30" rows="2" maxlength="500"></textarea>
                                    </div>
                                    <p class="text-right seggraph"><a href="javascript:void(0)">Analyze Segment(s)</a></p>
                                    <div class="segmentwrap hideDiv" IsOnce="true">
                                        <h6 class="box-title p-0 mt-5 mb-1 text-center">Aggregate Segment Analysis</h6>
                                        <small class="font-11 text-center d-block">Note: Analysis based on past 90 Day activity.</small>
                                        <div class="segmentgauwrap mt-3">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div id="chartgauge1" class="chart-gauge"></div>
                                                    <small class="font-12 text-center d-block" id="ui_SmallOpenRate">Open Rate: 0%</small>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div id="chartgauge2" class="chart-gauge"></div>
                                                    <p class="font-12 text-center d-block" id="ui_SmallClickedRate">Click Rate: 25%</p>
                                                </div>
                                            </div>
                                            <div class="prefdevice">
                                                <h6 class="box-title p-0 mb-1 text-center">Preferred Device</h6>
                                                <div class="charteeWrap position-relative">
                                                    <canvas id="topfivesource"></canvas>
                                                </div>
                                                <div class="legendWrap d-flex justify-content-center w-200 m-auto">
                                                    <div class="blucolWrap">Desktop</div>
                                                    <div class="greencolWrap legendpop">Mobile</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button id="ui_SaveDistinctContact" class="btn btn-primary mr-2" type="button">Next</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>
    </div>

</div>
<!--Popup window right-->

<div class="popupcontainer hideDiv" id="ui_ResultPopup">
    <div class="popupItem w-450 m-p-wid-300 position-relative popup-tbl">
        <div class="popuptitle">
            <h6>Campaign Test Results</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="td-wid-70 m-p-w-170" scope="col">Email Id</th>
                                <th class="td-wid-30 m-p-w-120" scope="col">Sent Status</th>
                            </tr>
                        </thead>
                        <tbody id="ui_TestResultMessage">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/UserCustomEventsAttributes.js"></script>
<script src="~/js/Mail/MailSchedule.js"></script>