@{
    ViewBag.Title = "Plumb5 :: LandingPageEditor";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<script type="text/javascript">
    var BeeEditorAuthUrl ='@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["BEEEDITORAUTHURL"])';
    var BeeEditorClientId ='@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["LP_BEEEDITOR_ACCESSKEY"])';
    var BeeEditorClientSecret = '@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["LP_BEEEDITOR_SECRETKEY"])';
    var ClientServerName = '@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["CLIENTSERVERNAME"])';
</script>
<div class="pageheader">
    <div class="contentHead">
        <h6 class="pagetitle">Landing Page Editor</h6>
        <small class="totalCountTitle">Page Name: <span id="ui_span_PageName"></span></small>
    </div>
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a href="javasctipt:void(0);">Landing Page</a></li>
        <li class="breadcrumb-item"><a href="javasctipt:void(0);">Page Name</a></li>
        <li class="breadcrumb-item active" aria-current="page">Page Editor</li>
    </ol>
</div>
<div class="backwrp">
    <a href="/Analytics/LandingPage"><i class="icon ion-ios-arrow-left pr-2"></i>Back</a>
</div>
<div id="bee-plugin-container" style="height:575px;">
</div>
<script src="//app-rsrc.getbee.io/plugin/BeePlugin.js"></script>
<script src="~/js/Analytics/LandingPageEditor.js"></script>