@{
    ViewBag.Title = "Plumb5 :: Manage Groups";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Manage Groups</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item">
                <a href="javasctipt:void(0);">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" id="ui_ManageGroups">Manage Groups</li>
        </ol>
    </div>
    <div class="setttabwrap mr-tp-15">
        <div class="setttabitem" data-setttype="tabcontone">
            <a href="/ManageUsers/Users">Users</a>
        </div>
        <div class="setttabitem" data-setttype="tabconttwo">
            <a href="/ManageUsers/Roles">Roles</a>
        </div>
        <div class="setttabitem active" data-setttype="tabcontthree">Groups</div>
    </div>
    <div class="settcontainer">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white">
                    <div id="tabcontthree" class="setttabcontainer p-0">
                        <div class="topTabWrap mt-0 border-bottom">
                            <div class="showingWrap">
                            </div>
                            <div class="createBtnsrchWrap mr-2">
                                <div class="searchCampWrap position-relative mr-3">
                                    <input class="form-control" type="text" name="" id="ui_SearchByGroupName" placeholder="Search by group name">
                                    <i class="icon ion-android-search serchicon right-8" id="ui_SearchUserGroupName"></i>
                                </div>
                                <button id="ui_btnCreateGroup" data-tabcont="creategroupmod" type="button" class="btn btn-primary btn-sm createrolebtn ContributePermission"><a href="javascript:void(0)" class="ContributePermission">Create Group</a></button>
                            </div>
                        </div>
                        <div class="tableWrapper">
                            <div class="table-responsive">
                                <table class="table tbl-td-ta-lft" id="ui_tbGroupDetails">
                                    <thead>
                                        <tr>
                                            <th class="helpIcon td-wid-30 m-p-w-250" scope="col">
                                                <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                <div class="spacBet">
                                                    <div>Group Name</div>
                                                    <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-30 m-p-w-250" scope="col">
                                                <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                <div class="spacBet">
                                                    <div>Group Description</div>
                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-20 m-p-w-170" scope="col">
                                                <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                <div class="spacBet">
                                                    <div>Created on</div>
                                                    <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="ui_tdbodyGroupData">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @{
                            Html.RenderPartial("_Paging");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainpaneloverlap hideDiv">
        <div class="container-fluid pt-3">
            <div class="clserolewrp"><i class="fa fa-times"></i></div>
            <div id="creategroupmod" class="createrolewrp">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 m-mb-3">
                        <div class="frmwrp">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Group Name*</label>
                                <input type="text" class="form-control" id="ui_txtUserGroupName">
                            </div>
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Group Description*</label>
                                <textarea name="" class="form-control" id="ui_txtUserdescription" cols="3" rows="3"></textarea>
                            </div>
                            <div class="btnwrp">
                                <button class="btn btn-primary mr-2" type="button" id="ui_btnSaveGroupDetails">Save</button>
                                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <div class="accrolewrp">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="tableWrapper">
                                        <div class="table-responsive">
                                            <table class="table tbl-td-ta-lft border" id="ui_tbSelectAccount">
                                                <thead>
                                                    <tr>
                                                        <th class="td-wid-80 m-p-w-220 m-auto" scope="col">Select Account</th>
                                                        <th class="td-wid-20 m-p-w-40" scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="ui_SelectAccountData">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="tableWrapper">
                                        <div class="table-responsive">
                                            <table class="table tbl-td-ta-lft border" id="ui_tbRole">
                                                <thead>
                                                    <tr>
                                                        <th class="td-wid-80 m-p-w-220 m-auto" scope="col">Select Role</th>
                                                        <th class="td-wid-20 m-p-w-40" scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="ui_tbodyRoleData">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Group?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->

<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src="~/js/ManageUsers/Groups.js"></script>