@{
    ViewBag.Title = "Plumb5 :: Alerts & Notifications";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<script>
    var TemplatePath = "@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["BUCKETPATH"])" + "/" + "@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["TEMPLATEBUCKETMAINFOLDER"])"+"/";
</script>
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Alerts &amp; Notifications</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Mail</a></li>
            <li class="breadcrumb-item"><a href="#">Reports</a></li>
            <li class="breadcrumb-item active" aria-current="page">Alerts &amp; Notifications</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap  pt-2 pb-2">
            @{
                Html.RenderPartial("_PageHeadingWithDate");
            }
            <div class="searchWrap">
                <div class="searchInput">
                    <input class="form-control form-control-sm contsearchfocus" type="text" name="" placeholder="Search by email" id="txt_SearchBy">
                    <div id="ui_div_SearchIcon" class="searchIcon">
                        <i class="icon ion-android-search"></i>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Export");
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white border-top-0">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblReportData" class="table">

                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">Preview</th>
                                    <th scope="col" class="helpIcon m-p-w-190 td-wid-15">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>From Name <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                    <th class="helpIcon m-p-w-150 td-wid-17" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>From Email<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                    <th class="helpIcon m-p-w-150 td-wid-15" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Subject <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-220 td-wid-17">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Template Name <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                    <th class="helpIcon m-p-w-160 td-wid-15" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Sent Date<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                    <th class="helpIcon m-p-w-190 td-wid-16" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>To Email <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="ui_tbodyReportData"></tbody>
                        </table>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Paging");
                }
            </div>
        </div>
    </div>

</section>

<script src="~/js/Mail/IndividualResponse.js"></script>

