@{
    ViewBag.Title = "Plumb5 :: Manage Groups";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link rel="stylesheet" href="~/Content/select2/css/select2.min.css" />
<section class="sheet">
    <div class="pageheader">
        <div class="contentHead">
            <h6 class="pagetitle">Manage Groups</h6>
            <small class="totalCountTitle">Total Groups: <span id="TotalGroupCount"></span></small>
        </div>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Contacts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Groups</li>
        </ol>
    </div>
    <div class="boxactionWrap mr-tp-15 border-top">
        <div class="actionWrap">
            <div class="actionBtnWrap">
                <div class="dropdown">
                    <button class="btn-action dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu mcontactsaction" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item ContributePermission" href="javascript:void(0)" data-toggle="modal" onclick="OpenMoveContacts();">Move Contacts</a>
                        <a class="dropdown-item ContributePermission" href="javascript:void(0)" data-toggle="modal" onclick="OpenCopyContacts();">Copy Contacts</a>
                        <a class="dropdown-item ContributePermission" href="javascript:void(0)" data-toggle="modal" onclick="OpenMergeGroupsContact();">Merge Groups</a>
                    </div>
                </div>
            </div>
            <div class="createBtnWrap">
                <button type="button" class="btn btn-primary btn-sm creategroupbtn-pop ContributePermission">Create Group</button>
            </div>
        </div>
        <div class="searchWrap">
            <div class="searchInput">
                <input class="form-control form-control-sm" type="text" id="ui_txtSearchBy" placeholder="Search by name">
                @*<div class="searchIcon" id="SearchByName">
                <i class="icon ion-android-search"></i>
                </div>*@
            </div>
            @{
                Html.RenderPartial("_Export");
            }
        </div>
    </div>
    <div class="subdivWrap border-top-0">
        <div class="selectedItemWrap">
            <div class="checkBxCount">
                <span class="checkedCount">0</span> Groups selected
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white border-top-0">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblReportData" class="table manageContacts">
                            <thead>
                                <tr>
                                    <th class="td-wid-5 m-p-w-40" scope="col">
                                        <div class="custom-control custom-checkbox">
                                            @*<input type="checkbox" class="custom-control-input selchbxall" id="contacts_check" name="example1">
                                            <label class="custom-control-label" for="contacts_check"></label>*@
                                        </div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-250 td-wid-30">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>Group Name
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-220 td-wid-30" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>Group
                                        Description <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-190 td-wid-16" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>Created Date
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-190 td-wid-24" scope="col">
                                        Verified Email<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                        <div class="addtableheight border-bottom mb-3 hideDiv"></div>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Paging");
                }
            </div>
        </div>
    </div>
</section>
<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Group?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Delete this group? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger" data-id=0 data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<!--Modal Export contacts-->
<div class="modal fade bd-example-modal-sm" id="exportcontacts" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Export Contacts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <p class="groupnamehead">Group Name: <Span class="exportgroupname"></Span></p>
                    <p class="groupnamehead pb-3">Counts: <Span class="exportgroupCount">0</Span></p>
                    <div class="form-group">
                        <label for="exampleInputEmail1">File Format</label>
                        <select class="form-control" name="" id="ui_ddl_FileType">
                            <option selected="selected" value="csv">.csv</option>
                            <option value="xls">.xls</option>
                            @*
                            <option value="xlsx">.xlsx</option>*@
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" groupid=0 data-total="0" id="ui_btnGroupContactExport">Export</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Export contacts-->
<!--Exclusive Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="ui_divExclusiveContact" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Exclusive this Group?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently exclusive this group contacts?</p>
            </div>
            <div class="modal-footer">
                <button id="ui_btnExclusiveConfirm" type="button" class="btn btn-danger" data-id=0 data-dismiss="modal">OK</button>
                <button id="ui_btnExclusiveCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Exclusive Confirm Modal-->
<!--Validate Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="ui_divGroupEmailValidate" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Validate this Group?</h5>
                <button type="button" class="close" aria-label="Close" id="ui_btnTopGroupEmailValidateCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Start the Validation of contacts in this group?</p>
            </div>
            <div class="modal-footer">
                <button id="ui_btnGroupEmailValidateConfirm" type="button" class="btn btn-danger" groupid="0">Yes</button>
                <button id="ui_btnGroupEmailValidateCancel" type="button" class="btn btn-secondary">No</button>
            </div>
        </div>
    </div>
</div>
<!--Validate Confirm Modal-->
<!--Move Contacts Confirm Modal-->
<div class="modal" id="ConfirmMovegroupsContact" tabindex="-1" role="dialog" style="display:none;">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Move contact to Group?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="MoveContactClose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Move contact to Group? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button id="btnMoveContactsConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Move Contacts</button>
                <button id="btnMoveContactsCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Move Contacts Confirm Modal-->
<!--Modal Move to Contacts-->
<div class="modal fade" id="movecontactmod" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Group to Move Contacts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="movetocontwrp">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Move To</label>
                        <select name="" class="form-control movetocontdrpdwn" data-placeholder="Select Group" id="drp_groups">
                            <option value="0">Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnMoveContacts">Move Contacts</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Move to Contacts-->
<!--Modal Creat Merge to Groups-->
<div class="modal fade" id="createmergegropmod" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-dialog-centered modal-md" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">Create Merged Group</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div class="modal-body">
                <div class="movetocontwrp">
                    <div class="form-group">

                        <label for="exampleInputEmail1">Group Name</label>

                        <input type="text" name="" class="form-control" id="txt_MergeGroupName">

                    </div>
                    <div class="form-group">

                        <label for="exampleInputEmail1">Group Description</label>

                        <textarea name="" id="txt_MergeGroupDescription" class="form-control" cols="3" rows="3"></textarea>

                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnMergeGroups">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>

        </div>

    </div>

</div>
<!--Modal Creat Merge to Groups-->
<!--Modal Copy to Contacts-->
<div class="modal fade" id="ui_divCopyGroupPopUp" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Group to Copy Contacts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="movetocontwrp">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Copy To</label>
                        <select name="" class="form-control copytocontdrpdwn" data-placeholder="Select Group" id="ui_ddlCopyGroups">
                            <option value="0">Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="ui_btnCopyContacts">Copy Contacts</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Copy to Contacts-->
<!--Copy Contacts Confirm Modal-->
<div class="modal" id="ui_divConfirmCopyGroupsContact" tabindex="-1" role="dialog" style="display:none;">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Copy contacts to Group?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="ui_btnCopyContactClose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Copy contacts to Group? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button id="ui_btnCopyContactsConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Copy Contacts</button>
                <button id="ui_btnCopyContactsCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Copy Contacts Confirm Modal-->
<!--Auto validate Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="Autoemailvalidategroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Auto Email Validation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    We take complete domain reputation responsibility for not opting the email Validation tool rule for all our email campaigns.
                    Plumb5 not to be held responsible
                </p>
            </div>
            <div class="modal-footer">
                <button id="AutovalidationRowConfirm" type="button" class="btn btn-danger" data-id=0 data-dismiss="modal">Auto Validate</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Auto validate Confirm Modal-->

<script src="~/Content/select2/js/select2.full.min.js"></script>
@{
    Html.RenderPartial("_EmailValidationOverView");
}
@{
    Html.RenderPartial("_CreateOrUpdateGroup");
}
@{
    Html.RenderPartial("_CreateControlGroup");
}
@{
    Html.RenderPartial("_DateWiseMemebersCount");
}
<script src="~/js/ManageContact/Group.js"></script>