@{
    ViewBag.Title = "SiteSearch";
     Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

    <section class="sheet">
        <div class="pageheader">
            <h6 class="pagetitle">Site Search</h6>
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Web</a></li>
                <li class="breadcrumb-item active" aria-current="page">Site Search</li>
            </ol>
        </div>
        <div class="topTabWrap">
            <div class="iconTopNav">
                <div class="topIconItem"></div>
                <div class="topIconItem"></div>
                <div class="topIconItem"></div>
            </div>
            <div class="tabItemWrap">
                <div class="tabItem"><a class="tap-nav-link" href="/Analytics/SiteSearchOverview">Overview</a></div>
                <div class="tabItem"><a class="tap-nav-link" href="/Analytics/SiteSearchTerms">Search Terms</a></div>
                <div class="tabItem"><a class="tap-nav-link" href="/Analytics/SiteSearchPages">Search Pages</a></div>
                <div class="tabItem"><a class="tap-nav-link active" href="javascript:void(0);">Configuration</a></div>
            </div>
            @{ Html.RenderPartial("_Export"); }
        </div>
        <div class="row mt-4" id="dvSiteSearchNotConfig" >
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white">
                    <div class="tableWrapper">
                        <div class="table-responsive min-h-300">
                            <div class="h-350 no-data">
                                <div class="nodataWrap text-center w-450">
                                    <p>
                                         Please Contact Plumb5 to Enable or Modify Site Search feature.
                                        @*Site Search has not been configured for this account. <br>Please Contact Plumb5 to get this
                                        feature enabled.*@
                                    </p><br>
                                    <div class="form-group">
                                        <input type="text" name="" class="form-control" placeholder="Enter Site Search URL" id="txtSiteUrl">
                                    </div>
                                    
                                    <p><button type="button" class="btn btn-primary" id="btn_ContactSupport"><a>Contact Support</a></button></p>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tbl-spacer"></div>
                </div>
            </div>
        </div>
        @*<div class="row mt-4" id="dvSiteSearchRequestReceived" style="display:none">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white">
                    <div class="tableWrapper">
                        <div class="table-responsive">
                            <div class="h-350 no-data">
                                <div class="nodataWrap text-center">
                                    <p>
                                        We have received your request for Site Search.<br>
                                        We are working on it.Please check back later.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tbl-spacer"></div>
                </div>
            </div>
        </div>*@
    </section>
    <script src="~/js/Analytics/SiteSearchConfiguration.js"></script>