@{
    ViewBag.Title = "Plumb5 :: Call Settings";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Settings</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Lead Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
    </div>
    <div class="setttabwrap mr-tp-15">
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/Settings">Stages</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/InactiveNotification">In-Activity Notification</a></div>
        @*<div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/NotificationRules">Notification Rules</a></div>*@
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/AgentNotification">Lead Notification</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/Settings/AlertNotification">Alert Notification</a></div>
        @*<div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/LeadAssignNotificationSetting">Lead Assignment Agent Notification</a></div>*@
        <div class="setttabitem active" data-setttype="javascript:void(0);"><a href="javascript:void(0);">Call Settings</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/LeadProperties">Lead Properties</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/AdvancedSettings/">Advanced Settings</a></div>
    </div>
    <div class="settcontainer">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white">
                    <div id="lmscallsetts" class="setttabcontainer">
                        <div class="lmscallsettdefwrp ">
                            <div class="lmscallsttdefItem">
                                <div class="lmscallsttdefimg"></div>
                                <div class="lmscallsttdeftxt">
                                    <h1>Get set up with Plumb5 Click to Call</h1>
                                    <p>
                                        Enabling Click to Call allow you to call contacts directly from
                                        the Lead Management System
                                    </p>
                                    <button type="button" class="btn btn-primary lmsenbcall">
                                        Enable
                                        Calling
                                    </button>
                                </div>
                                <div class="lmscallstatuspendwrp hideDiv">
                                    <p>Status - Pending</p>
                                    <h3>
                                        We have received your request. Our support team is working
                                        on it.
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="lmscallsetmaimwrp hideDiv">
                            <div class="lmsaddcallnumbwrp border-top">
                                <div class="no-data border hideDiv">
                                    <p>Plumb5 is not recording</p>
                                </div>
                                <div class="lmsaddrecphnenumb">
                                    <div class="tableWrapper w-25  m-w-100">
                                        <div class="table-responsive min-h-100">
                                            <table class="table border">
                                                <thead>
                                                    <tr>
                                                        <th>Set Primary Phone</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="" class="form-control" id="ui_drpdwn_SetPrimaryPhone">
                                                                <option value="0">Set Primary Phone</option>
                                                                <option value="Mobile Phone">
                                                                    Mobile Phone
                                                                </option>
                                                                <option value="Business Phone">
                                                                    Business Phone
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/Prospect/CallSettings.js"></script>