@{
    ViewBag.Title = "Plumb5 :: Scheduled Campaigns Responses";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Campaigns Responses</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Mail</a></li>
            <li class="breadcrumb-item"><a href="#">Reports</a></li>
            <li class="breadcrumb-item active" aria-current="page">Campaigns Responses</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem"><a class="tap-nav-link active" href="/Mail/Responses">Scheduled Campaigns</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/Mail/AbTestingReport">A/B Testing</a></div>
        </div>
        @{
            Html.RenderPartial("_Export");
        }
    </div>
    <div class="box-white mr-tp-15">
        <div class="contimportrepwrap">
            <div class="showDateIconWrap border-bottom pt-2 pb-2">
                @{
                    Html.RenderPartial("_PageHeadingWithDate");
                }
                <div class="iconsWrap-docu">
                    <div class="emailtempdropdown w-200 mr-2 m-w-150px">
                        <select class="form-control addCampName select2-hidden-accessible" data-placeholder="" tabindex="-1" aria-hidden="true" id="ui_dlltemplateCampaign">
                            <option label="select" value="0">Filter by Templates</option>
                        </select>
                    </div>
                    <div class="emailtempdropdown w-200 mr-2 m-w-150px">
                        <select class="form-control addCampName select2-hidden-accessible" data-placeholder="" tabindex="-1" aria-hidden="true" id="ui_dllMailCampaign">
                            <option label="select" value="0">Filter by Campaigns</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="subdivWrap border-top-0">
                <div class="selectedItemWrap">
                    <div class="checkBxCount">
                        <span class="checkedCount">1</span> Contacts selected
                    </div>
                    <div class="addgrupcampresp ml-3">
                        <button class="btn btn-third btn-sm addremcampres ContributePermission" type="button"><i class="icon ion-android-people"></i> <span>Add/Remove Group</span></button>
                        <button title="Download Report" class="btn btn-primary btn-sm downldreprt" type="button" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="icon ion-ios-cloud-download"></i> <span>Download Report</span></button>
                    </div>
                </div>
            </div>
            <div class="scheduledresponses">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="box-white border-0 position-relative">
                            <div class="tableWrapper">
                                <div class="table-responsive campaignresponse">
                                    <table id="ui_tblReportData" class="table">
                                        <thead>
                                            <tr>
                                                <th class="td-wid-4 m-p-w-40" scope="col">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input selchbxall" id="contacts_check" name="example1">
                                                        <label class="custom-control-label" for="contacts_check"></label>
                                                    </div>
                                                </th>
                                                <th scope="col" class="helpIcon m-p-w-250 td-wid-12"><div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Campaign Identifier</th>
                                                <th class="helpIcon m-p-w-250 td-wid-12" scope="col">
                                                    <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Campaign Name
                                                </th>
                                                <th class="helpIcon m-p-w-160 td-wid-7" scope="col">
                                                    Sent
                                                </th>
                                                <th class="helpIcon m-p-w-160 td-wid-7" scope="col">
                                                    Delivered
                                                </th>
                                                <th class="helpIcon m-p-w-140  td-wid-7" scope="col">
                                                    Opened
                                                </th>
                                                <th class="helpIcon m-p-w-140  td-wid-7" scope="col">
                                                    Clicked
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-7" scope="col">
                                                    Unique Clicks
                                                </th>
                                                <th class="helpIcon m-p-w-170 td-wid-7" scope="col">
                                                    URL's
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-7" scope="col">
                                                    Opt out
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-7" scope="col">
                                                    Bounce
                                                </th>
                                                <th class="helpIcon m-p-w-150 td-wid-7" scope="col">
                                                    Error
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody id="ui_tbodyReportData"></tbody>

                                    </table>

                                </div>
                            </div>
                            @{
                                Html.RenderPartial("_Paging");
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!--Popup window right-->


<div class="popupcontainer hideDiv" id="dvManageContact">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Add Remove Group</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div class="popcontWrap">
                    <div class="form-group row">
                        <label class="frmlbltxt col-sm-4" for="">Action</label>
                        <div class="spamscoreradi col-sm-8">
                            <div class="filetypewrap">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ui_rad_AddGroup" name="addremovetype" class="custom-control-input" value="create">
                                    <label class="custom-control-label" for="ui_rad_AddGroup">Create</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ui_rad_Add" name="addremovetype" class="custom-control-input" value="add">
                                    <label class="custom-control-label" for="ui_rad_Add">Add</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ui_rad_Remove" name="addremovetype" class="custom-control-input" value="remove">
                                    <label class="custom-control-label" for="ui_rad_Remove">Remove</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="creatcampfildwrp hideDiv">
                        <h6 class="box-title pl-0 pb-3">Create New Group</h6>
                        <div class="form-group">
                            <label class="frmlbltxt">Group Name</label>
                            <input type="text" class="form-control" name="" id="ui_GroupName" maxlength="200">
                        </div>
                        <div class="form-group">
                            <label class="frmlbltxt">Group Description</label>
                            <input type="text" class="form-control" name="" id="ui_GroupNameDescription" maxlength="200">
                        </div>
                        <div class="btnwrp mb-4">
                            <button id="campcreategroup" type="button" class="btn btn-third">Create</button>
                            <button class="btn btn-secondary clscreategrp" type="button">Cancel</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Select Group</label>
                        <div class="emailtempdropdown">
                            <select class="form-control addCampName" data-placeholder="Select Group(s)" id="ui_ddlGroup">
                                <option value="0">Select Group for action</option>
                            </select>
                        </div>
                    </div>

                    <div class="chbxcampreswrp mt-4">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="ui_radOpen" name="Campaign" value="1">
                            <label class="custom-control-label" for="ui_radOpen">Open</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="ui_radClick" name="Campaign" value="2">
                            <label class="custom-control-label" for="ui_radClick">Click</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="ui_radOptOut" name="Campaign" value="3">
                            <label class="custom-control-label" for="ui_radOptOut">Optout</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="ui_radbounced" name="Campaign" value="4">
                            <label class="custom-control-label" for="ui_radbounced">Bounced</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline mt-3">
                            <input type="checkbox" class="custom-control-input" id="ui_radforward" name="Campaign" value="5">
                            <label class="custom-control-label" for="ui_radforward">Forward</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline mt-3">
                            <input type="checkbox" class="custom-control-input" id="ui_radError" name="Campaign" value="6">
                            <label class="custom-control-label" for="ui_radError">Errors</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="btnAddToGroup">Submit</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>

    </div>

</div>

@{
    Html.RenderPartial("_MailCampaignResponsesContacts");
}

<!--Popover html-->
<div class="camptypwrap hideDiv">
    <p><strong>Campaign Type:</strong> <span id="lblCampaignType"></span></p>
    <p><strong>From Name:</strong> <span id="lblFromName"></span></p>
    <p><strong>From EmailId:</strong> <span id="lblFromEmailId"></span></p>
    <p><strong>Reply EmailId:</strong> <span id="lblReplyEmailId"></span></p>
    <p><strong>Subject:</strong> <span id="lblSubject"></span></p>
    <p><strong>Sent To:</strong> <span id="lblGrp"></span></p>
    <p><strong>Stopped Reason:</strong> <span id="lblStoppedReason"></span></p>
    <p><strong>ESP Name:</strong> <span id="lblConfigurationName"></span></p>
</div>

<!--Popover html-->

<script src="~/js/Mail/MailCampaignResponses.js"></script>

<script src="~/Content/select2/js/select2.full.min.js"></script>
<script type="text/javascript">
    $('.addCampName').select2({
        minimumResultsForSearch: '',
        dropdownAutoWidth: false
    });


</script>