@{
    ViewBag.Title = "Plumb5 :: Manage Contacts";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
<section class="sheet">
    <div class="pageheader">
        <div class="contentHead">
            <h6 class="pagetitle">Manage Contacts</h6>
            <small class="totalCountTitle">Total Contacts: <span id="spnCount">00</span> <i id="contactdetails" class="icon ion-ios-information hideDiv"></i></small>
        </div>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Contacts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Contacts</li>
        </ol>
    </div>
    <div class="topTabWrap hideDiv" id="dvGroupTab">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link active" href="javasctipt:void(0);">Email &amp; SMS Contacts</a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link " href="javascript:void(0)" id="tabWebPush">Web Push Subscribers</a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="MobilePushSubscribers" id="tabMobilePush">Mobile Push Subscribers</a>
            </div>
        </div>
        @*@{ Html.RenderPartial("_Export"); }*@
    </div>
    <div class="boxactionWrap mr-tp-15 border-top">
        <div class="actionWrap">
            <div class="actionBtnWrap">
                <div class="dropdown">
                    <button class="btn-action dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu mcontactsaction" aria-labelledby="dropdownMenuButton">
                        <a id="addremovegroupslist" class="dropdown-item ContributePermission" href="javascript:void(0)" data-toggle="modal" onclick="openGroup();">Add remove group</a>
                        <a class="dropdown-item ContributePermission" href="javascript:void(0)" onclick="openUnsubcribePopUp();">Unsubcribe</a>
                        <a class="dropdown-item ContributePermission" href="javascript:void(0)" data-toggle="modal" onclick="openInvalidatePopUp();">Invalidate</a>
                        <a class="dropdown-item ContributePermission" href="javascript:void(0)" data-toggle="modal" onclick="openValidatePopUp();">Validate</a>
                        <a class="dropdown-item ContributePermission" href="javascript:void(0)" data-toggle="modal" onclick="openManageCustomFields();">Manage Custom Fields</a>
                    </div>
                </div>
            </div>
            <div class="createBtnWrap">
                <button type="button" class="btn btn-primary btn-sm ContributePermission" id="ui_btnShowCreateContact">Create Contact</button>
            </div>
        </div>
        <div class="searchWrap">
            <div class="searchInput">
                <input class="form-control form-control-sm contsearchfocus" type="text" name="" placeholder="Search EmailId" id="e_input">
                <div class="searchIcon">
                    <i class="icon ion-android-search"></i>
                </div>
            </div>
            <div class="filterWrap dropdown mr-3">
                <i class="icon ion-android-funnel" id="filterbycontacts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Filter By"></i>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterbycontacts">
                    @*<a class="dropdown-item" href="javascript:filterBy('All')">All</a>*@
                    <a class="dropdown-item" href="javascript:filterBy('Email')">Email Id</a>
                    <a class="dropdown-item" href="javascript:filterBy('Phone')">Phone Number</a>
                    <a class="dropdown-item" href="javascript:filterBy('Name')">Name</a>
                    <a class="dropdown-item" href="javascript: ShowMasterFilterPopUp();">Master Filter</a>
                </div>
            </div>
            <!--<div class="mastfiltwrp mr-2">
            <div class="masterfiltwrp d-flex btn btn-second btn-sm">
                <div class="lmspopuslftwind" data-lmspopuswind="Master Filter" data-lmspopupswindcont="lmsmastfilter" id="btnMasterFilter">Master Filter</div>-->
            @*<div class="position-relative"><i id="ui_i_filterOpen" class="fa fa-filter ml-2"></i><i id="ui_i_filterClose" class="icon ion-ios-close clsabste hideDiv"></i></div>*@
            <!--</div>
            </div>-->

            @{ Html.RenderPartial("_Export"); }
        </div>
    </div>

    <div class="subdivWrap border-top-0">
        <div class="selectedItemWrap justify-content-between">
            <div class="checkBxCount">
                <span class="checkedCount">0</span> Contacts selected
            </div>
            &nbsp;&nbsp;
            <label id="bindsel"></label>
            <div class="filtwrpbar hideDiv">
                <div class="filtbywrp">Filter by: <span class="filttypetext">Master Filter</span></div>
                <i class="icon ion-android-close"></i>
            </div>
        </div>
    </div>
    <div id="ui_divReportSummary" class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white border-top-0">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblReportData" class="table manageContacts">
                            <thead>
                                <tr>
                                    <th class="td-wid-5 m-p-w-40" scope="col">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input selchbxall" id="contacts_check" name="example1">
                                            <label class="custom-control-label" for="contacts_check"></label>
                                        </div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-220 td-wid-20">
                                        Name <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-190 td-wid-25" scope="col">
                                        Email <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-190 td-wid-20" scope="col">
                                        Phone Number <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-160 td-wid-12" scope="col">
                                        Email Verified <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-190 td-wid-17" scope="col">
                                        Created Date <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData"></tbody>

                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("_LeadCustomReportPopUp"); }

</section>

@{ Html.RenderPartial("_ContactUCP"); }
@{ Html.RenderPartial("_AddCustomField"); }

@* Create Contact Pop Up  *@
@{ Html.RenderPartial("_CreateLead"); }

@{ Html.RenderPartial("_CreateContact"); }

<div class="modal fade bd-example-modal-sm" id="addremovegroup" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add and Remove Group</h5>
                <button type="button" class="close" aria-label="Close" id="btnCloseAddRemovegrp">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="groupoperat">
                    <select id="addgroupoperation" class="form-control select2" data-placeholder="Choose Group" multiple=""></select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="addtogroup" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" id="btnCancelAddRemovegrp">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Unsubscribe confirm-->
<div class="modal fade bd-example-modal-sm" id="confirmunsub" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Un-subcribe</h5>
                <button type="button" class="close" aria-label="Close" id="btnCloseUnsubscribe">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span class="visitorsCount"></span> Selected Contacts will be Un-Subscribed from Mailing or SMS Lists</p>
                <div class="listWrap">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="email_list" name="maillistings">
                        <label class="custom-control-label" for="email_list">Email</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="sms_list" name="maillistings">
                        <label class="custom-control-label" for="sms_list">SMS</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="unsubconts" class="btn btn-primary">Unsubscribe</button>
                <button type="button" class="btn btn-secondary" id="btnCancelUnsubscribe">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Invalidate confirm-->
<div class="modal fade bd-example-modal-sm" id="confirmInvalidate" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Invalidate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseInvalidate">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span class="visitorsCount"></span> Selected Contacts Email-Id will be Invalidated.</p>

            </div>
            <div class="modal-footer">
                <button type="button" id="invalidateCont" class="btn btn-primary" data-dismiss="modal">Invalidate</button>
                <button type="button" class="btn btn-secondary" id="btnCancelInvalidate" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Validate confirm-->
<div class="modal fade bd-example-modal-sm" id="confirmValidate" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Validate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseValidate">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span class="visitorsCount"></span> Selected Contacts Email-Id will be Validated.</p>

            </div>
            <div class="modal-footer">
                <button type="button" id="validateCont" class="btn btn-primary" data-dismiss="modal">Validate</button>
                <button type="button" class="btn btn-secondary" id="btnCancelValidate" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Content/select2/js/select2.full.min.js"></script>*@
<script src="~/js/ManageContact/Contacts.js"></script>
 