@{
    ViewBag.Title = "Plumb5 :: Manage Posts";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";

}
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Manage Posts</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Social</a></li>
            <li class="breadcrumb-item"><a href="#">Facebook</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Posts</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link active" href="javascript:void()">
                    Scheduled
                    Posts
                </a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="/FacebookPage/PublishedPosts">
                    Published
                    Posts
                </a>
            </div>
        </div>
        <div class="facebkdrpdwnwrp">
            <div class="dropdown">
                <button class="btn btn-trans-brd dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fbclntnametxt">Plumb5</span> <i class="fbclientlogo" style="background-image: url('https://www.plumb5.com/favicon.ico')"></i>
                </button>
                <div id="ddlPages" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                </div>
            </div>
        </div>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="showingWrap">
        </div>
        <div class="createBtnWrap mr-3">
            <button type="button" class="btn btn-primary btn-sm openfbpage ContributePermission"><a href="javascript:void(0)">Create Posts</a></button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="tblPost" class="table tbl-td-ta-lft">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-70 m-p-w-300" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        <div class="spacBet">
                                            <div>Post Message</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-30 m-p-w-170" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        <div class="spacBet">
                                            <div>Scheduled for</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData"></tbody>
                        </table>
                    </div>
                </div>
                @*<div class="pagiWrap">
                    <div class="paginItem">
                        <div class="showrowWrap">
                            <label class="rowTxt" for="">Show rows: </label>
                            <select class="rowdropdown" name="" id="">
                                <option value="">10</option>
                                <option value="">25</option>
                                <option value="">50</option>
                                <option value="">100</option>
                                <option value="">1000</option>
                            </select>
                        </div>
                        <div class="pagiarrow">
                            <div class="pagicount">
                                <label class="rowTxt" for="">Go to: </label>
                                <input class="rownumb" type="text" name="" value="10" id="">
                                <label class="rowTxt pl-2" for="">1-15 of 15 </label>
                            </div>
                            <div class="arrowWrap">
                                <div class="arrleft disableDiv">
                                    <i class="icon ion-chevron-left"></i>
                                </div>
                                <div class="arrleft">
                                    <i class="icon ion-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

</section>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Delete
                </button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->

<script src="~/js/FacebookPage/ScheduledPosts.js"></script>

@{ Html.RenderPartial("_CreateFacebookPost"); }

