@{
    ViewBag.Title = "Plumb5 :: Create Landing Page Template";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet" id="ui_sectionTemplateDesign">
    <div class="pageheader">
        <h6 class="pagetitle">Create Landing Page Template</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Web</a></li>
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Landing Page</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Template</li>
        </ol>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="showingWrap">
            <h6 class="grid-title">Select Template</h6>
        </div>
        <div class="upbtnwrap mr-3">
            <button type="button" class="btn btn-primary uploadtemppopup" id="ui_btnUploadTemplate">
                <i class="icon ion-ios-cloud-upload-outline pr-2"></i>Upload Landing Page
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="emailtempwrap mt-4 pl-3 pr-3 mb-3" id="ui_divTempBasic">
                </div>
                <div class="prememailtempWrap mt-5 pl-3 pr-3 mb-3">
                    <h6 class="box-title text-center">Premium email templates</h6>
                    <p class="text-center head-descrp">Create professional marketing emails to send to your contacts without the need for a designer.</p>
                    <div class="premtempitem mt-5" id="ui_divTempPremium">
                        <div class="gallrow mt-3">
                            <div class="card-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sheet hideDiv" id="ui_sectionTemplatePreview">
    <div class="pageheader">
        <h6 class="pagetitle">Demo Template <span id="ui_SampleTemplate"></span></h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Mail</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Templates</a></li>
            <li class="breadcrumb-item active" aria-current="page">Demo Template</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="campaingmaincontainer">
            <div class="container-page-head h-45 pl-0 pr-0">
                <div class="df-ac-sbet pl-3 pr-3 h-100">
                    <div class="backwrap">
                        <button type="button" class="btn bg-trans" id="ui_btnPreviewBack">
                            <i class="icon ion-ios-arrow-back mr-1"></i>Back
                        </button>
                    </div>
                    <div class="usebtnwrp">
                        <button type="button" class="btn btn-primary btn-sm usetemppopup" id="ui_btnPreviewUseThisTemplate" DataTemplateOrder="" DataJsonPath="">
                            Use this template
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-page-body">
                <div class="campaignPrevContainer mt-2">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-md-9 col-lg-9 col-xl-9 order-sm-1 order-md-1">
                            <div class="prevtabcontent">
                                <div class="prevtabcontitem">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 m-p-h m-wid-100">
                                            <div class="mailDeskWrap">
                                                <div class="windowbar"></div>
                                                <div class="mailaddressWrap">
                                                    <p>To: <Span></Span></p>
                                                    <p>From: <Span>Blore Production (bloreproduction@gmai.com)</Span></p>
                                                    <p>Subject: <Span>Blore Production Introduce</Span></p>
                                                </div>
                                                <div class="mailbodyWrap">
                                                    <iframe id="ui_iframeWebTemplate" src="" frameborder="0"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 m-p-h-tab">
                                            <div class="smartphone">
                                                <div class="content">
                                                    <iframe id="ui_iframeMobileTemplate" src="" style="width:100%;border:none;height:100%"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@{
    Html.RenderPartial("_CreateLandingPage");
}

<script src="~/js/Analytics/LandingPageTemplate.js"></script>