@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Manage Roles</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" id="ui_ManageRoles">Manage Roles</li>
        </ol>
    </div>
    <div class="setttabwrap mr-tp-15">
        <div class="setttabitem" data-setttype="tabcontone"><a href="/ManageUsers/Users">Users</a></div>
        <div class="setttabitem active" data-setttype="tabconttwo">Roles</div>
        <div class="setttabitem" data-setttype="tabcontthree"><a href="/ManageUsers/Groups">Groups</a></div>
    </div>
    <div class="settcontainer">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white">
                    <div id="tabconttwo" class="setttabcontainer p-0">
                        <div class="topTabWrap mt-0 border-bottom">
                            <div class="showingWrap">
                            </div>
                            <div class="createBtnsrchWrap mr-2">
                                <div class="searchCampWrap position-relative mr-3">
                                    <input class="form-control" type="text" name="" id="ui_RolesSerach" placeholder="Search by roles name">
                                    <i class="icon ion-android-search serchicon right-8" id="ui_btnRoleName"></i>
                                </div>
                                <button data-tabcont="createrolemod" type="button" class="btn btn-primary btn-sm createrolebtn ContributePermission">
                                    <a href="javascript:void(0);" class="ContributePermission">Create Role</a>
                                </button>
                            </div>
                        </div>
                        <div class="tableWrapper">
                            <div class="table-responsive">
                                <table class="table tbl-td-ta-lft" id="ui_tbRolesDetails">
                                    <thead>
                                        <tr>
                                            <th class="helpIcon td-wid-30 m-p-w-250" scope="col">
                                                <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                <div class="spacBet">
                                                    <div>Role Name</div>
                                                    <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-30 m-p-w-250" scope="col">
                                                <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                <div class="spacBet">
                                                    <div>Role Description</div>
                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-20 m-p-w-170" scope="col">
                                                <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                                <div class="spacBet">
                                                    <div>Created by</div>
                                                    <div class="th-iconWrp"><i class="icon ion-ios-help-outline"></i><div class="toottipWrap"></div></div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="ui_tdbodyRolesData"></tbody>
                                </table>
                            </div>
                        </div>
                        @{
                            Html.RenderPartial("_Paging");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainpaneloverlap hideDiv">
        <div class="container-fluid pt-3">
            <div class="clserolewrp"><i class="fa fa-times"></i></div>
            <div id="createrolemod" class="createrolewrp">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 m-mb-3">
                        <div class="frmwrp">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Role Name*</label>
                                <input type="text" class="form-control" id="ui_inpRoleName">
                            </div>
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Role Description*</label>
                                <textarea name="" class="form-control" id="ui_txtRoleDescription" cols="3" rows="3"></textarea>
                            </div>
                            <div class="btnwrp">
                                <button class="btn btn-primary mr-2" type="button" id="ui_SaveRoleDetails">Save</button>
                                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <div class="tableWrapper">
                            <div id="ui_divUserRoleList" class="table-responsive">
                                <table class="table tbl-td-ta-lft border">
                                    <thead>
                                        <tr>
                                            <th class="td-wid-10 m-p-w-40 m-auto" scope="col"></th>
                                            <th class="td-wid-30 m-p-w-250" scope="col">Modules</th>
                                            <th class="helpIcon td-wid-15 m-p-w-170" scope="col">
                                                View <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">Enables users to only view the application pages.</div>
                                            </th>

                                            <th class="helpIcon td-wid-15 m-p-w-170" scope="col">
                                                Edit <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Enables users to make changes, download &amp; Edit Campaigns,
                                                    templates, etc.
                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-20 m-p-w-170" scope="col">
                                                Content Manager <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Enables users to only Create, Edit, and Manage Campaigns &amp;
                                                    templates.
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="adminmod" name="adminmod">
                                                        <label class="custom-control-label" for="adminmod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="4">Administrator ( access to all Modules)</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="devmod" name="devmod">
                                                        <label class="custom-control-label" for="devmod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="4">Developers ( access to all Modules via API)</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="exportmod" name="exportmod">
                                                        <label class="custom-control-label" for="exportmod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="4">Export ( access to all Modules)</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="maskdatamod" name="maskdatamod">
                                                        <label class="custom-control-label" for="maskdatamod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="4">Mask Data ( access to all Modules)</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Users" name="Contacts">
                                                        <label class="custom-control-label" for="Users"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Manage Users</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Usersview" name="Contactsview">
                                                        <label class="custom-control-label" for="Usersview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Usersedit" name="Contactsedit">
                                                        <label class="custom-control-label" for="Usersedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    @*<div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="Userscontman" name="Contactscontman">
                                                    <label class="custom-control-label" for="Userscontman"></label>
                                                    </div>*@
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Dashboard" name="Dashboard">
                                                        <label class="custom-control-label" for="Dashboard"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Dashboard</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Dashboardview" name="Dashboardview">
                                                        <label class="custom-control-label" for="Dashboardview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Dashboardedit" name="Dashboardedit">
                                                        <label class="custom-control-label" for="Dashboardedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter hideDiv">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Dashboardcontman" name="Dashboardcontman">
                                                        <label class="custom-control-label" for="Dashboardcontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Contacts" name="Contacts">
                                                        <label class="custom-control-label" for="Contacts"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Contacts</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Contactsview" name="Contactsview">
                                                        <label class="custom-control-label" for="Contactsview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Contactsedit" name="Contactsedit">
                                                        <label class="custom-control-label" for="Contactsedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter hideDiv">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="Contactscontman" name="Contactscontman">
                                                        <label class="custom-control-label" for="Contactscontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="WebAnalytics" name="WebAnalytics">
                                                        <label class="custom-control-label" for="WebAnalytics"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Web Analytics</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="WebAnalview" name="WebAnalview">
                                                        <label class="custom-control-label" for="WebAnalview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="WebAnaledit" name="WebAnaledit">
                                                        <label class="custom-control-label" for="WebAnaledit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter hideDiv">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="WebAnalcontman" name="WebAnalcontman">
                                                        <label class="custom-control-label" for="WebAnalcontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="WebEngment" name="WebEngment">
                                                        <label class="custom-control-label" for="WebEngment"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Web Engagement</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="WebEngview" name="WebEngview">
                                                        <label class="custom-control-label" for="WebEngview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="WebEngedit" name="WebEngedit">
                                                        <label class="custom-control-label" for="WebEngedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="WebEngcontman" name="WebEngcontman">
                                                        <label class="custom-control-label" for="WebEngcontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="mobanaltics" name="mobanaltics">
                                                        <label class="custom-control-label" for="mobanaltics"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Mobile Analytics</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="mobanalview" name="mobanalview">
                                                        <label class="custom-control-label" for="mobanalview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="mobanaledit" name="mobanaledit">
                                                        <label class="custom-control-label" for="mobanaledit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter hideDiv">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="mobanalcontman" name="mobanalcontman">
                                                        <label class="custom-control-label" for="mobanalcontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="mobengment" name="mobengment">
                                                        <label class="custom-control-label" for="mobengment"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Mobile Engagement</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="mobengview" name="mobengview">
                                                        <label class="custom-control-label" for="mobengview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="mobengedit" name="mobengedit">
                                                        <label class="custom-control-label" for="mobengedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="mobengecontman" name="mobengecontman">
                                                        <label class="custom-control-label" for="mobengecontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="MobilePushNotificationmod" name="MobilePushNotificationmod">
                                                        <label class="custom-control-label" for="MobilePushNotificationmod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Mobile Push Notification</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="MobilePushNotificationview" name="MobilePushNotificationview">
                                                        <label class="custom-control-label" for="MobilePushNotificationview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="MobilePushNotificationedit" name="MobilePushNotificationedit">
                                                        <label class="custom-control-label" for="MobilePushNotificationedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="MobilePushNotificationcontman" name="MobilePushNotificationcontman">
                                                        <label class="custom-control-label" for="MobilePushNotificationcontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modemail" name="modemail">
                                                        <label class="custom-control-label" for="modemail"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Email</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modemailview" name="modemailview">
                                                        <label class="custom-control-label" for="modemailview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modemailedit" name="modemailedit">
                                                        <label class="custom-control-label" for="modemailedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modemailcontman" name="modemailcontman">
                                                        <label class="custom-control-label" for="modemailcontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modsms" name="modsms">
                                                        <label class="custom-control-label" for="modsms"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>SMS</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modsmsview" name="modsmsview">
                                                        <label class="custom-control-label" for="modsmsview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modsmsedit" name="modsmsedit">
                                                        <label class="custom-control-label" for="modsmsedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modsmscontman" name="modsmscontman">
                                                        <label class="custom-control-label" for="modsmscontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modchat" name="modchat">
                                                        <label class="custom-control-label" for="modchat"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Chat</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modchatview" name="modchatview">
                                                        <label class="custom-control-label" for="modchatview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modchatedit" name="modchatedit">
                                                        <label class="custom-control-label" for="modchatedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="modchatcontaman" name="modchatcontaman">
                                                        <label class="custom-control-label" for="modchatcontaman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="webpushmod" name="webpushmod">
                                                        <label class="custom-control-label" for="webpushmod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Web Push</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="webpushview" name="webpushview">
                                                        <label class="custom-control-label" for="webpushview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="webpushedit" name="webpushedit">
                                                        <label class="custom-control-label" for="webpushedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="webpushcontman" name="webpushcontman">
                                                        <label class="custom-control-label" for="webpushcontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        @*<tr>
                                        <td>
                                        <div class="checkcenter">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="whatsappmod" name="whatsappmod">
                                        <label class="custom-control-label" for="whatsappmod"></label>
                                        </div>
                                        </div>
                                        </td>
                                        <td>Whats App</td>
                                        <td>
                                        <div class="checkcenter">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="whatsappview" name="whatsappview">
                                        <label class="custom-control-label" for="whatsappview"></label>
                                        </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class="checkcenter">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="whatsappedit" name="whatsappedit">
                                        <label class="custom-control-label" for="whatsappedit"></label>
                                        </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class="checkcenter">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="whatsappcontman" name="whatsappcontman">
                                        <label class="custom-control-label" for="whatsappcontman"></label>
                                        </div>
                                        </div>
                                        </td>
                                        </tr>*@
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="leadmanagemod" name="leadmanagemod">
                                                        <label class="custom-control-label" for="leadmanagemod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="groupnamewrap">
                                                    <div class="nameTxtWrap">
                                                        Lead Management
                                                    </div>
                                                    <div class="tdcreatedraft">
                                                        <div class="dropdown">
                                                            @*<i class="icon ion-android-more-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>*@
                                                            <button type="button" class="verticnwrp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="icon ion-android-more-vertical mr-0"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterbycontacts">
                                                                <a class="dropdown-item roleconfig" href="javascript:void(0);" id="ui_aLeadSubRole">Configure</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="leadmanageview" name="leadmanageview">
                                                        <label class="custom-control-label" for="leadmanageview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="leadmanageedit" name="leadmanageedit">
                                                        <label class="custom-control-label" for="leadmanageedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="lmsallsource mr-2">
                                                        <label class="frmlbltxt">Access Group Leads</label>
                                                        <select name="" id="ui_ddlusergroupList" class="form-control">
                                                            <option value="0">Select Group</option>

                                                        </select>
                                                    </div>

                                                    <div class="custom-control custom-checkbox hideDiv">
                                                        <input type="checkbox" class="custom-control-input" id="leadmanagecontman" name="leadmanagecontman">
                                                        <label class="custom-control-label" for="leadmanagecontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="socialmod" name="socialmod">
                                                        <label class="custom-control-label" for="socialmod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Social</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="socialview" name="socialview">
                                                        <label class="custom-control-label" for="socialview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="socialedit" name="socialedit">
                                                        <label class="custom-control-label" for="socialedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter hideDiv">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="socialcontaman" name="socialcontaman">
                                                        <label class="custom-control-label" for="socialcontaman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="workFlowmod" name="workFlowmod">
                                                        <label class="custom-control-label" for="workFlowmod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Work Flow</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="workFlowview" name="workFlowview">
                                                        <label class="custom-control-label" for="workFlowview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="workFlowedit" name="workFlowedit">
                                                        <label class="custom-control-label" for="workFlowedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="workFlowcontaman" name="workFlowcontaman">
                                                        <label class="custom-control-label" for="workFlowcontaman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="advancmod" name="advancmod">
                                                        <label class="custom-control-label" for="advancmod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Segmentation</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="advancview" name="advancview">
                                                        <label class="custom-control-label" for="advancview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="advancedit" name="advancedit">
                                                        <label class="custom-control-label" for="advancedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter hideDiv">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="advanccontman" name="advanccontman">
                                                        <label class="custom-control-label" for="advanccontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="leadscoremod" name="leadscoremod">
                                                        <label class="custom-control-label" for="leadscoremod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Lead Scoring</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="leadscoreview" name="leadscoreview">
                                                        <label class="custom-control-label" for="leadscoreview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="leadscoreedit" name="leadscoreedit">
                                                        <label class="custom-control-label" for="leadscoreedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="leadscorecontman" name="leadscorecontman">
                                                        <label class="custom-control-label" for="leadscorecontman"></label>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="whatsappmod" name="whatsappmod">
                                                        <label class="custom-control-label" for="whatsappmod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Whatsapp</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="whatsappview" name="whatsappview">
                                                        <label class="custom-control-label" for="whatsappview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="whatsappedit" name="whatsappedit">
                                                        <label class="custom-control-label" for="whatsappedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="whatsappcontman" name="whatsappcontman">
                                                        <label class="custom-control-label" for="whatsappcontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customeventsmod" name="customeventsmod">
                                                        <label class="custom-control-label" for="customeventsmod"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Custom Events</td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customeventsview" name="customeventsview">
                                                        <label class="custom-control-label" for="customeventsview"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customeventsedit" name="customeventsedit">
                                                        <label class="custom-control-label" for="customeventsedit"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkcenter">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customeventscontman" name="customeventscontman">
                                                        <label class="custom-control-label" for="customeventscontman"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Role?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<!--Popup window right-->
<div id="ui_divSubRolePopUp" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Configure Feature</h6>
            <i id="ui_iCloseSubRole" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-20">
                <div class="popcontWrap">
                    <div class="tableWrapper bg-white">
                        <div class="table-responsive min-h-100 border border-bottom-0">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="td-wid-10 m-p-w-40" scope="col">
                                            @*<div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input configfeatAll" id="configfeatall"
                                            name="example1">
                                            <label class="custom-control-label" for="configfeatall"></label>
                                            </div>*@
                                        </th>
                                        <th class="td-wid-80 m-p-w-170" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubAddLead" AreaName="Prospect" ControllerName="Leads" ActionName="SaveOrUpdateContact" SubFeatureName="AddLead" />
                                                <label class="custom-control-label" for="ui_chkSubAddLead"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">Create Lead</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubImportLead" AreaName="Prospect" ControllerName="Leads" ActionName="SaveOrUpdateContact" SubFeatureName="ImportLead" />
                                                <label class="custom-control-label" for="ui_chkSubImportLead"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">Import Lead</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubEditLead" AreaName="Prospect" ControllerName="Leads" ActionName="SaveOrUpdateContact" SubFeatureName="EditLead" />
                                                <label class="custom-control-label" for="ui_chkSubEditLead"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">Edit Lead</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubGroupManage" AreaName="Prospect" ControllerName="Leads" ActionName="AddToGroup" SubFeatureName="GroupManage" />
                                                <label class="custom-control-label" for="ui_chkSubGroupManage"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">Add/Remove to Groups</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubAddCustomeFields" AreaName="Prospect" ControllerName="Leads" ActionName="GetContactExtraField" SubFeatureName="AddCustomeFields" />
                                                <label class="custom-control-label" for="ui_chkSubAddCustomeFields"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">Create Custom Fields</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubAddSource" AreaName="Prospect" ControllerName="LeadSource" ActionName="SaveUpdateLmsGroup" SubFeatureName="AddSource" />
                                                <label class="custom-control-label" for="ui_chkSubAddSource"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">Create Source</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubRoleRetainAssignment" AreaName="ManageContact" ControllerName="ContactImport" ActionName="InitiateImport" SubFeatureName="RetainAssignment" />
                                                <label class="custom-control-label" for="ui_chkSubRoleRetainAssignment"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">"Override Assignments" in Leads import</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubRoleRetainSource" AreaName="ManageContact" ControllerName="ContactImport" ActionName="InitiateImport" SubFeatureName="RetainSource" />
                                                <label class="custom-control-label" for="ui_chkSubRoleRetainSource"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">"Override Source" in Leads import</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubSendSms" AreaName="Prospect" ControllerName="Leads" ActionName="PermissiontosendSms" SubFeatureName="SendSms" />
                                                <label class="custom-control-label" for="ui_chkSubSendSms"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">Send Sms</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubSendMail" AreaName="Prospect" ControllerName="Leads" ActionName="PermissiontosendMail" SubFeatureName="SendMail" />
                                                <label class="custom-control-label" for="ui_chkSubSendMail"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">Send Mail</td>
                                    </tr>
                                    @*<tr>
                                    <td class="text-center">
                                    <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubSendWhatsApp" AreaName="Prospect" ControllerName="Leads" ActionName="PermissiontosendWhatsApp" SubFeatureName="SendWhatsApp" />
                                    <label class="custom-control-label" for="ui_chkSubSendWhatsApp"></label>
                                    </div>
                                    </td>
                                    <td class="text-left">Send WhatsApp</td>
                                    </tr>*@
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubMakeaCall" AreaName="Prospect" ControllerName="Leads" ActionName="Permissiontomakeacall" SubFeatureName="MakeaCall" />
                                                <label class="custom-control-label" for="ui_chkSubMakeaCall"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">Make A Call</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input configfeatSelIndiv subPermission" id="ui_chkSubDeleteLead" AreaName="Prospect" ControllerName="Leads" ActionName="DeleteContact" SubFeatureName="DeleteLead" />
                                                <label class="custom-control-label" for="ui_chkSubDeleteLead"></label>
                                            </div>
                                        </td>
                                        <td class="text-left">Delete Lead</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Popup window right-->

<script src="~/js/ManageUsers/Roles.js"></script>