@using Newtonsoft.Json
@using P5GenralML
@using Plumb5GenralFunction
@using Plumb5.Models

@{
    ViewBag.Title = "Plumb5 :: Browser Notification Settings";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<script type="text/javascript">
    var OnlineScriptsUrl = '@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["ONLINESCRIPTSURL"])';
    var MainAccountDomain = '@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["MAINACCOUNTDOMAIN"])';
    var PushMainDomain = '@Convert.ToString(Plumb5GenralFunction.AllConfigURLDetails.KeyValueForConfig["PUSH_MAIN_DOMAIN"])';
</script>
<link rel="stylesheet" href="~/Content/css/toggles-full.css" />
<script src="~/js/jscolor.js"></script>
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Settings</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Web</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Browser Notification</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
    </div>
    <div class="brwnotisettwrp">
        <div class="bwnotioptwrp">
            <div class="bwnotioptitem">
                <div class="bwnotisettoptItem">
                    <h6 class="box-title m-0 p-0 mr-3">Web Push</h6>
                    <div class="subcribeWrap">
                        <div class="toggle-wrapper">
                            <div class="toggle toggle-light success bwsnotifsteptog" style="height: 26px; width: 60px;" id="ui_divWebPushSwitch">
                                <div class="toggle-slide">
                                    <div class="toggle-inner" style="width: 94px; margin-left: 0px;">
                                        <div class="toggle-on active" style="height: 26px; width: 47px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -13px;"></div>
                                        <div class="toggle-off" style="height: 26px; width: 47px; margin-left: -13px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brwnotistepoptwrp hideDiv" id="ui_divWebpushSteps">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="ui_rdbtnWebpushStep1" name="WebpushSteps" value="step1" class="custom-control-input" checked />
                        <label class="custom-control-label" for="ui_rdbtnWebpushStep1">Step:1 <span>Https Only</span></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="ui_rdbtnWebpushStep2" name="WebpushSteps" value="step2" class="custom-control-input" />
                        <label class="custom-control-label" for="ui_rdbtnWebpushStep2">Step:2 <span>Http & Https</span></label>
                    </div>
                </div>
            </div>
            <div class="bwsnotifsavwrp">
                <button type="button" class="btn btn-primary" id="ui_btnSaveSetting">Save</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="bwnotifsettwrp">
                <div id="ui_divWebpushStep1" class="bwsnotifsettstepwrp hideDiv">
                    <div id="bwsnotifsettings" class="accordion-one" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="bwsnotisettheadingTwo">
                                <a class="tx-gray-800 transition collapsed" data-toggle="collapse" data-parent="#bwsnotifsettings" href="#bwsnotisettcollapsetwo" aria-expanded="false" aria-controls="bwsnotisettcollapsetwo">
                                    Configuration
                                </a>
                            </div>
                            <div id="bwsnotisettcollapsetwo" class="collapse" role="tabpanel" aria-labelledby="p5extenheadingTwo" data-parent="#bwsnotifsettings">
                                <div class="card-body">
                                    <div class="bwsnotifonestepconfig">
                                        <div class="bwsnotistepenwrp">
                                            <h6 class="box-title">Steps to Enable</h6>
                                            <div class="stepenblewrp row">
                                                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                    <div class="stepnum">1</div>
                                                </div>
                                                <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
                                                    <p>
                                                        Please make the following changes to the file - 'p5_Sw_Direct.js', Under the root
                                                        directory of your website (create the file if it doesn't exist already). This should
                                                        be publicly accessible.
                                                    </p>
                                                    <p class="font-weight-bold">
                                                        p5_Sw_Direct.js
                                                        <i class="icon ion-android-arrow-down" id="ui_iconDownLoadStep1DirectJs"></i>
                                                    </p>
                                                    <p class="copylink w-50 m-w-100">
                                                        <span id="ui_spanStep1ConfigJsPath"></span>
                                                        <i class="icon ion-ios-copy-outline" id="ui_iconStep1CopyJsText"></i>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="bwsnotisettheadingThree">
                                <a class="tx-gray-800 transition collapsed" data-toggle="collapse" data-parent="#bwsnotifsettings" href="#bwsnotisettcollapsethree" aria-expanded="false" aria-controls="bwsnotisettcollapsethree">
                                    Rules
                                </a>
                            </div>
                            <div id="bwsnotisettcollapsethree" class="collapse" role="tabpanel" aria-labelledby="p5extenheadingThree" data-parent="#bwsnotifsettings">
                                <div class="card-body">
                                    <div class="bwsnotifrulwrp">
                                        <div class="w-100">
                                            <div class="row mb-4">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Show On</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="bwsnotishowwrp">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="ui_rdbtnStep1RuleShowAllPage" name="Step1RuleShowPage" value="allpages" class="custom-control-input" checked />
                                                            <label class="custom-control-label" for="ui_rdbtnStep1RuleShowAllPage">All Pages</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="ui_rdbtnStep1RuleShowSpecificPage" name="Step1RuleShowPage" value="specificpage" class="custom-control-input" />
                                                            <label class="custom-control-label" for="ui_rdbtnStep1RuleShowSpecificPage">Specific Pages</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bwsnotispecpagewrp mb-4 hideDiv" id="ui_divStep1RuleShowSpecificPage">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                        <label class="frmlbltxt">Page URL</label>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                        <textarea placeholder="https://www.plumb5.com, https://www.plumb5.com/index.html" class="form-control" id="ui_txtStep1RuleShowSpecificPageUrls" cols="30" rows="3" maxlength="500"></textarea>
                                                        <small class="text-muted">Add URL Comma Seperated</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left df-flex-end m-df-flex-start">
                                                    <label class="frmlbltxt">Time Delay</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="bwsnotioptinwrp mb-4">
                                                        <div class="bwsnotioptwrp">
                                                            <div class="bwsnotiopttext mr-3 frmlbltxt">Show Opt-In prompt only after</div>
                                                            <div class="brwnotisecwrp w-60px mr-2">
                                                                <input type="number" min="0" class="form-control form-control-sm" id="ui_txtStep1RuleShowOptInDelay" value="0" />
                                                            </div>
                                                            <div class="brwnotisectext">Seconds</div>
                                                        </div>
                                                    </div>
                                                    <div class="bwsnotioptinwrp">
                                                        <div class="bwsnotioptwrp">
                                                            <div class="bwsnotiopttext mr-3 frmlbltxt">Hide opt-in prompt after</div>
                                                            <div class="brwnotisecwrp w-60px mr-2">
                                                                <input type="number" min="0" class="form-control form-control-sm" id="ui_txtStep1RuleHideOptInDelay" value="15" />
                                                            </div>
                                                            <div class="frmlbltxt">Seconds</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Show Opt-In Prompt</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="bwsnotishowwrp">
                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input" id="ui_chkBoxStep1RuleShowOptInPromptDesktop" checked />
                                                            <label class="custom-control-label" for="ui_chkBoxStep1RuleShowOptInPromptDesktop">Desktop</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input" id="ui_chkBoxStep1RuleShowOptInPromptMobile" checked />
                                                            <label class="custom-control-label" for="ui_chkBoxStep1RuleShowOptInPromptMobile">Mobile</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    Send Notification
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" id="ui_chkBoxStep1RuleSendNotificationToLastDevice" checked />
                                                        <label class="custom-control-label" for="ui_chkBoxStep1RuleSendNotificationToLastDevice">Send notification to last accessed device only</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bwsnotisendexcludwrp mb-4">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                        <label class="frmlbltxt">Exclude Pages</label>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                        <textarea placeholder="https://www.plumb5.com, https://www.plumb5.com/index.html" class="form-control" id="ui_txtStep1RuleExcludePageUrls" cols="30" rows="3" maxlength="500"></textarea>
                                                        <small class="text-muted">Add URL Comma Seperated</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bwsnotisendexcludwrp mb-4">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                        <label class="frmlbltxt">Auto Assign to Group</label>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                        <select class="form-control addCampName form-control-sm addgroupselect w-45" data-placeholder="Add to Group" id="ui_selectGroupsList1">
                                                            <option value="0">Group Name</option>
                                                        </select>
                                                    </div>

                                                    <div style="margin-top: 10px;" class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                        <label class="frmlbltxt">And</label>
                                                    </div>
                                                    <div style="margin-top: 10px;" class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                        <div class="lmsrepfildanswrp" id="dvConditionalAssignGroup">
                                                            <div class="row position-relative">

                                                                <div class="col-sm-5">
                                                                    <div class="form-group">
                                                                        <label for="" class="frmlbltxt">Subscription URL</label>
                                                                        <input type="text" name="" class="form-control form-control-sm frmlbltxtvalue" id="ui_AssignGroupUrl_1">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <div class="form-group">
                                                                        <label class="frmlbltxt" for="">Group</label>

                                                                        <select class="form-control form-control-sm notspecificbtn select2 ddlassignGroup" id="ui_ddl_UrlAssignGroup_1">
                                                                            <option value="0">Group Name</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <span style="width: 35px;">&nbsp;</span>
                                                            </div>

                                                            <div class="divUrlAssignGroup"></div>
                                                            <button id="addAssignGroup" type="button" class="btn btn-primary">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="bwsnotisettheadingone">
                                <a data-toggle="collapse" data-parent="#bwsnotifsettings" href="#bwsnotisettcollapseone" aria-expanded="true" aria-controls="bwsnotisettcollapseone" class="tx-gray-800 transition collapsed">
                                    Welcome Message <span class="font-11">( Optional )</span>
                                </a>
                            </div>
                            <div id="bwsnotisettcollapseone" class="collapse" role="tabpanel" aria-labelledby="bwsnotisettheadingone" data-parent="#bwsnotifsettings">
                                <div class="card-body">
                                    <div class="bwsnotiwelwrp">
                                        <div class="w-75">
                                            <div class="row mb-3">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Title</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <input type="text" class="form-control" id="ui_txtStep1WelcomeMessageTitle" maxlength="200" />
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Welcome Message</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <textarea placeholder="Welcome to our website" class="form-control" id="ui_txtStep1WelcomeMessageText" cols="30" rows="3" maxlength="500"></textarea>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Icon Image</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="bwsnotifupldwrp">
                                                        <button type="button" class="btn btn-second upldbtn">Upload</button>
                                                        <input type="file" id="ui_fileStep1WelcomeMessageIconUpload" class="chosefile" accept=".jpeg,.jpg,.png,.JPEG,.JPG,.PNG" />
                                                    </div>
                                                    <div class="brwsnotitext">
                                                        <p class="brwsfilewelname hideDiv" id="ui_pStep1WelcomeMessageIcon">
                                                            <span class="appndwelfile" id="ui_spanStep1WelcomeMessageIconName"></span>
                                                            <span class="brwsfilewelremove">
                                                                <i class="icon ion-ios-close-outline" id="ui_iconStep1WelcomeMessageIconClose"></i>
                                                            </span>
                                                        </p>
                                                        <small class="form-text">
                                                            Recommended dimension 192px X 192px. Only JPG, JPEG, and PNG format. Less than 1MB in size.
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">On-Click Action</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <input type="text" placeholder="https://www.example.com" class="form-control" id="ui_iconStep1WelcomeMessageIconClickUrl" maxlength="500" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ui_divWebpushStep2" class="bwsnotifsettstepwrp hideDiv">
                    <div class="bwsnotihttpwrp">
                        <div class="bwsnotihttpItem active" id="ui_divStep2Http">Http</div>
                        <div class="bwsnotihttpItem" id="ui_divStep2Https">Https</div>
                    </div>
                    <div id="bwsnotifsettingstwo" class="accordion-one" role="tablist" aria-multiselectable="true">
                        <div id="ui_divAccordian1" class="card">
                            <div class="card-header" role="tab" id="bwsnotisettheadingTwostep2">
                                <a class="tx-gray-800 transition collapsed" data-toggle="collapse" data-parent="#bwsnotifsettingstwo" href="#bwsnotisettconfigstep2" aria-expanded="false" aria-controls="bwsnotisettconfigstep2">
                                    Configuration
                                </a>
                            </div>
                            <div id="bwsnotisettconfigstep2" class="collapse" role="tabpanel" aria-labelledby="p5extenheadingTwo" data-parent="#bwsnotifsettingstwo">
                                <div class="card-body">
                                    <div class="bwsnotifonestepconfig mt-5">
                                        <div class="row mb-4">
                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                <label class="frmlbltxt">Sub Domain</label>
                                            </div>
                                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                <div class="txtbxwithtxtwrp">
                                                    <div class="txtbxwrp">
                                                        <input type="text" class="form-control disableDiv" id="ui_txtStep2SubDomain" />
                                                    </div>
                                                    <div class="txtbxtext pl-1" id="ui_divStep2Domain"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-header" role="tab" id="bwsnotisettheadingTwostep2https">
                                <a class="tx-gray-800 transition collapsed" data-toggle="collapse" data-parent="#bwsnotifsettingstwo" href="#bwsnotisettconfigstep2https" aria-expanded="false" aria-controls="bwsnotisettconfigstep2https">
                                    Configuration
                                </a>
                            </div>
                            <div id="bwsnotisettconfigstep2https" class="collapse" role="tabpanel" aria-labelledby="p5extenheadingTwo" data-parent="#bwsnotifsettings">
                                <div class="card-body">
                                    <div class="bwsnotifonestepconfig">
                                        <div class="bwsnotistepenwrp">
                                            <h6 class="box-title">Steps to Enable</h6>
                                            <div class="stepenblewrp row">
                                                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                    <div class="stepnum">1</div>
                                                </div>
                                                <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
                                                    <p>
                                                        Please make the following changes to the file - 'p5_Sw_Direct.js', Under the root
                                                        directory of your website (create the file if it doesn't exist already). This should
                                                        be publicly accessible.
                                                    </p>
                                                    <p class="font-weight-bold">
                                                        p5_Sw_Direct.js
                                                        <i class="icon ion-android-arrow-down" id="ui_iconDownLoadStep1DirectJs"></i>
                                                    </p>
                                                    <p class="copylink w-50 m-w-100">
                                                        <span id="ui_spanStep1ConfigJsPathHttps"></span>
                                                        <i class="icon ion-ios-copy-outline" id="ui_iconStep2CopyJsText"></i>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="ui_divAccordian2" class="card">
                            <div class="card-header" role="tab" id="bwsnotisettheadingfour">
                                <a class="tx-gray-800 transition collapsed" data-toggle="collapse" data-parent="#bwsnotifsettingstwo" href="#bwsnotisettcollapsefour" aria-expanded="false" aria-controls="bwsnotisettcollapsefour">
                                    Notification Settings
                                </a>
                            </div>
                            <div id="bwsnotisettcollapsefour" class="collapse" role="tabpanel" aria-labelledby="p5extenheadingfive" data-parent="#bwsnotifsettingstwo">
                                <div class="card-body">
                                    <div class="bwsnotificationsettwrp">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                <div class="form-group">
                                                    <label class="frmlbltxt" for="ui_ddlStep2NotificationOptInPromptType">Opt-in Prompt Type</label>
                                                    <select class="form-control" id="ui_ddlStep2NotificationOptInPromptType">
                                                        <option selected value="BOX">Box</option>
                                                        <option value="BELL">Bell</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="frmlbltxt" for="ui_ddlStep2NotificationOptInPosition">Position</label>
                                                    <select class="form-control" id="ui_ddlStep2NotificationOptInPosition">
                                                        <option value="BOTTOM-LEFT">Bottom Left</option>
                                                        <option value="BOTTOM-RIGHT">Bottom Right</option>
                                                        <option selected value="TOP-LEFT">Top Left</option>
                                                        <option value="TOP-MIDDLE">Top Middle</option>
                                                        <option value="TOP-RIGHT">Top Right</option>
                                                    </select>
                                                </div>
                                                <div class="form-group bwsnotimessgfield">
                                                    <label class="frmlbltxt">Message</label>
                                                    <textarea class="form-control" id="ui_txtStep2NotificationOptInMessage" cols="30" rows="3" maxlength="500">www.example.com wants to start sending you push notifications. Click Allow to subcribe.</textarea>
                                                </div>
                                                <div class="form-group bwsnotiallowbtnfild">
                                                    <label class="frmlbltxt">Allow Button Text</label>
                                                    <input type="text" maxlength="32" class="form-control" id="ui_txtStep2NotificationOptInAllowButtonText" value="Allow" />
                                                    <small class="form-text text-muted">Recommended maximum length 32</small>
                                                </div>
                                                <div class="form-group bwsnotidntallowbtnfild">
                                                    <label class="frmlbltxt">Don't Allow Button Text</label>
                                                    <input type="text" maxlength="32" class="form-control" value="Will do this later" id="ui_txtStep2NotificationOptInNotAllowButtonText" />
                                                    <small class="form-text text-muted">Recommended maximum length 32</small>
                                                </div>
                                                <div class="bwscolwrp">
                                                    <div class="row mb-2">
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <div class="form-group">
                                                                <label class="frmlbltxt">Body Background Color</label>
                                                                <input type="text" data-jscolor="" value="29A5F2" class="form-control" id="ui_txtStep2NotificationOptInBodyBackgoundColor" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <div class="form-group">
                                                                <label class="frmlbltxt">Body Text Color / Bell</label>
                                                                <input type="text" class="form-control" data-jscolor="" value="ffffff" id="ui_txtStep2NotificationOptInBodyTextColor" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <div class="form-group">
                                                                <label class="frmlbltxt">BTN Background Color</label>
                                                                <input type="text" data-jscolor="" value="30BBF2" class="form-control" id="ui_txtStep2NotificationOptInButtonBackgroundColor" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <div class="form-group">
                                                                <label class="frmlbltxt">BTN Text Color</label>
                                                                <input type="text" class="form-control" data-jscolor="" value="ffffff" id="ui_txtStep2NotificationOptInButtonTextColor" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl">
                                                <div class="bwsnotibwsprevwrp">
                                                    <div class="bwsnotibwstabwrp">
                                                        <div class="bwsnotibwstab">
                                                            <div class="bwstabwrp">
                                                                <div class="bwsprevtext">Preview Template</div>
                                                                <div class="clswrp"><i class="icon ion-android-close"></i></div>
                                                            </div>
                                                        </div>
                                                        <div class="bwsurlspacwrp">
                                                            <div class="bwsurlspacitem">
                                                                <div class="bwrarrowlet mr-3">
                                                                    <i class="icon ion-android-arrow-back"></i>
                                                                </div>
                                                                <div class="bwrarrowlet mr-3">
                                                                    <i class="icon ion-android-arrow-forward"></i>
                                                                </div>
                                                                <div class="bwrarrowlet mr-3">
                                                                    <i class="icon ion-android-refresh"></i>
                                                                </div>
                                                                <div class="bwsurlbx mr-3"></div>
                                                                <div class="bwsvertiec">
                                                                    <i class="icon ion-android-more-vertical"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bwsnotifprevbody">
                                                        <div id="ui_divNotificationPreviewBox" class="bwsnotifboxwrp top-left hideDiv">
                                                            <div class="bwsnotiboxitem">
                                                                <p class="bwsnotiboxcontent" id="ui_pNotificationPreviewBoxMessage"></p>
                                                                <div class="bwsnotiboxbtnw">
                                                                    <button type="button" id="ui_btnNotificationPreviewBoxAllow" class="btn btn-trans btn-transtext">Will do this later</button>
                                                                    <button type="button" id="ui_btnNotificationPreviewBoxNotAllow" class="btn btn-trans btn-transtext">Allow</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="ui_divNotificationPreviewBell" class="bwsnotifbellwrp top-left hideDiv">
                                                            <div class="bwsnotifbellitem">
                                                                <i class="icon ion-ios-bell"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ui_divAccordian3" class="card">
                            <div class="card-header" role="tab" id="bwsnotisettheadingfive">
                                <a class="tx-gray-800 transition collapsed" data-toggle="collapse" data-parent="#bwsnotifsettingstwo" href="#bwsnotisettcollapsefive" aria-expanded="false" aria-controls="bwsnotisettcollapsefive">
                                    Native Browser Prompt for Opt-In
                                </a>
                            </div>
                            <div id="bwsnotisettcollapsefive" class="collapse" role="tabpanel" aria-labelledby="p5extenheadingThree" data-parent="#bwsnotifsettingstwo">
                                <div class="card-body">
                                    <div class="bwsnotifnativwrap">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                <div class="form-group">
                                                    <label class="frmlbltxt">Message</label>
                                                    <textarea class="form-control" id="ui_txtStep2NativeOptInMessage" cols="30" rows="3" maxlength="500">www.example.com wants to start sending you push notifications. Click Allow to subcribe.</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="frmlbltxt">Icon</label>
                                                    <div class="bwsernotiicnwrp position-relative">
                                                        <div class="bwsnotifupldwrp">
                                                            <button type="button" class="btn btn-second upldbtn">Upload</button>
                                                            <input type="file" id="ui_fileStep2NativeOptInIconUpload" class="chosefile" accept=".jpeg,.jpg,.png,.JPEG,.JPG,.PNG" />
                                                        </div>
                                                        <div class="brwsnotitext">
                                                            <p class="brwsfilewelname hideDiv" id="ui_pStep2NativeOptInIcon">
                                                                <span class="appndwelfile" id="ui_spanStep2NativeOptInIconName"></span>
                                                                <span class="brwsfilewelremove">
                                                                    <i class="icon ion-ios-close-outline" id="ui_iconStep2NativeOptInIconClose"></i>
                                                                </span>
                                                            </p>
                                                            <small class="form-text">
                                                                Recommended dimension 192px X 192px. Only JPG, JPEG, and PNG format. Less than 1MB in size.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bwscolwrp">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <div class="form-group">
                                                                <label class="frmlbltxt">Background Color</label>
                                                                <input type="text" data-jscolor="" value="4662D4" class="form-control" id="ui_txtStep2NativeOptInBackgoundColor" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <div class="form-group">
                                                                <label class="frmlbltxt">Text Color</label>
                                                                <input type="text" class="form-control" data-jscolor="" value="fafafa" id="ui_txtStep2NativeOptInTextColor" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl">
                                                <div class="bwsnotibwsprevwrp">
                                                    <div class="bwsnotibwstabwrp">
                                                        <div class="bwsnotibwstab">
                                                            <div class="bwstabwrp">
                                                                <div class="bwsprevtext">Preview Template</div>
                                                                <div class="clswrp">
                                                                    <i class="icon ion-android-close"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bwsurlspacwrp">
                                                            <div class="bwsurlspacitem">
                                                                <div class="bwrarrowlet mr-3">
                                                                    <i class="icon ion-android-arrow-back"></i>
                                                                </div>
                                                                <div class="bwrarrowlet mr-3">
                                                                    <i class="icon ion-android-arrow-forward"></i>
                                                                </div>
                                                                <div class="bwrarrowlet mr-3">
                                                                    <i class="icon ion-android-refresh"></i>
                                                                </div>
                                                                <div class="bwsurlbx mr-3"></div>
                                                                <div class="bwsvertiec">
                                                                    <i class="icon ion-android-more-vertical"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bwsnotifprevbody h-350">
                                                        <div class="bwsnotifnativbody" id="ui_divNativePreviewBody">
                                                            <div class="bwsnotiftextwrp">
                                                                <div class="brwsnotifbellicon">
                                                                    @*<i class="icon ion-ios-bell"></i>*@
                                                                    <img id="imgbrwsnotifbellicon" height="80px" src="~/Content/images/notification-bell.png" />
                                                                </div>
                                                                <p class="bwsnotifnativtext" id="ui_pNativePreviewMessage"></p>
                                                            </div>
                                                            <div class="brwsnotidefltwrp">
                                                                <div class="bwsnotidefltItem">
                                                                    <div class="bwsnotidefclse">
                                                                        <i class="icon ion-android-close"></i>
                                                                    </div>
                                                                    <div class="bwsnotifurlwrp" id="ui_divNativePreviewDomain"></div>
                                                                    <div class="bwsnotibellshowwrp pt-2">
                                                                        <i class="icon ion-ios-bell font-18"></i> Show Notifications
                                                                    </div>
                                                                    <div class="bwsnotifdefbtnwrp">
                                                                        <button type="button" class="btn btn-white mr-2">Allow</button>
                                                                        <button type="button" class="btn btn-white">Block</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ui_divAccordian4" class="card">
                            <div class="card-header" role="tab" id="bwsnotisettheadingThree">
                                <a class="tx-gray-800 transition collapsed" data-toggle="collapse" data-parent="#bwsnotifsettingstwo" href="#bwsnotisettrulstep2" aria-expanded="false" aria-controls="bwsnotisettrulstep2">
                                    Rules
                                </a>
                            </div>
                            <div id="bwsnotisettrulstep2" class="collapse" role="tabpanel" aria-labelledby="p5extenheadingThree" data-parent="#bwsnotifsettingstwo">
                                <div class="card-body">
                                    <div class="bwsnotifrulwrp">
                                        <div class="w-100">
                                            <div class="row mb-4">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Show On</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="bwsnotishowwrp">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="ui_rdbtnStep2RuleShowAllPage" name="Step2RuleShowPage" value="allpages" class="custom-control-input" checked />
                                                            <label class="custom-control-label" for="ui_rdbtnStep2RuleShowAllPage">All Pages</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="ui_rdbtnStep2RuleShowSpecificPage" name="Step2RuleShowPage" value="specificpage" class="custom-control-input" />
                                                            <label class="custom-control-label" for="ui_rdbtnStep2RuleShowSpecificPage">Specific Pages</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bwsnotispecpagewrp mb-4 hideDiv" id="ui_divStep2RuleShowSpecificPage">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                        <label class="frmlbltxt">Page URL</label>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                        <textarea placeholder="https://www.plumb5.com, https://www.plumb5.com/index.html" class="form-control" id="ui_txtStep2RuleShowSpecificPageUrls" cols="30" rows="3" maxlength="500"></textarea>
                                                        <small class="text-muted">Add URL Comma Seperated</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left df-flex-end m-df-flex-start">
                                                    <label class="frmlbltxt">Time Delay</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="bwsnotioptinwrp mb-4">
                                                        <div class="bwsnotioptwrp">
                                                            <div class="bwsnotiopttext mr-3 frmlbltxt">Show Opt-In prompt only after</div>
                                                            <div class="brwnotisecwrp w-60px mr-2">
                                                                <input type="number" min="0" class="form-control form-control-sm" id="ui_txtStep2RuleShowOptInDelay" value="0" />
                                                            </div>
                                                            <div class="brwnotisectext">Seconds</div>
                                                        </div>
                                                    </div>
                                                    <div class="bwsnotioptinwrp">
                                                        <div class="bwsnotioptwrp">
                                                            <div class="bwsnotiopttext mr-3 frmlbltxt">Hide opt-in prompt after</div>
                                                            <div class="brwnotisecwrp w-60px mr-2">
                                                                <input type="number" min="0" class="form-control form-control-sm" id="ui_txtStep2RuleHideOptInDelay" value="15" />
                                                            </div>
                                                            <div class="frmlbltxt">Seconds</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Show Opt-In Prompt</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="bwsnotishowwrp">
                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input" id="ui_chkBoxStep2RuleShowOptInPromptDesktop" checked />
                                                            <label class="custom-control-label" for="ui_chkBoxStep2RuleShowOptInPromptDesktop">Desktop</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input" id="ui_chkBoxStep2RuleShowOptInPromptMobile" checked />
                                                            <label class="custom-control-label" for="ui_chkBoxStep2RuleShowOptInPromptMobile">Mobile</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    Send Notification
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" id="ui_chkBoxStep2RuleSendNotificationToLastDevice" checked />
                                                        <label class="custom-control-label" for="ui_chkBoxStep2RuleSendNotificationToLastDevice">Send notification to last accessed device only</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bwsnotisendexcludwrp mb-4">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                        <label class="frmlbltxt">Exclude Pages</label>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                        <textarea placeholder="https://www.plumb5.com, https://www.plumb5.com/index.html" class="form-control" id="ui_txtStep2RuleExcludePageUrls" cols="30" rows="3" maxlength="500"></textarea>
                                                        <small class="text-muted">Add URL Comma Seperated</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bwsnotisendexcludwrp mb-4">
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                        <label class="frmlbltxt">Auto Assign to Group</label>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                        <select class="form-control form-control-sm addgroupselect w-45" data-placeholder="Add to Group" id="ui_selectGroupsList2">
                                                            <option value="0">Group Name</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ui_divAccordian5" class="card">
                            <div class="card-header" role="tab" id="bwsnotisettstep2">
                                <a data-toggle="collapse" data-parent="#bwsnotifsettingstwo" href="#bwsnotisettcollapseonestep2" aria-expanded="true" aria-controls="bwsnotisettcollapseonestep2" class="tx-gray-800 transition collapsed">
                                    Welcome Message <span class="font-11">( Optional )</span>
                                </a>
                            </div>
                            <div id="bwsnotisettcollapseonestep2" class="collapse" role="tabpanel" aria-labelledby="bwsnotisettheadingone" data-parent="#bwsnotifsettingstwo">
                                <div class="card-body">
                                    <div class="bwsnotiwelwrp">
                                        <div class="w-75">
                                            <div class="row mb-3">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Title</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <input type="text" class="form-control" id="ui_txtStep2WelcomeMessageTitle" maxlength="200" />
                                                    <small class="form-text text-muted">Recommended maximum length 32 characters current count <span class="bnottitle">32</span></small>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Welcome Message</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <textarea placeholder="Welcome to our website" class="form-control" id="ui_txtStep2WelcomeMessageText" cols="30" rows="3" maxlength="500"></textarea>
                                                    <small class="form-text text-muted">Recommended maximum length 160 characters current count <span class="bwnotmess">24</span></small>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">Icon Image</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="bwsnotifupldwrp">
                                                        <button type="button" class="btn btn-second upldbtn">Upload</button>
                                                        <input type="file" id="ui_fileStep2WelcomeMessageIconUpload" class="chosefile" accept=".jpeg,.jpg,.png,.JPEG,.JPG,.PNG" />
                                                    </div>
                                                    <div class="brwsnotitext">
                                                        <p class="brwsfilewelname hideDiv" id="ui_pStep2WelcomeMessageIcon">
                                                            <span class="appndwelfile" id="ui_spanStep2WelcomeMessageIconName"></span>
                                                            <span class="brwsfilewelremove">
                                                                <i class="icon ion-ios-close-outline" id="ui_iconStep2WelcomeMessageIconClose"></i>
                                                            </span>
                                                        </p>
                                                        <small class="form-text">
                                                            Recommended dimension 192px X 192px. Only JPG, JPEG, and PNG format. Less than 1MB in size.
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right m-text-left">
                                                    <label class="frmlbltxt">On-Click Action</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                    <input type="text" placeholder="https://www.example.com" class="form-control" id="ui_iconStep2WelcomeMessageIconClickUrl" maxlength="500" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/toggles.min.js"></script>
<script src="~/js/WebPush/Setting.js"></script>