@{
    ViewBag.Title = "Revenue Channels";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Revenue Channels</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Advanced</a></li>
            <li class="breadcrumb-item active" aria-current="page">Revenue Channels</li>
        </ol>
    </div>

    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem"><a class="tap-nav-link" href="/Revenue/RevenueDashboard"><i class="fa fa-inr font-16 pr-2"></i> Revenue</a></div>
            <div class="tabItem"><a class="tap-nav-link active" href="javascript:void(0)"><i class="icon ion-load-b font-16 pr-2"></i> Channels</a></div>
        </div>
        <div class="iconsWrap">
            @{
                Html.RenderPartial("_Export");
            }
            <a href="/Revenue/RevenueSettings" class="btn btn-primary mr-2">
                Settings <i class="fa fa-cog"></i>
            </a>
        </div>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap border-bottom">
            <div class="showingWrap pt-2 pb-2">
                @{
                    Html.RenderPartial("_PageHeadingWithDate");
                }
            </div>
            <div class="iconsWrap-docu">
                <div class="emailtempdropdown d-flex mr-2">
                    <select class="form-control mr-2 addCampName mr-2" id="ui_CustomEventsName">
                        <option value="0" selected>Select EventName</option>
                    </select>
                    <select class="form-control ml-2" id="ui_RevenueOrTransaction">
                        <option value="Revenue" selected>Revenue</option>
                        <option value="Transaction">Transaction</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="charteeWrap position-relative h-350">
            <canvas id="sessionsData"></canvas>
        </div>
    </div>
</section>
<section class="sheet mt-3 mb-3">
    <div class="row m-gut">
        <div data-tabcontId="revchanneldirect" class="col-sm-6 col-5-col-md col-5-col-lg col-5-col-xl p-gut channeltab active" id="ui_channelDirect">
            <div class="border bg-white text-center">
                <h6 class="pt-4 font-14 text-color-queued font-weight-normal">Direct/Upload</h6>
                <h2 class="revenuecur pb-2" id="ui_directchannelCount"><i class="fa fa-inr"></i>0</h2>
            </div>
        </div>
        <div data-tabcontId="revenuechannelpush" class="col-sm-6 col-5-col-md col-5-col-lg col-5-col-xl p-gut channeltab" id="ui_channelPush">
            <div class="border bg-white text-center">
                <h6 class="pt-4 font-14 text-color-queued font-weight-normal">Push</h6>
                <h2 class="revenuecur pb-2" id="ui_PushchannelCount"><i class="fa fa-inr"></i>0</h2>
            </div>
        </div>
        <div data-tabcontId="revenuechannelemail" class="col-sm-6 col-5-col-md col-5-col-lg col-5-col-xl p-gut channeltab" id="ui_channelEmail">
            <div class="border bg-white text-center">
                <h6 class="pt-4 font-14 text-color-queued font-weight-normal">Email</h6>
                <h2 class="revenuecur pb-2" id="ui_EmailchannelCount"><i class="fa fa-inr"></i>0</h2>
            </div>
        </div>
        <div data-tabcontId="revenuechannelsms" class="col-sm-6 col-5-col-md col-5-col-lg col-5-col-xl p-gut channeltab" id="ui_channelSms">
            <div class="border bg-white text-center">
                <h6 class="pt-4 font-14 text-color-queued font-weight-normal channeltab">SMS</h6>
                <h2 class="revenuecur pb-2" id="ui_SmschannelCount"><i class="fa fa-inr"></i>0</h2>
            </div>
        </div>
        <div data-tabcontId="revenuechannelwhatsapp" class="col-sm-6 col-5-col-md col-5-col-lg col-5-col-xl p-gut channeltab" id="ui_channelWhatsapp">
            <div class="border bg-white text-center">
                <h6 class="pt-4 font-14 text-color-queued font-weight-normal">WhatsApp</h6>
                <h2 class="revenuecur pb-2" id="ui_WhatsappchannelCount"><i class="fa fa-inr"></i>0</h2>
            </div>
        </div>
    </div>
</section>
<section class="sheet">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div id="revchanneldirect" class="revchanneltabcont">
                <div class="box-white">
                    <div class="tableWrapper">
                        <div class="table-responsive min-h-300">
                            <table class="table tbl-td-ta-lft mb-0" id="ui_tableReport">
                                <thead id="ui_tbRevenueHeader">
                                    <tr>
                                        <th scope="col" class="helpIcon m-p-w-120 td-wid-50">
                                            <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Campaign Name <i class="icon ion-ios-help-outline"></i>
                                            <div class="toottipWrap">
                                                Campaign Name
                                            </div>
                                        </th>
                                        <th class="helpIcon m-p-w-120 td-wid-25" scope="col">
                                            <div class="sortWrap">
                                                <i class="icon ion-arrow-down-c addColor"></i>
                                            </div>
                                            <span id="ui_changetextRevenue">Revenue Generated</span>
                                            <span id="ui_BindRevenueRupees"></span> <i class="icon ion-ios-help-outline"></i>
                                            <div class="toottipWrap" id="ui_changetextRevenuetooltip">
                                                Revenue Generated
                                            </div>
                                        </th>
                                        <th class="helpIcon m-p-w-140 td-wid-25" scope="col" id="ui_useraverage">
                                            <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Avg revenue per user <span id="ui_BindUserRupees"></span> <i class="icon ion-ios-help-outline"></i>
                                            <div class="toottipWrap">
                                                Avg revenue per user
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ui_tbodyReportData">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @{
                        Html.RenderPartial("_Paging");
                    }
                </div>
            </div>
        </div>
    </div>

</section>
<script src="~/js/Revenue/RevenueChannels.js"></script>
