@{
    ViewBag.Title = "Plumb5 :: Stage Settings";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<link rel="stylesheet" href="~/Content/select2/css/select2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Settings</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Lead Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
    </div>
    <div class="setttabwrap mr-tp-15">
        <div class="setttabitem active" data-setttype="javascript:void(0);"><a href="javascript:void(0);">Stages</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/InactiveNotification">In-Activity Notification</a></div>
        @*<div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/NotificationRules">Notification Rules</a></div>*@
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/AgentNotification">Lead Notification</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/Settings/AlertNotification">Alert Notification</a></div>
        @*<div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/LeadAssignNotificationSetting">Lead Assignment Agent Notification</a></div>*@
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/CallSettings">Call Settings</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/LeadProperties">Lead Properties</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/AdvancedSettings/">Advanced Settings</a></div>
    </div>
    <div class="settcontainer">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white">
                    <div id="stages" class="setttabcontainer p-0">
                        <div class="embtnwrap">
                            <button type="button" class="btn btn-primary btn-sm lmsaddstage">
                                <i class="ion ion-plus-round font-12 mr-1"></i> Add Stage
                            </button>
                        </div>
                        <div class="tableWrapper tbl-settings">
                            <div class="table-responsive">
                                <table class="table tbl-td-ta-lft" id="ui_tableReport">
                                    <thead>
                                        <tr>
                                            <th class="helpIcon td-wid-10 m-p-w-170" scope="col">
                                                <div class="spacBet">
                                                    <div>Stage Score</div>
                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-40 m-p-w-150" scope="col">
                                                <div class="spacBet">
                                                    <div>Stage Name</div>
                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-30 m-p-w-150" scope="col">
                                                <div class="spacBet">
                                                    <div>Stage Color</div>

                                                </div>
                                            </th>
                                            <th class="helpIcon td-wid-10 m-p-w-120" scope="col">
                                                Edit
                                            </th>
                                            <th class="helpIcon td-wid-10 m-p-w-120" scope="col">
                                                Delete
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="ui_tbodyReportData">
                                    </tbody>
                                </table>
                                <div class="h-70"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Delete Confirm Modal-->
<div class="modal fade" id="deleterow" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Group?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Delete
                </button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<!--Popup window right-->
<div class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Add Stage</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-20">
                <div class="lmsaddrulepopupwrp hideDiv">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label class="frmlbltxt">Stage Name</label>
                                <input type="text" class="form-control" id="ui_txtStageName" maxlength="48" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label class="frmlbltxt">Stage Score</label>
                                <input type="text" class="form-control" id="ui_txtStageScore" onkeypress="return onlyNumbers(event);" maxlength="3" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label class="frmlbltxt">Stage Color</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control jscolor" value="#1b84e7" name="" id="ui_txtStageColor">
                                    <div class="lmsstagecolprev"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label class="frmlbltxt">Stage User Group Visibilty</label>
                                <div class="lmsquickfilterwrp">
                                    <div class="lmssourcefilterwrp">
                                        <div class="lmsdrpdwnsel">
                                            <select class="form-control select2drpdwnbrd" data-live-search="true" multiple id="drp_UserGroup"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lmssendmailwrp">
                        @*<div class="custom-control custom-checkbox mt-3">
            <input type="checkbox" class="custom-control-input" id="lmsopenaddfollowup" name="lmsopenaddfollowup">
            <label class="custom-control-label" for="lmsopenaddfollowup">
                Add Follow-Up / Reminder
            </label>
        </div>*@
                        <div class="custom-control custom-checkbox mt-3">
                            <input type="checkbox" class="custom-control-input" id="lmsOpenAddNotes" name="lmsOpenAddNotes">
                            <label class="custom-control-label" for="lmsOpenAddNotes">
                                Auto pop-up Manage Lead
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-3">
                            <input type="checkbox" class="custom-control-input" id="lmssendseniormail" name="lmssendseniormail">
                            <label class="custom-control-label" for="lmssendseniormail">
                                Send Mail on changes of stages
                            </label>
                        </div>
                        <div class="lmssendemailwrpinp hideDiv" id="dvMailSettings">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="dvOtherEmailId">
                                    <div class="form-group mt-3">
                                        <label class="frmlbltxt">Send Others Email Ids</label>
                                        <textarea name="" class="form-control" id="ui_txtOtherEmail" cols="1" rows="2" placeholder="X@gmail.com,Y@gmail.com"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mt-2">
                            <input type="checkbox" class="custom-control-input" id="lmssendseniorsms" name="lmssendseniorsms">
                            <label class="custom-control-label" for="lmssendseniorsms">
                                Send SMS on changes of stages
                            </label>
                        </div>
                        <div class="lmssendemailwrpinp hideDiv" id="dvSmsSettings">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="dvOtherPhoneNumber">
                                    <div class="form-group mt-3">
                                        <label class="frmlbltxt">Send Others Phone Number</label>
                                        <textarea name="" class="form-control" id="ui_txtOtherPhoneNumber" cols="1" rows="2" placeholder="9867378950,9867378950"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="custom-control custom-checkbox mt-2">
                            <input type="checkbox" class="custom-control-input" id="lmssendseniorwhatsapp" name="lmssendseniorwhatsapp">
                            <label class="custom-control-label" for="lmssendseniorwhatsapp">
                                Send WhatsApp on changes of stages
                            </label>
                        </div>

                        <div class="lmssendemailwrpinp hideDiv" id="dvwhatsappSettings">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" id="dvOtherPhoneNumberwhatsapp">
                                    <div class="form-group mt-3">
                                        <label class="frmlbltxt">Send Others Phone Number</label>
                                        <textarea name="" class="form-control" id="ui_txtOtherPhoneNumberwhatsapp" cols="1" rows="2" placeholder="9867378950,9867378950"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="custom-control custom-checkbox mt-3">
                            <input type="checkbox" class="custom-control-input" id="lmssendmailtoleads" name="lmssendmailtoleads">
                            <label class="custom-control-label" for="lmssendmailtoleads">
                                Send Mail to leads on changes of stages
                            </label>
                        </div>
                        <div class="lmssendemailwrpinp hideDiv" id="dvleadmailstage">
                            <div class="form-group mt-3">
                                <label class="frmlbltxt"> Select Mail Templates</label>
                                <select class="form-control select2drpdwnbrd" name="" id="ui_dllmailtemplates" data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>

                        <div class="custom-control custom-checkbox mt-3">
                            <input type="checkbox" class="custom-control-input" id="lmssendsmstoleads" name="lmssendsmstoleads">
                            <label class="custom-control-label" for="lmssendsmstoleads">
                                Send Sms to leads on changes of stages
                            </label>
                        </div>
                        <div class="lmssendemailwrpinp hideDiv" id="dvleadsmsstage">
                            <div class="form-group mt-3">
                                <label class="frmlbltxt"> Select Sms Templates</label>
                                <select class="form-control select2drpdwnbrd" name="" id="ui_dllsmstemplates" data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mt-3">
                            <input type="checkbox" class="custom-control-input" id="lmssendwhatsapptoleads" name="lmssendwhatsapptoleads">
                            <label class="custom-control-label" for="lmssendwhatsapptoleads">
                                Send WhatsApp to leads on changes of stages
                            </label>
                        </div>
                        <div class="lmssendemailwrpinp hideDiv" id="dvleadwhatsappstage">
                            <div class="form-group mt-3">
                                <label class="frmlbltxt"> Select WhastApp Templates</label>
                                <select class="form-control select2drpdwnbrd" name="" id="ui_dllwhatsapptemplates" data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mt-2" id="dv_Senior">
                            <input type="checkbox" class="custom-control-input" id="lmssenior" name="lmssenior">
                            <label class="custom-control-label" for="lmssenior">
                                Report to Senior
                            </label>
                        </div>
                        <div class="lmssendemailwrpinp hideDiv" id="dvSeniorReport">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group mt-3">
                                        <label class="frmlbltxt">Senior Email</label>
                                        <select class="form-control select2drpdwnbrd" id="drp_MailSmsUserGroup" data-placeholder="Add Fields">
                                            <option value="0">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lmssendmailwrp">
                        <div class="custom-control custom-checkbox mt-2">
                            <input type="checkbox" class="custom-control-input" id="ui_CheckAssignUser" name="UserAssign">
                            <label class="custom-control-label" for="ui_CheckAssignUser">
                                Assign User Option
                            </label>
                        </div>
                    </div>
                    <div class="lmsassignuseroptwrp hideDiv">
                        <div class="lmsassignuserchkbxwrp mt-3">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="lmssassignuser" name="lmsassingopttype">
                                <label class="custom-control-label" for="lmssassignuser">Assign Users</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="lmssassignrrobin" name="lmsassingopttype">
                                <label class="custom-control-label" for="lmssassignrrobin">
                                    Assign Round Robin
                                </label>
                            </div>
                        </div>
                        <div class="lmsassgnuserwrp">
                            <div class="form-group mt-3">
                                <label class="frmlbltxt">Assign Users</label>
                                <select class="form-control select2drpdwnbrd" name="assignUser" id="drp_AssignUser" data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="lmsassgnrrobinwrp hideDiv">
                            <div class="form-group mt-3">
                                <label class="frmlbltxt">Assign Round Robin</label>
                                <select class="form-control select2drpdwnbrd" name="" id="drp_AssignRoundRobin" data-placeholder="Add Fields">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lmsaddphnpopupwrp hideDiv">
                    <p>
                        Registering your phone number will allow you to call your contacts using either your phone or
                        your web browser.
                    </p>
                    <div class="form-group">
                        <label class="frmlbltxt">Phone Number</label>
                        <input type="text" class="form-control" name="" id="lmsverifnumbr">
                    </div>
                    <p class="text-color-error otp-error hideDiv">You will get an OTP shortly.</p>
                </div>

                <div class="lmsverifnumwrp hideDiv">
                    <h1 class="lmsverifnumtxt">Calling +12147698767</h1>
                    <p class="font-12 text-color-queued">Enter this 6-digit verification code</p>
                    <div class="lmsverifcodewrp">
                        913991
                    </div>
                </div>

            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp lmsaddstagebbtn hideDiv">
                <button class="btn btn-primary mr-2" type="button" id="ui_btnAddUpdateStage">Submit</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
            <div class="btnwrp lmsaddphnnumbbtn hideDiv">
                <button class="btn btn-primary mr-2 lmsgetnumbotp" type="button">Register</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>

    </div>

</div>
<!--Popup window right-->
<script src="~/js/Prospect/Settings.js"></script>
<script src="~/js/colorjs/jscolor.js"></script>
<script src="~/Content/select2/js/select2.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>

    $("#addremovegroupslist").click(function () {
        $('#addgroupoperation').select2({
            minimumResultsForSearch: '',
            dropdownAutoWidth: false
        });
    });

    $('.select2drpdwn').select2({
        minimumResultsForSearch: '',
        dropdownAutoWidth: false,
        containerCssClass: "border-0"
    });

    $('.select2drpdwnbrd').select2({
        minimumResultsForSearch: '',
        dropdownAutoWidth: false,
        containerCssClass: "border"
    });

    $('.filterdrpdwonn').select2({
        minimumResultsForSearch: '',
        dropdownAutoWidth: false,
    });
</script>