<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plumb5 :: Dashboat</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/plumb5-style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gridstack@1.1.2/dist/gridstack.min.css" />
    <script src="//cdn.jsdelivr.net/npm/gridstack@1.1.2/dist/gridstack.all.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/js/GenralJsEngagment.js"></script>
</head>

<body class="a4 landscape">

    <div class="container bg-white">
        <div class="p5daslogowrp">
            <div class="p5landlogo">
                <a href="javascript:void(0)" target="_blank">
                    <img src="~/Content/images/plumb5_logo.png" alt=""
                         srcset="">
                </a>
            </div>
        </div>
        <div class="landmonthwrp">
            <p class="montrephead"><span id="spnDuration"></span>ly Report</p>
            <div class="p5clintnme text-right">
                <p class="montrephead font-weight-bold m-0">
                    <a id="hpLinkAccount" href=""
                       target="_blank"></a>
                </p>
                <p class="montrephead">Generated on: <span id="spnDate"></span></p>
            </div>

        </div>
        <section class="sheet">
            <div class="widgetswrp">
                <div class="grid-stack bg-white">
                </div>
            </div>
        </section>
        <div class="copyriteWrp pt-5 pb-3">
            <span>
                © 2014 onwards. All Rights Reserved. Plumb5 is brought to you by Decisive Analytical Systems
                PVT.Ltd.
            </span>
            <span>
                <a href="javascript:void(0)" target="_blank" class="text-color-queued">Terms of use</a> / <a href="javascript:void(0)" target="_blank" class="text-color-queued">Privacy Policy</a>
            </span>
        </div>
    </div>

    <!--Loading DIV Start-->
    <div id="ui_divPageLoading" class="spinnerWrap">
        <div class="spinnerItem position-relative">
            <div class="sk-wave">
                <div class="sk-rect sk-rect1"></div>
                <div class="sk-rect sk-rect2"></div>
                <div class="sk-rect sk-rect3"></div>
                <div class="sk-rect sk-rect4"></div>
                <div class="sk-rect sk-rect5"></div>
            </div>
        </div>
    </div>
    <!--Loading DIV End-->
</body>
</html>

<script src="~/js/Chart.bundle.js"></script>
<script src="~/js/Chart.js"></script>
<script src="//cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>
<script src="~/js/d3.v4.js"></script>
<script>
    d3version4 = d3
    window.d3 = null
</script>
<script src="~/js/d3.min.js"></script>
<script>
    d3version3 = d3
</script>
<link href="~/Content/css/flags.css" rel="stylesheet" />
<link href="~/Content/leaflet.css" rel="stylesheet" />
<script src="~/js/Dashboard/DashboardMailAlert.js"></script>
<script src="~/js/Dashboard/Dashboard_WebAnalytics_Widgets.js"></script>
<script src="~/js/Dashboard/Dashboard_WebEngagement_Widgets.js"></script>
<script src="~/js/Dashboard/Dashboard_Mail_Widgets.js"></script>
<script src="~/js/Dashboard/Dashboard_SMS_Widgets.js"></script>
<script src="~/js/Dashboard/Dashboard_MobileAnalytics_Widgets.js"></script>
<script src="~/js/leaflet.js"></script>
