@{
    ViewBag.Title = "DownloadForms";
}
<!doctype html>
<!DOCTYPE html>
<html>
<head>
    <style>
        div {
            padding-top: 300px;
            padding-right: 300px;
            padding-bottom: 400px;
            padding-left: 600px;
        }
    </style>
</head>
<body>


    <div><h1>Downloading...</h1></div>

</body>
</html>
<title>Plumb5 :: Dashboat</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    var url = "";
    var UserIdString = "";
    var AccountId = "";

    $(document).ready(function () {
        $("#ui_divPageLoading").removeClass('hideDiv').removeClass('showflx').addClass('showflx');
        $.urlParam = function (name) {
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (!results) {
                return -1;
            }
            return results[1] || 0;
        }

        url = $.urlParam("url");
        UserIdString = $.urlParam("useridString");
        AccountId = $.urlParam("accountId");
        FromDate = $.urlParam("Fdate").replace('%20', ' ');
        ToDate = $.urlParam("Tdate").replace('%20', ' ');

        Download();

    });
    function Download() {

        $.ajax({
            url: "../DashboardMailAlert/FormResponseAllExport",
            type: 'Post',
            data: JSON.stringify({ "UserIdString": UserIdString, "AccountId": AccountId, "FromDate": FromDate, "ToDate": ToDate }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    SaveToDisk(response.MainPath);
                    setTimeout(function () { window.close(); }, 5000);


                }
                else {

                    alert("Something went wrong");
                    setTimeout(function () { window.close(); }, 5000);

                }

                error: null

            },
            error: null
        });
    }
    function SaveToDisk(fileURL) {
        window.location.assign(fileURL);
    }
</script>