@{
    ViewBag.Title = "Plumb5 :: FTP Import Settings";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Settings</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0);">Contacts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
    </div>
    <div class="setttabwrap mr-tp-15">
        <div class="setttabitem"><a href="/ManageContact/Settings">Contact Merge Configuration</a></div>
        <div class="setttabitem"><a href="/ManageContact/ContactProperties">Contact Properties</a></div>
        <div class="setttabitem active"><a href="javascript:void(0);">FTP Import Settings</a></div>
        <div class="setttabitem"><a href="/ManageContact/ApiImportRequest">API Import Requests</a></div>
        <div class="setttabitem"><a href="/ManageContact/ApiImportSettings">API Import Responses</a></div>
    </div>
    <div class="box-white p-0">
        <div id="ftpimportsett" class="setttabcontainer pr-0 pl-0">
            <div class="topTabWrap m-0 pl-2 pr-2">
                <div class="lmsaddrules">
                    <p class="m-0 frmlbltxt font-weight-bold ml-2">Set the FTP credentials for importing contact list.</p>
                </div>
                <div class="iconsettingswrp">
                    <button id="addftpconnbtn" type="button" class="btn btn-primary">Add Connection</button>
                </div>
            </div>
            <div class="box-white border-0">
                <div class="tableWrapper">
                    <div class="table-responsive min-h-300">
                        <table class="table tbl-td-ta-lft  border-0" id="ui_tableReport">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-250 td-wid-20">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Connection
                                        Name
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-250 td-wid-15">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Server IP
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-250 td-wid-15">
                                        Created On
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-250 td-wid-15">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>User ID
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-250 td-wid-23">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Password
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-250 td-wid-12">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Protocol
                                        <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Paging");
                }
            </div>
        </div>
    </div>

</section>
<!--Popup window right-->
<div class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Select FTP Connection</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody position-relative">
            <div class="popupbodycont pad-20">
                <div class="addftpconnect">
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Protocol</label>
                        <select name="" class="form-control" id="drpftpprotocol">
                            <option value="FTP">FTP - File Transfer Protocol</option>
                            <option value="SFTP">SFTP - SSH File Transfer Protocol</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Connection Name</label>
                        <input type="text" name="" class="form-control" id="ui_txtConnectionName">
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Server IP</label>
                                <input type="text" name="" class="form-control" id="ui_txtServerIP">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="frmlbltxt" for="">Port</label>
                                <input type="text" name="" class="form-control" id="ui_txtport">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt" for="">User Id</label>
                        <input type="text" name="" class="form-control" id="ui_txtUserId" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Password</label>
                        <input type="password" name="" class="form-control" id="ui_txtPassword" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Folder Path</label>
                        <input type="text" name="" class="form-control" id="ui_txtFolderPath">
                    </div>
                    <div class="btnerrormssgwrp">
                        <button id="btntestFtpConnect" class="btn btn-primary mr-2" type="button">Test Connection</button>
                        <div class="ftpsuccesswrp hideDiv">
                            <i class="ion ion-android-checkmark-circle font-24 text-color-success"></i>
                            <p class="connectsucess">Connection Successfull</p>
                        </div>
                        <div class="ftperrorwrp hideDiv">
                            <i class="ion ion-close-circled font-24 text-color-error"></i>
                            <p class="connecterror">Connection Failed</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="spinnerftpwrp hideDiv">
                <div class="sk-wave">
                    <div class="sk-rect sk-rect1"></div>
                    <div class="sk-rect sk-rect2"></div>
                    <div class="sk-rect sk-rect3"></div>
                    <div class="sk-rect sk-rect4"></div>
                    <div class="sk-rect sk-rect5"></div>
                </div>
            </div>

        </div>
        <div class="popupfooter">
            <div class="btnwrp addftpconnect">
                <button id="addconnectbtn" class="btn btn-primary mr-2" type="button" SettingId="0" disabled="disabled">Add Connection</button>
                <button class="btn btn-secondary clsepopup" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Popup window right-->
<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deleteftpconnection" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Connection?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Delete this Connection? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger" data-id=0 data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<script src="~/js/ManageContact/FtpImportSettings.js"></script>