@{
    ViewBag.Title = "Plumb5 :: WhatsApp Templates";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">WhatsApp Templates</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">WhatsApp</a></li>
            <li class="breadcrumb-item active" aria-current="page">Templates</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link active" href="javascript:void(0)"><i class="fa fa-check-square-o font-16 pr-2"></i>Active</a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link" href="/WhatsApp/WhatsAppTemplateArchive"><i class="fa fa-archive font-16 pr-2"></i>Archive</a>
            </div>
        </div>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap pl-2 pr-2">
            <div class="actionWrap">
                <div class="createBtnWrap">
                    <a href="javascript:void(0);" class="btn btn-primary btn-sm whatsapptemplate">
                        Create
                        Template
                    </a>
                </div>
            </div>
            <div class="searchWrap">
                <div class="searchInput w-250">
                    <input class="form-control form-control-sm contsearchfocus" type="text" placeholder="Search Campaigns or Templates" id="ui_txt_TemplateSearch">
                    <div id="ui_div_SearchIcon" class="searchIcon">
                        <i class="icon ion-android-search"></i>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Export");
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white border-top-0 position-relative">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tableReport" class="table sms-tbl popuppreveye-tbl">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">
                                        Preview
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-190 td-wid-30">
                                        Template Name <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-170 td-wid-30">
                                        Campaign Name <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th scope="col" class="helpIcon m-p-w-170 td-wid-15">
                                        Template Type <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-150 td-wid-30" scope="col">
                                        Created
                                        Date<i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData"></tbody>
                        </table>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Paging");
                }
            </div>
        </div>
    </div>
</section>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="ui_divDeleteDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Archive this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="ui_btnDeleteConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Archive</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
@{
    Html.RenderPartial("_CreateWhatsAppTemplate");
}
@{
    Html.RenderPartial("_WhatsAppPreview");
}
@{
    Html.RenderPartial("_WhatsAppTest");
}

<script src="~/js/WhatsApp/WhatsAppTemplates.js"></script>