#simple-treeview,
#product-details {
    display: inline-block;
}

#product-details {
    vertical-align: top;
    width: 400px;
    height: 420px;
    margin-left: 20px;
}

    #product-details > img {
        border: none;
        height: 300px;
        width: 400px;
    }

    #product-details > .name {
        text-align: center;
        font-size: 20px;
    }

    #product-details > .price {
        text-align: center;
        font-size: 24px;
    }

.dark #product-details > div {
    color: #f0f0f0;
}

.hidden {
    visibility: hidden;
}

.dx-treeview-item-without-checkbox.dx-state-focused > .dx-treeview-item{
    background-color: #1b84e7;
}

.dx-widget{
    color:#343a40 !important;
}