@{
    ViewBag.Title = "LeadSource";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <div class="contentHead">
            <h6 class="pagetitle">Manage Leads</h6>
            @*<small class="totalCountTitle">Total Leads: <span>30767</span></small>*@
        </div>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Lead Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sources</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem">
                <a class="tap-nav-link" href="/Prospect/Leads">Leads</a>
            </div>
            <div class="tabItem">
                <a class="tap-nav-link active" href="/Prospect/LeadSource">Sources</a>
            </div>
        </div>
        <div class="iconsWrap">
            <div class="searchCampWrap position-relative mr-3">
                <input class="form-control contsearchfocus" type="text" name="" id="ui_txtSearchBy" placeholder="Search by Sources">
                <i class="icon ion-android-search serchicon" id="SearchByIdentifierName"></i>
            </div>
            @{
                Html.RenderPartial("_Export");
            }
        </div>
    </div>
    <div class="topTabWrap brd-TRL">
        <div class="createBtnWrap mr-3">
            <button type="button" class="btn btn-primary btn-sm lmscreatesources AddSource" id="btnCreateSource">
                <a href="javascript:void(0)">Create Source</a>
            </button>

        </div>
        @*<div class="lmsstagewrpdrpdwn mr-2">
        <div class="lmsallsource mr-2">
        <select name="" class="form-control form-control-sm" id="ddlSourceType">
        <option value="0">Create and Stay</option>
        <option value="1">Override</option>
        <option value="2">Create New</option>
        </select>
        </div>
        <button type="button" class="btn btn-primary btn-sm lmscreatesources AddSource" id="btnSourceType">
        <a href="javascript:void(0)">Save</a>
        </button>
        </div>*@
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table class="table tbl-td-ta-lft" id="ui_tblReportData">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-30 m-p-w-200" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Sources</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    The Name of the Lead Source
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-10 m-p-w-170" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>No. of Leads</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Total Count of Leads For Lead Source
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="helpIcon td-wid-15 m-p-w-190" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Created On</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Created Date of the Lead Source
                                                </div>
                                            </div>
                                        </div>
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Paging");
                }
            </div>
        </div>
    </div>
</section>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<!--Popup window right-->
<div class="popupcontainer hideDiv" id="btnCreateSourcePopUp">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Create Sources</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <div class="popcontWrap">
                    <div class="form-group">
                        <label class="frmlbltxt" for="">Name</label>
                        <input type="text" class="form-control" id="txtlmsgroupname">
                    </div>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <button class="btn btn-primary mr-2" type="button" id="btnCreateUpdateLmsGrp">Submit</button>
                <button class="btn btn-secondary clsepopup" type="button" id="btnCancelCreateUpdateLmsGrp">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Popup window right-->

<script src="~/js/Prospect/LeadSource.js"></script>