@{
    ViewBag.Title = "Plumb5 :: Manage Scheduled";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Manage Scheduled</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Web</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Browser Notifications</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Scheduled</li>
        </ol>
    </div>
    <div class="topTabWrap h-56">
        <div class="iconTopNav">
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
            <div class="topIconItem"></div>
        </div>
        <div class="tabItemWrap">
            <div class="tabItem"><a class="tap-nav-link active" href="javascript:void(0);"><i class="fa fa-clock-o font-16 pr-2"></i>Scheduled</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/WebPush/ManageBrowserNotifications/Rss"><i class="fa fa-rss font-16 pr-2"></i>RSS</a></div>
            <div class="tabItem"><a class="tap-nav-link" href="/WebPush/ManageBrowserNotifications/Draft"><i class="fa fa-file-text-o font-16 pr-2"></i>Draft</a></div>
        </div>
        <div class="iconsWrap">
            <div class="searchCampWrap position-relative mr-3">
                <input class="form-control contsearchfocus" type="text" name="" id="txt_SearchBy" placeholder="Search Campaigns">
                <i class="icon ion-android-search serchicon"></i>
            </div>
            @{ Html.RenderPartial("_Export"); }
        </div>
    </div>
    <div class="topTabWrap brd-TRL">
       @{ Html.RenderPartial("_PageHeadingWithDateForNext"); }
        <div class="createBtnWrap mr-3">
            <button type="button" class="btn btn-primary btn-sm"><a class="ContributePermission" href="/WebPush/ScheduleCampaign">Create Scheduled <span class="m-p-text-hide"> Campaign</span></a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tableReport" class="table tbl-td-ta-lft">
                            <thead>
                                <tr>
                                    <th class="helpIcon td-wid-40 m-p-w-220" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> Campaign Name <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Campaign Name </div>
                                    </th>
                                    <th class="helpIcon td-wid-35 m-p-w-150" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> Updated Date <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Updated Date </div>
                                    </th>
                                    <th class="helpIcon td-wid-35 m-p-w-150" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> Scheduled Date <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Scheduled Date </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData"></tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
            </div>
        </div>
    </div>
</section>
 <!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirmpush" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->
<script src="~/js/WebPush/Scheduled.js"></script>