@{
    ViewBag.Title = "Interval";
}

<div id="dvcustompopupinterval" class="CustomPopUp" style="top: 27%;width:450px;">
    <div class="newTitle">
        Interval
        <img alt="Close" title="Close" style="cursor: pointer; float: right" class="CustomPopUpClose" src="/images/img_trans.gif" />
    </div>
    <div style="border-bottom: 1px solid #e8e8e8;">
    </div>
    <div class="divPadding" style="margin-top: 10px;">
        <table cellpadding="2" cellspacing="4" border="0" style="width: 95%;">
            
            <tr>
                <td>
                   Enter Number of Interval
                </td>
                <td>
                    <input type="text" id="txtinterval" maxlength="2" onkeypress="return onlyNumbers(event);"  class="inputtextbox" placeholder="Enter Number of Interval" style="width: 244px;" /> 
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Save" id="btninterval" class="inputee" style="width: 100px" />&nbsp;
                    <input type="button" value="Cancel" class="inputee closepopup" style="width: 100px" />

                </td>
            </tr>
        </table>
    </div>
</div>