<div id="dvcustompopupmail" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Send Mail</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody p-3">
            <div class="wrkflwsendmailwrp">
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <label class="frmlbltxt" for="">Message Type</label>
                        <div class="radioBtn mb-3">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="radmailtranmsg" name="wrkflwmesstype" value="1" checked>
                                <label class="custom-control-label" for="radmailtranmsg">Transactional</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="radmailpromomsg" name="wrkflwmesstype" value="2">
                                <label class="custom-control-label" for="radmailpromomsg">Promotional</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="frmlbltxt" for="">Template Name</label>
                    <select name="" class="form-control" id="ddlmailtempId">
                        <option value="select">Select Template</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="frmlbltxt" for="">Subject</label>
                    <input type="text" name="" class="form-control" id="txtmailsubject">
                </div>
                <div class="form-group">
                    <label class="frmlbltxt" for="">From Name</label>
                    <input type="text" name="" class="form-control" id="txtmailfromname">
                </div>
                <div class="form-group">
                    <label class="frmlbltxt" for="">From Email Id</label>
                    <select name="" class="form-control" id="ddlfromemailId">
                        <option value="select">Select Email Id</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="frmlbltxt" for="">Reply to Email</label>
                    <input type="text" name="" class="form-control" id="txtReplyemailid">
                </div>
                <div class="form-group">
                    <label class="frmlbltxt" for="ui_MailConfigurationName">ESP Configuration Name</label>
                    <select name="" class="form-control" id="ui_MailConfigurationName"></select>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="lblchkUnsubscribe" name="wrkflwunsubscibe" checked />
                        <label class="custom-control-label" for="lblchkUnsubscribe">Unsubscribe</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="ui_ChkRecuringmail" name="lmsinactivnotisendtype">
                    <label class="custom-control-label" for="ui_ChkRecuringmail">Send Recurring</label>
                </div>
            </div>
            <div id="Recurringmail" class="form-group hideDiv">

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="lblTriggerDaymail" name="rdoTrigger" checked="">
                    <label class="custom-control-label" for="lblTriggerDaymail">After 1 Day</label>
                </div><div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="lblTriggerHourmail" name="rdoTrigger">
                    <label class="custom-control-label" for="lblTriggerHourmail">After 1 Hour</label>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <a href="javascript:void(0)" class="btn btn-primary mr-2" id="btnsavemaildetails">Save</a>
                <a href="javascript:void(0)" class="btn btn-secondary clsepopup">Cancel</a>
            </div>
        </div>
    </div>
</div>

