<div id="dvcustompopupapppush" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>App Push</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody p-3">
            <div class="wrkflwsendmailwrp">
                <div class="form-group">
                    <label class="frmlbltxt" for="">Template Name</label>
                    <select name="" class="form-control" id="ddlapppush">
                        <option value="select">Template Campaign</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="ui_ChkRecuringmobileapp" name="lmsinactivnotisendtype">
                    <label class="custom-control-label" for="ui_ChkRecuringmobileapp">Send Recurring</label>
                </div>
            </div>
            <div id="Recurringapppush" class="form-group hideDiv">

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="lblTriggerDaymobileapp" name="rdoTrigger" checked="">
                    <label class="custom-control-label" for="lblTriggerDaymobileapp">After 1 Day</label>
                </div><div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="lblTriggerHourmobileapp" name="rdoTrigger">
                    <label class="custom-control-label" for="lblTriggerHourmobileapp">After 1 Hour</label>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <a href="javascript:void(0)" id="btnSaveapppush" class="btn btn-primary mr-2">Save</a>
                <a href="javascript:void(0)" class="btn btn-secondary clsepopup">Cancel</a>
            </div>
        </div>
    </div>
</div>