<div id="dvcustompopuprule" class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>Create Rule</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody p-3">
            <div class="wrkflwsendmailwrp">
                <div class="form-group">
                    <label class="frmlbltxt" for="">Rule Type</label>
                    <select name="" class="form-control" id="ddlruleId">
                        <option value="select">Select Rule</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="popupfooter">
            <div class="btnwrp">
                <a href="javascript:void(0)" id="btnSaveRule" class="btn btn-primary mr-2">Save</a>
                <a href="javascript:void(0)" class="btn btn-secondary clsepopup">Cancel</a>
            </div>
        </div>
    </div>
</div>


