@{
    ViewBag.Title = "Time";
}

<div id="dvcustompopuptime" class="CustomPopUp" style="top: 27%;width:450px;">
    <div class="newTitle">
      Time
        <img alt="Close" title="Close" style="cursor: pointer; float: right" class="CustomPopUpClose" src="/images/img_trans.gif" />
    </div>
    <div style="border-bottom: 1px solid #e8e8e8;">
    </div>
    <div class="divPadding" style="margin-top: 10px;">
        <table cellpadding="2" cellspacing="4" border="0" style="width: 95%;">
            
            <tr>
                <td>
                   Select Time
                </td>
                <td>                
                        Time
                        <select class="dropdown" id="dllworkflowTime" style="width: 50px;">
                            <option value="0">00</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option selected="selected" value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                        <span class="descrip">IST</span>
                 
                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Save" id="btntime" class="inputee" style="width: 100px" />&nbsp;
                    <input type="button" value="Cancel" class="inputee closepopup" style="width: 100px" />

                </td>
            </tr>
        </table>
    </div>
</div>