<div id="dvcustompopupsegment" class="popupcontainer hideDiv">
    <div class="popupItem w-650 m-p-wid-300 popup-tbl position-relative">
        <div class="popuptitle">
            <h6>Group</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="wrkflwpopsearch">
                <input type="text" name="" class="form-control w-200" placeholder="Search by Group Name" id="ui_txtSearchgroup">
                <i class="fa fa-search"></i>
            </div>
            <div class="table-responsive">
                <table  id="ui_tblGroupData" class="table">
                    <thead>
                        <tr>
                            <th class="td-wid-30 m-p-w-170" scope="col">Group Name</th>
                            <th class="td-wid-30 m-p-w-120" scope="col">Contacts</th>
                            <th class="td-wid-40 m-p-w-120" scope="col">Created Date</th>
                        </tr>
                    </thead>
                    <tbody id="ui_tbodyGroupInnerReportData">
                        <tr>
                            <td class="text-left">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="emailid-1">
                                    <label class="custom-control-label" for="emailid-1">andeep@p5.com</label>
                                </div>
                            </td>
                            <td class="text-left wrkflwviewdetdrp">
                                <div class="dropdown">
                                    <a class="cursor-pointer text-color-blue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        View
                                        Detail
                                    </a>
                                    <div class="dropdown-menu keepopen w-250" aria-labelledby="filterbycontacts">
                                        <div class="wrkflwsubdet">
                                            <p>Total SMS</p>
                                            <p><a href="javascript:void(0)">2041 [Optout-0]</a></p>
                                        </div>
                                        <div class="wrkflwsubdet">
                                            <p>Total Mail</p>
                                            <p><a href="javascript:void(0)">90 [Optout-0]</a></p>
                                        </div>
                                        <div class="wrkflwsubdet">
                                            <p>Total App Push</p>
                                            <p><a href="javascript:void(0)">0 [Optout-0]</a></p>
                                        </div>
                                        <div class="wrkflwsubdet">
                                            <p>Total Web Push</p>
                                            <p><a href="javascript:void(0)">0 [Optout-0]</a></p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>Sep 23 2020 02:26:44 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @{Html.RenderPartial("_InnerGroupPaging"); }

        <div class="popupfooter" id="dvWfGroupFooter">
            <div class="btnwrp">
                <a href="javascript:void(0)" id="btngroupdetails" class="btn btn-primary mr-2">Save</a>
                <a href="javascript:void(0)" class="btn btn-secondary clsepopup">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Journey/Groups.js"></script>