@{
    ViewBag.Title = "Plumb5 :: Adsense";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
    <section class="sheet">
        <div class="pageheader">
            <h6 class="pagetitle">Adsense Campaigns</h6>
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Web</a></li>
                <li class="breadcrumb-item"><a href="#">Traffic Sources</a></li>
                <li class="breadcrumb-item active" aria-current="page">Adsense Campaigns</li>
            </ol>
        </div>
        <div class="topTabWrap">
            <div class="iconTopNav">
                <div class="topIconItem"></div>
                <div class="topIconItem"></div>
                <div class="topIconItem"></div>
            </div>
            <div class="tabItemWrap">
                <div class="tabItem">
                    <a class="tap-nav-link" href="/Analytics/Traffic/PaidCampaigns">UTM Tags</a>
                </div>
                <div class="tabItem">
                    <a class="tap-nav-link d-flex" href="/Analytics/Traffic/Adwords">
                        <i class="iconadwords"></i><span>Adwords</span>
                    </a>
                </div>
                <div class="tabItem">
                    <a class="tap-nav-link active d-flex" href="javascript:void(0)">
                        <i class="iconadsense"></i>Adsense
                    </a>
                </div>
            </div>
            @{ Html.RenderPartial("_Export"); }
        </div>
        <div class="box-white mr-tp-15">
            <div class="showDateIconWrap">
                <div class="showDateWrap brd-bttm-none mb-0">
                    @{ Html.RenderPartial("_PageHeadingWithDate"); }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white border-top-0">
                    <div class="tableWrapper">
                        <div class="table-responsive">
                            <table class="table" id="ui_tableReport">
                                <thead>
                                    <tr>
                                        <th scope="col" class="helpIcon m-p-w-80 td-wid-5 text-center">
                                            Preview
                                        </th>
                                        <th scope="col" class="helpIcon m-p-w-190 td-wid-25">
                                            <div class="sortWrap">
                                                <i class="icon ion-arrow-down-c addColor"></i>
                                            </div>Landing
                                            Pages <i class="icon ion-ios-help-outline"></i>
                                            <div class="toottipWrap">
                                               
                                            </div>
                                        </th>
                                        <th class="helpIcon m-p-w-150 td-wid-15" scope="col">
                                            <div class="sortWrap">
                                                <i class="icon ion-arrow-down-c addColor"></i>
                                            </div>Page Views
                                            <i class="icon ion-ios-help-outline"></i>
                                            <div class="toottipWrap">
                                                
                                            </div>
                                        </th>
                                        <th class="helpIcon m-p-w-150 td-wid-10" scope="col">
                                            <div class="sortWrap">
                                                <i class="icon ion-arrow-down-c addColor"></i>
                                            </div>Sessions <i class="icon ion-ios-help-outline"></i>
                                            <div class="toottipWrap">

                                            </div>
                                        </th>
                                        <th class="helpIcon m-p-w-160 td-wid-15" scope="col">
                                            <div class="sortWrap">
                                                <i class="icon ion-arrow-down-c addColor"></i>
                                            </div>Unique
                                            Visitors<i class="icon ion-ios-help-outline"></i>
                                            <div class="toottipWrap">
                                                
                                            </div>
                                        </th>
                                        <th class="helpIcon m-p-w-190 td-wid-15" scope="col">
                                            <div class="sortWrap">
                                                <i class="icon ion-arrow-down-c addColor"></i>
                                            </div>Date <i class="icon ion-ios-help-outline"></i>
                                            <div class="toottipWrap">
                                                
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ui_trbodyReportData">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @{ Html.RenderPartial("_Paging"); }
                </div>
            </div>
        </div>

    </section>
    <script src="~/js/Analytics/Web_Traffic_AdSense.js"></script>