@{
    ViewBag.Title = "Plumb5 :: All Sources";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">All Sources</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Web</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">Traffic Sources</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">All Sources</li>
        </ol>
    </div>
    <div class="topTabWrap brd-TRL">
        @{ Html.RenderPartial("_PageHeadingWithDate"); }
        @{ Html.RenderPartial("_Export"); }
    </div>
    <div class="box-white">
        <div class="charteeWrap position-relative h-350">
            <canvas id="ui_canvas_AllSourcesData"></canvas>
        </div>
    </div>
</section>
<section class="sheet">
    <div id="ui_divReportSummary" class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white mt-4">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table id="ui_tblReportData" class="table first-row SortExceptOne">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-120">
                                        Day <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Web_Traffic_AllSources_Day">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-140" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Direct Traffic <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Web_Traffic_AllSources_Direct">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-150" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Search Traffic <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Web_Traffic_AllSources_Search">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-140" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Refer Traffic <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Web_Traffic_AllSources_Refer">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-140" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Social Traffic <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Web_Traffic_AllSources_Social">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-150" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Email Traffic <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Web_Traffic_AllSources_Email">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-170" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        SMS Traffic <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Web_Traffic_AllSources_SMS">&nbsp;</div>
                                    </th>
                                    <th class="helpIcon m-p-w-170" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>
                                        Paid Traffic <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap" id="ui_div_Web_Traffic_AllSources_Paid">&nbsp;</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/Analytics/Web_Traffic_AllSources.js"></script>