@{
    ViewBag.Title = "Plumb5 :: Sms Sources";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Sms Sources</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item"><a href="#">Analytics Overview</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sms Sources</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap border-bottom">
            <div class="showDateWrap brd-bttm-none mb-0">
                @{ Html.RenderPartial("_PageHeadingWithDate"); }
            </div>
            @{ Html.RenderPartial("_Export"); }
        </div>
        <div class="charteeWrap position-relative h-350">
            <canvas id="smsSources"></canvas>
        </div>
    </div>
</section>
<section class="sheet">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white mt-4">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table class="table" id="ui_tableReport">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-150">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Day <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-120" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Sessions <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-160" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Unique Visitors <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-140" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Page Views <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                    <th class="helpIcon m-p-w-140" scope="col">
                                        <div class="sortWrap"><i class="icon ion-arrow-down-c addColor"></i></div>Average Time <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_trbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tbl-spacer"></div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/Analytics/Web_Traffic_SmsSources.js"></script>