@{
    ViewBag.Title = "Plumb5 :: Social Sources";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Social Sources</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Web</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Traffic Sources</a></li>
            <li class="breadcrumb-item active" aria-current="page">Social Sources</li>
        </ol>
    </div>
    <div class="topTabWrap brd-TRL">
        @{ Html.RenderPartial("_PageHeadingWithDate"); }
        @{ Html.RenderPartial("_Export"); }
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white border-top-0">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table class="table" id="ui_tableReport">
                            <thead>
                                <tr>
                                    <th scope="col" class="helpIcon m-p-w-190">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> Sources <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Sources </div>
                                    </th>
                                    <th class="helpIcon m-p-w-150" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> Unique Visitors <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Unique Visitorsy </div>
                                    </th>
                                    <th class="helpIcon m-p-w-150" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> Sessions <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Sessions </div>
                                    </th>
                                    <th class="helpIcon m-p-w-160" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                            
                                        </div> Avg.time on site <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Avg.time on site </div>
                                    </th>
                                    <th class="helpIcon m-p-w-140" scope="col">
                                        Page Visited <i class="icon ion-ios-help-outline"></i>
                                        <div class="toottipWrap">Page Visited </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData"></tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
                <div class="rightPopupwrap">
                    <div class="popupslideItem">
                        <div class="topbandWrap">
                            <h6>Page Visits</h6>
                            <i class="icon ion-android-close"></i>
                        </div>
                        <div class="popup-body">
                            <div class="popuptblWrap">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="td-wid-70 m-p-w-170" scope="col">Page Name</th>
                                                <th class="td-wid-30 m-p-w-120" scope="col">Page Depth</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ui_trsourcereport">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/Analytics/Web_Traffic_SocialSources.js"></script>