
@{
    ViewBag.Title = "Plumb5 :: Visitor Flow";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Visitor Flow</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item"><a href="#">Traffic Source</a></li>
            <li class="breadcrumb-item active" aria-current="page">Visitor Flow</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap">
            <div class="showDateWrap brd-bttm-none mb-0">
                @{ Html.RenderPartial("_PageHeadingWithDate"); }
            </div>
            <div class="iconsWrap-docu">
                <div class="dropdown">
                    <button class="btn-dropdown addstartfiltr active" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        <span>Start with Source</span> <i class="icon ion-android-funnel"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterTags">
                        <div class="startwith">
                            <a class="dropdown-item" href="javascript:void(0)" onclick="FilterBy(1)">Source</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="FilterBy(2)">Country</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="FilterBy(3)">City</a>
                        </div>
                    </div>
                </div>
                @{ Html.RenderPartial("_Export"); }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white border-top-0 position-relative">
                <div class="usermap position-relative p-4">
                    <div id="userjourneydata"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/d3.min.js"></script>
<script src="~/js/sankey.js"></script>
<script src="~/js/Analytics/VisitorFlow.js"></script>