
html
{
   background:none;
}

body
{
    margin: 0px;
}

input[type='radio'], input[type='checkbox']
{
    position: relative;
    bottom: -2px;
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
}

.error
{
    font-size: 12px !important;
    color :red !important;
}


  