@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>
<script src="~/js/d3.v4.js"></script>
<script src="~/js/popPyramid.js"></script>
<link href="~/Content/css/flags.css" rel="stylesheet" />

<div class="pageheader">
    <h6 class="pagetitle">Page Insights</h6>
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Social</a></li>
        <li class="breadcrumb-item"><a href="#">Facebook</a></li>
        <li class="breadcrumb-item active" aria-current="page">Page Insights</li>
    </ol>
</div>
<div class="topTabWrap">

    <div class="tabItemWrap">
    </div>
    <div class="facebkdrpdwnwrp">
        <div class="dropdown">
            <button class="btn btn-trans-brd dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fbclntnametxt">Plumb5</span> <i class="fbclientlogo" style="background-image: url('https://www.plumb5.com/favicon.ico')"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" id="ddlPages">
            </div>
        </div>
    </div>
</div>
<div class="box-white mr-tp-15">
    <div class="showDateIconWrap">
        <div class="showDateWrap brd-bttm-none mb-0">
            <div class="showTxt">Showing Data for :</div>
            <div class="dateWrap">
                <div class="datedropdown">
                    <button class="btn dropdown-toggle" id="selectdateDropdown" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        This Week
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)">This Week</a>
                        <a class="dropdown-item" href="javascript:void(0)">This Month</a>
                        <a class="dropdown-item" href="javascript:void(0)">This Quarter</a>
                        <a class="dropdown-item" href="javascript:void(0)">Last Week</a>
                        <a class="dropdown-item" href="javascript:void(0)">Last Month</a>
                        <a class="dropdown-item" href="javascript:void(0)">Last Quarter</a>
                    </div>
                </div>
            </div>


        </div>
        <div class="iconsWrap">
            <p class="m-0 font-11 mr-2 text-muted">
                Last Updated at: <span class="">
                    12:13:00
                    PM
                </span>
            </p> <i class="icon ion-ios-eye-outline openfbpage"></i>
        </div>
    </div>
</div>
<div class="fbpageinsitwrp">
    <section class="sheet">
        <div class="row m-gut">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 p-gut">
                <div class="box-white mr-tp-15">
                    <div class="fbiconwrp">
                        <i class="icon ion-ios-people-outline"></i>
                        <div class="fbdashcontent">
                            <label class="tx-primary">No. of Fans</label>
                            <h2 id="lbl_NumberOfFansCount">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 p-gut">
                <div class="box-white mr-tp-15">
                    <div class="fbiconwrp">
                        <i class="icon ion-ios-eye-outline"></i>
                        <div class="fbdashcontent">
                            <label class="tx-success">Page Views</label>
                            <h2 id="lbl_NumberOfPageViews">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 p-gut">
                <div class="box-white mr-tp-15">
                    <div class="fbiconwrp">
                        <i class="icon ion-android-bulb"></i>
                        <div class="fbdashcontent">
                            <label class="tx-purple">Total Action</label>
                            <h2 id="lbl_NumberOfTotalAction">0</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-gut mr-tp-15">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 p-gut m-mb-15">
                <div class="box-white">
                    <div class="fbiconwrp">
                        <i class="icon ion-thumbsup"></i>
                        <div class="fbdashcontent">
                            <label class="text-danger">Total Likes</label>
                            <h2 id="lbl_NumberOfTotalLikes">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 p-gut m-mb-15">
                <div class="box-white">
                    <div class="fbiconwrp">
                        <i class="icon ion-man"></i>
                        <div class="fbdashcontent">
                            <label class="tx-pink">Male</label>
                            <h2 id="lbl_MalePercentage">00.00%</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 p-gut">
                <div class="box-white">
                    <div class="fbiconwrp">
                        <i class="icon ion-woman"></i>
                        <div class="fbdashcontent">
                            <label class="tx-primary">Female</label>
                            <h2 id="lbl_FemalePercentage">00.00%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sheet">
        <div class="row m-gut mr-tp-15">
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 p-gut m-mb-15">
                <div class="box-white">
                    <h6 class="box-title">Audience Engagement, By Day</h6>
                    <div class="charteeWrap position-relative h-315">
                        <canvas id="audiencebyday"></canvas>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 p-gut">
                <div class="box-white h-360 border-bottom-0 overflow-y-auto">
                    <div class="tableWrapper">
                        <div class="table-responsive min-h-300">
                            <table class="table tbl-td-ta-lft m-0" id="ui_tblFansByCountryData">
                                <thead>
                                    <tr>
                                        <th class="td-wid-12 m-p-w-150" scope="col">Country</th>
                                        <th class="td-wid-15 m-p-w-150" scope="col">No. of Fans</th>
                                    </tr>
                                </thead>
                                <tbody id="ui_tdbodyFansByCountryData">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sheet">
        <div class="row m-gut mr-tp-15">
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 p-gut m-mb-15">
                <div class="box-white">
                    <h6 class="box-title">Page Impressions</h6>
                    <div class="charteeWrap position-relative h-345">
                        <canvas id="fbpageimpress"></canvas>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 p-gut m-mb-15">
                <div class="box-white d-flex align-items-center justify-content-center p-3">
                    <div id="agepyramid"></div>
                    <div class="h-355 no-data hideDiv" id="agepyramidnodata">There is no Data View</div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--Popup window right-->
<div class="popupcontainer hideDiv">
    <div class="popupItem w-450 m-p-wid-300 position-relative">
        <div class="popuptitle">
            <h6>View Page</h6>
            <i id="close-popup" class="icon ion-close"></i>
        </div>
        <div class="popupbody">
            <div class="popupbodycont pad-10">
                <iframe id="fbpreviewcontent"
                        style="border:none;overflow:hidden"
                        scrolling="no"
                        frameborder="0"
                        allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                </iframe>
            </div>
        </div>
    </div>
</div>

<script src="~/js/FacebookPage/Dashboard.js"></script>
