@{
    ViewBag.Title = "FormDashboard";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Dashboard</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Web</a></li>
            <li class="breadcrumb-item"><a href="#">Forms & Banners</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </div>
    <div class="box-white mr-tp-15">
        <div class="showDateIconWrap">
            <div class="showDateWrap brd-bttm-none mb-0">
                @{
                    Html.RenderPartial("_PageHeadingWithDate");
                }
            </div>
        </div>
    </div>
    <div class="dashbformswrp mt-3">
        <div class="dashformban">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 m-mb-3">
                    <div class="box-white h-100">
                        <h6 class="box-title">Total Form Submissions Over Time</h6>
                        <div class="charteeWrap position-relative h-200">
                            <canvas id="sitesearch"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="box-white h-100">
                        <div class="engageWrap mt-2">
                            <div class="card card-sales border-0">
                                <h6 class="slim-card-title tx-success mb-4">Aggregate Forms Data</h6>
                                <div class="row mb-4">
                                    <div class="col">
                                        <label class="tx-12">Impressions</label>
                                        <div class="countsWrap">
                                            <div class="countNumb" id="ui_divImpressions">0</div>
                                            <div class="countper" id="ui_Iconarrowviewed"><i class="icon ion-android-arrow-dropdown"></i><span>00.00%</span></div>
                                        </div>
                                    </div><!-- col -->
                                    <div class="col">
                                        <label class="tx-12">Responses</label>
                                        <div class="countsWrap">
                                            <div class="countNumb" id="ui_divResponses">0</div>
                                            <div class="countper" id="ui_IconarrowResponse"><i class="icon ion-android-arrow-dropdown"></i><span>00.00%</span></div>
                                        </div>
                                    </div><!-- col -->
                                    <div class="col">
                                        <label class="tx-12">Closed</label>
                                        <div class="countsWrap">
                                            <div class="countNumb" id="ui_divClosed">0</div>
                                            <div class="countper" id="ui_IconarrowClosed"><i class="icon ion-android-arrow-dropdown"></i><span>00.00%</span></div>
                                        </div>
                                    </div><!-- col -->
                                </div><!-- row -->

                                <div class="progress mg-b-5" id="ui_divProgressBarConversionRate">
                                    <div class="progress-bar bg-success wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                </div>
                                <p class="tx-12 mg-b-0 mb-0">Conversion Rate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 m-mb-3">
                <div class="box-white h-100 border-bottom-none topfivefrmwrp">
                    <h6 class="box-title">Top 5 Performing Forms</h6>
                    <div class="topfiveformwrp">
                        <div class="tableWrapper">
                            <div class="table-responsive td-tr-bg-white">
                                <table class="table tbl-td-ta-lft border-top" id="ui_tblPerformingData">
                                    <thead>
                                        <tr>
                                            <th class="td-wid-30 m-p-w-220" scope="col">Form Identifier</th>
                                            <th class="td-wid-15 m-p-w-150" scope="col">Impressions</th>
                                            <th class="td-wid-15 m-p-w-150" scope="col">Responses</th>
                                            <th class="td-wid-20 m-p-w-150" scope="col">Conversion Rate</th>
                                            <th class="td-wid-20 m-p-w-150" scope="col">Closed Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ui_tdbodyPerformingforms">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 m-mb-3">
                <div class="box-white h-100">
                    <h6 class="box-title">Platform Distribution FOR LEADS-FORMS</h6>
                    <div class="charteeWrap position-relative h-350">
                        <canvas id="platdistrib"></canvas>
                        <div class="no-data hideDiv" id="ui_divLeadFormsNoData">There is no data to view</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/CaptureForm/FormDashboard.js"></script>