@{
    ViewBag.Title = "Plumb5 :: Lms Settings";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}

<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Settings</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Lead Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
    </div>

    <div class="setttabwrap mr-tp-15">
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/Settings">Stages</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/InactiveNotification">In-Activity Notification</a></div>
        @*<div class="setttabitem active" data-setttype="javascript:void(0);"><a href="javascript:void(0);">Notification Rules</a></div>*@
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/CallSettings">Call Settings</a></div>
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/AgentNotification">Notification To Lead</a></div>
        @*<div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/LeadAssignNotificationSetting">Lead Assignment Agent Notification</a></div>*@
        <div class="setttabitem" data-setttype="javascript:void(0);"><a href="/Prospect/LeadProperties/">Lead Properties</a></div>
    </div>
    <div class="settcontainer">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="box-white">
                    <div id="notifirules" class="setttabcontainer p-0 position-relative">
                        <div class="topTabWrap m-0">
                            <div class="lmsaddrules mr-3 pl-3">
                                <a class="btn btn-primary btn-sm lmsaddruletab" href="javascript:void(0);">
                                    <i class="ion ion-plus-round font-12 mr-1"></i>Add Rules
                                </a>
                            </div>
                            <div class="iconsWrap">
                                <div class="searchCampWrap position-relative mr-3">
                                    <input class="form-control contsearchfocus" type="text" name="" id="ui_txt_SearchRulesName" placeholder="Search Rules">
                                    <i class="icon ion-android-search serchicon" id="ui_i_SearchRulesName"></i>
                                </div>
                                @*@{ Html.RenderPartial("_Export"); }*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="box-white">
                                    <div class="tableWrapper">
                                        <div class="table-responsive">
                                            <table id="ui_tbl_NotifiReportData" class="table tbl-td-ta-lft sorted_table border-0">
                                                <thead>
                                                    <tr>
                                                        <th class="helpIcon td-wid-24 m-p-w-250" scope="col">
                                                            <div class="sortWrap">
                                                                <i class="icon ion-arrow-down-c addColor"></i>
                                                                
                                                            </div>Rule Name<i class="icon ion-ios-help-outline"></i>
                                                            <div class="toottipWrap"></div>
                                                        </th>
                                                        <th class="helpIcon td-wid-14 m-p-w-220" scope="col">
                                                            <div class="sortWrap">
                                                                <i class="icon ion-arrow-down-c addColor"></i>
                                                                
                                                            </div>Assigned Email<i class="icon ion-ios-help-outline"></i>
                                                            <div class="toottipWrap"></div>
                                                        </th>
                                                        <th class="td-wid-10 m-p-w-150" scope="col">
                                                            Status
                                                        </th>
                                                        <th class="helpIcon td-wid-10 m-p-w-190" scope="col">
                                                            User Group
                                                        </th>
                                                        <th class="td-wid-8 m-p-w-150" scope="col">
                                                            Email
                                                        </th>
                                                        <th class="td-wid-8 m-p-w-150" scope="col">
                                                            SMS
                                                        </th>
                                                        <th class="td-wid-10 m-p-w-150" scope="col">
                                                            Group Assignment
                                                        </th>
                                                        <th class="td-wid-8 m-p-w-150" scope="col">
                                                            Auto Mail
                                                        </th>
                                                        <th class="td-wid-8 m-p-w-150" scope="col">
                                                            Auto SMS
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="ui_tbody_NotifiReportData"></tbody>
                                            </table>

                                        </div>
                                    </div>
                                    @{ Html.RenderPartial("_Paging"); }
                                </div>
                            </div>
                        </div>
                        @{ Html.RenderPartial("_ContactNotificationRule"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="camptypwrap hideDiv">
    <p><strong>Created Date:</strong> <span id="ui_span_CreatedDate"></span></p>
    <p><strong>Updated Date:</strong> <span id="ui_span_UpdatedDate"></span></p>
</div>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->

<script src="~/js/jquery-sortable-min.js"></script>
<script src="~/js/Prospect/NotificationRules.js"></script>