@{
    ViewBag.Title = "Plumb5 :: Manage In-App Campaigns";
    Layout = "~/Views/Shared/PlumbAccountMaster.cshtml";
}
<section class="sheet">
    <div class="pageheader">
        <h6 class="pagetitle">Manage In-App Campaigns</h6>
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Mobile</a></li>
            <li class="breadcrumb-item"><a href="#">In-App Notifications</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage In-App Campaigns</li>
        </ol>
    </div>
    <div class="topTabWrap">
        <div class="tabItemWrap"></div>
        <div class="iconsWrap">
            <div class="searchCampWrap position-relative mr-3">
                <input class="form-control contsearchfocus" type="text" id="txt_SearchBy" placeholder="Search Campaigns">
                <i class="icon ion-android-search serchicon"></i>
            </div>
            @{ Html.RenderPartial("_Export"); }
        </div>
    </div>
    <div class="topTabWrap brd-TRL">
        @{ Html.RenderPartial("_PageHeadingWithDate"); }
        <div class="createBtnWrap mr-3">
            <a href="/MobileInApp/CreateCampaign" class="btn btn-primary btn-sm ContributePermission">Create Campaign</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="box-white">
                <div class="tableWrapper">
                    <div class="table-responsive">
                        <table class="table tbl-td-ta-lft sorted_table temppreveye-tbl" id="ui_tableReport">
                            <thead>
                                <tr>
                                    <th class="td-wid-5">Preview</th>
                                    <th class="helpIcon td-wid-50 m-p-w-250" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Campaign Name</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Campaign Name
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="td-wid-20 m-p-w-250" scope="col">Type</th>
                                    <th class="helpIcon td-wid-20 m-p-w-170" scope="col">
                                        <div class="sortWrap">
                                            <i class="icon ion-arrow-down-c addColor"></i>
                                        </div>
                                        <div class="spacBet">
                                            <div>Updated Date</div>
                                            <div class="th-iconWrp">
                                                <i class="icon ion-ios-help-outline"></i>
                                                <div class="toottipWrap">
                                                    Updated Date.
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ui_tbodyReportData">
                            </tbody>
                        </table>
                    </div>
                </div>
                @{ Html.RenderPartial("_Paging"); }
            </div>
        </div>
    </div>

</section>

<!--Delete Confirm Modal-->
<div class="modal fade bd-example-modal-sm" id="deletegroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header delete-modal-header">
                <h5 class="modal-title">Delete this Row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action can't be undone. Are you sure that you want to permanently delete this row?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteRowConfirm" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Delete
                </button>
                <button id="cancelRowConfirm" type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--Delete Confirm Modal-->



<div class="bnotiftempwrp hideDiv">
    <div class="inAppmaincontainer animate__animated">
        <div class="inAppclsewrp">
            <i class="ion ion-ios-close-empty"></i>
        </div>
        <div class="inAppbantxtimgwrp">
            <div id="inappdefaultImg_1" class="inappparatext">
                <div data-inputtype="image" class="inAppbanwrp custbgban"></div>
            </div>
            <div id="inappdefaulttext_1" class="inappparatext">
                <p data-inputtype="inapptitltext" class="inAppbantitle">
                    Buy one get
                    one offer
                    starting from today. Get your goodie now!
                </p>
            </div>
            <div id="inappdefbtn" class="inappaddbtnswrp">
                <a data-inputtype="inappbtnprim" id="inappbtnName1" href="javascript:void(0)" class="btn btn-danger btn-block" target="_blank">
                    Buy Now
                </a>
            </div>

        </div>
    </div>
</div>

<script src="~/js/jquery-sortable-min.js"></script>
<script src="~/js/MobileInApp/ManageCampaign.js"></script>